footer.footer
  .footer__top
    a(href=$.JSV).footer__logo
      +icon('logo-desktop').footer__logo-icon(width=145 height=29)
    a(href=$.JSV).footer__phone
      +icon('phone').footer__phone-icon(width=16 height=16)
      span.footer__phone-number 8 800 5555-129
      br
      span.footer__phone-callback Бесплатный звонок
    a(href=$.JSV).footer__whatsapp
      +icon('wa').footer__wa-icon(width=16 height=16)
      span.footer__whatsapp-number +7 903 113 00 10
      br
      span.footer__whatsapp-callback Добавь в WhatsApp
    .footer-social
      a(href=$.JSV).footer-social__button
        +icon('vk').footer-social__vk-icon(width=42 height=42)
      a(href=$.JSV).footer-social__button
        +icon('od').footer-social__ok-icon(width=42 height=42)
      a(href=$.JSV).footer-social__button
        +icon('inst').footer-social__inst-icon(width=42 height=42)
      a(href=$.JSV).footer-social__button
        +icon('fb').footer-social__fb-icon(width=42 height=42)
  .footer__bottom
    .footer__bottom-left
      nav.footer__menu
        .footer__menu-column
          a(href=$.JSV, target="_blank").footer__menu-item Маникюр
          a(href=$.JSV, target="_blank").footer__menu-item Педикюр
          a(href=$.JSV, target="_blank").footer__menu-item Покрытия
          a(href=$.JSV, target="_blank").footer__menu-item Наращивание
        .footer__menu-column
          a(href=$.JSV, target="_blank").footer__menu-item Спа-программы
          a(href=$.JSV, target="_blank").footer__menu-item Акции
          a(href=$.JSV, target="_blank").footer__menu-item Популярное
        .footer__menu-column
          a(href=$.JSV, target="_blank").footer__menu-item Студии
          a(href=$.JSV, target="_blank").footer__menu-item Услуги
          a(href=$.JSV, target="_blank").footer__menu-item Контакты
          a(href=$.JSV, target="_blank").footer__menu-item Франшиза
          a(href=$.JSV, target="_blank").footer__menu-item Школа
    .footer__bottom-right
      .footer__copy © 2018 Мастерская маникюра Maniqu by Lena Lenina
      a(href=$.JSV, target="_blank").footer__doc-link Политика конфиденциальности
      a(href="https://studioratio.ru/", target="_blank").footer__ratio
        +icon('ratio').footer__ratio-icon
