- const stamp = Math.round(new Date().getTime() / 1000)

head
  title Мастерская Маникюра

  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  link(rel='stylesheet' href=`../../css/app-desktop.css?stamp=${stamp}`)
  script(src=`../../js/app-desktop.js?stamp=${stamp}`)
  script(src=`../../js/assets-desktop.js?stamp=${stamp}`)
