include /desktop/mixins/header-menu

header.header.js-header
  .header__content
    .header__left
      a(href=$.JSV).header__logo
        +icon('logo-desktop').header__logo-icon(width=145 height=29)
      nav.header__menu: +header-menu()
    .header__right
      .header__sign-up
        a(href=$.JSV).button._large записаться
      a(href=$.JSV).header__whatsapp
        +icon('wa').header__wa-icon(width=20 height=20)
        span.header__whatsapp-number +7 903 113 00 10
        br
        span.header__whatsapp-callback Пишите в WhatsApp
      a(href=$.JSV).header__phone
        +icon('phone').header__phone-icon(width=16 height=16)
        span.header__phone-number 8 800 5555-129
        br
        span.header__phone-callback Перезвонить вам?
      a(href=$.JSV).header__personal
        +icon('user').header__personal-icon(width=16 height=16)
        span.header__personal-name
          | Lena
          br
          | Lenina
