include /desktop/includes/data
include /desktop/includes/require

include /desktop/mixins/img
include /desktop/mixins/icon

block variables

doctype html
html.page(lang='ru')
  include /desktop/includes/head
  body.page__body
    .page__inner
      .page__header
        include /desktop/includes/header
      .page__main
        block main
      .page__footer
        include /desktop/includes/footer
