<template>
  <form class="form" @submit.prevent>
    <div class="form__group">
      <div class="form__notify" v-if="notify.caption">
        <Notify :type="notify.type">{{ notify.caption }}</Notify>
      </div>
      <div class="form__form-item" key="email" v-if="!authorized">
        <div class="form-item">
          <div class="form-item__title">Адрес электронной почты</div>
          <div class="form-item__description">
            Необходимо для входа в магазин и отслеживания заказов
          </div>
          <div class="form-item__control">
            <Input
              :error="getErrorMessageNow($v.email)"
              :valid="!$v.email.$invalid"
              :loading="emailChecking"
              type="email"
              v-model="email"/>
          </div>
        </div>
      </div>

      <template v-if="state === 'register'">
        <div class="form__form-item" key="name">
          <div class="form-item">
            <div class="form-item__title">Имя</div>
            <div class="form-item__description">
              Чтобы мы знали, как к вам обращаться
            </div>
            <div class="form-item__control">
              <Input
                :error="getErrorMessageNow($v.name)"
                :valid="!$v.name.$invalid"
                :clear="!!orderData.editingStep"
                @action-click="clearField('name')"
                @input="prepareTouch('name')"
                v-model="name"/>
            </div>
          </div>
        </div>
        <div class="form__form-item" key="surname">
          <div class="form-item">
            <div class="form-item__title">Фамилия</div>
            <div class="form-item__description">
              Некоторые службы доставки выдают заказы по паспорту
            </div>
            <div class="form-item__control">
              <Input
                :error="getErrorMessageNow($v.surname)"
                :valid="!$v.surname.$invalid"
                :clear="!!orderData.editingStep"
                @action-click="clearField('surname')"
                @input="prepareTouch('surname')"
                v-model="surname"/>
            </div>
          </div>
        </div>
        <div class="form__form-item" key="phone">
          <div class="form-item">
            <div class="form-item__title">Номер телефона</div>
            <div class="form-item__description">
              Для уведомлений о состоянии заказа и согласования доставки с курьером
            </div>
            <div class="form-item__control">
              <Input
                :error="getErrorMessageNow($v.phone)"
                :valid="!$v.phone.$invalid"
                :clear="!!orderData.editingStep"
                @action-click="clearField('phone')"
                @input="prepareTouch('phone')"
                v-model="phone"
                type="tel"/>
            </div>
          </div>
        </div>
      </template>

      <template v-if="state === 'login'">
        <div class="form__form-item" key="password">
          <div class="form-item">
            <div class="form-item__title">Введите пароль</div>
            <div class="form-item__control">
              <Input
                :error="getErrorMessage($v.password)"
                :valid="!$v.password.$invalid"
                @input="$v.password.$touch()"
                v-model="password"
                type="password"/>
            </div>
          </div>
        </div>
        <div class="form__forgot">
          <a href="#" @click.prevent="state = 'forgot'">Забыли пароль?</a>
        </div>
        <div class="form__form-item _last">
          <Button class="_fill _big _block" tag="button" @click="validate">Продолжить</Button>
        </div>
      </template>

      <template v-if="state === 'forgot'">
        <div class="form__form-item">
          <Button
            class="_fill _big _block"
            tag="button"
            @click="validate">
            Отправить пароль на email
          </Button>
        </div>
        <div class="form__forgot _last">
          <a href="#" @click.prevent="state = 'login'">Вернуться на страницу входа</a>
        </div>
      </template>

    </div>

    <template v-if="state === 'register'">
      <div class="form__next" v-if="!orderData.editingStep">
        <Next @click="validate">
          <template slot="title">ДАЛЕЕ</template>
          <template slot="description">Cпособ получения</template>
        </Next>
        <div class="form__description">
          Нажимая на кнопку «Далее», я подтверждаю свое согласие с условиями
          <a href="/pravila" target="_blank">Пользовательского соглашения</a>.
        </div>
      </div>
      <div class="form__buttons-list" v-if="orderData.editingStep">
        <div class="form__button">
          <Button
            class="button _big _block"
            @click="dismissEdit">
            отменить
          </Button>
        </div>
        <div class="form__button">
          <Button
            class="button _big _block _fill"
            @click="validate">
            сохранить
          </Button>
        </div>
      </div>
    </template>

  </form>
</template>

<script>
import { required, email as emailValidator } from 'vuelidate/lib/validators';
import debounce from 'lodash/debounce';
import apiRequest from 'Js/helpers/apiRequest';
import getErrorMessage from 'Js/helpers/getErrorMessage';
import DigitalData from 'Js/helpers/digitalData';
import Next from 'Js/vue/Next';
import Input from 'Js/vue/Input';
import Button from 'Js/vue/Button';
import Notify from 'Js/vue/Notify';

export default {
  components: {
    Next, Input, Button, Notify
  },
  props: {
    orderData: {
      type: Object,
      default: () => ({
        email: '',
        name: '',
        surname: '',
        phone: ''
      })
    },
    authorized: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      email: this.orderData.email,
      name: this.orderData.name,
      surname: this.orderData.surname,
      phone: this.orderData.phone,
      password: '',
      submitted: false,
      emailChecking: false,
      state: 'register', // register, login, forgot
      loading: false,
      notify: {
        caption: '',
        type: ''
      }
    };
  },
  computed: {
    // можно ли проверять email
    canCheckEmail() {
      return !this.$v.email.$invalid &&
        (this.state === 'register' ||
        this.state === 'login') &&
        !this.authorized;
    }
  },
  watch: {
    // слежка за вводом email (чтобы отправить запрос)
    email(value) {
      this.prepareTouch('email');
      this.hideNotify();

      if (this.canCheckEmail) {
        this.emailChecking = true;
        this.checkEmail(value);
      }
    },
    // сбросить при изменении состояния
    state() {
      this.submitted = false;
    },
    // вывести прелоадер
    loading(value) {
      this.$emit('loading', value);
    },
    // при изменении пароля убрать ошибку
    password() {
      this.hideNotify();
    },
    // обновить поля при появлении в заказе
    orderData: {
      handler(value) {
        this.email = value.email;
        this.name = value.name;
        this.surname = value.surname;
        this.phone = value.phone;
      },
      deep: true
    }
  },
  methods: {
    // запуск валидации формы
    validate() {
      this.$v.$touch();
      this.submitted = true;

      if (!this.$v.$invalid) {
        switch (this.state) {
          case 'register':
            if (this.authorized) {
              this.updateUser();
            } else {
              this.register();
            }

            break;
          case 'login':
            this.login();
            break;
          case 'forgot':
            this.sendPassword();
            break;
        }
      }
    },
    // проверка учетной записи пользователя
    checkEmail: debounce(function checkEmail(email) {
      apiRequest('POST', '/user/check-email-availability/', { EMAIL: email })
        .then((data) => {
          if (data.STATUS === 'ERROR') {
            this.state = 'login';
          } else {
            this.state = 'register';
          }

          this.emailChecking = false;
        });
    }, 250),
    // попытка логина
    login() {
      this.loading = true;
      this.hideNotify();

      apiRequest('POST', '/user-session/', {
        LOGIN: this.email,
        PASSWORD: this.password,
        REMEMBER: 'Y'
      }).then(({ DATA }) => {
        this.name = DATA.USER.FIRST_NAME;
        this.surname = DATA.USER.LAST_NAME;
        this.phone = DATA.USER.PERSONAL_PHONE;

        this.complete();
      })
        .catch(jqXHR => this.showNotify('error', jqXHR.responseJSON.MESSAGE))
        .then(() => (this.loading = false));
    },
    // восстановление пароля
    sendPassword() {
      this.loading = true;
      this.hideNotify();

      apiRequest('POST', '/user/password-recovery/', { LOGIN: this.email })
        .then(() => {
          this.state = 'login';
          this.showNotify('success', 'На электронную почту отправлен пароль для входа, введите его и нажмите продолжить');
        })
        .catch(jqXHR => this.showNotify('error', jqXHR.responseJSON.MESSAGE))
        .then(() => (this.loading = false));
    },
    // регистрация нового пользователя
    register() {
      this.loading = true;

      apiRequest('POST', '/user/', {
        EMAIL: this.email,
        NAME: this.name,
        LAST_NAME: this.surname,
        PERSONAL_PHONE: this.phone
      }).then((data) => {
        if (data.STATUS === 'OK') {
          DigitalData.pushEvent({
            category: 'Auth',
            name: 'Registered',
            user: {
              subscriptions: [{
                type: 'email',
                isSubscribed: true
              }]
            }
          });
          this.complete();
        }
      })
        .catch(jqXHR => this.showNotify('error', jqXHR.responseJSON.MESSAGE))
        .then(() => (this.loading = false));
    },
    // получить ошибку
    getErrorMessageNow(field) {
      return field.$error ? getErrorMessage(field) : '';
    },
    // получить ошибку
    getErrorMessage(field) {
      return field.$error && this.submitted ? getErrorMessage(field) : '';
    },
    // обновить данные о пользователе
    updateUser() {
      this.loading = true;

      apiRequest('PUT', '/user/', {
        EMAIL: this.email,
        NAME: this.name,
        LAST_NAME: this.surname,
        PERSONAL_PHONE: this.phone
      }).then(() => this.complete());
    },
    // показать сообщение
    showNotify(type, caption) {
      this.notify.type = type;
      this.notify.caption = caption;
    },
    // скрыть сообщение
    hideNotify() {
      this.notify.type = '';
      this.notify.caption = '';
    },
    // отправить данные наверх
    complete() {
      this.$emit('complete', {
        returningStep: this.orderData.editingStep ? 4 : null,
        email: this.email,
        name: this.name,
        surname: this.surname,
        phone: this.phone
      });
    },
    prepareTouch(name) {
      this[name] = this[name].trim();

      this.$v[name].$touch();
    },
    clearField(name) {
      this[name] = '';
    },
    dismissEdit() {
      this.$emit('complete', {
        returningStep: 4
      });
    }
  },
  // схемы валидаций для разных состояний формы
  validations() {
    const schema = {};
    const checkCyrr = (value) => {
      if (typeof value === 'undefined' || value === null || value === '') {
        return true;
      }
      return !/[(а-яА-ЯЁё)]/.test(value);
    };

    const checkName = (value) => {
      if (typeof value === 'undefined' || value === null || value === '') {
        return true;
      }
      return !/[^(а-яА-ЯЁёa-zA-Z\-\s)]/.test(value);
    };

    const checkPhone = (value) => {
      if (typeof value === 'undefined' || value === null || value === '') {
        return true;
      }
      return !/[^(0-9+\-\s())]/.test(value);
    };

    switch (this.state) {
      case 'register':
        Object.assign(schema, {
          email: { checkCyrr, required, emailValidator },
          name: { checkName, required },
          surname: { checkName, required },
          phone: { checkPhone, required }
        });
        break;
      case 'login':
        Object.assign(schema, {
          email: { checkCyrr, required, emailValidator },
          password: { required }
        });
        break;
      case 'forgot':
        Object.assign(schema, {
          email: { checkCyrr, required, emailValidator }
        });
        break;
    }

    return schema;
  }
};
</script>
