<template lang="pug">
  .booking-services
    .booking-studios__search
      Search(
        :placeholder="'Поиск услуги'"
        @change="handleSearchSubmit"
      )
    ServicesListMobile(
      :listMode="listMode"
    )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import ServicesListMobile from 'Js/mobile/vue/general/ServicesListMobile';
import Search from 'Js/mobile/vue/booking/Search';
import yaMetricsSendEvent from "../../../helpers/yaMetricsSendEvent";
import gaSendEvent from "../../../helpers/gaSendEvent";

export default {
  components: {
    ServicesListMobile,
    Search
  },
  data: () => ({
    listMode: 'list',
  }),

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
    }),
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  created() {
    this.SET_CURRENT_SERVICE({});
    this.CLEAR_CURRENT_SERVICES();
    this.SET_QUERY({
      type: 'services',
      value: '',
    });
  },

  methods: {
    ...mapMutations([
      'SET_CURRENT_SERVICE',
      'SET_SELECTED_CATEGORY',
      'SET_CURRENT_SERVICE',
      'CLEAR_CURRENT_SERVICES',
      'SET_QUERY',
    ]),
    ...mapActions([
      'FETCH_CATEGORIES',
      'FETCH_SERVICES',
      'SET_CURRENT_STEP',
      'FETCH_SERVICES_STATISTICS',
      'SEARCH_SERVICES',
      'FETCH_DATASET_STUDIO'
    ]),

    handleSearchSubmit(query) {
      const params = {
        view: 'mobile',
        'params[page]': 'booking',
      };

      if (query.length > 0) {
        params['params[q]'] = query;
        this.listMode = 'search';
        this.SEARCH_SERVICES(params);
        $('.category-list').hide();

        yaMetricsSendEvent('services-search');
        gaSendEvent('services-search');
      } else {
        this.CLEAR_CURRENT_SERVICES();
        this.FETCH_SERVICES_STATISTICS({});
        $('.category-list').show();
      }
    }
  },
};
</script>
