<template lang="pug">
  .category-service
    .category-service__head
      .category-service__time
        .category-service__time-amount {{ serviceDuration }}
      a.category-service__image-wrapper(:href="`${info.url}`")
        img.category-service__image(
          v-if="info.images"
          :src="info.images['1x']"
          :srcset="`${info.images['2x']} 2x`"
          :alt="info.name"
        )
      .category-service__price
        .offer-prices
          .offer-prices__comparison
            .offer-prices__new
              span(v-if="info.children") от&nbsp;
              b {{ priceFromatted }}
              sup &nbsp;руб.
        a.category-service__link._call-to-action(:href="`${info.url}`") Записаться
    .category-service__text-block
      a.category-service__title(:href="`${info.url}`") {{ info.name }}
</template>

<script>
  import morphHelper from 'Js/helpers/morphHelper';
  import getClosest from 'Js/helpers/getClosest';
  import { mapState, mapMutations, mapGetters } from 'vuex';
  import Icon from 'Js/desktop/vue/general/Icon';
  import ServiceChildren from 'Js/desktop/vue/booking/ServiceChildren';
  import ServiceChild from 'Js/desktop/vue/booking/ServiceChild';

  export default {
    components: { Icon, ServiceChildren, ServiceChild },

    props: {
      info: {
        type: Object,
        default: () => ({}),
      },
    },

    computed: {
      ...mapState({
        master: state => state.order.master,
        openedService: state => state.booking.openedService,
        isStandalone: state => state.booking.standalone,
      }),
      ...mapGetters(['duration', 'orderServices']),

      childrenAmount() {
        if (this.info.children) {
          const amount = this.info.children.length;

          return `${amount} ${morphHelper('вид', 'вида', 'видов', amount)}`;
        }

        return '';
      },

      serviceDuration() {
        if (this.info.duration) {
          const hours = Math.floor(this.info.duration / 60);
          const minutes = this.info.duration % 60;

          return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
        }

        return '';
      },

      priceFromatted() {
        if (this.info.price === 0 || this.info.price) {
          if (this.master.id) {
            if (this.info.prices) {
              return this.info.prices[this.master.level].toLocaleString('RU-ru');
            } else if (this.info.children) {
              return this.info.children.reduce((prev, child) => {
                const price = child.prices[this.master.level];

                return prev < price ? prev : price;
              }, Number.POSITIVE_INFINITY);
            } else {
              return this.info.price.toLocaleString('RU-ru');
            }
          }

          return this.info.price.toLocaleString('RU-ru');
        }

        return '';
      },
    },

    created() {
      document.addEventListener('click', this.handleClickOutside);
    },

    beforeDestroy() {
      document.removeEventListener('click', this.handleClickOutside);
    },

    methods: {
      ...mapMutations([
        'SET_OPENED_SERVICE',
        'ADD_SELECTED_SERVICE',
        'DELETE_SELECTED_SERVICE',
        'SET_MASTER',
      ]),

      handleClickOutside(event) {
        if (!getClosest(event.target, '.service')) {
          this.closeChildren();
        }
      },

      handleServiceSelect(item) {
        if (item.children) {
          const id = this.openedService === item.id ? '' : item.id;

          this.SET_OPENED_SERVICE(id);
        } else {
          this.closeChildren();

          if (item.isActive) {
            this.DELETE_SELECTED_SERVICE(item);
          } else if (this.orderServices.length > 5) {
            this.$modal.show('service-modal', { view: 'too-much' });
          } else if ((this.duration.raw + item.duration) > 270) {
            this.$modal.show('service-modal', { view: 'too-long' });
          } else {
            this.SET_MASTER({});
            this.ADD_SELECTED_SERVICE(item);
          }
        }
      },

      closeChildren() {
        this.SET_OPENED_SERVICE('');
      },
    },
  };
</script>
