extends /desktop/includes/layout

include /desktop/mixins/section/career-title
include /desktop/mixins/section/career-menu
include /desktop/mixins/section/career-text
include /desktop/mixins/section/career-form

block variables
  - const title = 'Хотите построить карьеру с нами?'

block main
  main.main._career
    section.section: +career-title
    section.section: +career-menu
    section.section
      .career__text-container
        +career-text
        +career-form
