extends /desktop/includes/layout

include /desktop/mixins/section/contacts-places

block variables
  - const title = 'Контакты'

block main
  main.main
    .contacts
      +img('inner-bg-1.jpg')(alt='image').contacts-bg
      +img('contacts-slash-bg.png')(alt='image').contacts-slash-bg
      +img('contacts-top-bg.png')(alt='image').contacts-top-bg
      +img('contacts-bottom-bg.png')(alt='image').contacts-bottom-bg
      .contacts__content
        h1.contacts__title: span Контакты
        .contacts__description
          .contacts__text
            p Сеть «Мастерская маникюра» приглашает Вас посетить один из своих салонов. Для того чтобы не тратить время на ожидание в очереди и попасть к нужному мастеру в удобное время необходимо заранее позвонить по телефону и записаться.
            p Внимание! Мы заботимся о наших гостях и поэтому постоянно стремимся открывать новые студии. Обязательно уточняйте наличие новых адресов по указанным номерам перед записью к специалистам: возможно, мы уже ближе к Вам, чем Вы думаете!
            p Ждем Вас по адресам:
          ul.contacts-addresses
            li.contacts-addresses__item
              .city: span г. Москва
              ul.places.column
                +placesItemMetro({
                  label: 'Курская',
                  addresses: [
                    'ул. Земляной Вал, 33, ТРЦ «Атриум»;',
                    '+7 (968) 461-37-41'
                  ]
                })
                +placesItemMetro({
                  label: 'Аэропорт',
                  addresses: [
                    'Ленинградский проспект, 62А. ТЦ «Галерея Аэропорт»;',
                    '+7 (906) 716-94-66'
                  ]
                })
                +placesItemMetro({
                  label: 'Таганская',
                  addresses: [
                    'ул. Таганская, д.2, ТЦ «Таганка»;',
                    '+7 (903) 221-48-20'
                  ]
                })
                +placesItemMetro({
                  label: 'Бауманская',
                  addresses: [
                    'ул. Бауманская,  32, ТЦ «Елоховский Пассаж»;',
                    '+7 (968) 461-37-99',
                    'ул. Новопетровская, 6;',
                    '+7 (968) 461-39-28'
                  ]
                })
                +placesItemMetro({
                  label: 'Алексеевская',
                  addresses: [
                    'Проспект Мира 112, Гастроном;',
                    '+7 (968) 461-32-00'
                  ]
                })
            li.contacts-addresses__item
              .city: span Московская область, г. Мытищи
              ul.places
                +placesItem({
                  label: 'ТРЦ «Перловский»',
                  addresses: [
                    'ул. Селезнева, 33, ТРЦ «Перловский»;',
                    '+7 (968) 461-35-72'
                  ]
                })
                +placesItem({
                  label: 'ТРК «Красный Кит»',
                  addresses: [
                    'Шараповский проезд 2, ТРК «Красный Кит»;',
                    '+7 (968) 461-38-34'
                  ]
                })




