extends /desktop/includes/layout

include /desktop/mixins/section/course-detail
include /desktop/mixins/section/course-detail-menu
include /desktop/mixins/section/course-detail-text
include /desktop/mixins/section/course-enroll-form
include /desktop/mixins/section/school-address

block main
  main.main._course-detail
    section.section: +course-detail
    section.section: +course-detail-menu
    section.section
      .course-detail__text-container
        +course-detail-text
        +course-enroll-form
    section.section: +school-address
