extends /desktop/includes/layout

include /desktop/mixins/section/franchise-title
include /desktop/mixins/section/franchise-menu
include /desktop/mixins/section/franchise-text
include /desktop/mixins/section/franchise-form

block variables
  - const title = 'Франшиза Мастерской маникюра'

block main
  main.main._franchise
    section.section: +franchise-title
    section.section: +franchise-menu
    section.section
      .franchise__text-container
        +franchise-text
    section.section: +franchise-form
