extends /desktop/includes/layout

include /desktop/mixins/section/services-menu
include /desktop/mixins/section/services-list

block variables
  - const title = 'Услуги'

block main
  main.main._services
    +img('inner-bg-1.jpg')(alt='image').main__bg._top
    h1.main__title: span Педикюр
    .services
      section.section: +services-menu
      section.section: +services-list
