extends /desktop/includes/layout

include /desktop/mixins/section/services-menu
include /desktop/mixins/section/studio-services-list

block main
  main.main._studio-detail
    .breadcrumbs
      a(href=$.JSV).breadcrumbs__link
        +icon('next2').breadcrumbs__icon(width=40 height=7)
        span Наши студии
    section.section
      .studio-detail
        .studio-detail__bg(style="background-image: url('../../img/static/studio-detail-1.jpg')")
        .studio-detail__container
          .studio-detail__metro
            .studio-detail__metro-icon-wrapper
              +icon('metro-d').studio-detail__metro-icon(width=16 height=11)
            | м. Библиотекa имени Ленина
            br
            | 300 м
          .studio-detail__panorama
            +icon('photo').studio-detail__panorama-icon(width=24 height=24)
            span панорама
          .studio-detail__content
            h1.studio-detail__title
              | Студия маникюра Лены Лениной
              br
              | ТЦ «Аркадия»
            .studio-detail__button
              a(href=$.JSV).button._studio-detail Записаться в студию
        .studio-detail__address-wrapper
          .studio-detail__address
            | г. Москва,  Большой Овчинниковский переулок д.16, м. Новокузнецкая,  ТЦ «Аркадия», 1-й этаж
            br
            span 10:00 — 20:00
            |&nbsp;&nbsp;&nbsp;&nbsp;|
            a(href="tel:+79684613739") +7 (968) 461-37-39
            ||
            a(href="mailto:info@nailsmasters.ru") info@llmanikur.ru
            ||
            a(href=$.JSV) Как добраться
    section.section
      .studio-detail-nav
        .studio-detail-nav__content
          nav.studio-detail-nav__wrapper
            ul.studio-detail-nav__list
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="portfolio").studio-detail-nav__link.js-studio-detail-fixed-link Работы мастеров
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="services").studio-detail-nav__link.js-studio-detail-fixed-link Услуги
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="interior").studio-detail-nav__link.js-studio-detail-fixed-link Интерьер
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="address").studio-detail-nav__link.js-studio-detail-fixed-link Как добраться
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="studios-near").studio-detail-nav__link.js-studio-detail-fixed-link Студии рядом
      .studio-detail-nav__fixed.js-studio-detail-nav
        .studio-detail-nav__fixed-content
          .studio-detail-nav__metro
            .studio-detail-nav__metro-wrapper
              +icon('metro-d').studio-detail-nav__metro-icon(width=16 height=11)
            span м. Библиотекa имени Ленина
          nav.studio-detail-nav__wrapper
            ul.studio-detail-nav__list
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="portfolio").studio-detail-nav__link.js-studio-detail-fixed-link Работы мастеров
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="services").studio-detail-nav__link.js-studio-detail-fixed-link Услуги
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="interior").studio-detail-nav__link.js-studio-detail-fixed-link Интерьер
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="address").studio-detail-nav__link.js-studio-detail-fixed-link Как добраться
              li.studio-detail-nav__item
                a(href=$.JSV, data-link="studios-near").studio-detail-nav__link.js-studio-detail-fixed-link Студии рядом
          .studio-detail-nav__button
            a(href=$.JSV).button._studio-detail-nav Записаться в студию
    section.section
      .studio-detail-portfolio.js-index-portfolio.js-studio-detail-section(id="portfolio")
        .studio-detail-portfolio__title Работы мастеров студии ТЦ «Алые Паруса»
        .studio-detail-portfolio__slider-wrapper.swiper-container.js-swiper(data-type="index-portfolio")
          .studio-detail__slider-container.swiper-wrapper
            .studio-detail-portfolio__slide.swiper-slide
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-1").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-1.jpg')(alt='portfolio').index-portfolio-item__img
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-2").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-2.jpg')(alt='portfolio').index-portfolio-item__img
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-3").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-3.jpg')(alt='portfolio').index-portfolio-item__img
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-4").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-4.jpg')(alt='portfolio').index-portfolio-item__img
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-5").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-5.jpg')(alt='portfolio').index-portfolio-item__img
            .studio-detail-portfolio__slide.swiper-slide
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-1").index-portfolio-item._studio-detail
                span.index-portfolio-item__img-wrapper
                  +img('studio-detail-portfolio-1.jpg')(alt='portfolio').index-portfolio-item__img
        .studio-detail-portfolio__left.js-index-portfolio-slider-left
          +icon('next2').index-controls__control-icon(width=40 height=7)
        .studio-detail-portfolio__right.js-index-portfolio-slider-right
          +icon('next2').index-controls__control-icon(width=40 height=7)
        .index-portfolio__popups.js-index-portfolio-popups
          .index-portfolio-popup(id="portfolio-popup-1")
            .index-portfolio-popup__img-wrapper
              +img('portfolio-detail-1.jpg')(alt='portfolio').index-portfolio-popup__img
            .index-portfolio-popup__text-block
              .index-portfolio-popup__title
                .index-portfolio-popup__position Мастер
                .index-portfolio-popup__name Аида
              .index-portfolio-popup__button
                a(href=$.JSV).button._call-to-action Записаться
            .index-portfolio-popup__controls
              .index-controls
                .index-controls__pagination
                  span 01
                  | /
                  span 12
          .index-portfolio-popup(id="portfolio-popup-2")
            .index-portfolio-popup__img-wrapper
              +img('portfolio-detail-1.jpg')(alt='portfolio').index-portfolio-popup__img
            .index-portfolio-popup__text-block
              .index-portfolio-popup__title
                .index-portfolio-popup__position Мастер
                .index-portfolio-popup__name Аида
              .index-portfolio-popup__button
                a(href=$.JSV).button._call-to-action Записаться
            .index-portfolio-popup__controls
              .index-controls
                .index-controls__pagination
                  span 02
                  | /
                  span 12
          .index-portfolio-popup(id="portfolio-popup-3")
            .index-portfolio-popup__img-wrapper
              +img('portfolio-detail-2.jpg')(alt='portfolio').index-portfolio-popup__img
            .index-portfolio-popup__text-block
              .index-portfolio-popup__title
                .index-portfolio-popup__position Мастер
                .index-portfolio-popup__name Аида
              .index-portfolio-popup__button
                a(href=$.JSV).button._call-to-action Записаться
            .index-portfolio-popup__controls
              .index-controls
                .index-controls__pagination
                  span 01
                  | /
                  span 12
          .index-portfolio-popup(id="portfolio-popup-4")
            .index-portfolio-popup__img-wrapper
              +img('portfolio-detail-1.jpg')(alt='portfolio').index-portfolio-popup__img
            .index-portfolio-popup__text-block
              .index-portfolio-popup__title
                .index-portfolio-popup__position Мастер
                .index-portfolio-popup__name Аида
              .index-portfolio-popup__button
                a(href=$.JSV).button._call-to-action Записаться
            .index-portfolio-popup__controls
              .index-controls
                .index-controls__pagination
                  span 01
                  | /
                  span 12
          .index-portfolio-popup(id="portfolio-popup-5")
            .index-portfolio-popup__img-wrapper
              +img('portfolio-detail-2.jpg')(alt='portfolio').index-portfolio-popup__img
            .index-portfolio-popup__text-block
              .index-portfolio-popup__title
                .index-portfolio-popup__position Мастер
                .index-portfolio-popup__name Аида
              .index-portfolio-popup__button
                a(href=$.JSV).button._call-to-action Записаться
            .index-portfolio-popup__controls
              .index-controls
                .index-controls__pagination
                  span 01
                  | /
                  span 12
    section.section
      .studio-detail__services.js-studio-detail-section(id="services")
        .js-studio-services(data-standalone="true", data-studio="1")
    section.section
      .studio-detail-interior.js-studio-detail-section(id="interior")
        .studio-detail-interior__img-wrapper
          +img('studio-detail-bg.jpg')(alt='image').studio-detail-interior__img
        .studio-detail-interior__title Интерьер
        .studio-detail-interior__text-block
          | Сеть студий маникюра Лены Лениной является одним из лидеров в индустрии красоты города Москвы!
          br
          | За 3 года сеть выросла до 40 студий, и на данный момент считается крупнейшей в России.
          br
          | Также сеть имеет учебный центр, что позволяет не только воспитывать своих мастеров, помогая им осваивать
          br
          | базовые процедуры, но и обучать их уникальным навыкам в индустрии маникюра.
        .studio-detail-interior__slider
          .studio-detail-slider.js-gallery-slider(
            data-standalone="true",
            data-studio="1"
          )
    section.section
      .studio-detail-address.js-studio-detail-section(id="address")
        .studio-detail-address__title Как добраться
        .studio-detail-address__contacts
          span г. Москва, Большой Овчинниковский переулок д.16,
          .studio-detail-address__metro
            .studio-detail-address__metro-wrapper
              +icon('metro-d').studio-detail-address__metro-icon(width=16 height=11)
            | Новокузнецкая, ТЦ "Аркадия", 1-й этаж
          a(href=$.JSV).studio-detail-address__phone
            +icon('phone').studio-detail-address__phone-icon(width=16 height=16)
            |  +7 (968) 461-37-39
          a(href=$.JSV).studio-detail-address__email
            +icon('email').studio-detail-address__email-icon(width=16 height=12)
            | info@nailsmasters.ru
        .studio-detail-address__button
          a(href=$.JSV).button._studio-detail Записаться в студию
    section.section
      .studio-detail-map(id="detailStudioMap")
      script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
      script(type='text/javascript').
        ymaps.ready(init_map);
        function init_map() {
          var map,
            myPlacemark;
          map = new ymaps.Map('detailStudioMap', {
            center: [55.801774138108, 37.531893652114],
            zoom: 13,
            controls: [new ymaps.control.ZoomControl()]
          });
          map.behaviors.disable('scrollZoom');
          myPlacemark = new ymaps.Placemark(
            [55.801774138108, 37.531893652114],
            {
              hintContent: 'ТЦ «Галерея Аэропорт»',
              name: 'ТЦ «Галерея Аэропорт»'
            },
            {
              iconLayout: 'default#image',
              iconImageHref: '../../img/static/mark.png',
              iconImageSize: [50, 36]
            }
          );
          map.geoObjects.add(myPlacemark);
        }
    section.section
      .studio-detail-nearest-studios.js-studio-detail-section(id="studios-near")
        .studio-detail-nearest-studios__title Студии рядом
        .studio-detail-nearest-studios__container
          .studio-detail-nearest-studios__item
            a(href=$.JSV).studio-detail-nearest-studios__img-wrapper
              +img('nearest-studio-1.jpg')(alt='image').studio-detail-nearest-studios__img
              .studio-detail-nearest-studios__metro
                .studio-detail-nearest-studios__metro-wrapper
                  +icon('metro-d').studio-detail-nearest-studios__metro-icon.yellow(width=16 height=11)
            .studio-detail-nearest-studios-info
              .studio-detail-nearest-studios-info__metro
                | м.Улица академика Янгеля
                br
                | 750м
              a(href=$.JSV).studio-detail-nearest-studios-info__name ТЦ «Сомбреро»
              .studio-detail-nearest-studios-info__masters Сейчас в смене 10 мастеров
              .studio-detail-nearest-studios-info__button
                a(href=$.JSV).button._white Записаться
          .studio-detail-nearest-studios__item
            a(href=$.JSV).studio-detail-nearest-studios__img-wrapper
              +img('nearest-studio-2.jpg')(alt='image').studio-detail-nearest-studios__img
              .studio-detail-nearest-studios__metro
                .studio-detail-nearest-studios__metro-wrapper
                  +icon('metro-d').studio-detail-nearest-studios__metro-icon.brown(width=16 height=11)
            .studio-detail-nearest-studios-info
              .studio-detail-nearest-studios-info__metro
                | м.курская
                br
                | 750м
              a(href=$.JSV).studio-detail-nearest-studios-info__name ТРЦ «Атриум»
              .studio-detail-nearest-studios-info__masters Сейчас в смене 10 мастеров
              .studio-detail-nearest-studios-info__button
                a(href=$.JSV).button._white Записаться
          .studio-detail-nearest-studios__item
            a(href=$.JSV).studio-detail-nearest-studios__img-wrapper
              +img('nearest-studio-3.jpg')(alt='image').studio-detail-nearest-studios__img
              .studio-detail-nearest-studios__metro
                +icon('metro-d').studio-detail-nearest-studios__metro-icon.blue(width=16 height=11)
            .studio-detail-nearest-studios-info
              .studio-detail-nearest-studios-info__metro
                | м.Добрынинская
                br
                | 750м
              a(href=$.JSV).studio-detail-nearest-studios-info__name Студия на Люсиновской
              .studio-detail-nearest-studios-info__masters Сейчас в смене 10 мастеров
              .studio-detail-nearest-studios-info__button
                a(href=$.JSV).button._white Записаться
    section.section.studio-detail__seo
        .studio-detail__seo-container
          .seo
            .seo__text-block
              .seo__left
                h3._studio-detail ТРЦ «Атриум»
                .seo__main-text
                  p
                    | м. Курская, ул. Земляной Вал, 33, ТРЦ «Атриум»;
                    br
                    | +7 (968) 461-37-41
                cite._studio-detail Время для маникюра грядет? В ТРЦ «Атриум» планируй поход!
                .seo__main-text._studio-detail
                  | Проведите время в «Мастерской маникюра» приятно и с пользой для ваших ручек и ножек.
                  br
                  | Самые востребованные предложения доступны для клиентов нашей студии «Мастерская маникюра» в ТРЦ «Атриум»!
                  br
                  | Мы работаем со всеми клиентами: будем рады встрече с очаровательными девушками и элегантными мужчинами. Возможна запись на детский маникюр и педикюр.
              .seo__right
                .seo__services-description
                  | Для тех, кто заботится о красоте ручек и ножек сотрудники салона
                  br
                  | предлагают:
                .seo__services-column
                  ul._double
                    li
                      a(href=$.JSV) Все виды маникюра и педикюра
                      a(href=$.JSV) Покрытие профессиональными лаками
                      a(href=$.JSV) Нанесение лечебного покрытия и долговременных покрытий
                      a(href=$.JSV) Разработку оригинального дизайна ногтей
                      a(href=$.JSV) СПА-процедуры и восстанавливающие уходы для кожи рук и стоп
                      a(href=$.JSV) Оформление бровей
                      a(href=$.JSV) Уход за ресницами
            .seo__quote-container._studio-detail
              .seo__quote
                | Интересует стоимость процедур и возможность приехать к нам в удобный для вас день?
                br
                | Узнать нужную информацию и забронировать удобное время можно по телефону +7 (968) 461-37-41
            .seo__center-text Набирайте наш номер сейчас – и мастер будет ждать вас в указанный в заявке час по адресу м. Курская, ул. Земляной Вал, 33, ТРЦ «Атриум».

