<template lang="pug">
  label.checkbox(:class="`_${view}`")
    input.checkbox__control(
      :name="name"
      type="checkbox"
      :disabled="disabled"
      @change="change"
      v-model="innerChecked"
    )
    .checkbox__fake
      Icon(
        v-if="view === 'contacts'"
        name="ok"
        fill="#ffffff"
        width="11"
        height="9"
      ).checkbox__icon
      Icon(
        v-else
        name="check"
        width="7"
        height="5"
      ).checkbox__icon
</template>

<script>
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  model: {
    prop: 'checked',
    event: 'change'
  },

  props: {
    view: {
      type: String,
      default: ''
    },
    checked: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
    modelValue: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      innerChecked: this.checked
    };
  },

  watch: {
    checked(value) {
      this.innerChecked = value;
    }
  },

  methods: {
    change(e) {
      if (this.modelValue) {
        this.$emit('change', this.innerChecked);
      } else {
        const innerEvent = e;
        innerEvent.checked = this.innerChecked;
        this.$emit('change', innerEvent);
      }
    }
  }
}
</script>

<style lang="css">
</style>
