<template lang="pug">
  modal(
    height="auto"
    width="500px"
    :adaptive="true"
    :name="'error-modal'"
    @before-open="beforeOpen"
  )
    .error-modal
      .error-modal__close(@click="$modal.hide('error-modal')")
        Icon.error-modal__close-icon(
          name="close"
          stroke="#000000"
          width="8"
          height="8"
        )
      .error-modal__content
        .error-modal__title {{ errorModal.title }}
        .error-modal__text {{ errorModal.text }}
        .error-modal__content(
          v-for="button in errorModal.buttons"
        )
          button.button._white.error-modal__link(
            v-on:click="click(button.action)"
          ) {{ button.text }}
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  data() {
    return {
      view: '',
      errorModal: {
        title: 'Ошибка записи',
        text: 'Произошла ошибка',
        buttons: [
          {
            text: 'Понятно',
            action: 'closeModal'
          }
        ]
      }
    };
  },

  computed: {
    ...mapState({
      error: state => state.error,
    }),
  },

  watch: {
    error(value) {
      this.$modal.show('error-modal', {view: `error-${value.status}`});
      this.errorModal.title = value.title !== undefined ? value.title : 'Ошибка записи';
      this.errorModal.text = value.data !== undefined ? value.data.error.message : 'Произошла ошибка';
    }
  },

  methods: {
    ...mapMutations(['CLEAR_ERROR']),

    beforeOpen(event) {
      this.view = event.params.view;
    },

    click(action) {
      this.CLEAR_ERROR();
      switch (action) {
        case 'closeModal': {
          this.$modal.hide('error-modal');
          break;
        }
      }
    },
  },
};
</script>
