<template lang="pug">
  .gallery-slider
    .gallery-slider__upper-slider(v-if="studio.interiors")
      .gallery-slider__upper-slide(
        v-for="slide, index in studio.interiors"
        :key="index"
        :class="{'_active': index === activeIndex}"
      )
        img.gallery-slider__img(
          :src="slide['1x']"
          :srcset="slide['2x']"
          :alt="index"
        )
    .gallery-slider__upper-slider(v-else)
      a.gallery-slider__upper-slide(
        v-for="slide, index in currentStudio.interiors"
        :href="`#interior-popups-${index}`"
        :key="index"
        :class="{'_active': index === activeIndex}"
        data-fancybox="interior-popups"
        :data-src="`${slide['original']}`"
      )
        img.gallery-slider__img(
          :src="slide['1x']"
          :srcset="slide['2x']"
          :alt="index"
        )
        .gallery-slider__fancybox-ico-wrapper
          .gallery-slider__fancybox-ico
            Icon(
            name="zoom"
            fill="#fff"
            width="18"
            height="18"
            )
    .gallery-slider__navigation
      .gallery-slider__prev(@click="handleNavClick(-1)")
        Icon(
          name="prev"
          fill="#f59282"
          width="40"
          height="7"
        )
      .gallery-slider__values
        span.gallery-slider__current {{ visibleIndex }}/
        span.gallery-slider__length(v-if="studio.interiors") {{ studio.interiors.length }}
        span.gallery-slider__length(v-else-if="currentStudio.interiors") {{ currentStudio.interiors.length }}
      .gallery-slider__next(@click="handleNavClick(1)")
        Icon(
          name="prev"
          fill="#f59282"
          width="40"
          height="7"
        )
    .gallery-slider__bottom-slider-container.swiper-container(
      ref="swiper"
      data-type="gallery-slider"
    )
      .gallery-slider__bottom-slider-wrapper.swiper-wrapper(v-if="studio.interiors")
        .gallery-slider__bottom-slide.swiper-slide(
          v-for="slide, index in studio.interiors"
          :key="index"
          :class="{'_active': index === activeIndex}"
          @click="handleSlideClick(index)"
        )
          img.gallery-slider__img._bottom(
            :src="slide['1x']"
            :srcset="slide['2x']"
            :alt="index"
          )
      .gallery-slider__bottom-slider-wrapper.swiper-wrapper(v-else)
        .gallery-slider__bottom-slide.swiper-slide(
          v-for="slide, index in currentStudio.interiors"
          :key="index"
          :class="{'_active': index === activeIndex}"
          @click="handleSlideClick(index)"
        )
          img.gallery-slider__img._bottom(
            :src="slide['1x']"
            :srcset="slide['2x']"
            :alt="index"
          )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import Swiper from 'Js/desktop/widget/Swiper';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    dataset: {
      type: Object,
      default: () => ({}),
    },
    studio: {
      type: Object,
      default: () => ({}),
    }
  },

  data() {
    return {
      activeIndex: 0
    };
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      isStandalone: state => state.booking.standalone,
    }),

    visibleIndex() {
      if (this.activeIndex < 9) {
        return `0${this.activeIndex + 1}`;
      }
      return this.activeIndex + 1;
    }
  },

  created() {
    // Standalone компонентом не изменяется, пока не придет значение в свойствах
    // (подключается отдельно на странице студии)
    if (this.dataset.standalone !== undefined) {
      this.SET_STANDALONE(this.dataset.standalone === 'true');

      this.FETCH_DATASET_STUDIO({
        'params[id]': this.dataset.studio,
        'view': 'desktop'
      });
    }
  },

  mounted() {
    this.initSwiper();
  },

  updated() {
    this.swiper.swiper.update();
  },

  methods: {
    ...mapMutations([
      'SET_STANDALONE',
    ]),

    ...mapActions([
      'FETCH_DATASET_STUDIO'
    ]),

    handleSlideClick(index) {
      this.activeIndex = index;
    },

    handleNavClick(step) {
      const length = this.studio.interiors ?
        this.studio.interiors.length : this.currentStudio.interiors.length;
      const maxVisible = 4;
      let index = this.activeIndex;

      index = index + step;

      if (index < 0) {
        index = 0;
      } else if (index > (length - 1)) {
        index = length - 1;
      }

      this.activeIndex = index;

      if (index >= maxVisible || index < (length - maxVisible)) {
        this.swiper.swiper.slideTo(index);
      }
    },

    initSwiper() {
      this.swiper = new Swiper(this.$refs.swiper);
    },
  },
};
</script>
