<template lang="pug">
  .input(
    :class="[{'_valid': valid && !error, '_error': error}, `_${view}`]"
  )
    input.input__control(
      :placeholder="placeholder"
      :name="name"
      :type="type"
      :disabled="disabled"
      :maxlength="maxlength"
      v-model="innerValue"
      @input="inputHandler"
      @blur="$emit('blur')"
      @focus="$emit('focus')"
    )
    .input__error(v-if="error") {{ error }}
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text',
    },
    placeholder: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    maxlength: {
      type: Number,
      default: 200,
    },
    error: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    valid: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    view: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      innerValue: this.value,
    };
  },

  watch: {
    value(value) {
      this.innerValue = value;
    },
  },

  methods: {
    inputHandler() {
      this.$emit('input', this.innerValue);
    },
  },
};
</script>
