<template lang="pug">
  section.booking-services__list._services-search
    Search(
      view="services"
      :placeholder="formattedStatistics"
      queryType="services"
    )
    ServicesList(
      :listMode="listMode"
    )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import morphHelper from 'Js/helpers/morphHelper';
import ServicesList from 'Js/desktop/vue/booking/ServicesList';
import Search from 'Js/desktop/vue/general/Search';
import yaMetricsSendEvent from "../../../helpers/yaMetricsSendEvent";
import gaSendEvent from "../../../helpers/gaSendEvent";

export default {
  components: {
    ServicesList,
    Search,
  },

  data() {
    return {
      listMode: 'list',
      menu: {
        isFixed: false,
        isBottomed: false,
      },
    };
  },

  props: {
    dataset: {
      type: Object,
      default: () => ({}),
    }
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
      servicesStatistics: state => state.booking.servicesStatistics.data,
      isStandalone: state => state.booking.standalone,
    }),

    formattedStatistics() {
      if (this.servicesStatistics.counts) {
        const categoriesAmount = this.servicesStatistics.counts.categories;
        const servicesAmount = this.servicesStatistics.counts.services;

        const categoriesWord =
          morphHelper('категории', 'категорий', 'категорий', categoriesAmount);

        const servicesWord =
          morphHelper('услуге', 'услугам', 'услугам', servicesAmount);

        return `Искать по ${servicesAmount} ${servicesWord} из ${categoriesAmount} ${categoriesWord}`;
      }

      return '';
    },
  },

  created() {
    this.SET_STANDALONE(this.dataset.standalone === 'true');

    this.initData();
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  methods: {
    ...mapMutations([
      'SET_CURRENT_SERVICE',
      'SET_STANDALONE',
      'CLEAR_CURRENT_SERVICES',
      'SET_QUERY',
    ]),

    ...mapActions([
      'FETCH_SERVICES_STATISTICS',
      'SEARCH_SERVICES',
    ]),

    initData() {
      this.listMode = 'list';
      this.SET_CURRENT_SERVICE({});
      this.FETCH_SERVICES_STATISTICS({});
      this.CLEAR_CURRENT_SERVICES();
      this.SET_QUERY({
        type: 'services',
        value: '',
      });
    },

    handleSearchSubmit(query) {
      const params = {
        view: 'desktop',
        'params[page]': 'booking',
      };

      if (query.length > 0) {
        params['params[q]'] = query;
        this.listMode = 'search';
        this.SEARCH_SERVICES(params);
        $('.services__no-search').hide();

        yaMetricsSendEvent('services-search');
        gaSendEvent('services-search');
      } else {
        this.CLEAR_CURRENT_SERVICES();
        this.FETCH_SERVICES_STATISTICS({});
        $('.services__no-search').show();
      }
    },
  },
};
</script>
