<template lang="pug">
  .booking-search(:class="`_${view}`")
    .booking-search__input
      Input(
        :placeholder="placeholder"
        :view="view"
        v-model="query"
      )
    .booking-search__icon
      Icon(
        name="search"
        fill="#f59282"
        width="18"
        height="18"
      )
</template>

<script>
import debounce from 'lodash/debounce';
import Input from 'Js/desktop/vue/general/Input';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: {
    Input,
    Icon,
  },

  props: {
    view: {
      type: String,
      default: 'studios',
    },
    queryType: {
      type: String,
      default: 'studios',
    },
    placeholder: {
      type: String,
      default: '',
    },
  },

  computed: {
    query: {
      get() {
        return this.$store.state.booking.queries[this.queryType];
      },
      set: debounce(function set(value) {
        this.$store.commit('SET_QUERY', {
          type: this.queryType,
          value,
        });
      }, 300),
    }
  },
};
</script>
