<template lang="pug">
  .booking-studio-about(:class="`_${view}`")
    template(v-if="view === 'studio-balloon'")
      .booking-studio-about__metro(v-if="studio.metro")
        Icon(
          name="metro-d"
          :fill="`#${studio.metro.color}`"
          width="16"
          height="11"
        ).booking-studio-about__metro-icon
        .booking-studio-about__metro-name {{ studio.metro.name }}
      .booking-studio-about__name {{ studio.name }}
      .booking-studio-about__masters
        b Сейчас в смене {{ studio.availableMasters }} {{ masters }}
      .booking-studio-about__button(v-if="!isStandalone")
        button.button._studio._call-to-action(
          :class="{'_active': isActive}"
          @click="handleStudioSelect(studio)"
        )
          span(v-if="isActive") студия выбрана
          span(v-else) Выбрать
      .booking-studio-about__button(v-else)
        a.button._studio._call-to-action(
          :href="`/booking/?studio=${studio.id}`"
          @click="handleStudioSelect(studio)"
        ) Записаться
    template(v-if="view === 'studio-map'")
      .booking-studio-about__section
        .booking-studio-about__metro(v-if="studio.metro")
          Icon(
            name="metro-d"
            :fill="`#${studio.metro.color}`"
            width="16"
            height="11"
          ).booking-studio-about__metro-icon
          .booking-studio-about__metro-name {{ studio.metro.name }}
        .booking-studio-about__name {{ studio.name }}
        .booking-studio-about__masters
          b Сейчас в смене {{ studio.availableMasters }} {{ masters }}
      .booking-studio-about__section
        .booking-studio-about__address
          span {{ studio.address.raw }}
          span &nbsp;|&nbsp;{{ studio.workTime }}
        .booking-studio-about__phone
          a(:href="`tel:${studio.phone.canonical}`") {{ studio.phone.formatted }}
      .booking-studio-about__section
        .booking-studio-about__button(v-if="!isStandalone")
          button.button._call-to-action(
            :class="{'_active': isActive}"
            @click="handleStudioSelect(studio)"
          )
            span(v-if="isActive") студия выбрана
            span(v-else) Выбрать
        .booking-studio-about__button(v-else)
          a.button._call-to-action(
            :href="`/booking/?studio=${studio.id}`"
            @click="handleStudioSelect(studio)"
          ) Записаться
    template(v-if="view === 'studio-item'")
      .booking-studio-about__metro(v-if="studio.metro")
        Icon(
          name="metro-d"
          :fill="`#${studio.metro.color}`"
          width="16"
          height="11"
        ).booking-studio-about__metro-icon
        .booking-studio-about__metro-name {{ studio.metro.name }}
      .booking-studio-about__name {{ studio.name }}
      .booking-studio-about__masters
        b {{ studio.availableMasters }} {{ masters }}
      .booking-studio-about__address
        span {{ studio.address.raw }}
        span &nbsp;|&nbsp;{{ studio.workTime }}
      .booking-studio-about__phone
        a(:href="`tel:${studio.phone.canonical}`") {{ studio.phone.formatted }}
      .booking-studio-about__button(v-if="!isStandalone")
        button.button._call-to-action(
          :class="{'_active': isActive}"
          @click="handleStudioSelect(studio)"
        )
          span(v-if="isActive") Студия выбрана
          span(v-else) Выбрать
      .booking-studio-about__button(v-else)
        a.button._call-to-action(
          :href="`/booking/?studio=${studio.id}`"
          @click="handleStudioSelect(studio)"
          ) Записаться
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import morphHelper from 'Js/helpers/morphHelper';
import Icon from 'Js/desktop/vue/general/Icon';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: { Icon },

  props: {
    view: {
      type: String,
      default: 'studio-item',
    },
    studio: {
      type: Object,
      default: () => ({}),
    }
  },

  computed: {
    ...mapState({
      currentStudioId: state => state.order.currentStudio.data.id,
      isStandalone: state => state.booking.standalone,
    }),

    isActive() {
      if (this.currentStudioId) {
        return this.currentStudioId === this.studio.id;
      }

      return false;
    },

    masters() {
      if (this.view === 'studio-map' || this.view === 'studio-balloon') {
        return morphHelper(
          'мастер',
          'мастера',
          'мастеров',
          this.studio.availableMasters
        );
      }

      return morphHelper(
        'мастер в смене',
        'мастера в смене',
        'мастеров  в смене',
        this.studio.availableMasters
      );
    }
  },

  methods: {
    ...mapActions(['SELECT_STUDIO']),

    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_CURRENT_SERVICE',
    ]),

    handleStudioSelect(studio) {
      if (this.view === 'studio-map') {
        yaMetricsSendEvent('studios-map-popup-booking-click');
        gaSendEvent('studios-map-popup-booking-click');
      } else if (this.view === 'studio-item') {
        yaMetricsSendEvent('studios-list-booking-click');
        gaSendEvent('studios-list-booking-click');
      }

      if (!this.isStandalone) {
        this.SET_CURRENT_SERVICE({});
        this.SELECT_STUDIO(studio);
        this.SET_CURRENT_STATE('Order');
      } else {
        window.location.replace(`/booking/?studio=${studio.id}`);
      }
    },
  },
};
</script>
