<template lang="pug">
  .booking-basket
    .booking-basket__content
      .booking-basket__top(
          @click="toggleBasket"
        )
        .booking-basket__caller(
          :class="{'_active': orderServices.length}"
        )
          Icon.booking-basket__caller-icon(
            name="basket"
            width="19"
            height="17"
          )
          span.booking-basket__caller-title Корзина
          span.booking-basket__caller-amount {{ orderServices.length }}
        .booking-basket__shrinker(
          :class="{'_active': isOpen}"
        )
          Icon.booking-basket__caller-icon(
            name="banner-link"
            stroke="#ffffff"
            width="4"
            height="7"
          )

      .booking-basket__bottom(
        :class="{'_active': isOpen}"
      )
        .booking-basket__bottom-content
          BasketItem(
            v-for="service in orderServices"
            :key="service.id"
            :info="service"
            @delete="handleServiceDelete"
          )
        .booking-basket__bottom-stats
          .booking-basket__time
            Icon.booking-basket__icon(
              name="clocks"
              width="16"
              height="16"
            )
            span.booking-basket__time-amount {{ duration.formatted }}
          .booking-basket__price {{ price.formatted }}
          .booking-basket__submit(@click="handleNextClick")
            button.button._basket._call-to-action
              span Продолжить
              Icon.button__icon(
                name="next2"
                fill="#ffffff"
                width="40"
                height="7"
              )
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';
import BasketItem  from 'Js/desktop/vue/booking/BasketItem';

export default {
  components: { Icon, BasketItem },

  data() {
    return {
      isOpen: false,
    };
  },

  computed: {
    ...mapState({
      openedService: state => state.booking.openedService,
    }),
    ...mapGetters(['duration', 'price', 'orderServices']),
  },

  methods: {
    ...mapMutations([
      'DELETE_SELECTED_SERVICE',
    ]),
    ...mapActions(['SET_CURRENT_STEP']),

    toggleBasket() {
      if (this.orderServices.length) {
        this.isOpen = !this.isOpen;
      }
    },

    handleServiceDelete(info) {
      this.DELETE_SELECTED_SERVICE(info.id);

      if (!this.orderServices.length) {
        this.isOpen = !this.isOpen;
      }
    },

    checkRequired() {
      let servicesWithDependancies = [];

      this.orderServices.forEach((caller) => {
        if (caller.requiredOneOf.length) {
          servicesWithDependancies.push(caller.id)
          this.orderServices.forEach((callee) => {
            if (caller.requiredOneOf.indexOf(callee.id) != -1) {
              servicesWithDependancies =
                servicesWithDependancies.filter((serviceId) => serviceId != caller.id);
            }
          });
        }
      });

      return !servicesWithDependancies.length;
    },

    setCoversCategory() {
      this.$modal.hide('service-modal');
      this.SET_CURRENT_SERVICE({});
      this.SET_SELECTED_CATEGORY({
        id: '3',
        name: 'Покрытия',
      });
      this.FETCH_SERVICES({
        'params[studioId]': this.currentStudio.id,
        'params[sectionId]': this.currentCategory.id,
      });
    },

    handleNextClick() {
      if (!this.checkRequired()) {
        this.$modal.show('service-modal', { view: 'covers' });
      } else {
        this.SET_CURRENT_STEP('Masters');
      }
    }
  },
};
</script>
