<template lang="pug">
  .basket-item
    .basket-item__img-wrapper
      img.basket-item__img(
        v-if="info.images"
        :src="info.images['1x']"
        :srcset="`${info.images['2x']} 2x`"
        :alt="info.name"
      )
    .basket-item__text-block
      .basket-item__text-block-top
        .basket-item__name {{ info.name }}
        .basket-item__time
          Icon.basket-item__icon(
            name="clocks"
            width="16"
            height="16"
          )
          span.basket-item__time-amount {{ serviceDuration }}
      .basket-item__controls
        .offer-prices
          .offer-prices__comparison
            .offer-prices__new
              b {{ priceFromatted }}
              sup &nbsp;руб.
        .service__button(@click="$emit('delete', info)")
          button.button._service._call-to-action._active Удалить
</template>

<script>
import { mapState } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
    }),

    serviceDuration() {
      if (this.info.duration) {
        const hours = Math.floor(this.info.duration / 60);
        const minutes = this.info.duration % 60;

        return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
      }

      return '';
    },

    priceFromatted() {
      if (this.info.price === 0 || this.info.price) {
        if (this.master.id && this.info.prices) {
          return this.info.prices[this.master.level].toLocaleString('RU-ru');
        }

        return this.info.price.toLocaleString('RU-ru');
      }

      return '';
    },
  },
};
</script>
