<template lang="pug">
  .booking-calendar
    .booking-calendar__slider-container.swiper-container(
      ref="swiper"
      data-type="calendar"
    )
      .booking-calendar__prev
        Icon.booking-calendar__icon(
          name="next2"
          fill="#f59282"
          width="40"
          height="7"
        )
      .booking-calendar__next
        Icon.booking-calendar__icon(
          name="next2"
          fill="#f59282"
          width="40"
          height="7"
        )
      .booking-calendar__slider-wrapper.swiper-wrapper
        .booking-calendar__item.swiper-slide(
          v-for="month, index in months"
          :key="index"
        )
          .booking-calendar__month-title {{ month.title }}
          .booking-calendar__week
            .booking-calendar__week-day Пн
            .booking-calendar__week-day Вт
            .booking-calendar__week-day Ср
            .booking-calendar__week-day Чт
            .booking-calendar__week-day Пт
            .booking-calendar__week-day Сб
            .booking-calendar__week-day Вс
          .booking-calendar__days
            .booking-calendar__day(
              v-for="day in month.days"
              :key="day.dateString"
              :class="getClassNames(day)"
              @click="handleDayClick(day)"
            ) {{ day.number }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import getMonth from 'Js/helpers/getMonth';
import Swiper from 'Js/desktop/widget/Swiper';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  data() {
    return {
      months: [],
      swiper: {},
    };
  },

  computed: {
    ...mapGetters(['dateObject']),

    activeDayString() {
      return this.dateObject ? this.dateObject.toDateString() : '';
    },
  },

  created() {
    this.getMonthData();

    if (!this.dateObject) {
      this.SELECT_DATE(new Date());
    }

    this.FETCH_MASTERS(this.dateObject);
  },

  mounted() {
    this.initSwiper();

    if (this.activeDayString.length) {
      this.months.forEach((month, index) => {
        month.days.forEach((day) => {
          if (day.dateString === this.activeDayString) {
            this.swiper.swiper.slideTo(index, 300);
          }
        });
      })
    }
  },

  methods: {
    ...mapActions(['FETCH_MASTERS', 'SELECT_DATE']),

    initSwiper() {
      this.swiper = new Swiper(this.$refs.swiper);
    },

    getMonthData() {
      const now = new Date();

      this.months[0] = {
        title: this.getMonthTitle(now),
        days: getMonth(now),
      };

      let nextMonth = new Date(now.getFullYear() + 1, 0, 1);

      if (now.getMonth() != 11) {
        nextMonth = new Date(now.getFullYear(), now.getMonth() + 1, 1);
      }

      this.months[1] = {
        title: this.getMonthTitle(nextMonth),
        days: getMonth(nextMonth),
      };
    },

    getClassNames(day) {
      return [
        ...[`_week${day.weekDay}`],
        ...day.isToday ? ['_today'] : [],
        ...!day.isAvailable ? ['_disabled'] : [],
        ...day.isDayOff ? ['_day-off'] : [],
        ...day.dateString === this.activeDayString ? ['_active'] : [],
      ];
    },

    getMonthTitle(dateObj) {
      let month = dateObj.toLocaleDateString('ru', { month: 'long' });
      const year = dateObj.toLocaleDateString('ru', { year: 'numeric' });

      month = month.charAt(0).toUpperCase() + month.slice(1);

      return `${month}, ${year} `;
    },

    handleDayClick(day) {
      this.SELECT_DATE(day.date);
      this.FETCH_MASTERS(day.date);
    },
  },
};
</script>
