<template lang="pug">
  section.services-menu._booking
    .services-menu__wrapper
      .services-menu__group(
        v-for="category in listedCategories"
        :key="category.id"
      )
        a.services-menu__item(
          href="#services-list"
          :class="{'_active': category.isOpen}"
          @click="handleCategorySelect(category)"
        )
          span {{ category.name }}
          span.services-menu__amount(v-if="category.amount && !isStandalone") {{ category.amount }}
        a.services-menu__item._sub(
          v-show="category.isOpen"
          v-for="subCategory in category.subCategories"
          :href="`#${subCategory.code}-section`"
        )
          span {{ subCategory.name }}
          span.services-menu__amount(v-if="subCategory.amount && !isStandalone") {{ subCategory.amount }}
</template>

<script>
import SmoothScroll from 'smooth-scroll';
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

export default {

  data() {
    return {
      scroll: {},
    };
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      isStandalone: state => state.booking.standalone,
    }),
    ...mapGetters(['listedCategories']),
  },

  created() {
    this.scroll = new SmoothScroll('a[href*="#"]', {
      offset: 56,
    });
  },

  beforeDestroy() {
    this.scroll.destroy();
  },

  methods: {
    ...mapMutations([
      'SET_SELECTED_CATEGORY',
      'SET_QUERY',
    ]),

    ...mapActions([
      'FETCH_SERVICES',
      'SET_CURRENT_STEP',
    ]),

    handleCategorySelect(category) {
      this.SET_QUERY({
        type: 'services',
        value: '',
      });
      this.SET_SELECTED_CATEGORY(category);
      this.FETCH_SERVICES({
        'params[studioId]': this.currentStudio.id,
        'params[sectionId]': category.id,
        view: 'desktop',
      });
    },
  },
};
</script>
