<template lang="pug">
  .booking-contacts
    ServiceModal
    .booking-contacts__title Оформление заказа
    .booking-contacts__content
      .booking-contacts__left
        form.booking-contacts__form(@submit.prevent="send")
          .booking-contacts__row
            label.booking-contacts__input-group
              .booking-contacts__input-title
                sup *
                span Ваше имя
              input.booking-contacts__input(
                :class="{'_error': errors.name }"
                v-model="name"
                type="text"
                name="name"
                placeholder="Ваше имя"
                required=""
                @input="validName"
                @keypress="checkValue"
              )
              .booking-contacts__error(v-if="errors.name") {{ errors.name }}
            .booking-contacts__row
              label.booking-contacts__input-group
                .booking-contacts__input-title
                  sup *
                  span Номер телефона
                input.booking-contacts__input(
                  :class="{'_error': errors.phone }"
                  v-model="phone"
                  type="text"
                  name="phone"
                  placeholder="Телефон"
                  required=""
                  @input="handlePhoneInput"
                )
                .booking-contacts__error(v-if="errors.phone") {{ errors.phone }}
          .booking-contacts__row
            label.booking-contacts__input-group
              .booking-contacts__input-title
                sup *
                span Электронная почта
              input.booking-contacts__input(
                :class="{'_error': errors.email }"
                v-model="email"
                type="email"
                name="email"
                placeholder="Email"
                required=""
                @input="validEmail"
              )
              .booking-contacts__error(v-if="errors.email") {{ errors.email }}
          .booking-contacts__controls
            .booking-contacts__agreement-group
              .booking-contacts__agreement
                Checkbox.booking-contacts__checkbox(
                  id="agree"
                  view="contacts"
                  type="checkbox"
                  name="agree"
                  :checked="checked"
                  @change="checked = !checked"
                )
                label.booking-contacts__checkbox-label(for="agree") Даю согласие на обработку персональных данных
              .booking-contacts__agreement-info
                | Нажатием кнопки «Записаться» я даю свое согласие
                br
                | на обработку персональных данных в соответствии
                br
                | с&nbsp;
                a(href="/docs/privacy.pdf") Политикой конфиденциальности.
            .booking-contacts__submit
              button.button._contacts._call-to-action(
                type="submit"
                v-if="checked"
              )
                span Записаться
      .booking-contacts__right
        .booking-contacts__info-group
          .booking-contacts__subtitle Место записи
          Icon.booking-contacts__edit(
            name="edit"
            fill="#757880"
            width="16"
            height="16"
            @click.native="backTo('Studios')"
          )
          .booking-contacts__details
            .booking-contacts__metro(v-if="currentStudio.metro")
              Icon(
                name="metro-d"
                :fill="`#${currentStudio.metro.color}`"
                width="16"
                height="11"
              ).booking-contacts__metro-icon
              .booking-contacts__metro-name {{ currentStudio.metro.name }}
            .booking-contacts__studio-info {{ addressRaw }}
              span.booking-contacts__work-time &nbsp;| {{ currentStudio.workTime }}
            .booking-contacts__phones
              a(:href="phoneCanonical").booking-contacts__phone
                .booking-contacts__phone-icon-wrapper
                  Icon.booking-contacts__phone-icon(
                    name="phone"
                    fill="#c8c8cc"
                    width="28"
                    height="27"
                  )
                .booking-contacts__phone-text
                  .booking-contacts__phone-number {{ phoneFormatted }}
                  .booking-contacts__work-time {{ currentStudio.workTime }}
              a(href="tel:+79031130010").booking-contacts__phone
                .booking-contacts__phone-icon-wrapper
                  Icon.booking-contacts__phone-icon(
                    name="wa"
                    fill="#76cd16"
                    width="30"
                    height="30"
                  )
                .booking-contacts__phone-text
                  .booking-contacts__phone-number +7 (903) 113-00-10
                  .booking-contacts__wa-title WhatsApp
        .booking-contacts__info-group
          .booking-contacts__subtitle Ваш заказ
          .booking-contacts__services
            .booking-contacts__service(v-for="service in orderServices")
              .booking-contacts__service-name {{ service.fullName }}
              .booking-contacts__service-time {{ serviceDuration(service.duration) }}
              .booking-contacts__service-price {{ service.price }}&nbsp;руб.
              Icon.booking-contacts__service-delete(
                v-if="orderServices.length > 1"
                name="exit"
                width="16"
                height="16"
                @click.native="handleServiceDelete(service)"
              )
            .booking-contacts__service(v-if="extra")
              .booking-contacts__top-master Топ-мастер
              .booking-contacts__extra + {{ extra }}&nbsp;руб.
          .booking-contacts__result(v-if="orderServices.length")
            .booking-contacts__mutual-time {{ duration.formatted }}
            .booking-contacts__mutual-price {{ price.raw }} руб.
          template(v-else)
            b Вы оформляете запись без выбора услуг.
            div Для вас будет зарезервирован 1 час.
            div Конкретную услугу вы выберете в студии.
          .booking-contacts__note(v-if="orderServices.length && master.name === 'Любой мастер'")
            | Цена может отличаться,если будет выбран
            br
            | ТОП-мастер. Вы можете&nbsp;
            a.booking-contacts__back-to-masters(@click="backTo('Masters')") выбрать мастера
            | &nbsp;сами.
            Icon.booking-contacts__note-icon(
              name="attention"
              width="16"
              height="16"
            )
        .booking-contacts__info-group
          .booking-contacts__subtitle Опции заказа
          .booking-contacts__additional-services
            .booking-contacts__tea-coffee
              a(
                @click="selectDrink('TEA')"
                :class="{'_active': this.drink == 'TEA'}"
              ).booking-contacts__radio._tea
                Icon.booking-contacts__radio-icon(
                    name="tea"
                    fill="#ff504a"
                    width="11"
                    height="11"
                  )
                span чай
              a(
                @click="selectDrink('COFFEE')"
                :class="{'_active': this.drink == 'COFFEE'}"
              ).booking-contacts__radio._coffee
                Icon.booking-contacts__radio-icon(
                    name="coffee"
                    fill="#ff504a"
                    width="11"
                    height="11"
                  )
                span кофе
            a(
                @click="selectNotTalk('NOT_TALK')"
                :class="{'_active': this.notTalk == 'NOT_TALK'}"
              ).booking-contacts__radio._not-talk
                Icon.booking-contacts__radio-icon(
                    name="saliens"
                    fill="#ff504a"
                    width="11"
                    height="11"
                  )
                span молчаливый мастер
        .booking-contacts__info-group
          .booking-contacts__subtitle Время и мастер
          Icon.booking-contacts__edit(
            @click.native="backTo('Masters')"
            name="edit"
            fill="#757880"
            width="16"
            height="16"
          )
          .booking-contacts__master
            Icon.booking-contacts__master-time-icon(
              name="clocks"
              width="16"
              height="16"
            )
            .booking-contacts__master-time {{ dateFormatted }}
            .booking-contacts__master-name Мастер: {{ master.name }}
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import ServiceModal from 'Js/desktop/vue/booking/ServiceModal';
import Icon from 'Js/desktop/vue/general/Icon';
import Input from 'Js/desktop/vue/general/Input';
import Checkbox from 'Js/desktop/vue/general/Checkbox';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';
import PhoneMasker from 'Js/helpers/PhoneMasker';

export default {
  components: {
    ServiceModal,
    Icon,
    Input,
    Checkbox,
  },

  data() {
    return {
      name: '',
      phone: '',
      email: '',
      drink: 'NOT_IMPORTANT',
      notTalk: 'NOT_IMPORTANT',
      checked: true,
      errors: {
        name: null,
        phone: null,
        email: null,
      },
    };
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      master: state => state.order.master,
      timestamp: state => state.order.timestamp,
      response: state => state.order.response.data,
      contacts: state => state.order.contacts,
    }),
    ...mapGetters(['price', 'duration', 'orderServices']),

    addressRaw() {
      if (this.currentStudio.address) {
        return this.currentStudio.address.raw;
      }

      return '';
    },

    phoneCanonical() {
      if (this.currentStudio.phone) {
        return `tel:+${this.currentStudio.phone.canonical}`;
      }

      return '';
    },

    phoneFormatted() {
      if (this.currentStudio.phone) {
        return this.currentStudio.phone.formatted;
      }

      return '';
    },

    dateFormatted() {
      const currentDate = new Date(this.timestamp * 1000);
      const options = {
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      };
      return currentDate.toLocaleString('ru', options).replace(', ', ' в ');
    },

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.master.level) {
            extra += service.prices[this.master.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  created() {
    yaMetricsSendEvent('booking-master-done');
    gaSendEvent('booking-master-done');
  },

  mounted() {
    this.setDefaultValues();
  },

  methods: {
    ...mapMutations([
      'SET_DRINK_ANSWER',
      'SET_NOT_TALK',
      'SAVE_CONTACTS',
      'SET_CURRENT_STATE',
      'DELETE_SELECTED_SERVICE',
    ]),

    ...mapActions(['SET_CURRENT_STEP', 'SEND_ORDER']),

    setDefaultValues() {
      this.name = this.contacts.name ? this.contacts.name : '';
      this.phone = this.contacts.phone ? this.contacts.phone : '';
      this.email = this.contacts.name ? this.contacts.email : '';
    },

    serviceDuration(duration) {
      if (duration) {
        const hours = Math.floor(duration / 60);
        const minutes = duration % 60;

        return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
      }

      return '';
    },

    selectDrink(type) {
      const drinkValue = 'NOT_IMPORTANT';
      if (this.drink !== drinkValue) { // Если раньше был выбран чай или кофе
        if (type === this.drink) { // Если выбор совпадает с раннее выбранным
          this.drink = drinkValue; // отключаем все опции
        } else {
          this.drink = type; // переключаем одну опцию на другую
        }
      } else { // Если раньше ничего не выбрано
        this.drink = type;
      }
      this.SET_DRINK_ANSWER(this.drink);
    },

    selectNotTalk(value) {
      this.notTalk = (this.notTalk !== 'NOT_IMPORTANT') ? 'NOT_IMPORTANT' : value;
      this.SET_NOT_TALK(this.notTalk);
    },

    checkValue(e) {
      if (!/^[а-яА-ЯЁёa-zA-Z\s-]*$/.test(e.key)) {
        e.preventDefault();
      } else {
        return true;
      }
    },

    validName() {
      this.errors.name = null;
      const condition = this.name.length > 0;

      if (!condition) {
        this.errors.name = 'Поле "Имя" не может быть пустым!';
      }

      return condition;
    },

    handlePhoneInput(e) {
      this.phone = PhoneMasker.maskElement(e.target);
      this.validPhone();
    },

    validPhone() {
      this.errors.phone = null;
      const condition = this.phone.length > 17;

      if (!condition) {
        this.errors.phone = 'Поле "Телефон" не может быть пустым!';
      }

      return condition;
    },

    validEmail() {
      this.errors.email = null;
      const condition = this.email.length > 0;

      if (!condition) {
        this.errors.email = 'Поле "Email" не может быть пустым!';
      }

      return condition;
    },

    priceFromatted(service) {
      if (service.price === 0 || service.price) {
        if (this.master.id && service.prices) {
          return service.prices[this.master.level];
        }

        return service.price;
      }

      return '';
    },

    backTo(step) {
      if (step === 'Studios') {
        this.SET_CURRENT_STATE(step);
      } else {
        this.SET_CURRENT_STEP(step);
      }
    },

    send() {
      const validations = this.validName() && this.validPhone() && this.validEmail();

      if (validations) {
        const contacts = {
          name: this.name,
          phone: this.phone,
          email: this.email
        };
        this.SAVE_CONTACTS(contacts);
        this.SEND_ORDER(this).then(() => {
          if (this.response.error) {
            this.$modal.show('service-modal', { view: 'errors' });
          }
        });
      }
    },

    checkRequired(service) {
      let servicesWithDependancies = [];
      const futureOrderServices =
        [...this.orderServices].filter((fService) => fService.id != service.id);

      futureOrderServices.forEach((caller) => {
        if (caller.requiredOneOf.length) {
          servicesWithDependancies.push(caller.id)
          futureOrderServices.forEach((callee) => {
            if (caller.requiredOneOf.indexOf(callee.id) != -1) {
              servicesWithDependancies =
                servicesWithDependancies.filter((serviceId) => serviceId != caller.id);
            }
          });
        }
      });

      return !servicesWithDependancies.length;
    },

    handleServiceDelete(service) {
      if (this.checkRequired(service)) {
        this.DELETE_SELECTED_SERVICE(service.id);
      } else {
        this.$modal.show('service-modal', { view: 'covers-contacts' });
      }
    },
  },
};
</script>
