<template lang="pug">
  .booking-loader
    .booking-loader__darkening(:class="{'_active': loadingQueue.length}")
      Icon.booking-loader__icon(
        name="loader"
        width="100"
        height="100"
      )
</template>

<script>
import { mapState } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  computed: {
    ...mapState({
      loadingQueue: state => state.loadingQueue,
    }),
  },
}
</script>

<style lang="css">
</style>
