<template lang="pug">
  .booking-masters-list
    .booking-masters-list__content
      MasterItem(
        v-if="!noAvailableMasters"
        v-for="item in masters"
        :key="item.id"
        :info="item"
      )
    .booking-masters-list__not-found(v-if="noAvailableMasters")
      | К сожалению, в этот день все мастеры заняты.
      br
      | Просим вас выбрать другой день.
</template>

<script>
import { mapState } from 'vuex';
import MasterItem from 'Js/desktop/vue/booking/MasterItem';

export default {
  components: { MasterItem },

  computed: {
    ...mapState({
      masters: state => state.booking.masters.data,
      mastersIsFetching: state => state.booking.masters.isFetching,
    }),

    noAvailableMasters() {
      let result = true;

      if ((!this.masters.length && !this.mastersIsFetching) ||
        (this.masters && this.masters.length)) {
        this.masters.forEach((master) => {
          if (master.active) {
            result = false;
          }
        })
      } else {
        result = false;
      }

      return result;
    },
  },
};
</script>
