<template lang="pug">
  .step-details(
    :class="[{'_fixed': isFixed}, {'_active': isActive}]"
    @click="handleReturnToMasters"
  )
    template(v-if="!isFixed")
      .step-details__master(v-if="master.id")
        .step-details__master-date
          span {{ master.name }}
        .step-details__interval(v-if="master.id")
          span {{ dateFormatted }},
          span(v-if="master.id && interval.start") {{ interval.start }}
      .step-details__action(v-if="isActive")
        Icon(
          name="edit"
          fill="#f59282"
          width="12"
          height="12"
        ).step-details__action-icon
        span Изменить
    template(v-else)
      .step-details__master(v-if="master.id && interval.start")
        span {{ dateFormatted }}, {{ master.name }}, {{ interval.start }}
        Icon(
          v-if="isActive"
          name="edit"
          fill="#f59282"
          width="12"
          height="12"
        ).step-details__action-icon
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    isFixed: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    ...mapState({
      currentStepIndex: state => state.booking.currentStep.index,
      master: state => state.order.master,
      interval: state => state.order.interval,
      timestamp: state => state.order.timestamp,
      date: state => state.order.date,
    }),

    dateFormatted() {
      if (this.date) {
        return new Date(this.date).toLocaleDateString('ru', {
          day: 'numeric',
          month: 'long',
        })
      }

      return '';
    },

    isActive() {
      return this.currentStepIndex > 2;
    },
  },

  methods: {
    ...mapActions([
      'SET_CURRENT_STEP',
    ]),

    handleReturnToMasters() {
      if (this.isActive) {
        this.SET_CURRENT_STEP('Masters');
      }
    },
  },
};
</script>
