<template lang="pug">
  .booking-master(
    :class="[{'_active': info.id === master.id}, {'_disabled': !info.active}]"
    @click="handleMasterClick()"
  )
    .booking-master__content
      .booking-master__text
        .booking-master__name
          span {{ info.name }}
          span.booking-master__disabled(v-if="!info.active") Мастер занят
        .booking-master__label(v-html="info.label")
        .booking-master__warning(v-if="info.level && info.id === master.id")
          | Вы выбрали топ-мастера. Стоимость и длительность услуг
          | будут отличаться от обычных мастеров
      .booking-master__perks
        Icon(
          v-for="perk, index in info.perks"
          v-tooltip="perk.name"
          :key="index"
          :name="perk.class"
          fill="#f59282"
          width="28"
          height="28"
        ).booking-master__perk
      .booking-master__extra(v-if="extra")
        span + {{ extra }} &nbsp;руб.
        .booking-master__extra-label Топ-мастер
    .booking-master__schedule(v-if="info.id === master.id")
      Schedule
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';
import Schedule from 'Js/desktop/vue/booking/Schedule';

export default {
  components: { Schedule, Icon },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
    }),
    ...mapGetters(['orderServices']),

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.info.level) {
            extra += service.prices[this.info.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  methods: {
    ...mapMutations(['SET_MASTER']),

    handleMasterClick() {
      if (this.master.id !== this.info.id && this.info.active) {
        this.SET_MASTER(this.info);
      }
    },
  },
};
</script>
