<template lang="pug">
  .booking-masters
    .booking-masters__title ВЫБЕРИТЕ МАСТЕРА И ВРЕМЯ
    .booking-masters__content
      .booking-masters__calendar
        Calendar
      .booking-masters__list
        MastersList
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Calendar from 'Js/desktop/vue/booking/Calendar';
import MastersList from 'Js/desktop/vue/booking/MastersList';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    Calendar,
    MastersList,
  },

  computed: {
    ...mapState({
      currentStepIndex: state => state.booking.currentStep.index,
      timestamp: state => state.order.timestamp,
    }),
  },

  watch: {
    timestamp() {
      this.toggleNextButton();
    }
  },

  created() {
    yaMetricsSendEvent('booking-services-done');
    gaSendEvent('booking-services-done');
  },

  mounted() {
    this.toggleNextButton();
  },

  methods: {
    ...mapMutations(['SET_NEXTBUTTON_DISABLED']),

    toggleNextButton() {
      if (this.currentStepIndex === 2 && !this.timestamp) {
        this.SET_NEXTBUTTON_DISABLED(true);
      } else {
        this.SET_NEXTBUTTON_DISABLED(false);
      }
    },
  },
};
</script>
