<template lang="pug">
  .booking-order
    .booking-order__content
      components(
        :is="currentStepView"
      )
</template>

<script>
import { mapState } from 'vuex';
import Services from 'Js/desktop/vue/booking/Services';
import Masters from 'Js/desktop/vue/booking/Masters';
import Contacts from 'Js/desktop/vue/booking/Contacts';
import Success from 'Js/desktop/vue/booking/Success';
import Categories from 'Js/desktop/vue/booking/Categories';

export default {
  components: {
    Services,
    Masters,
    Contacts,
    Success,
    Categories,
  },

  computed: {
    ...mapState({
      currentStepView: state => state.booking.currentStep.view,
    }),
  },
};
</script>
