<template lang="pug">
  .booking-page
    Loader
    ErrorModal
    .booking-page__steps(v-if="currentStepView != 'Success'")
      Steps
    .booking-page__content
      components(
        :is="currentState"
      )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import Steps from 'Js/desktop/vue/booking/Steps';
import Order from 'Js/desktop/vue/booking/Order';
import Studios from 'Js/desktop/vue/booking/Studios';
import Loader from 'Js/desktop/vue/booking/Loader';
import ErrorModal from 'Js/desktop/vue/general/ErrorModal';

export default {
  components: {
    Steps,
    Order,
    Studios,
    Loader,
    ErrorModal,
  },

  props: {
    dataset: {
      type: Object,
      default: () => ({}),
    }
  },

  computed: {
    ...mapState({
      currentState: state => state.booking.currentState,
      currentStepView: state => state.booking.currentStep.view,
      currentStudioId: state => state.order.currentStudio.data.id,
    }),
  },

  created() {
    if (this.currentStepView === 'Success') {
      this.CLEAR_STORE();
    }

    this.SET_TYPE('desktop');
    this.SET_STANDALONE(this.dataset.standalone === 'true');

    if (this.currentStepView === 'Categories') {
      this.SET_CURRENT_STEP('Services');
    }

    if (window.App.dataset.service) {
      this.checkDatasetService(window.App.dataset.service.toString());
    }

    if (window.App.dataset.studio) {
      this.SELECT_STUDIO({ id: window.App.dataset.studio.toString() });
      this.FETCH_DATASET_STUDIO({
        'params[id]': window.App.dataset.studio.toString(),
      });
      this.SET_CURRENT_STATE('Order');
    } else if (this.currentStudioId) {
      this.SET_CURRENT_STATE('Order');
    } else {
      this.SET_CURRENT_STATE('Studios');
    }
  },

  methods: {
    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_STANDALONE',
      'SET_TYPE',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
      'SET_AVAILABILITY_POPUP',
    ]),
    ...mapActions([
      'FETCH_DATASET_STUDIO',
      'FETCH_SERVICE',
      'SET_CURRENT_STEP',
      'CLEAR_STORE',
      'SELECT_STUDIO',
      'FETCH_SERVICES_DICTIONARY',
    ]),

    checkDatasetService(id) {
      if (this.currentStudioId) {
        this.FETCH_SERVICES_DICTIONARY({
          'params[studioId]': this.currentStudioId,
          view: 'desktop',
        }).then((response) => {
          let shouldRedirect = response.reduce((shouldRedirect, service) => {
          	if (service.id === id) {
          		shouldRedirect = false;
          	}

          	return shouldRedirect;
          }, true);

          if (shouldRedirect) {
            this.SET_CURRENT_STATE('Studios');
          }

          this.SET_AVAILABILITY_POPUP(shouldRedirect);
        });
      }
    }
  },
};
</script>
