<template lang="pug">
  .booking-schedule
    .booking-schedule__container
      .booking-schedule__wrapper
        .booking-schedule__group(v-for="(group, key) in schedule.data")
          .booking-schedule__group-title {{ dictionary[key] }}
          .booking-schedule__group-content
            .booking-schedule__item(
              v-for="interval in group"
              :class="{'_active': interval.timestamp === timestamp}"
              @click="handleIntervalClick(interval)"
            )
              b {{ interval.start }}
              span.booking-schedule__arrow &rarr;
              span {{ interval.end }}
      .booking-schedule__not-found(v-if="showNotFound") К сожалению, в этот день мастер уже занят
      .booking-schedule__submit(v-if="timestamp && !schedule.isFetching")
        button.button._basket._call-to-action._continue(
          @click="handleNextClick"
        )
          span Продолжить
          Icon.button__icon(
            name="next"
            fill="#ffffff"
            width="40"
            height="7"
          )
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  data() {
    return {
      dictionary: {
        morning: 'утро',
        day: 'день',
        evening: 'вечер',
      },
      showNotFound: false,
    };
  },

  computed: {
    ...mapState({
      schedule: state => state.booking.schedule,
      timestamp: state => state.order.timestamp,
    }),
  },

  created() {
    this.FETCH_SCHEDULE().then((data) => {
      if (!Object.keys(data).length) {
        this.showNotFound = true;
      }
    });
  },

  methods: {
    ...mapActions(['FETCH_SCHEDULE', 'SET_CURRENT_STEP']),
    ...mapMutations(['SET_TIMESTAMP', 'SET_INTERVAL']),

    handleIntervalClick(interval) {
      if (interval.timestamp !== this.timestamp) {
        this.SET_TIMESTAMP(interval.timestamp);
        this.SET_INTERVAL(interval);
      }
    },

    handleNextClick() {
      this.SET_CURRENT_STEP('Contacts');
    },
  },
};
</script>
