<template lang="pug">
  .services-list
    .services-list__not-found(v-if="query && !Object.keys(groupedServices).length && !listedServices.length")
      | По запросу «{{query}}» ничего не найдено
      br
      | Попробуйте изменить запрос
    template(v-if="Object.keys(groupedServices).length")
      .services-list__group(
        v-for="group, key in groupedServices"
      )
        .services-list__title(
          :id="`${key}-section`"
        ) {{ group.title }}
        .services-list__container
          ServiceItem(
            v-for="service in group.items"
            :key="service.id"
            :info="service"
          )
    template(v-else)
      .services-list__container
        ServiceItem(
          v-for="service in listedServices"
          :key="service.id"
          :info="service"
        )
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import ServiceItem from 'Js/desktop/vue/booking/ServiceItem';

export default {
  components: { ServiceItem },

  props: {
    listMode: {
      type: String,
      default: 'list',
    }
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
    }),

    ...mapGetters(['listedServices']),

    groupedServices() {
      if (this.listedServices.length) {
        return this.listedServices.reduce((obj, item) => {
          if (this.listMode === 'list') {
            if (item.subCategory) {
              if (!obj[item.subCategory.code]) {
                obj[item.subCategory.code] = {};
                obj[item.subCategory.code].title = item.subCategory.name;
                obj[item.subCategory.code].items = [];
              }

              obj[item.subCategory.code].items.push(item);
            }

            return obj;
          } else if (this.listMode === 'search') {
            if (!obj[item.category.code]) {
              obj[item.category.code] = {};
              obj[item.category.code].title = item.category.name;
              obj[item.category.code].items = [];
            }

            obj[item.category.code].items.push(item);

            return obj;
          }
        }, {});
      }

      return [];
    },
  },
}
</script>
