<template lang="pug">
  .service-children
    slot
</template>

<script>
import smoothReflow from 'vue-smooth-reflow'

export default {
  mixins: [smoothReflow],

  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },

  mounted() {
    this.$smoothReflow();
  },
};
</script>
