<template lang="pug">
  .service._booking
    .service__item(
      @click="handleServiceSelect(info)"
      v-if="!isStandalone"
    )
      .service__image-wrapper
        img.service__image(
          v-if="info.images"
          :src="info.images['1x']"
          :srcset="`${info.images['2x']} 2x`"
          :alt="info.name"
        )
        .service__blackening(
          :class="{'_active': info.isActive}"
        )
          .service__circle
            Icon.nearest-studio__circle-icon(
              :name="'ok'"
              :fill="'#e8e9ee'"
              width="10"
              height="8"
            )
      .service__time {{ serviceDuration }}
      .service__price
        .offer-prices
          .offer-prices__comparison
            .offer-prices__new
              span(v-if="info.children") от&nbsp;
              b {{ priceFromatted }}
              sup &nbsp;руб.
        .service__button(v-if="!isStandalone")
          button.button._service._call-to-action(
            v-if="!info.children"
            :class="{'_active': info.isActive}"
          )
            span(v-if="info.isActive") Отменить
            span(v-else) Выбрать
          button.button._service._with-children(
            v-else
            :class="{'_active': info.id === openedService}"
          )
            span {{ childrenAmount }}
            Icon.button__icon(
              name="expand2"
              width="11"
              height="7"
            )
      .service__text-block
        .service__name {{ info.name }}
      .service__children-fin(v-if="info.id === openedService")
    .service__item(v-else)
      a.service__image-wrapper(:href="`${info.url}`")
        img.service__image(
          v-if="info.images"
          :src="info.images['1x']"
          :srcset="`${info.images['2x']} 2x`"
          :alt="info.name"
        )
      .service__time {{ serviceDuration }}
      .service__price
        .offer-prices
          .offer-prices__comparison
            .offer-prices__new
              span(v-if="info.children") от&nbsp;
              b {{ priceFromatted }}
              sup &nbsp;руб.
      .service__text-block
        a.service__name(:href="`${info.url}`") {{ info.name }}
      .service__children-fin(v-if="info.id === openedService")
    .service__children(v-if="info.children")
      ServiceChildren
        .service-children__content(
          v-if="info.id === openedService"
        )
          .service-children__exit(@click="closeChildren")
            Icon(
              name="exit"
              width="16"
              height="16"
            )
          ServiceChild(
            v-for="child in info.children"
            :key="child.id"
            :info="child"
          )
</template>

<script>
import morphHelper from 'Js/helpers/morphHelper';
import getClosest from 'Js/helpers/getClosest';
import { mapState, mapMutations, mapGetters } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';
import ServiceChildren from 'Js/desktop/vue/booking/ServiceChildren';
import ServiceChild from 'Js/desktop/vue/booking/ServiceChild';

export default {
  components: { Icon, ServiceChildren, ServiceChild },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
      openedService: state => state.booking.openedService,
      isStandalone: state => state.booking.standalone,
    }),
    ...mapGetters(['duration', 'orderServices']),

    childrenAmount() {
      if (this.info.children) {
        const amount = this.info.children.length;

        return `${amount} ${morphHelper('вид', 'вида', 'видов', amount)}`;
      }

      return '';
    },

    serviceDuration() {
      if (this.info.duration) {
        const hours = Math.floor(this.info.duration / 60);
        const minutes = this.info.duration % 60;

        return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
      }

      return '';
    },

    priceFromatted() {
      if (this.info.price === 0 || this.info.price) {
        if (this.master.id) {
          if (this.info.prices) {
            return this.info.prices[this.master.level].toLocaleString('RU-ru');
          } else {
            return this.info.children.reduce((prev, child) => {
              const price = child.prices[this.master.level];

              return prev < price ? prev : price;
            }, Number.POSITIVE_INFINITY);
          }
        }

        return this.info.price.toLocaleString('RU-ru');
      }

      return '';
    },
  },

  created() {
    document.addEventListener('click', this.handleClickOutside);
  },

  beforeDestroy() {
    document.removeEventListener('click', this.handleClickOutside);
  },

  methods: {
    ...mapMutations([
      'SET_OPENED_SERVICE',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
      'SET_MASTER',
    ]),

    handleClickOutside(event) {
      if (!getClosest(event.target, '.service')) {
        this.closeChildren();
      }
    },

    handleServiceSelect(item) {
      if (item.children) {
        const id = this.openedService === item.id ? '' : item.id;

        this.SET_OPENED_SERVICE(id);
      } else {
        this.closeChildren();

        if (item.isActive) {
          this.DELETE_SELECTED_SERVICE(item.id);
        } else if (this.orderServices.length > 5) {
          this.$modal.show('service-modal', { view: 'too-much' });
        } else if ((this.duration.raw + item.duration) > 270) {
          this.$modal.show('service-modal', { view: 'too-long' });
        } else {
          this.SET_MASTER({});
          this.ADD_SELECTED_SERVICE(item.id);
        }
      }
    },

    closeChildren() {
      this.SET_OPENED_SERVICE('');
    },
  },
};
</script>
