<template lang="pug">
  .step-details._services(
    :class="[{'_fixed': isFixed}, {'_active': isActive}]"
    @click="handleReturnToServices"
  )
    .step-details__content
      template(v-if="!isFixed")
        template(v-if="orderServices.length")
          .step-details__services
            .step-details__service(v-for="service in orderServices")
              span.step-details__service-name {{ service.fullName }}
              span.step-details__service-price &nbsp;{{ priceFromatted(service) }} руб.
          .step-details__services-announce(v-if="orderServices.length > 1") +ещё {{ orderServices.length - 1 }}
          .step-details__action(
            :class="{'_hoverable': orderServices && orderServices.length > 1}"
            v-if="currentStepView != 'Services'"
          )
            Icon(
              name="edit"
              fill="#f59282"
              width="12"
              height="12"
            ).step-details__action-icon
            span Изменить
        template(v-else)
          .step-details__null(v-if="currentStepView === 'Services' && !master.id")
            .step-details__null-container
              b Можно продолжить без выбора услуг
              p Для вас будет зарезервирован 1 час. Конкретную услугу вы выберете в студии.
          .step-details__null._small(v-else)
            .step-details__service-name Вы оформляете запись без выбора услуг.
            div Для вас будет зарезервирован 1 час.
            div Конкретную услугу вы выберете в студии.
          .step-details__action(v-if="isActive")
            Icon(
              name="edit"
              fill="#f59282"
              width="12"
              height="12"
            ).step-details__action-icon
            span Изменить
      template(v-else)
        .step-details__services
          template(v-if="orderServices.length")
            span.step-details__service-name {{ orderServicesAmount }}
          template(v-else)
            .step-details__null(v-if="currentStepView === 'Services' && !master.id")
              b Можно продолжить без выбора услуг
            .step-details__null(v-else)
              .step-details__service-name Вы оформляете запись без выбора услуг.
          Icon(
            v-if="isActive"
            name="edit"
            fill="#f59282"
            width="12"
            height="12"
          ).step-details__action-icon
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import morphHelper from 'Js/helpers/morphHelper';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    isFixed: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    ...mapState({
      currentStepView: state => state.booking.currentStep.view,
      master: state => state.order.master,
    }),

    ...mapGetters(['orderServices']),

    orderServicesAmount() {
      return `${this.orderServices.length} ${morphHelper('процедура', 'процедуры', 'процедур', this.orderServices.length)}`;
    },

    isActive() {
      return this.currentStepView != 'Services';
    },
  },

  methods: {
    ...mapActions(['SET_CURRENT_STEP']),

    handleReturnToServices() {
      if (this.isActive) {
        this.SET_CURRENT_STEP('Services')
      }
    },

    priceFromatted(service) {
      if (service.price === 0 || service.price) {
        if (this.master.level) {
          return service.prices[this.master.level].toLocaleString('RU-ru');
        }

        return service.price.toLocaleString('RU-ru');
      }

      return '';
    },
  },
};
</script>
