<template lang="pug">
  modal(
    height="auto"
    width="500px"
    :adaptive="true"
    :name="'service-modal'"
    @before-open="beforeOpen"
  )
    .service-modal
      .service-modal__close(@click="$modal.hide('service-modal')")
        Icon.service-modal__close-icon(
          name="close"
          stroke="#000000"
          width="8"
          height="8"
        )
      .service-modal__content(v-if="view === 'covers-contacts'")
        .service-modal__title Невозможно удалить услугу
        .service-modal__text Невозможно оставить услугу, требующую покрытия, без покрытия
        button.button._white.service-modal__link(@click="$modal.hide('service-modal')") Понятно
      .service-modal__content(v-if="view === 'covers'")
        .service-modal__title Не выбрано покрытие
        .service-modal__text Данная услуга невозможна без выбора покрытия
        button.button._white.service-modal__link(@click="$emit('click')") Выбрать покрытие
      .service-modal__content(v-if="view === 'too-much'")
        .service-modal__title Уже выбрано 6 услуг.
        .service-modal__text Нельзя выбрать больше 6 услуг за сеанс.
        button.button._white.service-modal__link(@click="$emit('close')") Понятно
      .service-modal__content(v-if="view === 'too-long'")
        .service-modal__title Уже выбрано услуг на {{ duration.formatted }}
        .service-modal__text Нельзя выбрать услуг больше, чем на 4ч. 30 мин.
        button.button._white.service-modal__link(@click="$emit('close')") Понятно
      .service-modal__content(v-if="view === 'errors'")
        .service-modal__title Ошибка записи
        .service-modal__text
        .service-modal__link(@click="$emit('back')") Изменить условия записи
        .service-modal__link(@click="$emit('send')") Попробовать еще раз
      .service-modal__content(v-if="view === 'cancel'")
        .service-modal__title Отмена заказа
        .service-modal__text(v-if="cancel.error && cancel.error.code !== -14303") К сожалению, не удалось отменить запись.
        .service-modal__text(v-if="cancel.error && cancel.error.code === -14303") {{ cancel.error.message }}
        .service-modal__text(v-if="!cancel.error") Вы уверены, что хотите отменить запись?
        .service-modal__controls
          button.button._white.service-modal__link(
            v-if="cancel.error && cancel.error.code !== -14303"
            @click="$emit('confirm')"
          ) Попробовать еще раз
          button.button._white.service-modal__link(
            v-if="cancel.error && cancel.error.code === -14303"
            @click="$emit('close')"
          ) Понятно
          button.button._white.service-modal__link(
            v-if="!cancel.error"
            @click="$emit('confirm')"
          ) Да
          button.button._white.service-modal__link(
            v-if="!cancel.error"
            @click="$emit('close')"
          ) Нет
      .service-modal__content(v-if="view === 'some-studios'")
        .service-modal__title Вы выбираете другую студию
        .service-modal__text Некоторые или все ранее выбранные услуги в этой студии будут недоступны
        .service-modal__controls
          button.button._white.service-modal__link(
            @click="$emit('click', studio)"
          ) Понятно
          button.button._white.service-modal__link(
            @click="$modal.hide('service-modal')"
          ) Отменить
      .service-modal__content(v-if="view === 'not-available-service'")
        .service-modal__title Услуга недоступна
        .service-modal__text В текущей студии доступны не все выбранные услуги
        button.button._white.service-modal__link(
          @click="$modal.hide('service-modal')"
        ) Понятно
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  data() {
    return {
      view: '',
      studio: {},
    };
  },

  computed: {
    ...mapState({
      cancel: state => state.order.cancel,
    }),
    ...mapGetters(['duration']),
  },

  methods: {
    beforeOpen(event) {
      this.view = event.params.view;
      this.studio = event.params.studio ? event.params.studio : {};
    },
  },
};
</script>
