<template lang="pug">
  .service-child
    .service-child__top
      .service-child__name {{ info.name }}
      .service-child__duration
        span {{ serviceDuration }}
        span.service-child__info-caller(
          v-if="info.description"
          @click="isOpen = !isOpen"
        )
          Icon(
            name="info"
            :fill="isOpen ? '#f59282' : '#babbbf'"
            width="16"
            height="16"
          )
    .service-child__info(
      v-if="isOpen"
      v-html="info.description"
    )
    .service-child__controls
      .offer-prices
        .offer-prices__comparison
          .offer-prices__new
            span(v-if="!master.id") от&nbsp;
            b {{ priceFromatted }}
            sup &nbsp;руб.
      .service-child__button
        button.button._service._call-to-action(
          :class="{'_active': this.isActive}"
          @click="handleServiceSelect(info)"
        )
          span(v-if="this.isActive") Отменить
          span(v-else) Выбрать
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      isOpen: false,
    };
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
    }),
    ...mapGetters(['duration', 'orderServices']),

    isActive() {
      let result = false;

      this.orderServices.forEach((item) => {
        if (item.id === this.info.id) {
          result = true;
        }
      });

      return result;
    },

    serviceDuration() {
      if (this.info.duration) {
        const hours = Math.floor(this.info.duration / 60);
        const minutes = this.info.durationl % 60;

        return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
      }

      return '';
    },

    priceFromatted() {
      if (this.info.price === 0 || this.info.price) {
        if (this.master.id && this.info.prices) {
          return this.info.prices[this.master.level].toLocaleString('RU-ru');
        }


        return this.info.price.toLocaleString('RU-ru');
      }

      return '';
    },
  },

  methods: {
    ...mapMutations([
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
      'SET_MASTER',
    ]),

    handleServiceSelect(item) {
      if (this.isActive) {
        this.DELETE_SELECTED_SERVICE(item.id);
      } else if (this.orderServices.length > 5) {
        this.$modal.show('service-modal', { view: 'too-much' });
      } else if ((this.duration.raw + item.duration) > 270) {
        this.$modal.show('service-modal', { view: 'too-long' });
      } else {
        this.SET_MASTER({});
        this.ADD_SELECTED_SERVICE(item.id);
      }
    },
  },
};
</script>
