<template lang="pug">
  .booking-services(id="services-list")
    ServiceModal(
      @click="setCoversCategory"
      @close="closeModal"
    )
    .booking-services__top
      .booking-services__title услуги в студии {{ currentStudio.name }}
    .booking-services__content
      section.booking-services__categories(ref="catsContainer")
        Categories(
          ref="categories"
          :class="[{'_fixed': menu.isFixed}, {'_bottomed': menu.isBottomed}]"
        )
      section.booking-services__list
        Basket(v-if="!isStandalone")
        Search(
          view="services"
          :placeholder="formattedStatistics"
          queryType="services"
        )
        ServicesList(
          :listMode="listMode"
        )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import morphHelper from 'Js/helpers/morphHelper';
import ServiceModal from 'Js/desktop/vue/booking/ServiceModal';
import Categories from 'Js/desktop/vue/booking/Categories';
import ServicesList from 'Js/desktop/vue/booking/ServicesList';
import Basket from 'Js/desktop/vue/booking/Basket';
import Search from 'Js/desktop/vue/general/Search';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    Categories,
    ServicesList,
    Search,
    ServiceModal,
    Basket,
  },

  props: {
    dataset: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      listMode: 'list',
      menu: {
        isFixed: false,
        isBottomed: false,
      },
    };
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
      categories: state => state.booking.categories.data,
      currentStudio: state => state.order.currentStudio.data,
      currentCategory: state => state.booking.currentCategory,
      servicesStatistics: state => state.booking.servicesStatistics.data,
      isStandalone: state => state.booking.standalone,
      servicesDictionary: state => state.booking.servicesDictionary.data,
    }),

    formattedStatistics() {
      if (this.servicesStatistics.counts) {
        const categoriesAmount = this.servicesStatistics.counts.categories;
        const servicesAmount = this.servicesStatistics.counts.services;

        const categoriesWord =
          morphHelper('категории', 'категорий', 'категорий', categoriesAmount);

        const servicesWord =
          morphHelper('услуге', 'услугам', 'услугам', servicesAmount);

        return `Искать по ${servicesAmount} ${servicesWord} из ${categoriesAmount} ${categoriesWord}`;
      }

      return '';
    },
  },

  created() {
    this.SET_STANDALONE(this.dataset.standalone === 'true');

    if (this.isStandalone) {
      this.SELECT_STUDIO({ id: this.dataset.studio });
      this.FETCH_DATASET_STUDIO({
        'params[id]': this.dataset.studio,
        view: 'desktop'
      });
    } else {
      yaMetricsSendEvent('booking-studio-done');
      gaSendEvent('booking-studio-done');
    }

    this.initData();
  },

  mounted() {
    document.addEventListener('scroll', this.positionCats);
    this.toggleNextButton();
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.positionCats);
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  methods: {
    ...mapMutations([
      'SET_OPENED_SERVICE',
      'SET_CURRENT_SERVICE',
      'SET_SELECTED_CATEGORY',
      'SET_STANDALONE',
      'SET_NEXTBUTTON_DISABLED',
      'SET_QUERY',
      'CLEAR_CURRENT_SERVICES',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
    ]),

    ...mapActions([
      'FETCH_CATEGORIES',
      'FETCH_SERVICES',
      'FETCH_SERVICE',
      'SET_CURRENT_STEP',
      'FETCH_SERVICES_STATISTICS',
      'SEARCH_SERVICES',
      'FETCH_DATASET_STUDIO',
      'FETCH_SERVICES_DICTIONARY',
      'SELECT_STUDIO',
      'CHECK_SELECTED_SERVICES',
    ]),

    positionCats() {
      const catsRect = this.$refs.categories.$el.getBoundingClientRect();
      const containerRect = this.$refs.catsContainer.getBoundingClientRect();

      const topPadding = 146;

      const scrollElement = document.scrollingElement ||
        document.documentElement;
      const scrollTop = scrollElement.scrollTop;
      const top = containerRect.top + scrollTop;
      const bottom =
        containerRect.bottom - this.$refs.categories.$el.children[0].offsetHeight + scrollTop;


      if (top < scrollTop + topPadding) {
        this.menu.isFixed = true;

        if (bottom < scrollTop + topPadding) {
          this.menu.isBottomed = true;
        } else {
          this.menu.isBottomed = false;
        }
      } else {
        this.menu.isFixed = false;
      }
    },

    initData() {
      this.listMode = 'list';
      this.SET_CURRENT_SERVICE({});
      this.SET_OPENED_SERVICE('');
      this.FETCH_SERVICES_STATISTICS({
        'params[studioId]': this.currentStudio.id,
      });
      this.FETCH_CATEGORIES().then(()=> {
        this.SET_SELECTED_CATEGORY(this.categories[0]);
        this.FETCH_SERVICES({
          'params[studioId]': this.currentStudio.id,
          'params[sectionId]': this.categories[0].id,
          view: 'desktop',
        });
      });

      if (window.App.dataset.service) {
        this.DELETE_SELECTED_SERVICE(window.App.dataset.service.toString());
        this.ADD_SELECTED_SERVICE(window.App.dataset.service.toString());
      }

      this.FETCH_SERVICES_DICTIONARY({
        'params[studioId]': this.currentStudio.id,
        view: 'desktop',
      });

      // Очищаем последний раздел, выбранный в записи
      if (this.isStandalone) {
        this.CLEAR_CURRENT_SERVICES();
      }
      this.SET_QUERY({
        type: 'services',
        value: '',
      });
    },

    setCoversCategory() {
      this.$modal.hide('service-modal');
      this.SET_CURRENT_SERVICE({});
      this.SET_SELECTED_CATEGORY({
        id: '3',
        name: 'Покрытия',
      });
      this.FETCH_SERVICES({
        'params[studioId]': this.currentStudio.id,
        'params[sectionId]': this.currentCategory.id,
        view: 'desktop',
      }).then(() => {
        this.listMode = 'list';
      });
    },

    toggleNextButton() {
      if (this.currentStepIndex === 1) {
        this.SET_NEXTBUTTON_DISABLED(true);
      } else {
        this.SET_NEXTBUTTON_DISABLED(false);
      }
    },

    handleSearchSubmit(query) {
      const params = {
        view: 'desktop',
        'params[studioId]': this.currentStudio.id,
        'params[page]': 'booking',
      };

      if (query.length > 0) {
        params['params[q]'] = query;
        this.listMode = 'search';
        this.SEARCH_SERVICES(params);
      } else {
        this.FETCH_SERVICES({
          'params[studioId]': this.currentStudio.id,
          'params[sectionId]': this.currentCategory.id,
          view: 'desktop',
        }).then(() => {
          this.listMode = 'list';
        });
      }
    },

    closeModal() {
      this.$modal.hide('service-modal');
    },
  },
};
</script>
