<template lang="pug">
  .booking-steps(:class="{'_fixed': isFixed}")
    .booking-steps__content(ref="steps")
      .booking-steps__next
        button.button._basket._call-to-action(
          :disabled="isNextButtonDisabled"
          @click="handleNextClick"
          v-if="currentStepView != 'Contacts' || currentState === 'Studios'"
        )
          span Продолжить
          Icon.button__icon(
            name="next"
            fill="#ffffff"
            width="10"
            height="7"
          )
      .booking-steps__container
        .booking-steps__item(
          :class="[{'_active': currentState === 'Studios'}, {'_complete': currentState != 'Studios'}]"
        )
          .booking-steps__top
            .booking-steps__index 1
            .booking-steps__title выбор студии
          .booking-steps__details
            StudiosStepDetails(
              :isFixed="isFixed"
            )
        .booking-steps__item(
          :class="[{'_active': currentStepIndex === 1 && currentState != 'Studios'}, {'_complete': currentStepIndex > 1}]"
        )
          .booking-steps__top
            .booking-steps__index 2
            .booking-steps__title Выбор услуги
          .booking-steps__details
            ServicesStepDetails(
              v-if="currentStudio.id"
              :isFixed="isFixed"
            )
        .booking-steps__item(
          :class="[{'_active': currentStepIndex === 2}, {'_complete': currentStepIndex > 2}]"
        )
          .booking-steps__top
            .booking-steps__index 3
            .booking-steps__title Дата и мастер
          .booking-steps__details
            MastersStepDetails(
              v-if="master.id && date"
              :isFixed="isFixed"
            )
        .booking-steps__item(
          :class="[{'_active': currentStepIndex === 3}, {'_complete': currentStepIndex > 3}]"
        )
          .booking-steps__top
            .booking-steps__index 4
            .booking-steps__title Оформление
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';
import StudiosStepDetails from 'Js/desktop/vue/booking/StudiosStepDetails';
import ServicesStepDetails from 'Js/desktop/vue/booking/ServicesStepDetails';
import MastersStepDetails from 'Js/desktop/vue/booking/MastersStepDetails';

export default {
  components: { Icon, StudiosStepDetails, ServicesStepDetails, MastersStepDetails },

  data() {
    return {
      isFixed: false,
    };
  },

  computed: {
    ...mapState({
      currentState: state => state.booking.currentState,
      currentStepIndex: state => state.booking.currentStep.index,
      currentStepView: state => state.booking.currentStep.view,
      isNextButtonDisabled: state => state.booking.isNextButtonDisabled,
      currentStudio: state => state.order.currentStudio.data,
      master: state => state.order.master,
      date: state => state.order.date,
    }),

    ...mapGetters(['orderServices']),
  },

  mounted() {
    this.positionSelf();
    document.addEventListener('scroll', this.positionSelf);
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.positionSelf);
  },

  methods: {
    ...mapMutations(['SET_CURRENT_STEP_VIEW', 'SET_CURRENT_STATE']),
    ...mapActions(['SET_CURRENT_STEP']),

    positionSelf() {
      const rect = this.$refs.steps.getBoundingClientRect();
      const elemTop = rect.top;
      const scrollElement = document.scrollingElement ||
        document.documentElement;
      const scrollTop = scrollElement.scrollTop

      this.isFixed = elemTop < scrollTop;
    },

    handleNextClick() {
      if (!this.isNextButtonDisabled) {
        if (this.currentState != 'Studios') {
          switch (this.currentStepView) {
            case 'Services':
              if (!this.checkRequired()) {
                this.$modal.show('service-modal', { view: 'covers' });
              } else {
                this.SET_CURRENT_STEP('Masters');
              }
              break;

            case 'Masters':
              this.SET_CURRENT_STEP('Contacts');
              break;

            default:
          }
        }
        this.SET_CURRENT_STATE('Order');
      }
    },

    checkRequired() {
      let servicesWithDependancies = [];

      this.orderServices.forEach((caller) => {
        if (caller.requiredOneOf.length) {
          servicesWithDependancies.push(caller.id)
          this.orderServices.forEach((callee) => {
            if (caller.requiredOneOf.indexOf(callee.id) != -1) {
              servicesWithDependancies =
                servicesWithDependancies.filter((serviceId) => serviceId != caller.id);
            }
          });
        }
      });

      return !servicesWithDependancies.length;
    },

    setCoversCategory() {
      this.$modal.hide('service-modal');
      this.SET_CURRENT_SERVICE({});
      this.SET_SELECTED_CATEGORY({
        id: '3',
        name: 'Покрытия',
      });
      this.FETCH_SERVICES({
        'params[studioId]': this.currentStudio.id,
        'params[sectionId]': this.currentCategory.id,
      });
    },
  },
};
</script>
