<template lang="pug">
  .booking-studio-stats
    .booking-studio-stats__top
      .booking-studio-stats__item(
        @click="$emit('showGallery')"
      )
        Icon(
          name="photo"
          fill="#f59282"
          width="20"
          height="20"
        ).booking-studio-stats__icon
      .booking-studio-stats__item(
        @click="$emit('showMap')"
      )
        Icon(
          name="pin"
          fill="#f59282"
          width="16"
          height="19"
        ).booking-studio-stats__icon
    .booking-studio-stats__bottom
      .booking-studio-stats__item(v-if="studio.hasPedicure")
        Icon(
          name="foot"
          stroke="#4d525c"
          width="19"
          height="18"
        ).booking-studio-stats__icon
      .booking-studio-stats__item(v-if="studio.work24hours")
        Icon(
          name="24"
          fill="#4d525c"
          width="21"
          height="23"
        ).booking-studio-stats__icon._24
</template>

<script>
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    studio: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>
