<template lang="pug">
  .booking-studios-list
    StudioGallery
    StudioMapModal
    ServiceModal(
      @click="handleStudioSelect"
    )
    .booking-studios-list__title(v-if="!studios.isFetching && !isAnyStudio") К сожалению, ничего не найдено
    .booking-studios-list__title(v-else) выберите студию
    template(v-if="!studiosSome || !studiosSome.length")
      .booking-studios-list__container
        StudioItem(
          v-for="studio in studiosAll"
          :key="studio.id"
          :studio="studio"
          :is-active="currentStudioId === studio.id"
          @change="handleStudioSelect"
        )
    template(v-else)
      .booking-studios-list__subtitle Студии, в которых оказываются все выбранные услуги:
      .booking-studios-list__container
        StudioItem(
          v-for="studio in studiosAll"
          :key="studio.id"
          :studio="studio"
          :is-active="currentStudioId === studio.id"
          @change="handleStudioSelect"
        )
      .booking-studios-list__subtitle Студии, в которых оказываются не все выбранные услуги:
      .booking-studios-list__container
        StudioItem(
          v-for="studio in studiosSome"
          :key="studio.id"
          :studio="studio"
          :is-active="currentStudioId === studio.id"
          @change="callSomeStudiosModal"
        )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import StudioItem from 'Js/desktop/vue/booking/StudioItem';
import StudioGallery from 'Js/desktop/vue/booking/StudioGallery';
import StudioMapModal from 'Js/desktop/vue/booking/StudioMapModal';
import ServiceModal from 'Js/desktop/vue/booking/ServiceModal';

export default {
  components: {
    StudioItem,
    StudioGallery,
    StudioMapModal,
    ServiceModal,
  },

  data() {
    return {
      showNotFound: false,
    };
  },

  computed: {
    ...mapState({
      studios: state => state.booking.studios,
      studiosAll: state => state.booking.studios.data.supplyAllServices,
      studiosSome: state => state.booking.studios.data.supplySomeServices,
      currentStudioId: state => state.order.currentStudio.data.id,
      showAvailabilityPopup: state => state.booking.showAvailabilityPopup,
    }),

    isAnyStudio() {
      if ((this.studiosSome && this.studiosSome.length) || (this.studiosAll && this.studiosAll.length)) {
        return true;
      }
      return false;
    },
  },

  created() {
    this.getStudios({
      view: 'desktop',
    }).then(() => {
      if (this.showAvailabilityPopup) {
        this.$modal.show('service-modal', { view: 'not-available-service' });
        this.SET_AVAILABILITY_POPUP(false);
      }
    });
  },

  methods: {
    ...mapActions(['FETCH_STUDIOS', 'SELECT_STUDIO']),

    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_CURRENT_SERVICE',
      'SET_AVAILABILITY_POPUP',
    ]),

    handleStudioSelect(studio) {
      this.SET_CURRENT_SERVICE({});
      this.SELECT_STUDIO(studio);
      this.SET_CURRENT_STATE('Order');
    },

    callSomeStudiosModal(studio) {
      this.$modal.show('service-modal', {
        view: 'some-studios',
        studio
      });
    },

    getStudios(params) {
      return this.FETCH_STUDIOS(params).then((res) => {
        if (!res.supplyAllServices.length && !res.supplySomeServices.length) {
          this.showNotFound = true;
        } else {
          this.showNotFound = false;
        }
      });
    },
  },
};
</script>
