<template lang="pug">
  modal(
    height="500px"
    width="1180px"
    name="studio-map"
    @before-open="beforeOpen"
  )
    .booking-studio-map-modal
      .booking-studio-map-modal__close
        Icon(
          name="close"
          stroke="#ffffff"
          width="18"
          height="18"
          @click.native="$modal.hide('studio-map')"
        )
      .booking-studio-map-modal__map-wrapper
        .booking-studio-map-modal__map(ref="ymap")
          StudioMap(
            :studio="studio"
          )
      .booking-studio-map-modal__text-block
        StudioAbout(:studio="studio", view="studio-map")
</template>

<script>
import getScript from 'Js/helpers/getScript';
import Icon from 'Js/desktop/vue/general/Icon';
import StudioAbout from 'Js/desktop/vue/general/StudioAbout';
import StudioMap from 'Js/desktop/vue/general/StudioMap';

const ymapUrl = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

export default {
  components: { Icon, StudioAbout, StudioMap },

  data() {
    return {
      map: {},
      studio: {
        metro: {},
        address: {},
        phone: {},
      },
      pinOptions: {
        iconLayout: 'default#imageWithContent',
        iconImageHref: '',
        iconImageSize: [34, 36],
        iconImageOffset: [-17, -36],
        iconContentLayout: {},
      },
    };
  },

  methods: {
    async init() {
      try {
        window.ymaps = await this.initScript();
        this.createMap();
      } catch (error) {
        alert(error);
      }
    },

    initScript() {
      return new Promise((resolve, reject) => {
        if (window.ymaps) {
          resolve(window.ymaps);
        } else {
          getScript(ymapUrl)
            .then(() => window.ymaps.ready(() => resolve(window.ymaps)))
            .catch(reject);
        }
      });
    },

    createMap() {
      const center = [this.studio.coordinates.lat, this.studio.coordinates.lng];
      const map = new window.ymaps.Map(this.$refs.ymap, {
        center,
        zoom: 15,
        controls: ['zoomControl'],
      });

      const color = this.studio.metro ? this.studio.metro.color : 'f59282'

      this.pinOptions.iconContentLayout = window.ymaps.templateLayoutFactory.createClass(`
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="36" viewBox="0 0 44 48">
          <path fill="#ffffff" d="M22,4A18,18,0,0,1,40,22v2A18,18,0,0,1,4,24V22A18,18,0,0,1,22,4Z"/>
          <path fill="#${color}" class="map-pin" d="M37.447,37.665c-5.2,5.125-7.941,3.664-14.032,9.754a2.014,2.014,0,0,1-2.829,0c-6.09-6.09-8.835-4.629-14.032-9.754A22,22,0,1,1,37.447,37.665ZM22,6.028A15.986,15.986,0,1,0,37.986,22.015,15.986,15.986,0,0,0,22,6.028ZM22,30a7.987,7.987,0,1,1,7.985-7.986A7.985,7.985,0,0,1,22,30Z"/>
        </svg>
      `);

      this.map = map;
      this.map.geoObjects.add(new window.ymaps.Placemark(center, {}, {
        ...this.pinOptions,
      }));
    },

    beforeOpen(event) {
      this.studio = event.params.studio;
    },
  },
};
</script>
