<template lang="pug">
  .booking-studios-map(:class="{'_expanded': isExpanded}")
    .booking-studios-map__content
      .booking-studios-map__caller(@click="handleExpand")
        Icon(
          name="expand"
          fill="#ffffff"
          width="8"
          height="13"
        ).booking-studios-map__caller-icon
        .booking-studios-map__caller-text
          span(v-if="!isExpanded") показать на карте
          span(v-else) свернуть карту
      .booking-studios-map__balloon(
        ref="balloon"
      )
        StudioBalloon(
          v-if="activeStudio.name"
          :studio="activeStudio"
        )
      .booking-studios-map__map-wrapper
        .booking-studios-map__map(ref="ymap")
</template>

<script>
import { mapState } from 'vuex';
import getScript from 'Js/helpers/getScript';
import Icon from 'Js/desktop/vue/general/Icon';
import StudioBalloon from 'Js/desktop/vue/booking/StudioBalloon';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

const ymapUrl = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

export default {
  components: { StudioBalloon, Icon },

  props: {
    isExpanded: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      map: {},
      activePlacemark: {},
      activeStudio: {},
      pinOptions: {
        iconLayout: 'default#imageWithContent',
        iconImageHref: '',
        iconImageSize: [34, 36],
        iconImageOffset: [-17, -36],
        iconContentLayout: {},
        pane: 'balloon',
      },
    };
  },

  computed: {
    ...mapState({
      studiosAll: state => state.booking.studios.data.supplyAllServices,
      currentStudioId: state => state.order.currentStudio.data.id,
    }),
  },

  mounted() {
    if (window.ymaps) {
      ymaps.ready(() => {
        this.createMap();
      });
    } else {
      this.init();
    }
  },

  watch: {
    studiosAll() {
      if (window.ymaps && this.map) {
        ymaps.ready(() => {
          this.setPlacemarks();
        });
      }
    },
  },

  methods: {
    async init() {
      try {
        window.ymaps = await this.initScript();
        this.createMap();
      } catch (error) {
        alert(error);
      }
    },

    initScript() {
      return new Promise((resolve, reject) => {
        if (window.ymaps) {
          resolve(window.ymaps);
        } else {
          getScript(ymapUrl)
            .then(() => window.ymaps.ready(() => resolve(window.ymaps)))
            .catch(reject);
        }
      });
    },

    setPlacemarks() {
      if (!window.ymaps.Placemark) {
        return;
      }

      if (this.map.geoObjects) {
        this.map.geoObjects.removeAll();
      }

      this.studiosAll.forEach((item) => {

        const coordinates = [item.coordinates.lat, item.coordinates.lng];

        const color = item.metro ? item.metro.color : 'f59282'

        this.pinOptions.iconContentLayout = window.ymaps.templateLayoutFactory.createClass(`
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="36" viewBox="0 0 44 48">
            <path fill="#ffffff" d="M22,4A18,18,0,0,1,40,22v2A18,18,0,0,1,4,24V22A18,18,0,0,1,22,4Z"/>
            <path fill="#${color}" class="map-pin" d="M37.447,37.665c-5.2,5.125-7.941,3.664-14.032,9.754a2.014,2.014,0,0,1-2.829,0c-6.09-6.09-8.835-4.629-14.032-9.754A22,22,0,1,1,37.447,37.665ZM22,6.028A15.986,15.986,0,1,0,37.986,22.015,15.986,15.986,0,0,0,22,6.028ZM22,30a7.987,7.987,0,1,1,7.985-7.986A7.985,7.985,0,0,1,22,30Z"/>
          </svg>
        `);

        const balloonLayout = window.ymaps.templateLayoutFactory.createClass(
          `<div class="map-balloon"></div>`,
        );

        const placemark = new window.ymaps.Placemark(coordinates, {}, {
          zIndexActive: 9999,
          balloonShadow: false,
          balloonLayout,
          hideIconOnBalloonOpen: false,
          ...this.pinOptions,
        })

        placemark.events.add('balloonopen', e => this.placemarkClickHandler(e, item));

        this.map.geoObjects.add(placemark);
      });

      if (this.map.geoObjects.length) {
        this.map.setBounds(this.map.geoObjects.getBounds(), { checkZoomRange: true });
      }

      this.map.events.add('click', () => {
        this.map.balloon.close();
      });
    },

    createMap() {
      const moscow = [55.83367, 37.617874];
      const map = new window.ymaps.Map(this.$refs.ymap, {
        center: moscow,
        zoom: 10,
        controls: ['zoomControl'],
      });

      this.map = map;
    },

    placemarkClickHandler(e, studio) {
      this.activePlacemark = e.get('target');

      this.activeStudio = studio;

      const container = this.$refs.ymap.querySelector('.map-balloon');

      container.append(this.$refs.balloon)
    },

    handleExpand() {
      this.isExpanded = !this.isExpanded;
      this.$nextTick(() => {
        this.map.container.fitToViewport(true);
        this.map.setBounds(this.map.geoObjects.getBounds(), { checkZoomRange: true });
      });

      yaMetricsSendEvent('studios-map-click');
      gaSendEvent('studios-map-click');
    },
  },
};
</script>
