<template lang="pug">
  .step-details(
    :class="[{'_fixed': isFixed}, {'_active': isActive}]"
    @click="handleReturnToStudios"
  )
    template(v-if="!isFixed")
      .step-details__studio(v-if="currentStudio")
        .step-details__studio-name {{ currentStudio.name }}
        .step-details__metro(v-if="currentStudio.metro")
          Icon(
            name="metro-d"
            :fill="`#${currentStudio.metro.color}`"
            width="16"
            height="11"
          ).step-details__metro-icon
          .step-details__metro-name {{ currentStudio.metro.name }}
      .step-details__action(
        v-if="isActive"
      )
        Icon(
          name="edit"
          fill="#f59282"
          width="12"
          height="12"
        ).step-details__action-icon
        span Выбрать другую студию
    template(v-else)
      .step-details__studio(v-if="currentStudio")
        .step-details__studio-name
          span {{ currentStudio.name }}
          Icon(
            v-if="isActive"
            name="edit"
            fill="#f59282"
            width="12"
            height="12"
          ).step-details__action-icon
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    isFixed: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    ...mapState({
      currentState: state => state.booking.currentState,
      currentStudio: state => state.order.currentStudio.data,
    }),

    isActive() {
      return this.currentStudio && this.currentState != 'Studios';
    },
  },

  watch: {
    currentStudio(studio) {
      this.toggleNextButton();
    }
  },

  created() {
    this.toggleNextButton();
  },

  methods: {
    ...mapActions(['SELECT_STUDIO']),

    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_CURRENT_SERVICE',
      'SET_NEXTBUTTON_DISABLED',
    ]),

    handleReturnToStudios() {
      if (this.isActive) {
        this.SET_CURRENT_STATE('Studios');
      }
    },

    toggleNextButton() {
      if (this.currentStudio.name) {
        this.SET_NEXTBUTTON_DISABLED(false);
      } else {
        this.SET_NEXTBUTTON_DISABLED(true);
      }
    },
  },
};
</script>
