<template lang="pug">
  .booking-studio
    .booking-studio__inner
      a.booking-studio__gallery(
        v-if="isStandalone"
        :href="studio.url"
      )
        img(
          :src="studio.images['1x']"
          :srcset="`${studio.images['2x']} 2x`"
          :alt="studio.name"
        ).booking-studio__image
        .booking-studio__metro-icon-circle(v-if="studio.metro")
          Icon(
            name="metro-d"
            :fill="`#${studio.metro.color}`"
            width="16"
            height="11"
          ).booking-studio__metro-icon
      a.booking-studio__gallery(v-else)
        img(
          :src="studio.images['1x']"
          :srcset="`${studio.images['2x']} 2x`"
          :alt="studio.name"
          @click="handleStudioSelect(studio)"
        ).booking-studio__image
        .booking-studio__metro-icon-circle(v-if="studio.metro")
          Icon(
            name="metro-d"
            :fill="`#${studio.metro.color}`"
            width="16"
            height="11"
          ).booking-studio__metro-icon
      .booking-studio__stats
        StudioStats(
          :studio="studio"
          @showGallery="handleShowGallery"
          @showMap="handleShowMap"
        )
      .booking-studio__info
        .booking-studio__metro-info
          template(v-if="studio.metro")
            .booking-studio__metro-name {{ studio.metro.name }}
          .booking-studio__metro-distance {{ distance }}
        .booking-studio__name(
          v-if="!isStandalone"
          @click="handleStudioSelect(studio)"
        ) {{ studio.name }}
        a.booking-studio__name(
          v-else
          :href="studio.url"
        ) {{ studio.name }}
        .booking-studio__masters: b Сейчас в смене {{ studio.availableMasters }} {{ masters }}
        .booking-studio__button(v-if="!isStandalone")
          button.button._white._studio._call-to-action._inverse(
            :class="{'_active': isActive}"
            @click="handleStudioSelect(studio)"
          )
            span(v-if="isActive") студия выбрана
            span(v-else) Выбрать
        .booking-studio__button(v-else)
          a.button._white._studio._call-to-action._inverse(
            :href="`/booking/?studio=${studio.id}`"
          ) Записаться
      .booking-studio__footer
        .booking-studio__address
          span {{ studio.address.raw }}
          span &nbsp;|&nbsp;{{ studio.workTime }}
        .booking-studio__footer-bottom
          .booking-studio__phone
            a(:href="`tel:${studio.phone.canonical}`") {{ studio.phone.formatted }}
          a.booking-studio__more(
            v-if="isStandalone",
            :href="studio.url"
          ) Подробнее о студии
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import morphHelper from 'Js/helpers/morphHelper';
import Icon from 'Js/desktop/vue/general/Icon';
import StudioStats from 'Js/desktop/vue/booking/StudioStats';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: { Icon, StudioStats },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
    studio: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    ...mapState({
      isStandalone: state => state.booking.standalone,
    }),

    masters() {
      return morphHelper('мастер', 'мастера', 'мастеров', this.studio.availableMasters);
    },

    distance() {
      if (this.studio.distance) {
        const distance = this.studio.distance,
          formatter = new Intl.NumberFormat('ru-RU', { minimumFractionDigits: 0, maximumFractionDigits: 1 });

        return distance > 999
          ? formatter.format(distance / 1000).replace(/,/g, '.') + ' км'
          : distance.replace(/,/g, '.') + ' м';
      }

      return '';
    }
  },

  methods: {
    ...mapActions(['SELECT_STUDIO']),

    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_CURRENT_SERVICE',
    ]),

    callSomeStudiosModal(studioId) {
      this.$modal.show('service-modal', {
        view: 'some-studios',
        studioId
      });
    },

    handleStudioSelect(studio) {
      yaMetricsSendEvent('studios-list-booking-click');
      gaSendEvent('studios-list-booking-click');

      if (this.isStandalone) {
        window.location.replace(`/booking/?studio=${this.studio.id}`);
      } else {
        this.$emit('change', this.studio);
      }
    },

    handleShowGallery() {
      this.$modal.show('studio-gallery', { studio: this.studio });

      yaMetricsSendEvent('studios-info-popup-click');
      gaSendEvent('studios-info-popup-click');
    },

    handleShowMap() {
      this.$modal.show('studio-map', { studio: this.studio });

      yaMetricsSendEvent('studios-map-popup-click');
      gaSendEvent('studios-map-popup-click');
    },
  }
};
</script>
