<template lang="pug">
  .booking-studios-filters
    .booking-studios-filters__search
      Search(
        view="studios"
        placeholder="Введите название ТЦ или станции метро"
        queryType="studios"
      )
    .booking-studios-filters__pedicure
      Checkbox(
        :checked="onlyPedicure"
        @change="onlyPedicure = !onlyPedicure"
      ).booking-studios-filters__checkbox
      Icon(
        name="foot"
        stroke="#f59282"
        width="22"
        height="21"
        @click.native="onlyPedicure = !onlyPedicure"
      ).booking-studios-filters__icon
      .booking-studios-filters__pedicure-title(
        @click="onlyPedicure = !onlyPedicure"
      ) С педикюрными креслами
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import Icon from 'Js/desktop/vue/general/Icon';
import Search from 'Js/desktop/vue/general/Search';
import Checkbox from 'Js/desktop/vue/general/Checkbox';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: { Icon, Search, Checkbox },

  data() {
    return {
      onlyPedicure: false,
    };
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.studios,
    }),
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  created() {
    this.SET_QUERY({
      type: 'studios',
      value: '',
    });
  },

  methods: {
    ...mapMutations(['SET_QUERY']),
    ...mapActions(['FETCH_STUDIOS']),

    handleSearchSubmit(query) {
      const params = {
        view: 'desktop',
      };

      if (query.length > 0) {
        params['params[q]'] = query;
      }

      this.FETCH_STUDIOS(params);

      yaMetricsSendEvent('studios-search');
      gaSendEvent('studios-search');
    },
  },
};
</script>
