<template lang="pug">
  modal(
    height="585px"
    width="1180px"
    name="studio-gallery"
    @before-open="beforeOpen"
  )
    .booking-studio-gallery
      .booking-studio-gallery__close
        Icon(
          name="close"
          stroke="#ffffff"
          width="18"
          height="18"
          @click.native="$modal.hide('studio-gallery')"
        )
      .booking-studio-gallery__slider
        GallerySlider(:studio="studio")
      .booking-studio-gallery__text-block
        StudioAbout(:studio="studio")
</template>

<script>
import GallerySlider from 'Js/desktop/vue/general/GallerySlider';
import Icon from 'Js/desktop/vue/general/Icon';
import StudioAbout from 'Js/desktop/vue/general/StudioAbout';

export default {
  components: { Icon, GallerySlider, StudioAbout },

  data() {
    return {
      studio: {
        metro: {},
        address: {},
        phone: {},
      },
    };
  },

  methods: {
    beforeOpen(event) {
      this.studio = event.params.studio;
    },
  },
};
</script>
