<template lang="pug">
  .booking-studios-balloon
    .booking-studios-balloon__content
      .booking-studios-balloon__image-wrapper
        img(
          :src="studio.images['1x']"
          :srcset="`${studio.images['2x']} 2x`"
          :alt="studio.name"
        ).booking-studios-balloon__image
      .booking-studios-balloon__text-block
        StudioAbout(:studio="studio", view="studio-balloon")
</template>

<script>
import StudioAbout from 'Js/desktop/vue/general/StudioAbout';

export default {
  components: { StudioAbout },

  props: {
    studio: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>
