<template lang="pug">
  .booking-studios
    .booking-studios__content
      .booking-studios__top
        section.booking-studios__filters
          StudiosFilters
      section.booking-studios__map
        StudiosMap(
          :isExpanded="showMap"
        )
      section.booking-studios__list
        StudiosList
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import StudiosFilters from 'Js/desktop/vue/booking/StudiosFilters';
import StudiosList from 'Js/desktop/vue/booking/StudiosList';
import StudiosMap from 'Js/desktop/vue/booking/StudiosMap';

export default {
  components: {
    StudiosFilters,
    StudiosList,
    StudiosMap,
  },

  props: {
    dataset: {
      type: Object,
      default: () => ({}),
    }
  },

  data() {
    return {
      showMap: false,
    };
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      isStandalone: state => state.booking.standalone,
    }),
  },

  watch: {
    currentStudio(studio) {
      this.toggleNextButton();
    }
  },

  created() {
    this.SET_STANDALONE(this.dataset.standalone === 'true');
    if (this.isStandalone) {
      this.showMap = (this.dataset.state === 'map');
    }
    this.toggleNextButton();
  },

  methods: {
    ...mapMutations([
      'SET_STANDALONE',
      'SET_NEXTBUTTON_DISABLED',
    ]),

    toggleNextButton() {
      if (this.currentStudio.name) {
        this.SET_NEXTBUTTON_DISABLED(false);
      } else {
        this.SET_NEXTBUTTON_DISABLED(true);
      }
    },
  },
};
</script>
