<template lang="pug">
  .booking-success
    ServiceModal(
      @confirm="cancelOrder"
      @close="closeModal"
    )
    a.booking-success__back(href="/")
      span &larr;
      span на главную
    .booking-success__title: span Поздравляем!
    .booking-success__content
      .booking-success__top
        .booking-success__left
          .booking-success__announce
            | Вы успешно записались
            br
            | на&nbsp;
            span.booking-success__date {{ dateFormatted }}
          .booking-success__details
            .booking-success__metro(v-if="currentStudio.metro")
              Icon(
                name="metro-d"
                :fill="`#${currentStudio.metro.color}`"
                width="16"
                height="11"
              ).booking-success__metro-icon
              .booking-success__metro-name {{ currentStudio.metro.name }}
            .booking-success__studio-info {{ currentStudio.address.raw }}
              span.booking-success__work-time &nbsp;| {{ currentStudio.workTime }}
            .booking-success__phones
              a(:href="`tel:+${currentStudio.phone.canonical}`").booking-success__phone
                .booking-success__phone-icon-wrapper
                  Icon.booking-success__phone-icon(
                    name="phone"
                    fill="#c8c8cc"
                    width="28"
                    height="27"
                  )
                .booking-success__phone-text
                  .booking-success__phone-number {{ currentStudio.phone.formatted }}
                  .booking-success__work-time {{ currentStudio.workTime }}
              a(href="tel:+79031130010").booking-success__phone
                .booking-success__phone-icon-wrapper
                  Icon.booking-success__phone-icon(
                    name="wa"
                    fill="#76cd16"
                    width="30"
                    height="30"
                  )
                .booking-success__phone-text
                  .booking-success__phone-number +7 (903) 113-00-10
                  .booking-success__wa-title WhatsApp
        .booking-success__right
          StudioMap(:studio="currentStudio")
      .booking-success__services(v-if="orderServices.length")
        .booking-success__service(v-for="service in orderServices")
          .booking-success__service-name {{ service.fullName }}
          .booking-success__service-time {{ serviceDuration(service.duration) }}
          .booking-success__service-price {{ service.price }}&nbsp;руб.
        .booking-contacts__service(v-if="extra")
          .booking-contacts__top-master Топ-мастер
          .booking-contacts__extra + {{ extra }}&nbsp;руб.
      .booking-success__services(v-else)
        b Вы оформлили запись без выбора услуг.
        div Для вас зарезервирован 1 час. Конкретную услугу вы выберете в студии.
      .booking-success__result(v-if="orderServices.length")
        .booking-success__master Мастер: {{ master.name }}
        .booking-success__mutual-time {{ duration.formatted }}
        .booking-success__mutual-price {{ price.raw }} руб.
      .booking-success__result(v-else)
         .booking-success__master._only Мастер: {{ master.name }}
      .booking-success__top-master-notification(v-if="master.name === 'Любой мастер' && response.isTopMasterSelected")
        Icon.booking-success__note-icon(
          name="attention"
          width="16"
          height="16"
        )
        span.booking-success__note
          | Обратите внимание, что был выбран ТОП-мастер,
          | поэтому цена изменилась.
    .booking-success__footer
      template(v-if="cancel")
        .booking-success__cancel-notification
          span.booking-success__cancel-note
            | Ваш заказ отменен.
      template(v-else)
        .booking-success__cancel-notification
          span.booking-success__cancel-note
            | Если вы ошиблись в данных, можете
            | отменить запись, нажав на кнопку ниже.
        .booking-success__cancel-order
          button.button._white(@click="cancelOrderConfirm"): span Отменить запись
</template>
<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import ServiceModal from 'Js/desktop/vue/booking/ServiceModal';
import Icon from 'Js/desktop/vue/general/Icon';
import StudioMap from 'Js/desktop/vue/general/StudioMap';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    ServiceModal,
    StudioMap,
    Icon,
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      master: state => state.order.master,
      response: state => state.order.response.data,
      cancel: state => state.order.cancel,
    }),
    ...mapGetters(['duration', 'price', 'orderServices']),

    dateFormatted() {
      const currentDate = new Date(this.response.timestamp * 1000);
      const options = {
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      };
      return currentDate.toLocaleString('ru', options).replace(', ', ' в ');
    },

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.master.level) {
            extra += service.prices[this.master.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  created() {
    yaMetricsSendEvent('booking-success');
    gaSendEvent('booking-success', {event_category: 'booking'});
  },

  mounted() {
    if (this.cancel === true) {
      this.CLEAR_STORE();
    }
  },

  methods: {
    ...mapActions(['CANCEL_ORDER', 'CLEAR_STORE']),

    cancelOrderConfirm() {
      this.$modal.show('service-modal', { view: 'cancel' });

      yaMetricsSendEvent('booking-cancel-click');
      gaSendEvent('booking-cancel-click');
    },

    cancelOrder() {
      this.CANCEL_ORDER({
        params: {
          id: this.response.id
        }
      }).then(() => {
        this.$modal.hide('service-modal');
      });
    },

    closeModal() {
      this.$modal.hide('service-modal');
    },

    backToMain() {
      window.location.href = '/';
    },

    serviceDuration(duration) {
      if (duration) {
        const hours = Math.floor(duration / 60);
        const minutes = duration % 60;

        return `${hours ? `${hours} ч. ` : ''}${minutes ? `${minutes} мин.` : ''}`;
      }

      return '';
    },
  },
};
</script>
