extends /mobile/includes/layout

include /mobile/mixins/section/career-text
include /mobile/mixins/section/career-form

block variables
  - const title = 'Хотите построить карьеру с нами?'

block main
  main.main._career
    +img('career-bg.jpg')(alt='image').main__bg._top
    h1.main__title._career: span
      | Хотите построить
      br
      | карьеру с нами?
    section.section: +career-text
    section.section: +career-form
