extends /mobile/includes/layout

include /mobile/mixins/section/category-list

block variables
  - const title = 'Услуги'

block main
  main.main._category
    .breadcrumbs
      a(href=$.JSV).breadcrumbs__link Все услуги
    +img('category-bg-1.jpg')(alt='image').main__bg._top
    +img('category-bg-2.jpg')(alt='image').main__bg._bottom
    h1.main__title: span маникюр
    section.section: +category-list
