extends /mobile/includes/layout

include /mobile/mixins/section/franchise-text
include /mobile/mixins/section/franchise-form

block variables
  - const title = 'Франшиза Мастерской маникюра'

block main
  main.main
    +img('franchise-bg.jpg')(alt='image').main__bg._top
    h1.main__title._franchise: span
      | Франшиза
      br
      | Мастерской маникюра
    section.section: +franchise-text
    section.section: +franchise-form
