extends /mobile/includes/layout

include /mobile/mixins/section/title-block-alt
include /mobile/mixins/section/title-block_all-once
include /mobile/mixins/section/nearest-studio
include /mobile/mixins/section/advantageous-offers
include /mobile/mixins/section/popular-services

block variables
  - const title = 'Главная страница'

block main
  main.main
    section.section: +title-block_all-once
    section.section: +nearest-studio
    section.section: +advantageous-offers
    section.section: +popular-services
