extends /mobile/includes/layout

include /mobile/mixins/section/title-block
include /mobile/mixins/section/nearest-studio
include /mobile/mixins/section/advantageous-offers
include /mobile/mixins/section/portfolio
include /mobile/mixins/section/gallery
include /mobile/mixins/section/popular-services
include /mobile/mixins/section/subscribe
include /mobile/mixins/section/seo

block variables
  - const title = 'Главная страница'

block main
  main.main
    section.section: +title-block
    section.section: +nearest-studio
    section.section: +advantageous-offers
    section.section: +portfolio
    section.section: +gallery
    section.section: +popular-services
    section.section: +subscribe
    section.section: +seo
