extends /mobile/includes/layout

block variables
  - const title = 'Готовые страницы'

block main
  main.main
    .markup-list
      a(href="/dist/index.html", target="_blank").markup-list__item Главная (index.html)
      a(href="/dist/index-alt.html", target="_blank").markup-list__item Главная альтернативная (index-alt.html)
      a(href="/dist/services.html", target="_blank").markup-list__item Услуги (services.html)
      a(href="/dist/category.html", target="_blank").markup-list__item Категория (category.html)
      a(href="/dist/service.html", target="_blank").markup-list__item Услуга (service.html)
