extends /mobile/includes/layout

include /mobile/mixins/section/services-menu
include /mobile/mixins/coockies

block variables
  - const title = 'Услуги'

block main
  main.main._services
    +coockies
    +img('services-bg-1.jpg')(alt='image').main__bg._top
    +img('services-bg-2.jpg')(alt='image').main__bg._bottom
    h1.main__title: span Услуги и цены
    section.section: +services-menu
