extends /mobile/includes/layout

include /mobile/mixins/section/service-detail
include /mobile/mixins/section/service-steps
include /mobile/mixins/section/service-testimonials-list
include /mobile/mixins/section/service-testimonials-form

block variables
  - const title = 'Классический / Европейский с покрытием'

block main
  main.main
    .breadcrumbs
      a(href=$.JSV).breadcrumbs__link Маникюр
    section.section: +service-detail
    section.section: +service-steps
    section.section: +service-testimonials-list
    section.section: +service-testimonials-form
