@font-face
  font-family 'Rouble Webfont'
  src url("~@/font/rouble-webfont.woff") format("woff")
  font-weight normal
  font-style normal

@font-face
  font-family 'AvenirNextCyr'
  src url('~@/font/AvenirNextCyr-Thin.woff') format('woff')
  font-weight 200
  font-style normal

@font-face
  font-family 'AvenirNextCyr'
  src url('~@/font/AvenirNextCyr-Light.woff') format('woff')
  font-weight 300
  font-style normal

@font-face
  font-family 'AvenirNextCyr'
  src url('~@/font/AvenirNextCyr-Regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'AvenirNextCyr'
  src url('~@/font/AvenirNextCyr-Medium.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'AvenirNextCyr'
  src url('~@/font/AvenirNextCyr-Demi.woff') format('woff')
  font-weight 600
  font-style normal
