no-select()
  pointer-events none
  user-select none

a-reset()
  text-decoration none
  color inherit

ul-reset()
  list-style none
  margin 0
  padding 0

button-reset()
  background none
  border 0
  padding 0
  outline none
  cursor pointer

absolute-centered()
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  margin auto

default-font()
  line-height 1.15
  font-size 12px
  font-family Arial, Helvetica, sans-serif
  color #45484d
  text-align left

placeholder()
  &::-webkit-input-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
