include /mobile/mixins/offer-prices

mixin advantageous-offer
  .advantageous-offer
    .advantageous-offer__discont
      span -30
      sup %
    a(href=$.JSV).advantageous-offer__image-wrapper
      +img('service.jpg').advantageous-offer__image
    .advantageous-offer__text-block
      a(href=$.JSV).advantageous-offer__title Бразильская вечеринка
      .advantageous-offer__offer-prices
        +offer-prices({
          old: '2900',
          new: '2 300',
          profit: '500',
        })
      .advantageous-offer__properties
        ul
          li Японский маникюр Masura
          li Покрытие Infinite Shine
          li Крем Ботокс
    .advantageous-offer__controls
      a(href=$.JSV).button записаться сейчас
