include /mobile/mixins/offer-prices

mixin category-service(data)
  .category-service
    a(href=$.JSV).category-service__image-wrapper
      +img(data.img).category-service__image
    .category-service__price
      +offer-prices({
        new: '2 300'
      })
    .category-service__text-block
      a(href=$.JSV).category-service__title=data.title
      .category-service__properties
        .category-service__category Маникюр
        .category-service__time
          +icon('clocks').category-service__icon
          .category-service__time-amount 30 мин.
    a(href=$.JSV).category-service__link записаться сейчас
