mixin coockies
  .coockies
    .coockies__content
      .coockies__text
        | Продолжая использовать сайт nailsmaster.ru вы соглашаетесь на использование файлов
        | cookie. более подробную информацию можно найти в &nbsp;
        a(href=$.JSV) Политике cookie файлов
      .coockies__button
        a(href=$.JSV).button понятно
