mixin menu-footer
  .menu-footer
    .menu-footer__content
      .menu-footer__phone-block
        .menu-footer__phone-title Запись по телефону
        a(href="tel:+79966448798").menu-footer__phone + 7 (996) 644-87-98
      a.menu-footer__wa(href=$.JSV): +icon('wa').menu-footer__wa-icon(width=25 height=25)
