include /mobile/mixins/menu-footer

mixin menu(data)
  .menu
    a(href=$.JSV).menu__logo
      +icon('logo').menu__logo-icon(width=125 height=25)
    .menu__list
      each item in $.menu
        a.menu__link(
          href=item.link ? item.link: $.JSV
        )
          .menu__text=item.content
    .menu__footer
      +menu-footer()
