mixin offer-prices(data)
  .offer-prices
    .offer-prices__comparison
      if data.old
        .offer-prices__old=data.old
          | &nbsp;
        .offer-prices__new
          sub от&nbsp;
          span=data.new
            | &nbsp;
          sup руб.
      else
        .offer-prices__new
          b=data.new
            | &nbsp;
          sup руб.
    if data.profit
      .offer-prices__profit
        span Выгода
        span
          span=data.profit
          | &nbsp;руб.
