include /mobile/mixins/offer-prices

mixin popular-service
  .popular-service
    a(href=$.JSV).popular-service__image-wrapper
      +img('popular.jpg').popular-service__image
    .popular-service__price
      +offer-prices({
        new: '2 300'
      })
    .popular-service__text-block
      a(href=$.JSV).popular-service__title Бразильский: три вида
      .popular-service__time
        +icon('clocks').popular-service__icon
        .popular-service__time-amount 30 мин.
    .popular-service__controls
      a(href=$.JSV).button записаться сейчас
