.advantageous-offers

  &__content
    padding-top 22px

  &__slider-wrapper
    padding-bottom 73px

  &__slide
    width 206px
    opacity .5
    transition opacity .2s

    &.swiper-slide-active
      opacity 1

  .bullets
    position absolute
    bottom 42px
