.advantageous-offer
  position relative
  width 206px
  margin auto

  &__image-wrapper
    display inline-block
    width 206px
    height 206px
    border-radius 50%
    overflow hidden
    margin-bottom 11px
    text-decoration none

  &__image
    width 100%

  &__discont
    position absolute
    top 0
    right -1px
    width 60px
    height 60px
    background $skin
    border-radius 50%
    font-family $fontBody
    font-weight 500
    color #fff
    display flex
    align-items center
    justify-content center

    span
      font-size 19px

    sup
      position relative
      top -3px
      font-size 11px

  &__text-block,
  &__controls
    opacity 0
    visibility hidden
    transition opacity $AT

  &__title
    text-decoration none
    display inline-block
    font-family $fontHeader
    font-size 16px
    color $text
    margin-bottom 12px

  &__offer-prices
    margin-bottom 15px

  &__properties
    margin-bottom 21px

    ul
      ul-reset()

    li
      padding-left 26px
      position relative
      font-size 11px
      color #45484d

      &:before
        content ''
        position absolute
        top 5px
        left 0
        width 16px
        height 1px
        background $skin

    li + li
      margin-top 12px

.swiper-slide-active .advantageous-offer__text-block,
.swiper-slide-active .advantageous-offer__controls
  opacity 1
  visibility visible
