.booking-schedule
  padding-left 10px
  margin-bottom 6px

  &__group
    position relative
    padding 5px 0 0
    width 89%
    min-width 294px

    &:last-child
      min-width 100%

  &__group-title
    position absolute
    top 32px
    left 0px
    font-size 11px
    color #c4c6c9
    text-transform uppercase
    transform rotate(-90deg)

  &__slider-wrapper
    position relative

  &__controls
    display flex
    justify-content space-between
    padding 14px 0 11px
    margin-left -10px

  &__not-found
    padding 15px
    font-size 14px
    font-weight bold

  &__prev,
  &__next
    background none
    position relative
    top 0
    margin 0
    width auto
    height auto
    font-size 11px
    color #111
    font-weight bold
    text-transform uppercase
    padding 0 17px

    &:after
      content ''
      position absolute
      top 3px
      left 5px
      width 7px
      height 7px
      border-top 2px solid $skin
      border-right 2px solid $skin
      transform: rotate(45deg)

    &.swiper-button-disabled
      opacity 0
      visibility hidden

  &__next:after
    left auto
    right 5px

  &__prev:after
    transform: rotate(-135deg)

  &__item
    display inline-block
    height 30px
    line-height 30px
    margin 0 5px 12px 0
    font-size 12px
    transition .33s
    cursor pointer
    width calc(20% - 5px)
    text-align center
    padding 0 8px
    border-radius 15px
    border 1px solid #c4c6c9

    @media (max-width: 558px)
      width calc(25% - 5px)

    @media (max-width: 448px)
      width calc(33.3% - 5px)

    b
      display inline-block
      position relative
      margin-right 8px

      &:after
        content ''
        position absolute
        top 0
        bottom 0
        margin auto
        right -6px
        border-top 1px solid $skin
        border-right 1px solid $skin
        width 4px
        height 4px
        transform rotate(45deg)

    &._active
      background $call-to-action
      color #F
      cursor default

      b:after
        border-color #fff

  // Тип 2 в стилях по-умолчанию, так как от него
  // проще всего было оттакливаться
  // Тип 1 A/B тестирования
  &._type1
    padding 0
    margin-bottom 6px

    // & ^[0]__slider-wrapper
    //   padding 0 0 0 19px

    & ^[0]__group
      position relative
      padding 5px 0 0 19px
      width 100%
      min-width 0

    & ^[0]__group-content
      margin-right -7px

    & ^[0]__item
      padding 0 7px
      width auto

    & ^[0]__controls
      padding 20px 0 17px
      margin-left 0

    & ^[0]__prev,
    & ^[0]__next
      position absolute
      top 45%

      &:after
        top 3px
        left 5px
        width 9px
        height 9px
        border-top 2px solid $skin
        border-right 2px solid $skin

    & ^[0]__prev
      left 3px

    & ^[0]__next
      right -11px

    & ^[0]__group-title
      top -20px
      left 19px
      color #88898c
      transform none

  // Тип 3 A/B тестирования
  &._type3

    & ^[0]__controls
      border-bottom 1px solid #e4e6e7
      margin-bottom 12px
      padding 0
      height 38px

    & ^[0]__group-names
      display flex
      align-items center

    & ^[0]__prev,
    & ^[0]__next
      top 13px

    & ^[0]__group-name
      font-size 11px
      color #111
      font-weight bold
      text-transform uppercase
      line-height 38px
      padding 0 5px
      cursor pointer

      & + ^[0]__group-name
        margin-left 11px

      &._active
        color $skin
        position relative

        &:after
          content ''
          position absolute
          bottom -1px
          left 0
          right 0
          height 1px
          background $skin

  // Тип 0 A/B тестирования
  &._type0

    & ^[0]__item
      width auto

    & ^[0]__plain-container
      padding-top 13px

    & ^[0]__group
      width 100%
      padding 0

    & ^[0]__group-title
      position relative
      top auto
      left auto
      color #88898c
      transform none
      padding 0 0 13px
