.booking-studios
  padding 19px 0

  &__title
    font-size 18px
    font-weight bold
    color $gray5
    text-transform uppercase
    position relative
    padding 0 15px
    margin-bottom 11px

    span
      position relative
      z-index 1

    &:after
      content ''
      position absolute
      top -35px
      left -142px
      background url('~../img/slash2.png') no-repeat
      width 224px
      height 169px

  &__subtitle
    font-size 14px
    font-weight bold
    color $gray5
    position relative
    padding 11px 15px

  &__not-found
    font-size 16px
    font-weight bold
    color $gray5
    text-transform uppercase
    position relative
    padding 20px 15px
    margin-bottom 11px
