.booking-calendar
  font-family $fontBody

  &__title
    font-size 14px
    font-weight bold
    color $gray2
    margin-bottom 12px
    padding 0 15px
    text-transform uppercase

  &__slider-container
    padding-left 15px

  &__item
    width 39px
    height 39px
    border 1px solid #c5
    border-radius 50%
    font-size 11px
    font-weight bold
    text-transform uppercase
    display flex
    align-items center
    justify-content center
    flex-direction column
    background transparent
    transition .33s
    cursor pointer
    margin-bottom 2px

    &._day-off
      border-color $skin

    &._active
      border-color $call-to-action
      background $call-to-action
      color #F
      cursor default

  &__number
    margin-bottom 1px
