.booking-categories

  &__item
    font-size 12px
    font-weight bold
    color $gray3
    text-transform uppercase
    height 43px
    line-height 43px
    cursor pointer
    padding 0 20px
    position relative
    border-top 2px solid rgba($gray, .2)
    position relative

    &:last-child
      border-bottom 2px solid rgba($gray, .2)

    &:after
      content ''
      position absolute
      right 25px
      top 17px
      width 7px
      height 7px
      border-top 2px solid $skin
      border-right 2px solid $skin
      transform rotate(45deg)

  &__circle
    position absolute
    top 11px
    right 40px
    width 20px
    height 20px
    border-radius 50%
    border 2px solid $skin
    background $skin
    display flex
    align-items center
    justify-content center

  &__not-found
    text-align center
    font-size 14px
    font-weight bold
    color #474d58
    padding 20px 15px
    line-height 1.5
