.booking-success
  &__content
    padding 0 20px

  &__title
    font-size 18px
    color #474d58
    font-weight bold
    text-transform uppercase
    letter-spacing 0.3px
    margin-bottom 12px
    position relative

    span
      position relative
      z-index 1

    &:after
      content ''
      position absolute
      top -40px
      left -154px
      background url('~../img/slash2.png') no-repeat
      width 224px
      height 169px

  &__announce
    font-size 14px
    line-height 1.4
    margin-bottom 10px

  &__date
    font-weight bold
    color $skin

  &__studio
    font-size 16px
    font-weight 500
    color $text
    margin-bottom 8px

  &__studio-info
    font-size 14px
    color $text
    line-height 1.4
    margin-bottom 8px

  &__metro
    display flex
    align-items center
    margin-bottom 12px

  &__metro-icon
    margin-right 7px

  &__phone
    display flex
    text-decoration none
    margin-bottom 12px

  &__phone-icon
    transform scaleX(-1)
    margin-right 8px

  &__phone-number
    font-size 14px
    font-weight bold
    color $skin

  &__details
    margin-bottom 20px

  &__subtitle
    font-size 14px
    font-weight bold
    color #45484d
    text-transform uppercase
    margin-bottom 18px

  &__services
    padding-bottom 16px
    margin-bottom 24px
    border-bottom 1px solid $gray9

  &__service,
  &__result
    display flex
    justify-content space-between
    font-size 13px
    font-weight 500
    color #3d434d
    line-height 1.3
    padding-right 17px

    & + &
      margin-top 10px

  &__service-name
    max-width 60%

  &__duration
    font-size 11px
    opacity .5
    padding-top 4px
    color #171c26

  &__result
    line-height 1.4
    margin-bottom 12px

  &__top-master-notification
    display flex
    margin-bottom 16px

  &__cancel-notification
    border-top 1px solid $gray9
    line-height 1.4
    margin 16px -20px 20px
    padding 16px 40px 0
    text-align center

  &__note-icon
    min-width 16px
    margin-right 9px

  &__note
    color $gray8
    line-height 16px

  &__cancel-order
    margin-bottom 30px

  &__cancel
    color $text
    font-family $fontBody
    font-size 16px
    font-weight 600
    margin-bottom 24px
    text-align center
