.booking-search
  position relative

  &__icon
    position absolute
    top 0
    left 5px
    width 35px
    bottom 0
    display flex
    align-items center
    justify-content center
    cursor pointer
