.booking-master
  min-height 44px

  &__content
    display flex
    justify-content space-between
    border-bottom 1px solid #E4E6E7
    background-color transparent
    transition .33s
    cursor pointer
    color #21
    padding 10px 20px

  &:first-child
    border-top 1px solid #E4E6E7

  &__info
    justify-content center
    flex-direction column

  &__right
    color #999
    font-size 11px

  &__right span
    color #212121
    font-size 13px
    font-weight 600

  &__extra-label
    color $skin

  &__name
    font-size 14px
    font-weight 500
    color #21

  &__label
    font-size 11px
    color #9

    & b
      color $skin

  // Состояние выбранного мастера

  &._active
    border-bottom 1px solid #e4e6e7

  &._active &__content
    background $call-to-action

  &._active &__name
  &._active &__label
  &._active &__label b
  &._active &__right
  &._active &__right span
  &._active &__extra-label
    color #fff
