.booking-services

  // &__category
  //   font-size 11px
  //   color #96999f
  //   margin-bottom 5px
  &__group
    &-title
      padding 11px 19px
      font-family $fontBody
      text-transform uppercase
      font-size 10px
      font-weight bold
      color #707070
  &__item
    cursor pointer
    border-bottom 1px solid #e4e5eb
    background #FFF
    transition all .4s
    font-family $fontBody
    overflow hidden
    position relative
    padding 17px 20px 17px 28px

    &:first-child
      border-top 1px solid #e4e5eb

    &-main
      padding-right 33px
      display flex
      align-items center
      justify-content space-between

    &-title
      font-size 13px
      color $text
      font-weight 600
      transition color .4s

    &-price
      font-size 12px
      color #757880
      margin-left 20px

      b
        font-size 13px
        color $text

    &-circle
      position absolute
      top 50%
      margin-top -10px
      right 21px
      width 20px
      height 20px
      border-radius 50%
      border 2px solid $skin
      background $skin
      display flex
      align-items center
      justify-content center
      transition all .2s
      opacity 0
      visibility hidden

    &-info
      font-family Arial
      font-size 12px
      color #9
      margin-top 9px
      opacity 0
      visibility hidden
      max-height 0
      transition .4s
      line-height 1.5

      ul
        list-style none
        margin 0
        padding 0

      li
        position relative
        padding-left 9px

        &:before
          content '-'
          position absolute
          left 0
          top 2px

    &._with-description &-title
      position relative
      margin-left -15px
      padding-left 15px

      &:before
        content ''
        position absolute
        top 4px
        left 0
        width 6px
        height 6px
        border-top 2px solid $skin
        border-right 2px solid $skin
        transform rotate(135deg)
        transition transform .2s

    &._open &-title:before
      top 6px
      transform rotate(315deg)

    &._open &-info
      visibility visible
      opacity 1
      max-height 200px
      padding-right 30px

    &._with-children:after
      content ''
      position absolute
      top 50%
      margin-top -3px
      right 21px
      width 6px
      height 6px
      border-top 2px solid $skin
      border-right 2px solid $skin
      transform rotate(45deg)
      transition transform .2s

    &._active &-title
      color $skin

    &._active &-circle
      color $skin
      visibility visible
      opacity 1

    &._active._with-children &-circle
      right 25px

    &._active._with-children:after
      right 10px
