.booking-contacts

  &__title
    font-size 14px
    font-weight 700
    color $gray2
    text-transform uppercase
    margin-bottom 17px
    padding 0 15px

    &._place
      margin-bottom 13px

    &._master
      margin-bottom 11px

  &__form
    padding 0 15px

  &__row
    margin-bottom 8px

    &._agreement
      padding-top 8px
      display flex
      margin-bottom 23px

  &__input
    height 40px
    width 100%
    font-family $fontHeader
    font-size 11px
    font-weight bold
    color $gray2
    text-transform uppercase
    line-height 1.5
    border 1px solid $gray
    border-radius 20px
    padding 12px 20px
    -webkit-appearance none
    display block
    outline none
    resize none
    +placeholder()
      opacity .5

    &._error
      border-color $red
      color $red

  &__error
    color $red
    font-size 12px
    padding-left 21px
    padding-top 7px

  &__additional-services
    font-size 14px
    font-weight bold
    color $gray7
    margin-bottom 12px
    padding 5px 0 0

  &__tea-coffee
    display flex
    padding-top 5px
    position relative

    &:after
      content 'free'
      font-size 12px
      text-transform uppercase
      background $skin
      color $white
      font-weight 600
      padding 4px 6px
      position absolute
      left 50%
      margin-left -21px
      margin-top -5px
      border-radius 4px

  &__radio
    border 1px solid $gray10
    color $call-to-action
    text-decoration none
    text-transform uppercase
    transition all .33s ease
    height 40px
    line-height 40px
    font-size 12px
    font-weight 800
    margin-bottom 15px
    align-items center
    justify-content center
    display flex
    cursor pointer

    & + &
      border-left none

    &._tea,
    &._coffee
      width 50%

    &._tea
      border-radius 20px 0 0 20px

    &._coffee
      border-radius 0 20px 20px 0

    &._not-talk
      border-radius 20px
      margin-top -3px

    &._active
      color $white
      background $call-to-action
      border 1px solid $call-to-action

    &._active > .booking-contacts__radio-icon
      fill $white

  &__radio-icon
    width 18px
    height 18px
    fill $call-to-action
    margin-right 10px

  &__checkbox
    opacity 0
    height 0
    top 2px
    position relative
    margin-right 6px
    margin-bottom 16px

  &__checkbox-label
    font-size 11px
    line-height 16px
    color $gray7
    padding-left 6px
    position relative
    cursor pointer
    text-transform none
    font-weight normal

    &:after
      content ''
      position absolute
      top -1px
      left -19px
      background url('~../img/uncheck.png') no-repeat
      width 16px
      height 16px

  &__checkbox:checked ~ &__checkbox-label:after
    background url('~../img/check.png') no-repeat
    width 16px
    height 16px

  &__details
    padding-left 16px
    padding-bottom 27px

  &__studio
    color inherit
    display block
    font-family $fontHeader
    font-size 14px
    font-weight 700
    margin-bottom 10px
    text-decoration none
    padding-top 6px

  &__studio-info
    font-size 14px
    line-height 20px
    margin-bottom 8px

  &__metro
    display flex
    font-family $fontHeader
    font-size 12px
    align-items center
    margin-bottom 8px
    padding-left 2px

  &__metro-icon
    width 16px
    height 16px
    margin-right 5px

  &__phone
    color $skin
    text-decoration none

  &__phone-icon
    width 18px
    height 18px
    fill $gray10
    margin-right 9px
    position relative
    top 3px
    transform rotate(90deg)

  &__phone-number
    font-size 14px
    font-weight bold

  &__services
    padding-right 16px
    display flex
    align-items center
    justify-content space-between
    margin-top 17px
    margin-bottom 18px

  &__service
  &__top-master
    font-size 13px
    color $text
    font-weight 600
    transition color .4s

  &__price
  &__extra
    font-size 13px
    color $text
    font-weight 600

  &__top-master
  &__extra
    color $skin

  &__result
    display flex
    align-items center
    justify-content space-between
    padding-left 17px
    padding-right 16px
    border-top 1px solid $gray9
    padding-top 19px

  &__result-title
    font-size 13px
    color $text
    font-weight 600

  &__price-amount
    font-size 13px
    color $text
    font-weight 600

  &__top-master-notification
    padding-left 19px
    font-size 13px
    margin-bottom 47px

  &__note
    color $gray8
    display inline-block
    padding-left 23px
    line-height 16px

  &__note-icon
    position relative
    width 16px
    height 16px
    top 17px

  &__back-to-masters
    color $skin
    cursor pointer

  &__time
    font-size 14px
    color $gray6
    font-weight 600
    padding-top 6px
    padding-left 14px
    padding-bottom 7px

  &__master
    font-size 13px
    color $text
    padding-left 15px
    padding-bottom 29px

  &__content
    padding-left 17px
    margin-bottom 18px
