.booking-masters-list
  text-align left

  &__title
    font-size 14px
    font-weight bold
    color $gray2
    margin-bottom 12px
    padding 0 15px
    text-transform uppercase

  &__not-found
    font-size 14px
    font-weight bold
    color $gray5
    text-transform uppercase
    position relative
    padding 20px 15px
    margin-bottom 11px
