.booking-order
  padding 19px 15px

  &__step-title
    font-size 14px
    font-weight bold
    color $gray2
    text-transform uppercase
    text-align center
    margin-bottom 22px

  &__steps-content
    padding 28px 0 20px
    margin 0 -15px

    &._success
      padding 3px 0 20px

  &__breadcrumbs
    margin-bottom 20px
    text-align center

  &__breadcrumbs-item
    display inline-block
    font-size 12px
    font-weight bold
    color $gray3
    text-transform uppercase
    text-align center

    &._back
      color $skin
      padding-right 15px
      margin-right 6px
      position relative
      cursor pointer

      &:after
        content ''
        position absolute
        right 0
        top 3px
        width 6px
        height 6px
        border-top 2px solid $skin
        border-right 2px solid $skin
        transform rotate(-135deg)

    &._back:last-child:after
      display none

  &__title
    font-size 18px
    font-weight bold
    text-transform uppercase
    color $gray6
    position relative
    margin-bottom 17px

    span
      position relative
      z-index 1

    &:after
      content ''
      position absolute
      top -36px
      left -15px
      background url('~../img/slash3.png') no-repeat
      width 86px
      height 101px
