.booking-next
  height 56px

  &__link
    text-decoration none
    color $white
    margin 0 auto
    display block
    max-width 640px

  &__button
    border none
    background $call-to-action
    outline none
    height 56px
    width 100%
    cursor pointer
    display flex
    justify-content center
    align-items center
    position relative
    color #F
    z-index 1
    padding 0 20px
    box-shadow 0px 0px 15px 0px rgba(0, 0, 0, .2)

  &__button._fixed
    position fixed
    bottom 0
    left 0
    right 0
    margin auto
    max-width 640px

  &__text
    position relative
    font-size 12px
    color #fff
    font-weight bold
    text-transform uppercase

  &__icon
    position absolute
    right -40px
    top 1px

  &__right
    text-align left

  &._services &__button
    line-height 1.4
    text-align left
    justify-content space-between

  &._services &__text
    display inline-block

  &__price
    font-size 11px
    padding-right 10px

  &__price-amount
    font-size 13px
    font-weight bold

  &__duration
    font-size 11px
    font-weight normal
