.booking-loader

  &__darkening
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 99999
    background-color rgba(0,0,0,.35)
    display flex
    align-items center
    justify-content center
    opacity 0
    transition opacity .33s
    visibility hidden

    &._active
      opacity 1
      visibility visible
