.breadcrumbs
  position relative
  z-index 1
  padding 0 20px
  margin-bottom 4px

  &__link
    font-family $fontHeader
    font-size 14px
    color $skin
    text-decoration none
    padding-left 12px
    position relative

    &:after
      content ''
      position absolute
      top 5px
      left 1px
      width 7px
      height 7px
      border-top 2px solid $skin
      border-left 2px solid $skin
      transform rotate(-45deg)
