.bullets
  justify-content center
  align-items center

  .swiper-pagination-bullet-active
    background $skin

  &__item
    display inline-block
    width 8px
    height 8px
    background #1c1c1c
    border-radius 50%
    cursor pointer
    opacity 0.2
    transition opacity 0.2s
    transform scale(0.33)

    & + &
      margin-left 5px

    &._active
      opacity 1
      background $skin
      transform scale(1)

    &:first-child:last-child
      opacity 0

    &._active-next
    &._active-prev
      transform scale(.66)
      opacity .5

    &._active-next-next
    &._active-prev-prev
      transform scale(.33)
      opacity .2
