.button
  a-reset()
  display inline-flex
  align-items center
  justify-content center
  text-transform uppercase
  border-radius 20px
  padding 15px 15px 13px
  cursor pointer
  font-family $fontHeader
  font-weight bold
  font-size 11px
  color #fff
  line-height 11px
  letter-spacing 0.5px
  transition $AT background-color, $AT border-color, $AT color
  background-color $skin
  position relative
  user-select none
  width 100%

  &._call-me
    display inline-block

  &._small
    font-family Arial, Helvetica, sans-serif
    letter-spacing 0
    font-size 10px
    padding 8px 13px 6px
    line-height 1

  &._white
    background-color #fff
    color $skin
    border 1px solid #dce1e4

  &._call-to-action
    background-color $call-to-action
    color #F
    border 1px solid $call-to-action

    &[disabled]
      color #83858c
      border-color #83858c
      background #FFF

    &._active
      color #f
      border-color #babbbf
      background #babbbf

    &._active:hover
      color #83858c
      background #fff

  &._long
    padding 15px 40px 13px
