.call-me-popup
  border-radius 16px
  font-family $fontBody
  overflow hidden
  padding 30px

  &__title
    font-size 26px
    color $black4
    line-height 40px
    margin-bottom 20px
    text-align center
    padding-top 25px

  &__input
    height 42px
    line-height 42px
    border-radius 21px
    border 1px solid #f1f2f3
    font-size 11px
    text-transform uppercase
    margin-right 20px
    width 100%
    padding 0 20px
    outline none
    display block
    margin-bottom 12px

  &__button
    margin-top 20px
    text-align center

  &__notify
    color $text
    font-size 13px
    line-height 18px
    text-align center
    margin-top 12px

  &__success
    color $green
    display none
    font-size 14px
    font-weight bold
    margin 20px 0
    text-align center

  &__error
    color red
    display none
    padding-bottom 10px
    padding-left 20px

  &__common-error
    color red
    display none
    font-size 14px
    font-weight bold
    margin 20px 0
    text-align center

