.career
  padding: 0 16px
  letter-spacing 0.03em


  &__about
    margin-bottom 18px

  &__about
  &__container
  &__reason-title
  &__sub-title
    font-size 14px
    line-height 20px
    color $gray6

  &__container
    padding: 20px 16px 0

    .link-tel
      text-decoration none
      color: $skin

    p
      margin: 0
      padding: 0
      letter-spacing 0.03em

      & + p
        padding-top 8px

      & + .career__sub-title
        margin-top: 20px;

    b
      letter-spacing 0.01em

    ul
      list-style none
      margin 0
      padding 0
      margin-top 8px

      & + p
        margin-top: 20px;

      li
        padding-left 16px

        position relative

        & + li
          margin-top 8px

        &:before
          content ''
          position absolute
          top 6px
          left 0
          width 4px
          height 4px
          border-radius 2px
          border 1px solid $skin
          background $skin

  &__reason-title
    font-weight 600

  &__reasons ul
    list-style none
    margin 0
    padding 0

    li
      padding-left 16px
      padding-bottom 20px
      position relative

      &:before
        content ''
        position absolute
        top 10px
        left 0
        width 10px
        height 2px
        background $skin

  &__title
    margin: 25px 0 16px 0
    padding: 0 0 17px 0
    font-size 16px
    color $gray6
    position: relative
    border-bottom 1px solid $skin
    font-family: $fontBody;

    > h2
      margin-bottom: 9px

  &__sub-title
    font-weight bold

  &__region
    font-size: 13px

