.career-form
  margin-top: 30px
  font-family $fontBody
  padding:0 19px

  &__title
    text-align: center
    font-size 18px
    color $black
    font-weight 700
    margin-bottom: 25px

  &__textarea
  &__input
    font-size 12px
    color $gray6
    line-height 17px
    background #fff
    border 1px solid $gray7
    border-radius 25px
    padding 11px 25px
    width:100%

  &__field
    & + &
      margin-top: 15px

  &__controls
    margin-top: 23px

  &__success
    color $text
    font-size 16px
    display none
    line-height 1.4
    padding 16px 40px 100px
    text-align center

