.category-list
  padding 0 20px
  margin-bottom 20px

  &__group
    padding 0 20px
    margin-bottom 20px
    width 100%

  &__container
    display flex
    flex-direction column
    align-items center

  &__title
    display block
    font-size 12px
    margin 24px 0 12px
    font-weight 700
    font-family $fontHeader
    text-align left
    text-transform uppercase
    width 100%
    z-index 1

  &__button
    padding-top 20px
    min-width 280px
    margin auto

  &__not-found
    color #353639
    font-size 16px
    font-family AvenirNextCyr
    font-weight 500
    line-height 1.5
    margin 10px 0
    text-align center
