.category-service
  box-shadow 0 5px 15px 0 rgba(62, 33, 76, 0.15)
  display flex
  flex-direction column
  min-width 280px
  width 100%
  position relative
  background #fff

  & + &
    margin-top 20px

  &__head
    position relative

  &__image-wrapper
    overflow hidden
    text-decoration none

  &__image
    width 100%
    max-height 300px

  &__price
    display flex
    bottom -10px
    position absolute

  &__text-block
    padding 29px 15px 18px

  &__properties
    display flex
    align-items center
    justify-content space-between

  &__title
    display inline-block
    font-family $fontBody
    font-size 16px
    font-weight 500
    color $skin
    text-decoration none
    padding-right 16px
    min-height 20px

  &__category
    font-family $fontBody
    font-size 12px
    font-weight 500
    color #9

  &__time
    position absolute
    font-weight: bold
    top 15px
    right: 17px
    display flex
    align-items center
    color #FFF

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__link
    align-items center
    justify-content center
    padding 8px 12px
    font-size 14px
    background-color $call-to-action
    color #F
    font-weight 500
    text-transform uppercase
    text-decoration none
