.cookies
  position fixed
  bottom 0
  left 0
  right 0
  z-index 10
  background #fff
  padding 30px 20px 40px
  max-width 640px
  margin auto
  text-align center
  font-family $fontHeader
  box-shadow 0px 5px 59px 0px rgba(45, 45, 78, .2)

  &__text
    line-height 1.5
    font-size 12px
    margin-bottom 30px

    a
      color $skin

  &__button
    max-width 290px
    margin auto

  &._hidden
    display none
