.course-detail
  &__image-wrapper
    width 320px
    height 183px
    overflow hidden
    position relative
    text-decoration none
    display inline

  &__image
    width 100%

  &__name
    font-family AvenirNextCyr
    font-size 14px
    line-height 20px
    font-weight 600
    color #45484d
    text-decoration none
    text-transform uppercase
    min-width 260px
    padding-left 18px
    position relative
    padding-top 15px
    display flex
    padding-right 64px
    min-height 51px

  &__properties
    justify-content space-between
    margin-bottom 20px
    margin-left 18px
    margin-top 6px
    margin-right 18px

  &__properties
  &__time
    position relative
    display -ms-flexbox
    display flex
    -ms-flex-align center
    align-items center
    -ms-flex-pack center

  &__price
    font-weight 600
    font-size 13px
    color #f59282

    & sup
      position relative
      top -4px
      left 2px

  &__time
    position relative
    top 2px
    display flex
    align-items center
    color #9
    font-weight 500
    font-size 11px
    margin-top -3px

  &__duration
    position relative
    top 2px
    display flex
    align-items center
    color #9
    font-weight 500
    font-size 11px
    padding-right 16px
    margin-top -6px

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__text-block
    font-family AvenirNextCyr
    font-size 12px
    line-height 18px
    color #353639
    padding-top 0
    margin-bottom 22px
    padding-right 23px
    margin-left 18px

  &-prices
    list-style none
    padding 0

    &__description
      text-transform lowercase

    &__price
      color $skin
      font-weight bold
      white-space nowrap
