.course-item
  background #fff
  box-shadow 0 5px 15px 0 rgba(62, 33, 76, 0.15)
  padding-bottom 34px
  margin-bottom 24px

  &__image-wrapper
    width 280px
    height 137px
    overflow hidden
    position relative
    text-decoration none

  &__image
    width 100%

  &__name
    font-family AvenirNextCyr
    font-size 14px
    line-height 20px
    font-weight 600
    color #45484d
    text-decoration none
    text-transform uppercase
    min-width 260px
    padding-left 18px
    position relative
    padding-top 15px
    display flex
    padding-right 39px
    min-height 51px

  &__properties
    justify-content space-between
    margin-bottom 20px
    margin-left 18px
    margin-top 6px
    margin-right 18px

  &__properties
  &__time
    position relative
    display -ms-flexbox
    display flex
    -ms-flex-align center
    align-items center
    -ms-flex-pack center

  &__price
    font-weight 600
    font-size 13px
    color #f59282

    & sup
      position relative
      top -4px
      left 2px

  &__duration
    position relative
    top 2px
    display flex
    align-items center
    color #9
    font-weight 500
    font-size 11px
    padding-right 16px
    margin-top -6px

  &__time
    position relative
    top 2px
    display flex
    align-items center
    color #9
    font-weight 500
    font-size 11px
    margin-top -3px

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__text-block
    font-family AvenirNextCyr
    font-size 12px
    line-height 18px
    color #353639
    padding-top 0px
    display flex
    align-items center
    justify-content space-between
    margin-bottom 22px
    padding-right 18px
    margin-left 18px

  &__link
    margin 0 18px
