.course-enroll-form
  position relative
  min-width 280px
  margin 0 auto 9px
  padding 0 20px
  margin-top 8px
  margin-left -4px

  &__content
    margin-bottom 10px

  &__title
    margin-bottom 25px
    text-align left !important

  &__row
    margin-bottom 10px

  &__input
  &__textarea
    width 100%
    font-family $fontHeader
    font-size 11px
    font-weight bold
    color #45484d
    text-transform uppercase
    line-height 1.5
    border 1px solid #dadae5
    border-radius 20px
    padding 12px 20px
    -webkit-appearance none
    display block
    outline none
    resize none
    +placeholder()
      opacity .5

  &__input
    height 40px

  &__textarea
    height 82px

  &__agreement
    padding-top 5px
    padding-left 3px
    font-family $fontHeader
    font-size 11px

    & a
      color #f59282

  &__checkbox
    top 2px
    position relative

  &__controls
    padding-top 13px

  &__submit
    border none

  &__note
    font-family AvenirNextCyr
    font-size 12px
    color #353639
    display none
    line-height 18px
