.error-page
  text-align center
  margin auto
  padding 4px

  &__body
    font-size 12px
    margin-bottom 20px
    color $text
    line-height 1.5

  &__enroll
    text-align center
    margin auto
    font-size 11px
    max-width 220px
    margin-bottom 20px

  &__to-back
    font-size 11px
    text-transform uppercase
    cursor pointer
    margin-bottom: 20px

    a
      text-decoration none
      color $skin
