.footer
  padding 20px 19px 34px

  &__copy
    font-size 12px
    text-align center
    margin-bottom 22px

  &__doc-link
    font-family $fontBody
    font-size 11px
    font-weight 500
    color #333
    max-width 120px
    text-decoration none
    padding-top 2px

  &__bottom
    display flex
    justify-content space-between

  &__ratio-icon
    width 131px
    height 31px
    opacity .5
