.franchise
  padding 0 16px
  letter-spacing 0.03em
  position relative

  &__content
    position relative

  &__about
    margin-bottom 18px

  &__about
  &__container
  &__reason-title
  &__sub-title
    font-size 14px
    line-height 20px
    color $gray6

  &__container
    padding-top 3px
    padding-left 17px
    padding-right 16px

    p
      letter-spacing 0.03em
      padding-bottom 8px

    b
      letter-spacing 0.01em

    ul
      list-style none
      margin 0
      padding 0
      margin-top 8px

      li
        padding-left 16px
        padding-bottom 20px
        position relative

        &:before
          content ''
          position absolute
          top 6px
          left 0
          width 4px
          height 4px
          border-radius 2px
          border 1px solid $skin
          background $skin

  &__reason-title
    font-weight 600
    padding-bottom 8px

  &__reasons ul
    list-style none
    margin 0
    padding 0

    li
      padding-left 16px
      padding-bottom 20px
      position relative

      &:before
        content ''
        position absolute
        top 10px
        left 0
        width 10px
        height 2px
        background $skin

  &__container h2
    font-size 16px
    color $gray6
    border-bottom 1px solid $skin
    padding-bottom 15px
    margin-bottom 19px

  &__sub-title
    font-weight bold

  &__text-block
    padding-right 4px

