.franchise-form
  margin-top 14px
  margin-bottom 24px

  &__field
    text-align center
    margin 0 20px

  &__title
    font-size 18px
    color $black
    font-weight 600
    text-align center
    padding-bottom 22px

  &__textarea
  &__input
    font-size 12px
    color $gray7
    background #fff
    border 1px solid #e1e2e5
    border-radius 25px
    height 40px
    line-height 40px
    padding 0 18px
    width 100%
    margin-bottom 16px

  &__textarea
    resize none
    height 85px

  &__sub-title
    font-size 14px
    line-height 18px
    color $black
    text-align center

  &__controls
    margin 0 20px
    margin-top 5px

  &__success
    color $text
    font-size 16px
    display none
    line-height 1.4
    padding 16px 40px 100px
    text-align center
