.gallery

  &__swiper-container
    margin-top 20px
    padding-bottom 36px

  &__swiper-wrapper
    margin-bottom 8px

  &__swiper-slide
    text-align center
    width 260px

  &__img-wrapper
    height 260px
    width 260px
    display inline-block
    margin-bottom 12px

  &__img
    height 100%
    width 260px

  &__text
    font-weight 500
    font-size 14px
    background rgba(255, 255, 255, .92)
    padding 10px
    color $text
    position absolute
    left 0
    bottom 12px
