.header
  position relative

  &._fixed
    position fixed
    z-index 1001
    top 0
    left 0
    right 0
    margin auto
    max-width 640px
    background-color #fff

  &._fixed &__logo
    width 40px
    overflow hidden

  &._fixed &__phone
    display block
    position relative
    margin-right 40px

  &._fixed &__wa
    display block
    margin-right 20px

  &__wa-icon
    fill $green

  &__logo-icon._whiten
    filter brightness(0) invert(1)

  &._fixed &__logo-icon._whiten
    filter none

  &__left,
  &__right
    display flex
    align-items center

  &__phone
    display none

  &__phone-icon
    position: absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 20px
    height 20px
    fill #f59282

  &__wa
    display none

  &__content
    display flex
    align-items center
    justify-content space-between
    padding 16px

  &__sign-up
    position relative
    top -2px
    transition $AT
    margin-right 16px

  &__menu
    position absolute
    top 0
    right 0
    opacity 0
    visibility hidden
    transition $AT opacity

  &._menu-open &__menu
    opacity 1
    visibility visible

  &__menu-button
    position relative
    width 19px
    height 14px
    cursor pointer
    outline none
    top -2px
    z-index 2

    span
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      height 2px
      width 19px
      margin auto
      background $call-to-action
      transition $AT

    span:first-child
      top 0px
      bottom auto

    span:last-child
      top auto
      bottom 0px

  &._menu-open &__menu-button

    span
      opacity 0

    span:first-child
      opacity 1
      top 6px
      transform rotate(45deg)

    span:last-child
      opacity 1
      bottom 6px
      transform rotate(-45deg)
