.input

  &__control
    width 100%
    border 1px solid #ededed
    background rgba(#ededed, .3)
    outline none
    height 35px
    line-height 36px
    position relative
    border-radius 2px
    color #707070
    font-size 12px
    font-weight bold
    text-transform uppercase
    padding 0 20px

    +placeholder()
      opacity .7

  &._search &__control
    border-left none
    border-right none
    padding-left 40px
