.linked-services
  position relative
  margin 24px 20px

  &__head
    position relative

  &__item
    background #fff
    box-shadow 0 5px 15px 0 rgba(62, 33, 76, 0.15)
    margin-bottom 20px
    position relative
    width 100%

  &__image-wrapper
    overflow hidden
    position relative

  &__image
    width 100%

  &__price
    bottom -14px
    font-family $fontBody
    font-size 14px
    font-weight 600
    color #f
    background-color #45484d
    padding 8px 18px
    position absolute
    left 16px

    & sup
      position relative
      top -5px
      font-size 10px

  &__content
    margin 0 20px 0 16px

  &__name
    color $skin
    font-family $fontHeader
    font-size 16px
    font-weight 600
    margin 24px 0 12px

  &__properties
    display flex
    align-items center
    justify-content space-between
    margin 12px 0 16px
    position relative

  &__section
    color $grayText
    font-family $fontHeader
    font-size 12px
    font-weight 600

  &__time
    position relative
    display flex
    align-items center
    color #9
    font-family $fontBody
    font-weight 600

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__text
    font-family $fontBody
    font-size 14px
    color #45484d
    line-height 22px

  &__button a
    border-radius 0
