.main
  position relative
  flex-grow 1

  &._schema
    display: none

  &._category
    background #efeef3

  &._main
    background #efeff3

  &._category &__bg._bottom
    bottom 'calc(3px - %s)' % $footerHeight

  &._career
    padding-bottom: 62px

  &__bg
    position absolute

    &._top
      top -($headerHeight)
      right 0
      z-index -1

    &._bottom
      bottom -($footerHeight)
      right 0
      z-index -2

    &._career,
    &._franchise
      top -($headerHeight)
      right 0
      z-index -1

  &__title
    font-size 18px
    color #353639
    padding 24px 16px 16px
    position relative
    margin 0
    line-height 1.25
    &._studios
      color: #333
      font-size 16px
      padding-bottom 12px

    &._franchise
      font-weight 600
      line-height 24px
      padding-bottom 14px

    &._career
      font-weight 600
      line-height 1.25
      padding 24px 16px 16px

    span
      position relative
      z-index 1

    &:after
      content ''
      position absolute
      top -14px
      left -142px
      background url('~../img/slash6.png') no-repeat
      width 240px
      height 169px

    &._career:after
      background url('~../img/slash2.png') no-repeat

    &._franchise:after
      display none

._career .main__bg._top,
._franchise .main__bg._top
  display none

._career .main__bg._bottom,
._franchise .main__bg._bottom
  display none
