.markup-list
  display flex
  flex-direction column
  padding-top 20px

  &__item
    font-family $fontHeader
    font-size 20px
    font-weight bold
    color $skin
    text-decoration none

    & + &
      margin-top 20px
