.menu-footer
  padding 20px 26px 39px
  font-family $fontBody

  &__content
    display flex
    justify-content space-between

  &__phone-block
    display flex
    flex-direction column

  &__phone-title
    display inline-block
    font-size 10px
    font-weight 500
    color #353639
    text-transform uppercase
    margin-bottom 5px

  &__phone
    color $call-to-action
    font-size 13px
    font-weight 600
    text-decoration none

  &__wa-icon
    fill $green
