.menu
  background #fff
  width 269px
  padding-top 53px
  box-shadow 0px 0px 73px 0px rgba(24, 70, 97, .26)
  max-height 95vh
  height 535px

  &__logo
    position absolute
    top 14px
    left 21px

  &__list
    border 1px solid #ebebeb
    border-bottom none

  &__link
    position relative
    display flex
    align-items center
    min-height 35px
    line-height 35px
    text-decoration none
    text-transform uppercase
    padding-left 27px
    padding-right 37px
    border-bottom 1px solid #ebebeb
    font-family $fontHeader
    font-weight bold
    color #353639

    &:after
      content ''
      position absolute
      top 15px
      right 15px
      width 5px
      height 5px
      border-top 1px solid $call-to-action
      border-right 1px solid $call-to-action
      transform rotate(45deg)

    &:first-child
      background $call-to-action
      color #fff

      &:after
        filter: brightness(0) invert(1)

  &__footer
    position absolute
    bottom 0
    left 0
    right 0
