.metro-name
  display flex
  font-family $fontHeader
  font-size 12px
  align-items center
  margin-bottom 8px

  &__icon
    width 16px
    height 16px
    margin-right 4px

  &__label
    font-size 14px
