.nearest-studio
  position relative
  z-index 1
  max-width 320px
  margin 0 auto 39px

  &__content
    padding 21px 20px 0

  &__container
    margin-bottom 20px

  &__item
    display flex
    color $text
    align-items center

  &__image-wrapper
    width 60px
    height 60px
    border-radius 50%
    overflow hidden
    margin-right 21px

  &__title
    color inherit
    display block
    font-family $fontHeader
    font-size 14px
    font-weight 700
    margin-bottom 5px
    text-decoration none

  &__metro
    display flex
    font-family $fontHeader
    font-size 12px
    align-items center
    margin-bottom 8px
    padding-left 2px

  &__metro-icon
    width 16px
    height 16px
    margin-right 5px

  &__phone
    color $skin
    text-decoration none

  &__phone-icon
    width 11px
    height 11px
    fill #c8c8cc
    margin-right 9px

  &__phone-number
    font-size 10px

  // Мобильное оформление заказа

  &__top
    display flex
    align-items center
    justify-content space-between
    margin-bottom 8px

  &__change-link
    font-size 10px
    font-weight bold
    color #f59282
    text-transform uppercase
    text-decoration none

  &._booking
    max-width none
    margin 0 0 14px

  &._booking &__title
    font-weight 400
    color #353639
    margin-bottom 0

  &._booking &__metro
    margin-bottom 4px

  &._booking &__phone-icon
    width 18px
    height 18px
    float left
    margin-right 5px

  &._booking &__phone-number
    font-size 12px
    padding-top 3px
    display inline-block
    font-weight 600

  // Мобильное оформление заказа, список студий

  &._studio-item
    max-width none
    max-height 102px
    margin 0
    cursor pointer
    border-bottom 1px solid #e4e5eb
    background #FFF
    transition all .4s
    font-family $fontBody

    &._active
      background #F5F5F8
      max-height 250px

  &._studio-item  &__content
    padding 21px 20px 21px 22px
    display flex
    align-items center
    justify-content space-between

  &._studio-item &__image-wrapper
    margin-right 10px

  &._studio-item &__phone span
    font-size 12px
    font-weight bold

  &._studio-item &__phone-icon
    position relative
    top 1px

  &__circle
    width 32px
    height 32px
    border-radius 50%
    border 2px solid #e8e9ee
    display flex
    align-items center
    justify-content center
    transition all .2s

  &__info
    font-size 12px
    color #757880
    line-height 1.4
    margin-top -15px
    padding 10px 15px 21px 22px

    p
      margin 0

    p + p, p + b
      margin 5px 0 0

    b
      color $text

  &._studio-item._active &__circle
    border-color $skin
    background $skin
