.offer-prices
  display flex
  align-items center

  &__comparison
    font-size 14px
    background #45484c
    color #fff
    display flex
    align-items center
    justify-content center
    height 32px
    padding 0 15px 0 15px

  &__profit
    height 32px
    width 73px
    display flex
    flex-direction column
    align-items center
    text-align left
    justify-content center
    font-size 11px
    line-height 1.5
    color #a2a3a5

  &__old
    text-decoration line-through

  &__new

    sub
      position relative
      bottom 0

    sup
      position relative
      top -4px
