.page
  default-font()

  &,
  &__body
    height 100%

  &__body
    min-height 100vh

  &__inner
    position relative
    max-width 640px
    margin 0 auto
    min-width 320px
    overflow hidden
    min-height 100%
    padding-bottom $footerHeight
    display flex
    flex-direction column

  &__main
    position relative
    flex-grow 1
    display flex
    flex-direction column

  &__footer
    position absolute
    bottom 0
    left 0
    right 0

  &__header
    position relative
    z-index 2
