.popular-services
  position relative
  margin-bottom 48px

  &__content
    padding-top 26px

  &__slider-wrapper
    padding-bottom 32px
    width 100%
    height 100%

  &__slide
    width 260px

  &__bg
    position absolute
    right 0
    top -70px

  &__links
    text-align center

  &__all-link
    position relative
    z-index 1
    text-transform uppercase
    text-decoration none
    font-family $fontHeader
    font-size 12px
    font-weight bold
    color $skin

  .bullets
    position absolute
    bottom 16px
