.popular-service

  &__image-wrapper
    width 260px
    height 160px
    overflow hidden
    position relative
    text-decoration none

  &__image
    width 100%
    height 160px

  &__price
    position absolute
    left 0
    top 138px

  &__text-block
    opacity 0
    visibility hidden
    transition opacity $AT
    padding-top 20px
    display flex
    align-items center
    justify-content space-between
    margin-bottom 27px

  &__title
    font-family $fontBody
    font-size 16px
    font-weight 500
    color #38
    text-decoration none
    max-width 196px

  &__time
    position relative
    top 2px
    display flex
    align-items center
    color #9

  &__time-amount
    white-space nowrap

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__controls
    opacity 0
    visibility hidden
    transition opacity $AT
    margin 0 -9px

.swiper-slide-active .popular-service__text-block
.swiper-slide-active .popular-service__controls
  opacity 1
  visibility visible
