.portfolio
  margin-top -12px
  margin-bottom -4px

  &__description
    padding 0 20px
    margin-top 16px
    font-size 14px
    font-weight 300
    color #434447
    line-height 1.5
    margin-bottom -4px

    & a
      font-size 16px
      font-weight 500
      color #f59282
      text-decoration none

    & ul
      list-style none
      margin 0
      padding 0

      &._double
        columns 2
        width 300px
        margin-top -4px
