.review

  &__image-wrapper
    width 260px
    height 160px
    overflow hidden
    position relative
    text-decoration none

  &__info
    padding 0 0 0 110px

    &-date
      padding-top 10px
      color #a2a3a5

    &-name
      padding-top 10px

  &__image
    width 96px
    float: left

  &__price
    position absolute
    left 0
    top 138px

  &__text-block
    margin-top 30px
    opacity 0.2
    transition opacity $AT
    display flex
    align-items center
    justify-content space-between
    margin-bottom 27px

  &__title
    font-family $fontBody
    font-size 10px
    font-weight 500
    color #38
    text-decoration none
    max-width 210px

  &__time
    position relative
    top 2px
    display flex
    align-items center
    color #9

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__controls
    opacity 0
    visibility hidden
    transition opacity $AT
    margin 0 -9px

.swiper-slide-active .review__text-block
.swiper-slide-active .review__controls
  opacity 1
  visibility visible
