.school-benefits
  margin-top 30px
  margin-right 10px

  &__title
    font-family AvenirNextCyr
    font-size 14px
    color #353639
    line-height 20px
    font-weight 500
    padding-left 14px

  & ul
    list-style none
    margin 0
    padding 0
    margin-top 7px

  & li
    padding-left 14px
    position relative
    font-family AvenirNextCyr
    font-size 14px
    color #353639
    line-height 20px
    padding-bottom 6px

    &:before
      content ""
      position absolute
      top 10px
      left 0
      width 8px
      height 1px
      background #f59282

  &__important
    font-family AvenirNextCyr
    font-size 14px
    color #353639
    line-height 20px
    font-weight 500
    padding-left 15px
