.school-courses
  margin-top 57px
  margin-right 20px
  margin-bottom 41px

  &__title
    font-family $fontHeader
    font-size 16px
    color #353639
    line-height 24px
    text-transform uppercase
    font-weight 600

  &__list
    margin-top 11px
