.seo
  font-size 13px
  font-family $fontHeader
  margin 28px 20px 0 20px
  letter-spacing -0.01em
  position relative

  & h3
    font-size 16px
    color $black
    font-weight 600
    line-height 20px
    margin-bottom -4px

  &__center-text
  &__main-text
  &__reason
  & p
    color $gray11
    line-height 20px
    margin-bottom 12px

  &__main-text
    margin-top 12px

  &__text-block
    margin-right 4px

  &__services-description
  & b
    font-weight 600
    color $gray12
    line-height 20px
    margin-top 28px
    display block
    letter-spacing -0.008em

  & cite
    font-size 16px
    color $skin
    font-weight 400
    line-height 20px

  &__quote
  & blockquote
    text-align center
    font-weight 600
    font-size 14px
    color $black2
    line-height 20px
    position relative
    padding 16px 0
    margin 28px 0

    &:before
    &:after
      width 160px
      background-color $skin
      height 1px
      content ""
      display block
      position absolute
      left 0
      right 0
      margin auto

    &:before
      top 0

    &:after
      bottom 0

  & ul
    padding 0
    margin 0
    list-style none
    margin-top 16px
    margin-bottom 24px

    & li a
      display block
      margin-bottom 4px

  & a
    text-decoration none
    color $black
    line-height 20px
    font-weight 500

  &__right
    margin-top -12px
    margin-right -4px

  &__reasons
    padding-top 4px
    margin-bottom -12px

  &__reason-container
    padding-bottom 8px

  &__quote-container
    padding-bottom 16px

  &__reason-name
    margin-bottom 12px
    font-weight 500
