.service-steps
  $selector = unquote(selector())

  min-width 286px
  margin 0 auto 40px
  position relative
  padding 0 20px

  &._in-card
    min-width auto

  &__slide
    width 137px

  &__image-wrapper
    height 78px
    width 137px
    overflow hidden

  &__image
    width 100%

  &__text-block
    display flex
    flex-direction column
    align-items center
    justify-content center
    text-align center
    padding 9px 10px 17px
    background #fff
    border 1px solid #ebebeb
    border-top none

  &__index
    display flex
    align-items center
    justify-content center
    width 22px
    height 22px
    border 1px solid $skin
    border-radius 50%
    font-family $fontBody
    font-size 10px
    font-weight 600
    color #48485e
    margin-bottom 7px

  &__text
    font-family $fontHeader
    font-size 10px
    color #48485e
    line-height 1.6

  &__slider-wrapper
    padding-bottom 20px

    {$selector}._in-card &
      margin 0 -20px

  &__title
    margin 24px 0 16px

  .bullets
    position relative
    bottom -19px
