.service-testimonials-form
  position relative
  min-width 280px
  margin 0 auto 21px
  padding 0 20px

  &__title
    margin-bottom 10px

  &__info
    font-family $fontBody
    font-size 12px
    font-weight 500
    color #45484d
    margin-bottom 21px
    text-align center

    a
      color $skin

  &__row
    margin-bottom 10px

    &._top
      display flex

  &__avatar-wrapper
    margin-right 8px

  &__contacts
    flex-grow 1

  &__avatar
    display flex
    align-items center
    justify-content center
    text-align center
    width 90px
    height 90px
    border 1px solid #dadae5
    border-radius 50%
    font-family $fontBody
    font-size 10px
    font-weight 600
    color $skin
    text-transform uppercase
    line-height 1.5
    cursor pointer

  &__input-wrapper + &__input-wrapper
    margin-top 10px

  &__input,
  &__textarea
    width 100%
    font-family $fontHeader
    font-size 11px
    font-weight bold
    color #45484d
    text-transform uppercase
    line-height 1.5
    border 1px solid #dadae5
    border-radius 20px
    padding 12px 20px
    -webkit-appearance none
    display block
    font-family inherit
    outline none
    resize none
    +placeholder()
      opacity .5

  &__input
    height 40px

  &__textarea
    height 124px

  &__image-upload
    display inline-flex
    align-items center
    justify-content center
    text-transform uppercase
    border-radius 20px
    padding 15px 15px 13px
    cursor pointer
    font-family $fontHeader
    font-weight bold
    font-size 11px
    color $skin
    line-height 11px
    letter-spacing 0.5px
    border 1px solid $skin
    position relative
    user-select none
    width 100%

  &__controls
    padding-top 7px

  &__submit
    border none
