.service-section
  font-family $fontBody
  font-size 14px
  display: flex
  flex-direction: column
  background #f5f5f8
  padding 0 20px 26px

  img
    width 100%

  a
    text-decoration none

  &__info
    display block
    padding 10px
    color #999999

    &._link
      text-align: left
      margin-left 10px
      padding 10px

    &._left
      float left

    &._right
      float right
      vertical-align: middle

      span
        font-family "arial"

  &__item
    margin-top 20px
    background #fff
    width 100%

    a
      font-size 2rem
      color #f59282
      text-decoration: none

  &__image
    width 100%
    margin 0 auto
    text-align center

  &__price
    font-family "arial"
    font-size 14px
    position: relative
    top -20px
    left 30px
    width 80px
    padding 10px
    background #45484d
    color #fff

    span
      position relative
      font-size 8px
      top -10px

  &__button
    background #f59282
    color #fff
    padding 20px
    text-align: center
    margin-bottom 20px
    font-weight 600
    text-transform uppercase
