.services-menu
  display flex
  flex-direction column
  min-width 320px

  &__item
    display inline-block
    padding-left 40px
    height 42px
    display flex
    align-items center
    text-decoration none
    position relative

    a
      text-decoration: none

    &:after
      content ''
      position absolute
      top 15px
      right 21px
      width 7px
      height 7px
      border-top 2px solid $skin
      border-right 2px solid $skin
      transform rotate(45deg)


  &__item-text
    font-family $fontHeader
    text-transform uppercase
    font-size 13px
    font-weight bold
    color $skin

  &__button
    padding-top 35px
    width 280px
    margin auto
