.service-modal
  width 300px
  font-family $fontBody
  text-align center

  &__title
    font-size 14px
    font-weight bold
    color $gray2
    text-transform uppercase
    padding 20px 20px 10px

  &__text
    font-size 14px
    padding 0 20px 15px

  &__link
    background $skin
    font-size 14px
    text-transform uppercase
    padding 12px 20px
    color #fff
    cursor pointer

    &._half
      display inline-block
      width 50%

    &._gray
      background-color $gray
