.service-detail
  margin-top -20px
  padding 0 20px 8px

  &__img-container
    height 380px
    margin 0 -20px
    position relative
    text-align center

  &__img
    left 50%
    margin-left -320px
    position absolute
    top -60px

  &__bg
    background url('~../img/service-background.png') no-repeat
    height 1088px
    left 50%
    margin-left -320px
    position absolute
    top 115px
    width 640px
    z-index 0

  &__content
    position relative
    min-width 280px
    margin 0 auto

  &__extended-content
    position relative
    min-width 160px
    margin: 30px 16px 16px

  &__inner
    margin-top -60px
    position relative

  &__properties
    position relative
    display flex
    align-items center
    justify-content space-between
    margin-bottom 20px

  &__time
    position relative
    display flex
    align-items center
    color #9
    font-family $fontBody
    font-weight 600

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__price
    font-family $fontBody
    font-size 12px
    font-weight 600
    color #45484d

    span
      font-size 17px

    sup
      position relative
      top -5px
      font-size 12px

  &__title
    min-width 260px
    padding-right 20px

  &__button
    padding 4px 0 24px
    text-align center

  &__text
    font-family $fontBody
    font-size 14px
    color #45484d
    line-height 1.6
    min-width 260px

    h3
      font-size 16px
      font-weight 600
      max-width 240px
      margin-bottom 5px

    h3 + p
      margin-top 0

    p + h3
      margin-top 38px
