.service-testimonials-list
  position relative
  margin-bottom 37px

  &__title
    margin-bottom 28px

  &__slide
    font-family $fontBody
    width 255px
    opacity .5
    transition opacity $AT

    &.swiper-slide-active
      opacity 1

  &__top
    display flex
    align-items center
    margin-bottom 12px

  &__image-wrapper
    border 1px solid #dadae5
    border-radius 50%
    overflow hidden
    width 64px
    height 64px
    margin-right 14px

  &__image
    width 100%

  &__date
    font-size 12px
    font-weight 500
    color #45484d
    opacity .5
    margin-bottom 8px

  &__name
    font-size 16px
    font-weight 500
    color #45484d

  &__text
    font-size 12px
    font-weight 500
    color #45484d
    line-height 1.4

  &__slider-wrapper
    padding-bottom 20px

    .bullets
      position relative
      bottom -19px
