.steps
  font-size 12px
  font-weight 600
  color $gray
  text-align center
  overflow hidden

  &__container
    display flex
    justify-content space-between
    align-items center

  &__item
    position relative
    padding-bottom 20px

    &:after
      content ''
      position absolute
      top 10px
      height 1px
      width 290px
      background $gray

    &:last-child:after
      display none

  &__index
    width 21px
    height 21px
    line-height 20px
    border-radius 50%
    border 1px solid $gray
    background #fff
    position relative
    z-index 1

  &__title
    position absolute
    left -50px
    right -50px
    bottom 0
    margin auto
    white-space nowrap

  &__item:first-child &__title
    left 0
    right auto

  &__item:last-child &__title
    right 0
    left auto

  &__item._active,
  &__item._complete
    cursor pointer

  &__item._active:after,
  &__item._complete:after
    background $call-to-action

  &__item._active &__index,
  &__item._complete &__index
    background $call-to-action
    border-color $call-to-action
    color #fff

  &__item._active &__title,
  &__item._complete &__title
    color $call-to-action
