.studios
  position relative
  margin-bottom 14px

  &__content
    padding-top 26px

  &__slider-wrapper
    padding-bottom 64px

  &__slide
    width 260px

  &__links
    text-align center

  &__all-link
    position relative
    z-index 1
    text-transform uppercase
    text-decoration none
    font-family $fontHeader
    font-size 12px
    font-weight bold
    color $skin

  &__not-found
    color $text
    font-size 16px
    font-family $fontHeader
    font-weight 500
    line-height 1.5
    margin 10px 0
    text-align center

  .bullets
    position absolute
    bottom 33px
