.studio-detail
  font-family $fontBody
  position relative
  margin-bottom 19px
  font-size 14px
  font-weight 600

  &__image-wrapper
    overflow hidden

  &__image
    width 100%
    max-height 440px

  &__metro
    margin 0 16px

  &__phone
    margin 12px 16px
    font-size 14px
    color $skin
    display flex
    align-items center
    text-decoration none

    &-icon
      fill #bfbfbf
      height 16px
      margin-right 4px
      transform rotate(90deg)
      width 16px

  &__text-block
    margin 16px

  &__time
    align-items center
    display flex
    float left
    font-weight 500

  &__time-icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__how
    color $skin
    display block
    float right
    font-weight 500
    text-decoration none

  &__address
    clear both
    font-weight 400
    padding-top 16px

  &__button
    margin 16px

  &__title
    color #45484d
    font-family $fontBody
    font-size 14px
    font-weight bold
    margin 40px 16px 16px
    text-transform uppercase

  &__map-address
    font-family $fontBody
    font-size 14px
    font-weight 400
    line-height 20px
    margin 16px

  &__map-wrapper
    margin-bottom 48px

  &__prev,
  &__next
    background url('../img/next.svg') no-repeat 0 0
    background-size contain
    width 16px
    height 30px

  &__prev
    transform rotate(180deg)

  &__portfolio
    margin-bottom -36px
