.subscribe
  margin-top 48px
  position relative

  & .section__title
    padding 0 32px
    line-height 20px

  &__success
    color $green
    display none
    font-size 20px
    font-weight bold
    margin 8px 0
    text-align center

  &__form
    position relative
    text-align center
    padding-top 4px

  &__input
    height 42px
    line-height 42px
    border-radius 21px
    border 1px solid #f1f2f3
    font-size 11px
    color #757880
    text-transform uppercase
    width 280px
    padding 0 20px
    outline none
    display block
    margin 8px auto 12px
    letter-spacing 0.04em

  &__button
    width 280px
    display block
    margin 0 auto

    & button
      border none

  &__notify
    color #757880
    line-height 20px
    margin-bottom 12px
    text-align center
    padding 16px 16px 4px

    & a
      color #f59282
      text-decoration none
