.title-block
  min-height 255px
  position relative
  max-width 320px
  margin 0 auto 23px

  &__bg
    position absolute
    top -60px
    left -160px
    right 0
    width 640px

  &__content
    position relative
    padding 8px 33px 0

    &:after
      content ''
      position absolute
      top 18px
      left -10px
      right 0
      margin auto
      width 292px
      height 235px
      background url('~../img/slash.png') no-repeat

  &__menu
    position relative
    z-index 1
    text-align right
    display flex
    flex-direction column




  &__link
    text-decoration none
    text-transform uppercase
    font-family $fontHeader
    font-size 14px
    font-weight 600
    color #353639

    & + &
      margin-top 18px

  &__contacts
    margin-top 32px
    position relative
    display flex
    align-self flex-end

  &__whatsapp
    width 42px
    height 42px
    margin-right 12px

  &__whatsapp-icon
    width 42px
    height 42px
    fill $green

  &__phone
    align-self flex-end
    position relative
    background #fff
    border 2px solid $skin
    border-radius 50%
    width 40px
    height 40px

  &__phone-icon
    absolute-centered()
    width 15px
    height 15px
    fill $skin
    transform scaleX(-1)

  // banner

  &._banner
    min-height 298px

  &._banner &__content
    min-height 298px

  &._banner &__content:after
    display none

  &._banner &__menu
    position absolute
    right 32px
    bottom 2px

    &._top
      top 0
      right 10px
      bottom unset

  &._banner &__phone-icon
    width 8px
    height 13px
    right -2px

  &__price
    font-family $fontHeader
    font-size 12px
    &-currency
      margin-right 2px
    strong
      font-size 24px
      font-weight bold
  &__work
    font-family $fontHeader
    font-size 12px
    line-height 16px
    margin 10px 0
  &__img-text
    margin-top: -10px
    margin-left auto
    width 130px
