.works
  position relative
  margin-bottom 48px

  &__content
    padding-top 20px

  &__slider-wrapper
    margin-bottom 24px

  &__slider
    margin-bottom 36px

  &__slide
    width 260px

  &__links
    text-align center

  &__all-link
    position relative
    z-index 1
    text-transform uppercase
    text-decoration none
    font-family $fontHeader
    font-size 12px
    font-weight bold
    color $skin
