.work

  &__image-wrapper
    width 260px
    height 160px
    overflow hidden
    position relative
    text-decoration none

  &__image
    width 100%
    height 160px

    &._studio-detail
    &._index
      height 260px

  &__price
    position absolute
    left 0
    top 138px

  &__metro
    padding-top 7px

  &__master
    font-weight 400
    font-size 12px
    line-height 22px
    color $grayText
    margin-top 8px
    margin-bottom 8px

  &__master-name
    font-weight bold
    text-transform uppercase
    line-height 20px
    color $black3
    margin-top -4px

  &__metro
  &__masters
    text-align center
    color #353639
    font-size 14px
    letter-spacing 0.02em
    opacity 0
    visibility hidden

  &__text-block
    opacity 0
    visibility hidden
    transition opacity $AT
    display block
    text-align center
    align-items center
    justify-content space-between
    margin-bottom 6px
    padding-top 6px
    letter-spacing 0.02em

  &__masters
    padding-bottom 10px

  &__title
    font-family $fontBody
    font-size 14px
    font-weight 500
    color #38
    text-decoration none
    max-width 210px

  &__time
    position relative
    top 2px
    display flex
    align-items center
    color #9

  &__icon
    width 16px
    height 16px
    fill #bfbfbf
    margin-right 5px

  &__controls
    opacity 0
    visibility hidden
    transition opacity $AT

  &__popups
    display none

.swiper-slide-active .work__text-block
.swiper-slide-active .work__controls
.swiper-slide-active .work__metro
.swiper-slide-active .work__masters
  opacity 1
  visibility visible

.swiper-slide-active .work__metro
.swiper-slide-active .work__masters
  opacity 0.6
