*,
*:before,
*:after
  box-sizing border-box
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  outline none


a
  color #495c91

  &visited
    color #a4adc8

h1
  text-transform uppercase
  font-family $fontBody
  font-size 16px
  font-weight 600
  color #45484d
  line-height 1.5
  margin-top 0

h2, h3
  font-family $fontBody
  font-size 16px
  font-weight 600
  color #45484d
  margin-top 0
