mixin course-item(data)
  .course-item
    a(href=$.JSV).course-item__image-wrapper
      +img(data.img)(alt='image').course-item__image
    .course-item__text-block
      .course-item__title=data.name
      .course-item__properties
        .course-item__price
          b=data.cost
          | &nbsp;
          sup руб.
        .course-item__time
          +icon('time').course-item__icon(width=16 height=16)
          .course-item__time-amount=data.time
        .course-item__button
          a(href=$.JSV).button._course-item
            +icon('plus').course-item__button-icon(width=15 height=15)
            | записаться
      .course-item__text-wrapper
        .course-item__text=data.text
