mixin service-item(data)
  .service__item
    a(href=$.JSV).service__image-wrapper
      +img(data.img)(alt='image').service__image
    .service__time=data.time
    .service__price
      .offer-prices
        .offer-prices__comparison
          .offer-prices__new от&nbsp;
            b 2&nbsp;300&nbsp;
            sup руб.
    .service__text-block
      a(href=$.JSV).service__name=data.name
