<template lang="pug">
  .booking-schedule._type1
    .booking-schedule__slider-container.swiper-container(
      ref="swiper"
      data-type="schedule-type-1"
    )
      .booking-schedule__controls(v-if="!this.schedule.isFetching")
        .swiper-button-prev.booking-schedule__prev
        .swiper-button-next.booking-schedule__next
      .booking-schedule__slider-wrapper.swiper-wrapper(v-if="Object.keys(schedule.data).length")
        .booking-schedule__group.swiper-slide(v-for="(group, key) in schedule.data")
          .booking-schedule__group-title {{ dictionary[key] }}
          .booking-schedule__group-content
            .booking-schedule__item(
              v-for="interval in group"
              :class="{'_active': interval.timestamp === timestamp}"
              @click="handleIntervalClick(interval.timestamp)"
            )
              b {{ interval.start }}
              span {{ interval.end }}
      .booking-schedule__not-found(v-if="showNotFound") К сожалению, в этот день мастер уже занят
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import Swiper from 'Js/mobile/widget/Swiper';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  data() {
    return {
      swiper: '',
      dictionary: {
        morning: 'утро',
        day: 'день',
        evening: 'вечер',
      },
      showNotFound: false,
    };
  },

  computed: {
    ...mapState({
      schedule: state => state.booking.schedule,
      timestamp: state => state.order.timestamp,
    }),

    prev() {
      if (this.swiper.swiper) {
        if (!this.schedule.data.morning) {
          return 'день';
        }
        return this.swiper.swiper.activeIndex === 2 ? 'день' : 'утро';
      }

      return '';
    },

    next() {
      if (this.swiper.swiper) {
        if (!this.schedule.data.morning) {
          return 'вечер';
        }
        return this.swiper.swiper.activeIndex === 1 ? 'вечер' : 'день';
      }

      return '';
    },
  },

  created() {
    this.FETCH_SCHEDULE().then((data) => {
      if (Object.keys(data).length) {
        this.swiper = new Swiper(this.$refs.swiper);
      } else {
        this.showNotFound = true;
      }
    });
  },

  methods: {
    ...mapActions(['FETCH_SCHEDULE']),
    ...mapMutations(['SET_TIMESTAMP']),

    handleIntervalClick(timestamp) {
      if (timestamp !== this.timestamp) {
        this.SET_TIMESTAMP(timestamp);

        yaMetricsSendEvent('booking-time-selected');
        gaSendEvent('booking-time-selected', { event_category: 'booking' });
      }
    }
  },
};
</script>
