<template lang="pug">
  .booking-schedule._type3
    .booking-schedule__slider-container.swiper-container(
      ref="swiper"
      data-type="schedule-type-2"
    )
      .booking-schedule__controls(v-if="!this.schedule.isFetching")
        .swiper-button-prev.booking-schedule__prev
        .booking-schedule__group-names
          .booking-schedule__group-name(
            v-if="swiper"
            v-for="group, index in groupNames"
            @click="handleGroupSelect(index)"
            :class="{'_active': index === swiper.swiper.activeIndex}"
          ) {{ group }}
        .swiper-button-next.booking-schedule__next
      .booking-schedule__slider-wrapper.swiper-wrapper(v-if="Object.keys(schedule.data).length")
        .booking-schedule__group.swiper-slide(v-for="(group, key) in schedule.data")
          .booking-schedule__group-content
            .booking-schedule__item(
              v-for="interval in group"
              :class="{'_active': interval.timestamp === timestamp}"
              @click="handleIntervalClick(interval.timestamp)"
            )
              b {{ interval.start }}
              span {{ interval.end }}
      .booking-schedule__not-found(v-if="showNotFound") К сожалению, в этот день мастер уже занят
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import Swiper from 'Js/mobile/widget/Swiper';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  data() {
    return {
      swiper: '',
      dictionary: {
        morning: 'утро',
        day: 'день',
        evening: 'вечер',
      },
      showNotFound: false,
    };
  },

  computed: {
    ...mapState({
      schedule: state => state.booking.schedule,
      timestamp: state => state.order.timestamp,
    }),

    groupNames() {
      if (Object.keys(this.schedule.data).length) {
        return Object.keys(this.schedule.data).map(key => this.dictionary[key]);
      }

      return [];
    },
  },

  created() {
    this.FETCH_SCHEDULE().then((data) => {
      if (Object.keys(data).length) {
        this.swiper = new Swiper(this.$refs.swiper);
      } else {
        this.showNotFound = true;
      }
    });
  },

  methods: {
    ...mapActions(['FETCH_SCHEDULE']),
    ...mapMutations(['SET_TIMESTAMP']),

    handleIntervalClick(timestamp) {
      if (timestamp !== this.timestamp) {
        this.SET_TIMESTAMP(timestamp);

        yaMetricsSendEvent('booking-time-selected');
        gaSendEvent('booking-time-selected', { event_category: 'booking' });
      }
    },

    handleGroupSelect(index) {
      this.swiper.swiper.slideTo(index, 300);
    }
  },
};
</script>
