footer.footer
  .footer__top
    .footer__copy
      | © 2018 Мастерская маникюра
      br
      | by Lena Lenina
  .footer__bottom
    a(href=$.JSV).footer__doc-link Политика конфиденциальности
    a(href="https://studioratio.ru/", target="_blank").footer__ratio
      +icon('ratio').footer__ratio-icon
