include /mobile/mixins/menu

header.header.js-header
  .header__content
    .header__left
      a(href=$.JSV).header__logo
        +icon('logo').header__logo-icon(width=125 height=25)
    .header__right
      .header__sign-up
        a(href=$.JSV).button._small записаться
      a(href=$.JSV).header__menu-button.js-header-menu-button
        span
        span
        span
      .header__menu.js-header-menu: +menu()
