include /mobile/includes/data
include /mobile/includes/require

include /mobile/mixins/img
include /mobile/mixins/icon

block variables

doctype html
html.page(lang='ru')
  include /mobile/includes/head
  body.page__body
    .page__inner
      .page__header
        include /mobile/includes/header
      .page__main
        block main
      .page__footer
        include /mobile/includes/footer
