.contacts
  font-family $fontHeader
  padding 0 20px
  padding-top 25px
  padding-bottom 20px
  ul,li
    padding 0
    margin 0
    list-style: none
  p
    padding 0
    margin 0
  &-bg
    display none
  &-slash-bg
    position absolute
    top 0
    left 0
    transform translateY(-12%)
  &-top-bg
    position absolute
    top -60px
    right 0
    z-index -1
  &-bottom-bg
    position absolute
    bottom -136px
    right 0
    z-index -1
  &__title
    position relative
    font-size 18px
    line-height 18px
    font-weight 700
    color $black4
    margin-bottom 9px

  &__description
    position relative
    flex: 1
  &__text
    font-weight 300
    max-width 700px
    margin-bottom 19px
    > p
      font-size 14px
      line-height 20px
      &:not(:last-child)
        margin-bottom 1.5em

  &-addresses
    &__item
      &:not(:last-child)
        margin-bottom 30px
    .city
      font-size 16px
      font-weight 600
      margin-bottom 1em
    .places
      display flex
      flex-direction column
      &__item
        display flex
        flex-direction column
        &:not(:last-child)
          margin-bottom  10px
        &.places__item-metro
          flex-direction: row
          .places__item-address
            margin-left: -20px
        &-icon
          position relative
          max-width 15px
          min-width 15px
          max-height 15px
          min-height 15px
          margin-right .3em
        &-label
          font-size 14px
          line-height 14px
          font-weight 600
          margin-bottom 10px
        &-address
          font-size 14px
          line-height 20px
          font-weight 300
        &-phone
          color $skin
          display block
          text-decoration none





