.basket-item
  width 320px
  margin 0 55px 20px 0
  display flex

  &__img-wrapper
    overflow hidden
    width 120px
    min-width 120px
    height 120px
    margin-right 20px
    position relative

  &__img
    height 100%
    position absolute
    top 0
    left -50px
    right -50px
    margin auto

  &__text-block
    display flex
    flex-direction column
    justify-content space-between

  &__name
    font-size 16px
    font-weight bold
    color #383838
    margin-bottom 10px

  &__time
    display flex
    align-items center
    font-size 12px
    font-weight 500

  &__time-amount
    margin-left 6px

  &__controls
    display flex
