.booking-studios-metro
  width 220px
  height 56px
  overflow hidden
  background-color #fff
  position relative
  z-index 1

  &._expanded
    width 100%
    height auto

  &__top
    display flex
    justify-content flex-end

  &__caller
    height 56px
    width 220px
    background-color $skin
    display flex
    align-items center
    justify-content center
    font-size 11px
    color #f
    font-weight bold
    text-transform uppercase
    cursor pointer

  &__icon-wrapper
    width 30px
    height 30px
    border-radius 50%
    border 2px solid #FFF
    display flex
    align-items center
    justify-content center
    margin-right 8px

  &__bottom
    max-height 1280px
    overflow hidden

  &__map-wrapper
    position relative
    display inline-block
    margin 0 -25px
