.booking-contacts
  background #f
  width 1180px
  margin auto
  position relative
  font-family $fontBody
  padding 37px 140px 140px 120px

  &__title
    font-size 20px
    font-weight bold
    color #212733
    text-align center
    text-transform uppercase
    margin-bottom 35px

  &__content
    display flex
    justify-content space-between

  &__left
    width 460px

  &__right
    width 375px

  &__input-title
    font-size 11px
    color #757880
    text-transform uppercase
    margin-bottom 12px

    sup
      color $skin
      margin-right 5px

  &__input
    height 50px
    line-height 50px
    width 100%
    background transparent
    border 1px solid #e1e2e5
    border-radius 25px
    padding 0 25px
    font-size 16px
    font-weight 500
    color #171c26
    outline none

  &__input-group
    display block
    margin-bottom 20px

  &__controls
    display flex
    justify-content space-between

  &__submit
    width 165px

  &__checkbox
    margin-right 5px

  &__agreement-group
    font-size 10px
    color #606063

  &__agreement
    margin-bottom 15px

  &__agreement-info
    a
      color $skin
      text-decoration none

  &__subtitle
    font-size 13px
    font-weight bold
    color #c8c8cc
    text-transform uppercase
    margin-bottom 16px

  &__info-group
    margin-top 30px

  &__metro
    display flex
    align-items center
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 10px

  &__metro-icon
    margin-right 5px

  &__studio-info
    font-size 13px
    color #3d434d
    line-height 1.4
    margin-bottom 20px

  &__work-time
    color #b9b9bb

  &__phones
    display flex

  &__phone
    display flex
    text-decoration none

    & + &
      margin-left 20px

  &__phone-icon-wrapper
    width 30px
    margin-right 7px

  &__phone-number
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 5px

  &__wa-title
    color #76cd16
    font-weight 500

  &__service
    display flex
    font-size 13px
    color #3d434d
    position relative
    margin-bottom 17px

  &__service-name
  &__top-master
    width 56%
    font-weight bold

  &__service-time
    width 22%

  &__service-price
  &__extra
    width 22%
    text-align right

  &__top-master
  &__extra
    color $skin
    font-weight bold

  &__top-master
    width 78%

  &__service-delete
    position absolute
    top -1px
    right -34px
    cursor pointer

  &__result
    width 340px
    border-top 1px solid #f0
    padding-top 8px
    display flex
    justify-content flex-end
    font-size 13px
    font-weight bold

  &__mutual-time
    width 22%

  &__mutual-price
    width 22%
    text-align right

  &__note
    margin-top 20px
    font-weight 500
    color #a6a6ac
    text-align right
    position relative
    width 340px
    line-height 1.4

    a
      color $skin
      text-decoration none
      cursor pointer

  &__note-icon
    position absolute
    top 2px
    right -34px

  &__tea-coffee
    display flex
    position relative
    width 276px

    &:after
      content 'free'
      font-size 12px
      text-transform uppercase
      background $skin
      color $white
      font-weight bold
      padding 4px 6px
      position absolute
      left 50%
      margin-left -21px
      margin-top -8px
      border-radius 4px

  &__radio
    border 1px solid $gray10
    color $call-to-action
    text-decoration none
    text-transform uppercase
    transition all .33s ease
    height 40px
    line-height 40px
    font-size 12px
    font-weight 800
    margin-bottom 15px
    align-items center
    justify-content center
    display flex
    cursor pointer

    & + &
      border-left none

    &._tea,
    &._coffee
      width 50%

    &._tea
      border-radius 20px 0 0 20px

    &._coffee
      border-radius 0 20px 20px 0

    &._not-talk
      border-radius 20px
      margin-top -3px
      width 276px

    &._active
      color $white
      background $call-to-action
      border 1px solid $call-to-action

    &._active > .booking-contacts__radio-icon
      fill $white

  &__radio-icon
    width 18px
    height 18px
    fill $call-to-action
    margin-right 10px

  &__master
    position relative
    padding-left 25px

  &__master-time-icon
    position absolute
    top 0
    left 0

  &__info-group
    position relative

  &__edit
    position absolute
    top 0
    right 0
    cursor pointer

  &__error
    padding-top 5px
    color red
