.booking-calendar
  width 335px
  font-family $fontBody

  &__month-title
    font-size 18px
    font-weight bold
    color #171c26
    text-align center
    margin-bottom 35px

  &__prev,
  &__next
    position absolute
    top 0
    cursor pointer
    display flex
    align-items center
    height 20px
    z-index 11
    opacity 1
    background #f
    transition opacity .2s

    &.swiper-button-disabled
      opacity 0

  &__prev
    left 0
    transform rotate(180deg)

  &__next
    right 0

  &__week
    display flex
    margin-bottom 18px

  &__week-day
    width 46px
    font-size 12px
    color #757880
    text-align center

    & + &
      margin-left 2px

    &:nth-child(6),
    &:nth-child(7)
      color $skin

  &__days
    display flex
    flex-wrap wrap
    margin 0 -2px -2px 0

  &__day
    display flex
    align-items center
    justify-content center
    width 46px
    height 46px
    border 1px solid #96999f
    border-radius 50%
    font-size 14px
    color #3d434d
    font-weight bold
    margin 0 2px 2px 0
    cursor pointer
    transition border-color .2s, color .2s, background .2s

    &:first-child

      &._week0
        margin-left 288px

      &._week1
        margin-left 0

      &._week2
        margin-left 48px

      &._week3
        margin-left 96px

      &._week4
        margin-left 144px

      &._week5
        margin-left 192px

      &._week6
        margin-left 240px

    &._day-off
      border-color $skin

    &._today
      color $skin
      position relative

      &:after
        content ''
        position absolute
        top 7px
        left 0
        right 0
        margin auto
        width 4px
        height 4px
        border-radius 50%
        background $skin

    &._today._active:after
      background $call-to-action

    &:hover
      border-color $skin
      color $skin

    &._active
      color #f
      background $call-to-action
      border-color $call-to-action

    &._disabled
      opacity .5
      pointer-events none
