.booking-studios-map
  font-family $fontHeader

  &__map-wrapper
    height 80px
    overflow hidden
    transition height .33s, margin .33s

  &__map
    height 440px

  &__map:after
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background rgba(0,0,0,.6)
    opacity 1
    height 100%
    transition opacity .33s, height 0s 0s

  &._expanded &__map-wrapper
    height 440px
    margin-bottom 15px

  &._expanded &__map:after
    opacity 0
    height 0
    transition opacity .33s, height 0s .33s

  &__balloon
    position relative

  &__content
    position relative

  &__caller
    position absolute
    bottom -15px
    left 0
    right 0
    margin auto
    width 31px
    height 31px
    border-radius 50%
    background-color $skin
    display flex
    align-items center
    justify-content center
    z-index 111
    cursor pointer

  &__caller-text
    font-size 10px
    text-transform uppercase
    color #fff
    font-weight bold
    position absolute
    top -28px
    left -36px
    white-space nowrap

  &._expanded &__caller-icon
    transform rotate(180deg)

  &._expanded &__caller-text
    top auto
    bottom -22px
    color #000
    left -24px
