.booking-search
  position relative
  border-right 1px solid #f0

  &__icon
    position absolute
    top 20px
    right 20px
    margin auto

  &._services
    border-right none
    margin-bottom 20px
    margin-right -5px

  &._services &__icon
    top 12px
