.booking-services
  position relative
  background #f
  width 1180px
  margin auto
  font-family $fontBody

  &__content
    display flex
    margin-bottom 96px

  &__top
    position relative
    padding-left 240px
    min-height 90px

  &__title
    padding-top 40px
    font-size 20px
    font-weight bold
    color #353639
    text-transform uppercase
    text-align center

  &__categories
    padding-left 20px
    min-width 240px
    width 240px

  &__list
    flex-grow 1
    padding-right 28px
    position relative
    z-index 12

    &._services-search
      margin-bottom -60px

    &._services-search .services-list
        min-height auto

.services__no-search
  margin-top 60px
