.booking-studios-filters
  display flex
  display block
  align-items center
  font-family $fontHeader

  &__pedicure
    padding 0 20px
    display flex
    display none
    align-items center

  &__checkbox
    margin-right 13px
    cursor pointer

  &__icon
    margin-right 15px
    cursor pointer

  &__pedicure-title
    font-size 13px
    color #676b74
    cursor pointer
