.booking-studios-balloon
  width 460px
  min-height 187px
  padding 26px 29px 33px
  background #f
  box-shadow 0px 3px 15px 3px rgba(0,0,0,0.2)
  position absolute
  bottom 28px
  left -227px

  &__content
    display flex

  &__image-wrapper
    width 128px
    height 128px
    border-radius 50%
    margin-right 16px
    overflow hidden

  &__image
    height 100%
