.booking-studio-stats
  display flex
  flex-direction column
  justify-content space-between
  height 100%

  &__item
    width 38px
    height 38px
    display flex
    align-items center
    justify-content center
    background #F
    border-radius 50%
    cursor pointer

    & + &
      margin-top 5px

  &__icon._24
    position relative
    top -1px
