.booking-masters
  position relative
  background #f
  width 1180px
  margin auto
  font-family $fontBody

  &__content
    display flex
    padding 30px 60px 60px

  &__title
    text-align center
    font-size 20px
    font-weight bold
    color #353639
    text-transform uppercase
    padding-top 40px

  &__list
    padding-left 80px
    flex-grow 1
