.booking-basket
  position absolute
  top -90px
  right 0
  z-index 11
  font-family $fontBody

  &__top
    display flex
    justify-content flex-end

  &__caller
    height 40px
    display flex
    align-items center
    justify-content center
    background #c3c5c9
    color #f
    font-size 14px
    font-weight bold
    text-transform uppercase
    padding 0 24px

    &._active
      cursor pointer
      background $skin

   &__caller-icon + &__caller-title
    margin-left 10px

  &__caller-amount
    margin-left 6px

  &__shrinker
    width 2px
    height 40px
    background #212733
    transition width .2s
    display flex
    align-items center
    justify-content center
    cursor pointer

  &__shrinker &__caller-icon
    opacity 0
    transition opacity .2s

  &__shrinker._active
    width 40px

  &__shrinker._active &__caller-icon
    opacity 1

  &__bottom
    background #f
    min-width 500px
    box-shadow 0px 14px 50px 0px rgba(0, 0, 0, .3)
    display none

    &._active
      display block

  &__bottom-stats
    height 80px
    display flex
    align-items center
    justify-content flex-end
    padding 0 40px
    border-top 1px solid #efedf2

  &__time
    display flex
    align-items center
    font-size 12px
    font-weight 500

  &__time-amount
    margin-left 6px

  &__price
    font-size 14px
    font-weight bold
    color #45484d
    margin-left 13px

  &__submit
    margin-left 16px

  &__bottom-content
    display flex
    flex-wrap wrap
    padding 40px 15px 10px 39px
