.booking-studio-about
  font-family $fontHeader

  &__metro
    display flex

  &__metro-icon
    margin-right 7px

  &__metro-name
    font-size 11px
    color #96999f
    font-weight 500
    text-transform uppercase
    margin-bottom 10px

  &__name
    font-size 18px
    color #171c26
    font-weight bold
    margin-bottom 10px

  &__masters
    font-size 12px
    color #212733
    margin-bottom 10px

  &__address
    font-size 14px
    color #757880
    line-height 1.4
    margin-bottom 20px

  &__phone
    margin-bottom 20px

    a
      text-decoration none
      font-size 14px
      font-weight bold
      color #212733

  &__button
    width 180px

  // попап одной студии
  &._studio-map
    display flex
    justify-content space-between

  &._studio-map &__masters
    color #3d434d
    margin-bottom 0

  &._studio-map &__section:nth-child(2)
    max-width 290px


  &._studio-map &__section:nth-child(3)
    align-self center

  &._studio-map &__address
    font-size 11px
    margin-bottom 5px

  &._studio-map &__phone
    margin-bottom 0

    a
      font-size 12px

  // попап общей карты
  &._studio-balloon
    padding-top 3px

  &._studio-balloon &__metro-name
    margin-bottom 6px

  &._studio-balloon &__masters
    margin-bottom 22px

  &._studio-balloon &__button
    width 222px
