.booking-master
  font-family $fontBody
  position relative
  padding-left 30px
  cursor pointer

  &:before
    content ''
    position absolute
    top 3px
    left 0
    width 14px
    height 14px
    border 1px solid #c3c5c9
    border-radius 50%

  &._active:after
    content ''
    position absolute
    top 7px
    left 4px
    width 6px
    height 6px
    background $skin
    border-radius 50%

  &._disabled:before,
  &._disabled:after
    display none

  & + &
    margin-top 20px

  &__name
    font-size 18px
    font-weight bold
    color #3d434d
    margin-bottom 4px

  &__label
    font-size 9px
    color #676b74
    line-height 1.8
    text-transform uppercase

    & b
      color $skin

  &__extra
    font-weight 700
    font-size 16px
    color #5b5e64

  &__extra-label
    font-size 16px
    color $skin
    line-height 1.8
    margin-top -4px

  &._disabled &__name
    span:first-child
      opacity .5

  &__disabled
    font-size 9px
    color #f02441
    text-transform uppercase
    margin-left 5px

  &__content
    display flex
    justify-content space-between

  &__text
    width 230px

  &__perks
    display flex
    padding-left 8px

  &__perk + &__perk
    margin-left 8px

  &__warning
    margin-top 4px
    white-space nowrap
