.booking-studio-gallery
  font-family $fontHeader
  display flex
  padding 40px 37px 38px
  background #f

  &__slider + &__text-block
    margin-left 35px

  &__text-block
    padding-top 15px

  &__close
    position absolute
    top 0
    right -34px
    cursor pointer
