.booking-schedule
  margin-left -30px
  padding-top 20px

  &__group
    position relative

    & + &
      margin-top 10px

  &__group-title
    font-size 11px
    color #c4c6c9
    text-transform uppercase
    margin-bottom 6px

  &__slider-wrapper
    position relative

  &__controls
    display flex
    justify-content space-between
    padding 5px 0 21px
    border-bottom 1px solid #E4E6E7

  &__not-found
    padding 15px
    font-size 14px
    font-weight bold

  &__prev,
  &__next
    background none
    position relative
    top 0
    margin 0
    width auto
    height auto
    font-size 11px
    color $skin
    font-weight bold
    text-transform uppercase
    padding 0 17px

    &:after
      content ''
      position absolute
      top 3px
      left 5px
      width 7px
      height 7px
      border-top 2px solid $skin
      border-right 2px solid $skin
      transform: rotate(45deg)

    &.swiper-button-disabled
      opacity 0
      visibility hidden

  &__next:after
    left auto
    right 5px

  &__prev:after
    transform: rotate(-135deg)

  &__item
    display inline-block
    height 36px
    line-height 34px
    padding 0 16px
    margin 0 4px 6px 0
    border-radius 18px
    border 1px solid #c4c6c9
    font-size 10px
    transition .33s
    cursor pointer

    b
      display inline-block
      position relative

    &._active
      background $violet
      color #F
      cursor default

      b:after
        border-color #fff

  &__arrow
    color $skin
    margin 0 2px

  &__item._active &__arrow
    color #f

  &__submit
    text-align center
    margin 16px auto 0

    & .icon
      margin-left 0
