.booking-steps
  position relative
  width 1180px
  height 140px
  margin auto
  margin-bottom 20px
  font-family $fontBody

  &__content
    position absolute
    top 0
    left 0
    right 0
    width 1180px
    height 140px
    background #F
    transition width .33s ease, height .1s ease

  &__container
    display flex
    height 100%

  &__top
    display flex
    align-items center
    margin-bottom 8px

  &__item
    width 25%
    height 100%
    padding 15px 20px 21px
    position relative
    z-index 2

  &__index
    font-size 16px
    font-weight bold
    color #c3c5c9
    width 30px
    height 30px
    border 2px solid #c3c5c9
    border-radius 50%
    margin-right 13px
    display flex
    align-items center
    justify-content center

  &__item._active &__index,
  &__item._complete &__index
    border-color #757880
    color #757880
    z-index 2

  &__title
    font-size 13px
    color #c3c5c9
    font-weight bold
    text-transform uppercase

  &__item._active &__title
  &__item._complete &__title
    color #757880

  &__details
    padding-left 43px

  &._fixed &__content
    position fixed
    top 0
    left 0
    right 0
    width 100%
    box-shadow 0 -1px 5px 2px rgba(0,0,0,.1)
    height 56px
    z-index 1002
    overflow hidden

  &._fixed &__top
    align-items flex-start

  &._fixed &__details
    margin-top -21px

  &._fixed &__item:nth-child(4)
    display none

  &__next
    position absolute
    bottom 23px
    right 100px
    z-index 3

  &._fixed &__next
    bottom 9px
    right 125px
