.booking-studios-list
  padding 40px 40px 80px

  &__title
    font-size 20px
    color #353639
    font-weight bold
    text-align center
    text-transform uppercase
    margin-bottom 30px

  &__container
    display flex
    flex-wrap wrap

  &__subtitle
    font-size 16px
    color #353639
    font-weight bold
    text-align center
    text-transform uppercase
    margin-bottom 30px
