.booking-success
  position relative
  width 700px
  margin 0 auto
  color #3d434d
  margin-top 10px
  margin-bottom 50px

  &__back
    top 48px
    left 0
    text-decoration none
    font-family $fontBody
    font-size 11px
    font-weight bold
    text-transform uppercase
    color #3d434d
    display flex
    align-items center
    position relative
    z-index 2

    span:first-child
      color $skin
      position relative
      top -1px
      font-size 18px
      margin-right 5px

  &__title
    font-size 50px
    color #171c26
    text-align center
    margin-bottom 30px
    position relative

    span
      position relative
      z-index 1

    &:after
      content ''
      position absolute
      top -40px
      left 15px
      background url('~../img/slash4.png') no-repeat
      width 276px
      height 190px

  &__content
    background #f
    padding 45px 40px 30px 60px
    position relative
    z-index: 2

  &__top
    display flex
    justify-content space-between
    margin-bottom 45px

  &__left
    width 260px

  &__right
    width 300px
    height 230px

  &__announce
    font-size 13px
    line-height 1.4
    margin-bottom 30px

  &__date
    font-size 16px
    font-weight bold
    color $skin

  &__metro
    display flex
    align-items center
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 10px

  &__metro-icon
    margin-right 5px

  &__studio-info
    font-size 13px
    color #3d434d
    line-height 1.4
    margin-bottom 25px
    font-weight bold

  &__work-time
    color #b9b9bb
    font-weight normal

  &__phone
    display flex
    text-decoration none

    & + &
      margin-top 10px

  &__phone-icon-wrapper
    width 30px
    margin-right 7px

  &__phone-number
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 5px

  &__wa-title
    color #76cd16
    font-weight 500

  &__service
    display flex
    font-size 13px
    color #3d434d
    position relative
    margin-bottom 17px

  &__service-name
    width 56%

  &__service-time
    width 22%

  &__service-price
    width 22%
    text-align right

  &__service-delete
    position absolute
    top -1px
    right 0
    cursor pointer

  &__result
    border-top 1px solid #f0
    padding-top 20px
    margin-top 10px
    display flex
    justify-content flex-end
    font-size 13px
    font-weight bold
    margin-bottom 15px

  &__master
    width 56%
    font-weight normal

    &._only
      width 100%

  &__mutual-time
    width 22%

  &__mutual-price
    width 22%
    text-align right

  &__top-master-notification
    background rgba($skin, .3)
    padding 11px 19px
    font-size 13px
    color #000
    border-radius 4px
    display flex
    align-items center
    margin-bottom 15px

  &__note-icon
    margin-right 7px

  &__footer
    background #f
    padding 22px
    text-align center
    border-top 1px solid #f0

  &__cancel-notification
    font-size 13px
    color #71767f
    margin-bottom 15px

  &__cancel-order
    width 144px
    margin auto

    button
      padding 15px 12px 13px
