.booking-studio
  width 340px
  height 343px
  margin-left 20px
  margin-bottom 30px
  position relative

  &__gallery
    cursor pointer
    position relative
    overflow hidden
    height 200px
    display block
    text-decoration none

  &__image
    height 200px

  &__metro-icon
    position absolute
    left 0
    right 0
    top 9px
    margin 0 auto

  &__metro-icon-circle
    position absolute
    left 0
    right 0
    bottom -27px
    margin 0 auto
    border-radius 50%
    background #F
    width 47px
    height 47px

  &__info
    height 107px
    text-align center

  &__metro
    text-transform uppercase
    color #96999f
    font-size 11px
    overflow hidden
    text-overflow ellipsis

  &__metro-info
    height 38px
    padding-top 10px
    font-size 11px
    font-weight bold
    color #96999f
    text-transform uppercase
    line-height 1

  &__metro-distance
    padding-top 5px

  &__name
    font-weight bold
    color #171c26
    cursor pointer
    font-size 16px
    height 34px
    padding 7px 50px 0 50px
    overflow hidden
    line-height 1.1em
    text-decoration none
    display block

  &__distance
    color #c3c5c9
    font-size 12px
    span
      color #3d434d

  &__masters
    font-size 12px
    color #3d434d
    margin-top 5px
    margin-bottom 10px

  &__footer
    display none
    margin-top 16px
    overflow hidden

  &__footer-bottom
    display flex
    justify-content space-between

  &__address
    text-align center
    font-size 11px
    color #757880
    font-weight 500
    line-height 15px
    margin-bottom 13px

  &__phone
    float left
    width 50%
    font-size 12px
    a
      color #000
      text-decoration none
      font-weight 600

  &__more
    width 50%
    text-transform uppercase
    text-align right
    font-size 10px
    color $skin
    font-weight bold
    text-decoration none

  &__stats
    height 180px
    position absolute
    top 10px
    right 10px

  &:hover
    z-index 25

  &__inner
    background #fff

  &:hover &__inner
    margin -20px
    padding 20px
    box-shadow 0 0 18px 0 #a3a3a3

  &:hover &__footer
    display: block

  &:hover &__info
    height auto
