.booking-studios
  position relative
  padding 35px 0

  &__content
    background-color #F
    max-width 1180px
    margin auto
    overflow hidden

  &__top
    display flex
    display block
    justify-content flex-end
    position relative

  &__filters
    position absolute
    position static
    top 0
    left 0

  &__metro
    display none
