.booking-studio-map-modal
  padding 20px
  font-family $fontBody
  background #FFF

  &__map-wrapper
    margin-bottom 30px

  &__map
    height 400px

  &__close
    position absolute
    top 0
    right -34px
    cursor pointer
