.breadcrumbs
  position relative
  z-index 2
  padding-top 67px
  padding-left 109px

  &__icon
    fill $skin
    transform rotate(180deg)
    margin-right 13px

  &__link
    font-family $fontHeader
    font-weight 500
    color $gray21
    font-size 11px
    line-height 17px
    text-transform uppercase
    text-decoration none
    position relative
    background #fff
    border-radius 1024px
    padding 14px 20px

    &:after
      content ''
      position absolute
      top 0
      left 0

