.button
  a-reset()
  display inline-flex
  align-items center
  justify-content center
  text-transform uppercase
  border-radius 20px
  padding 13px 13px 11px
  cursor pointer
  font-family $fontHeader
  font-weight bold
  font-size 11px
  color #fff
  line-height 11px
  letter-spacing 0.5px
  transition $AT background-color, $AT border-color, $AT color
  background-color $skin
  position relative
  user-select none
  width 100%
  border 2px solid $skin

  &:hover
    background #F
    color $skin
    border-color $skin

  &[disabled]
    pointer-events none

  &._studio
    padding 12px 13px 11px
    font-size 12px

    &:hover
      background $skin
      color #F

    &[disabled],
    &._active,
    &[disabled]:hover,
    &._active:hover
      color #83858c
      background #fff

  &._small
    font-family Arial, Helvetica, sans-serif
    letter-spacing 0
    font-size 10px
    padding 8px 13px 6px
    line-height 1

  &._large
    font-size 12px
    padding 11px 20px 9px
    line-height 14px

  &._white
    background-color #fff
    color $skin
    border 1px solid #dce1e4

  &._call-to-action
    background-color $call-to-action
    color #F
    border 1px solid $call-to-action

    &:hover
      background #F
      color $call-to-action

    &._inverse
      background-color #f
      color $call-to-action
      border 1px solid #dce1e4

      &:hover
        background-color $call-to-action
        color #F
        border-color $call-to-action

    &[disabled]
      color #83858c
      border-color #83858c
      background #FFF

    &._active
      color #f
      border-color #babbbf
      background #babbbf

    &._active:hover
      color #83858c
      background #fff

  &._call-me
    width 186px

  // элемент страницы услуг
  &._service
    border-radius 0
    padding 0 12px
    font-size 12px
    height 32px
    line-height 32px

  &._service._with-children
    border none
    background #f
    color $skin
    box-shadow 0px 0px 15px 0px rgba(0, 0, 0, .2)

  &._service._with-children &__icon
    margin-left 5px
    transform rotate(180deg)
    transition .33s

  &._service._with-children._active &__icon
    transform rotate(0)

  // Основная кнопка в корзине
  &._basket
    font-size 12px
    padding 14px 26px 13px

  &._continue
    width 167px
    justify-content space-between

  &._basket &__icon
    margin-left 10px

  &._contacts
    font-size 12px
    border-radius 25px
    padding 19px 26px 18px

  &._title-action
    font-size 14px
    border-radius 24px
    padding 17px 22px 16px

  &._course-detail
  &._course-item
  &._service-detail
    letter-spacing 0.1em
    width 160px

  &._school
    letter-spacing 0.1em
    width 182px

  &._studio-detail
    text-transform initial
    font-size 18px
    width auto
    padding 25px 40px
    border-radius 1024px
    letter-spacing -0.001em

  &._studio-detail-nav
    font-size 11px
    height 32px
    line-height 32px

  &._studios
    width 160px
    letter-spacing 0.1em

  &._call-me
    width auto
    margin-left 16px
    margin-top 4px
    border 1px solid

  &._franchise
    letter-spacing .1em;
    width 182px

  &._franchise-form
    font-size 12px
    border-radius 25px
    padding 19px 26px 18px
