.career-menu
  padding-top 8px

  ul > a
    padding-bottom:10px
    display: block

    &._active,
    &:hover
      color #3d434d

  &__wrapper
    width 300px
    box-shadow 5px 0 30px #d2d1d3
    margin-left 132px
    margin-right 40px
    position absolute
    background-color #fff

    &._fixed
      position fixed
      z-index 1001
      top 102px
      left auto
      background-color #fff

  &__container
    margin 0
    padding 14px 0
    margin-left 22px

    > ul > a, > li > a
      &:hover
        color $gray12

      &._active-item:before,
      &:hover:before
        opacity 1

  &__item
    color $text
    font-family $fontHeader
    text-transform uppercase
    font-weight 600
    line-height 14px
    text-decoration none
    padding 10px 0
    position relative
    display block

    &._active > a
      color $gray12

    &._sub-item
      padding-left 16px
      font-weight: 500

      &._active > a
        color $gray12

      &:before
        display: none

  &__link
    text-decoration none
    color $text
    font-size 11px


    &:before
      content ""
      display block
      position absolute
      left -22px
      top 0
      height 36px
      width 2px
      background-color $skin
      opacity 0
      transition opacity .33s ease

    &._active,
    &:hover
      color $gray12
