.career-text

  .link-tel
    text-decoration none

  &__container
    font-family $fontHeader
    color $black4
    font-size 16px
    line-height: 24px
    font-weight 300
    margin-top -21px
    padding: 14px 12px 0 58px
    letter-spacing -0.003em

    & p
      margin: 0
      padding: 0
      & b
        display block
        padding-top 14px
      & strong
        font-weight: bold

  & ul
    list-style none
    margin 0
    padding 0
    margin-right -20px

  & li
    font-weight: 500
    padding-left 20px
    padding-bottom 20px
    position relative
    font-size 16px
    color #676b74
    line-height 24px

    &:before
      content ''
      position absolute
      top 10px
      left 0
      width 4px
      height 4px
      border-radius 2px
      border 1px solid $skin
      background $skin

  & h2, .career-text__title
    border-bottom 1px solid #f59282
    margin-top 48px
    margin-bottom: 36px
    padding-bottom 26px

  &__title
    display: flex
    h2
      border: 0
      color #3d434d
      font-family 'AvenirNextCyr'
      font-size 18px
      font-weight 600
      line-height 1.3
      margin: 0
      padding: 0

  &__region
    color #3d434d
    font-family 'AvenirNextCyr'
    font-size 18px
    font-weight 400
    line-height 1.3
    margin-left: auto
