.career-cost
  margin-top -33px
  margin-right -135px

  &__container
    float left
    width 33.3%
    padding-top 6px

    p
      font-size 14px

    span
      font-size 40px

  &__text
    font-size 16px

  b
    font-size 18px

  & ul
    list-style none
    margin 0
    padding 0
    margin-top 0
    margin-right -20px

  & li
    padding-left 20px
    padding-bottom 20px
    position relative
    font-size 16px
    color #676b74
    line-height 24px

    &:before
      content ''
      position absolute
      top 10px
      left 0
      width 4px
      height 4px
      border-radius 2px
      border 1px solid $skin
      background $skin
