.checkbox
  display inline-block
  width 14px
  height 14px
  position relative

  &__control
    height 1px
    width 1px
    opacity 0
    visibility hidden
    position absolute
    top 0
    left 0

  &__fake
    border 1px solid #d8dadc
    display flex
    align-items center
    justify-content center
    width 14px
    height 14px
    cursor pointer

  &__icon
    opacity 0
    transition opacity .2s

  &__control:checked ~ &__fake &__icon
    opacity 1

  &._contacts
    width 16px
    height 16px

  &._contacts &__fake
    width 16px
    height 16px
    border-radius 4px
    border none
    background $skin
