.contacts
  font-family $fontHeader
  overflow hidden
  padding-bottom 136px
  position relative
  ul,li
    padding 0
    margin 0
    list-style: none
  p
    padding 0
    margin 0
  &-bg
    position absolute
    top: -76px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
  &-slash-bg
    display none
  &-top-bg
    display none
  &-bottom-bg
    display none

  &__content
    max-width 1180px
    margin: 0 auto
    display flex
    padding-top: 60px
  &__title
    position relative
    font-size 50px
    line-height 50px
    font-weight 600
    color $black4
    padding-left: 16px
    text-transform none
    margin-right: 120px

  &__description
    position relative
    flex: 1
  &__text
    font-weight 300
    max-width 700px
    > p
      font-size 14px
      line-height 22px
      margin-bottom 25px
  &-addresses
    &__item
      &:not(:last-child)
        margin-bottom 20px
    .city
      font-size 20px
      font-weight 500
      padding-bottom 1em
      border-bottom: 1px solid #f59282
      margin-bottom 30px
    .places
      display flex
      flex-wrap: wrap
      margin -10px
      &.column
        flex-direction: column
        height 280px
      &__item
        display flex
        width: calc(50% - 20px)
        flex-direction: column
        margin 10px
        &.places__item-metro
          flex-direction: row

        &-icon
          position relative
          min-height 15px
          min-width 15px
          width 15px
          height 15px
          margin-right .8em
        &-text
          max-width 350px
        &-label
          font-size 16px
          line-height 14px
          font-weight 500
          margin-bottom 1em
        &-address
          font-size 13px
          font-weight 300
          line-height 20px
        &-phone
          display block
          text-decoration none





