.course-item
  padding-top 40px
  display flex
  flex-direction row
  margin-bottom 40px

  &__img-wrapper
    height 260px
    margin-right 40px
    text-decoration none

  &__img
    width 340px

  &__text-block
    margin-top -7px
    width 100%

  &__title
    font-family $fontHeader
    font-weight bold
    font-size 30px
    line-height 40px
    color $black4
    text-decoration none

  &__properties
    position relative
    display flex
    align-items center
    justify-content space-between
    padding-top 12px
    margin-bottom 20px
    padding-right 16px
    min-width 422px

  &__price
    font-family $fontBody
    font-size 24px
    font-weight bold
    color $skin
    margin-right 12px

    span
      font-size 24px

    sup
      position relative
      top -8px
      left -1px
      font-size 14px

  &__time
    position relative
    display flex
    align-items center
    color $gray17
    font-family $fontBody
    font-size 12px
    font-weight 600
    letter-spacing 0.04em
    margin-top -4px

  &__icon
    width 16px
    height 16px
    fill $gray17
    margin-right 8px

  &__button
    margin-left 64px

  &__button:hover .school__button-icon
    fill $violet

  &__button-icon
    margin-right 10px

  &__text
    color $black4
    font-family $fontHeader
    font-size 14px
    line-height 22px
    font-weight 300
    padding-right 28px
