.course-detail
  margin-bottom 20px
  margin-top -80px

  &__content
    position relative
    min-width 1440px
    margin 0 auto
    height 566px

  &__img-container
    height 943px
    position relative

  &__img
    position absolute
    left 50%
    margin-left -720px

  &__bg
    background url('~../img/static/course-bg.png') no-repeat
    height 1554px
    position absolute
    width 1440px
    z-index 0
    left 50%
    margin-left -720px
    top 0

  &__inner
    position absolute
    top 126px
    padding-left 130px

  &__title
    color $black4
    font-family $fontHeader
    font-size 50px
    font-weight bold
    text-align left
    line-height 52px
    letter-spacing -0.008em
    width 622px
    text-transform initial

  &__text
    font-weight 500
    color #96999f
    font-size 16px
    line-height 22px
    width 400px
    letter-spacing 0.02em
    margin-top -20px
    padding-left 4px

  &__properties
    position relative
    padding-top 32px
    padding-left 2px
    display flex

  &__price
    font-family $fontHeader
    font-weight bold
    font-size 36px
    color $skin
    line-height 38px
    margin-right 32px
    letter-spacing -0.01em

    & sup
      position relative
      top -12px
      font-size 18px
      left -5px
      letter-spacing 0.06em

  &__time
    position relative
    display flex
    color $gray23
    font-size 18px
    font-family $fontHeader
    font-weight 600
    margin-top 8px
    letter-spacing -0.01em

  &__icon
    fill $gray17
    margin-right 8px

  &__button
    margin-top 24px

  &__button-icon
    margin-right 10px
    fill $white

  &__button:hover &__button-icon
    fill $violet

  &__text-container
    position relative
    margin-left 434px
    margin-right 117px
    padding-bottom 4px

