.course-detail-text

  &__container
    font-family $fontHeader
    color $black4
    font-size 16px
    font-weight 300
    line-height 22px
    margin-top -19px
    padding-right 12px
    padding-left 58px
    letter-spacing -0.003em

    & p
      padding-bottom 4px

      & b
        display block
        padding-top 4px

  & ul
    list-style none
    margin 0
    padding 0
    margin-top -4px

  & li
    padding-left 36px
    padding-bottom 11px
    position relative
    font-size 16px
    color #676b74
    line-height 24px

    &:before
      content ''
      position absolute
      top 10px
      left 0
      width 4px
      height 4px
      border-radius 2px
      border 1px solid $skin
      background $skin

  & h2
    border-bottom 1px solid #f59282
    color #3d434d
    font-family 'AvenirNextCyr'
    font-size 30px
    font-weight 600
    line-height 1.3
    margin-top 48px
    margin-bottom 24px
    padding-bottom 20px

  &__detail-text
    font-size 15px
    line-height 25px
    font-family $fontHeader
    font-weight 300
    color $text
    padding-left 5px
    margin-top 23px
    padding-right 13px
    position relative

    &._first
      margin-top 0

    & h2
      border-bottom 1px solid $skin
      color $text
      font-family $fontHeader
      font-size 30px
      font-weight 600
      line-height 1.3
      margin-top 48px
      margin-bottom 24px
      padding-bottom 20px

    &._first h2
      margin-top 0

    & p
      margin 16px 0 40px

      & + ul
        margin-top -32px

    & ol, & ul
      margin-bottom 40px

    & dl
      columns 2
      padding-top 25px
      width 827px
      padding-bottom 4px

      & dt
        font-family $fontHeader
        font-size 20px
        color $black4
        font-weight 500
        line-height 28px
        padding-left 60px
        position relative

        &:before
          content ""
          display block
          position absolute
          left 1px
          top 14px
          height 1px
          width 40px
          background-color $skin

      & dd
        font-size 13px
        font-family $fontHeader
        color $gray24
        line-height 20px
        padding-top 5px
        padding-left 22px
        letter-spacing -0.01em
        padding-bottom 33px

    & table
      font-size 13px
      line-height 20px
      font-family $fontHeader
      border-collapse collapse
      margin-top 15px
      margin-left -2px
      margin-bottom 25px

      & thead
        border-bottom 1px solid $gray25

      & th
        padding-right 65px
        padding-bottom 4px
        font-weight 500

      & td
        padding-right 40px
        padding-top 11px
        padding-bottom 10px

    & .callout
      box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.1)
      background-color $white
      text-align center
      margin-top -16px
      margin-bottom 36px

      & p
        font-weight 500
        font-family $fontHeader
        font-size 20px
        line-height 28px
        color $gray21
        padding 48px 100px

      & img
        padding-top 62px
        margin-bottom -48px

      & ol
        font-family $fontHeader
        font-size 13px
        line-height 20px
        text-align left
        color $gray26
        margin-top -43px
        padding-left 160px
        padding-bottom 40px

        & li
          padding-right 113px
          padding-bottom 10px

  &__types
    & li
      display: block
      margin-top 16px

    & li:before
      background-color $skin
      content ''
      display block
      height 2px
      left 0
      position absolute
      top 11px
      width 24px

    &-item
      display inline-block
      position relative
      left 16px
      font-size 1.6rem
      font-weight bold
      letter-spacing 0.02em

    &-price
      position: relative
      top 5px
      display inline-block
      color #f59282
      font-size 24px
      font-weight bold
      font-family 'AvenirNextCyr'
      float right

      & sup
        font-size 0.6em
        font-weight 400
