.error-page
  text-align center
  margin auto
  padding 4px

  &__title
    font-size 40px
    margin-top 32px
    text-transform none

  &__body
    font-size 14px
    margin-bottom 24px
    color $text
    line-height 1.5

  &__enroll
    text-align center
    margin auto
    font-size 12px
    max-width 240px
    margin-bottom 20px

  &__to-back
    font-size 11px
    text-transform uppercase
    cursor pointer
    margin-bottom: 20px

    a
      text-decoration none
      color $skin
