.error-modal
  font-family $fontBody
  padding 44px 40px 40px
  text-align center
  background #fff
  border-radius 12px
  position relative

  &__link
    margin-top 20px
    width auto
    padding 13px 23px 11px

  &__title
    font-size 26px
    font-weight bold
    color #171c26
    margin-bottom 15px

  &__content
    font-size 13px
    font-weight 500
    color #757880

  &__close
    width 20px
    height 20px
    position absolute
    top 25px
    right 25px
    display flex
    align-items center
    justify-content center
    cursor pointer

  &__controls
    padding-top 20px
    display flex

.v--modal-overlay .v--modal-box
  background transparent
