.footer-social
  font-size 0
  line-height 0
  text-align right

  &__button
    position relative
    display inline-block
    background $white
    border 1px solid $gray11
    border-radius 50%
    width 42px
    height 42px
    margin-left 10px

    &._school
      justify-content center
      border-radius 20px
      font-size 14px
      color #919199
      align-items center
      display inline-flex
      width 112px
      text-decoration none

  &__vk-icon,
  &__ok-icon,
  &__inst-icon,
  &__fb-icon
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    fill $skin

  &__vk-icon
    height 10px
    width 16px

  &__ok-icon
    height 17px
    width 10px

  &__inst-icon
    height 14x
    width 14px

  &__fb-icon
    height 14px
    width 7px

  &__inst-school-icon
    height 14x
    width 14px
    fill $skin
    margin-right 12px
