.footer
  padding 20px 19px 79px
  min-width 1180px
  max-width 1180px
  margin 0 auto

  &__top
    border-bottom 1px solid #e3e3e6
    padding-bottom 36px
    margin-bottom 23px

  &__logo,
  &__phone,
  &__whatsapp
    float left
    padding-top 12px

  &__phone,
  &__whatsapp
    text-decoration none!important

  &__phone
    margin-left 36px
    margin-top -4px

  &__phone-icon
    fill $gray10
    margin-right 6px

  &__whatsapp
    margin-top -5px
    margin-left 56px

  &__wa-icon
    fill $gray12
    margin-right 9px

  &__phone-number,
  &__whatsapp-number
    font-size 19px
    color $black
    font-weight 700
    letter-spacing .1em
    line-height 15px

  &__whatsapp-number
    letter-spacing 0.05em

  &__phone-callback,
  &__whatsapp-callback
    font-size 12px
    line-height 20px
    color $gray10
    position absolute

  &__phone-callback
    margin-left 25px
    letter-spacing 0.02em

  &__whatsapp-callback
    margin-left 32px
    margin-top 2px

  &__copy
    font-size 12px
    line-height 16px
    color $black2
    padding-top 10px
    padding-bottom 14px

  &__doc-link
    font-family $fontBody
    font-size 12px
    line-height 14px
    opacity 0.7
    font-weight 500
    color $black3
    text-decoration none

  &__bottom
    display flex
    justify-content space-between

  &__bottom-left
    float left
    text-align left
    width 89%

  &__menu
    padding 0
    font-size 0
    line-height 0

  &__menu-column
    float left
    width 33.3%

  &__menu-item
    display block
    font-size 14px
    color $gray13
    text-decoration none
    line-height 24px
    letter-spacing 0.02em

  &__bottom-right
    float right
    text-align right
    width 32%

  &__ratio
    display inline-block
    margin-top 19px

  &__ratio-icon
    width 162px
    height 38px
    opacity 0.35
