.franchise
  margin-top -150px
  margin-bottom 120px

  &__content
    position relative
    min-width 1440px
    margin 0 auto
    height 566px

  &__img-container
    height 972px
    position relative

  &__img
    position absolute
    right 0
    top 75px

  &__bg
    background url('~../img/static/franchise-bg.png') no-repeat
    height 1554px
    position absolute
    width 1440px
    z-index 0
    left 50%
    margin-left -719px
    top 126px

  &__inner
    position absolute
    top 268px
    padding-left 130px

  &__title
    color $black4
    font-family $fontHeader
    font-size 50px
    font-weight bold
    text-align left
    line-height 52px
    letter-spacing -0.008em
    width 622px
    text-transform initial

  &__sub-title
    font-weight bold
    padding-top 54px
    font-size 18px
    padding-bottom 26px

  &__text
    font-weight 500
    color #96999f
    font-size 16px
    line-height 22px
    width 490px
    letter-spacing 0.02em
    margin-top -8px
    padding-left 4px

  &__button
    margin-top 38px

  &__button-icon
    margin-right 10px
    fill $white

  &__button:hover &__button-icon
    fill $violet

  &__text-container
    position relative
    margin-left 434px
    margin-right 117px
    margin-bottom 118px

  &__reasons
    margin-top 18px
    padding-left 40px
    margin-right -124px
    padding-top 4px
    margin-bottom 63px

  &__reason-title
    padding-top 18px
    font-weight bold
    margin-left -40px
    margin-bottom -12px

  &__reason-container
    display inline-block
    width 394px
    padding 24px 0px 0px 0px
    margin-bottom 0px
    margin-right 22px

  &__reason-name
    font-family $fontHeader
    font-size 16px
    color $text
    font-weight 500
    line-height 28px
    position relative
    letter-spacing -0.01em

    &:before
      content ""
      display block
      position absolute
      left -40px
      top 16px
      height 1px
      width 24px
      background-color $skin

  &__text-block
    margin-top 30px
    display flex
    flex-direction row
    margin-right -11px

  &__left
    width 50%
    margin-bottom 25px

  &__right
    width 50%
    padding-left 47px
