.franchise-form
  position relative
  font-family $fontBody
  padding 78px 0 0 58px
  background #fafafb

  &__form
    max-width 1180px
    margin 0 auto
    padding 0 74px

  &__title
    font-size 30px
    font-weight bold
    text-align center
    color $black
    padding-bottom 48px

  &__sub-title
    clear left
    text-align center
    font-size 14px
    text-transform uppercase
    padding-bottom 4px
    padding-top 21px

  &__field
    display block
    float left
    margin-right 24px

    &._triple
      width 31%

      &:last-child
        margin-right 0

    &._double
      width 47%
      margin-right 30px

      &:last-child
        margin-right 0

    &._one
      width 48%
      margin-right 50%

  &__content
    display flex
    justify-content space-between

  &__textarea-container
    margin-left 16px
    width 100%

  &__inputs-container
    width 100%

  &__left
    width 460px

  &__right
    width 375px

  &__input-title
    font-size 11px
    color #757880
    text-transform uppercase
    margin-bottom 12px

    sup
      color $skin
      margin-right 5px

  &__input
  &__textarea
    height 50px
    line-height 50px
    background $white
    border 1px solid #e1e2e5
    border-radius 25px
    padding 0 25px
    font-size 16px
    font-weight 500
    color #171c26
    outline none
    width 100%

    &.error
      color #ef3f2d
      border 1px solid #ef3f2d

  &__input-error-ico
    display none
    position absolute
    right 17px
    top 37px
    font-size 0
    cursor pointer
    background-image url('~../img/error.png')
    width 23px
    height 21px

  &__textarea
    height 118px
    resize none
    padding 15px 40px
    line-height 1.6

  &__input-group
    display block
    margin-bottom 18px
    position relative

    & label.error
      opacity 0
      position absolute
      z-index 10
      right 1px
      border-radius 14px
      top 93%
      padding 14px 18px 18px
      font-size 12px
      line-height 17px
      color #676b74
      background #fff
      transition all .2s ease-in-out
      box-shadow 0 -5px 30px 0 rgba(0, 0, 0, 0.15)

      &:after
        content ''
        display block
        position absolute
        top -6px
        right 21px
        width 0
        height 0
        border-style solid
        border-width 0 6px 6px
        border-color transparent transparent #fff

  &__controls
    display flex
    justify-content space-between
    margin-top 20px
    clear left
    padding-bottom 70px

  &__submit
    width 165px
    margin-top 4px
    margin-right 40px

  &__checkbox
    margin-right 5px

  &__checkbox-label
    margin-left 5px
    font-size 12px
    color #757880

  &__agreement-group
    font-size 10px
    color #606063

  &__agreement
    margin-bottom 15px
    margin-top 19px

  &__agreement
    a
      color $skin
      text-decoration none

  &__subtitle
    font-size 13px
    font-weight bold
    color #c8c8cc
    text-transform uppercase
    margin-bottom 16px

  &__info-group
    margin-top 30px

  &__metro
    display flex
    align-items center
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 10px

  &__metro-icon
    margin-right 5px

  &__studio-info
    font-size 13px
    color #3d434d
    line-height 1.4
    margin-bottom 20px

  &__work-time
    color #b9b9bb

  &__phones
    display flex

  &__phone
    display flex
    text-decoration none

    & + &
      margin-left 20px

  &__phone-icon-wrapper
    width 30px
    margin-right 7px

  &__phone-number
    font-size 13px
    font-weight 500
    color #3d434d
    margin-bottom 5px

  &__wa-title
    color #76cd16
    font-weight 500

  &__service
    display flex
    font-size 13px
    color #3d434d
    position relative
    margin-bottom 17px

  &__service-name
  &__top-master
    width 56%
    font-weight bold

  &__service-time
    width 22%

  &__service-price
  &__extra
    width 22%
    text-align right

  &__top-master
  &__extra
    color $skin
    font-weight bold

  &__top-master
    width 78%

  &__service-delete
    position absolute
    top -1px
    right -34px
    cursor pointer

  &__result
    width 340px
    border-top 1px solid #f0
    padding-top 8px
    display flex
    justify-content flex-end
    font-size 13px
    font-weight bold

  &__mutual-time
    width 22%

  &__mutual-price
    width 22%
    text-align right

  &__note
    margin-top 20px
    font-weight 500
    color #a6a6ac
    text-align right
    position relative
    width 340px
    line-height 1.4

    a
      color $skin
      text-decoration none
      cursor pointer

  &__note-icon
    position absolute
    top 2px
    right -34px

  &__tea-coffee
    display flex
    position relative
    width 276px

    &:after
      content 'free'
      font-size 12px
      text-transform uppercase
      background $skin
      color $white
      font-weight bold
      padding 4px 6px
      position absolute
      left 50%
      margin-left -21px
      margin-top -8px
      border-radius 4px

  &__radio
    border 1px solid $gray10
    color $call-to-action
    text-decoration none
    text-transform uppercase
    transition all .33s ease
    height 40px
    line-height 40px
    font-size 12px
    font-weight 800
    margin-bottom 15px
    align-items center
    justify-content center
    display flex
    cursor pointer

    & + &
      border-left none

    &._tea,
    &._coffee
      width 50%

    &._tea
      border-radius 20px 0 0 20px

    &._coffee
      border-radius 0 20px 20px 0

    &._not-talk
      border-radius 20px
      margin-top -3px
      width 276px

    &._active
      color $white
      background $call-to-action
      border 1px solid $call-to-action

    &._active > .booking-contacts__radio-icon
      fill $white

  &__radio-icon
    width 18px
    height 18px
    fill $call-to-action
    margin-right 10px

  &__master
    position relative
    padding-left 25px

  &__master-time-icon
    position absolute
    top 0
    left 0

  &__info-group
    position relative

  &__edit
    position absolute
    top 0
    right 0
    cursor pointer

  &__error
    padding-top 5px
    color red

  &__success
    color $text
    font-size 16px
    display none
    line-height 1.4
    padding 16px 40px 100px
    text-align center

  &__rub
    font-size 16px
    font-weight 500
    position absolute
    top 40px
    right 40px
    color #96999f
