.gallery-slider
  position relative

  &__upper-slider
    visibility visible
    width 720px
    height 425px
    position relative

  &__upper-slide
    position absolute
    top 0
    left 0
    overflow hidden
    opacity 0
    transform translateX(-10px)
    transition opacity .5s, transform .5s
    width 720px
    height 425px

    &._active
      opacity 1
      transform translateX(0)
      transition opacity .5s, transform .5s
      z-index 1

  &__img
    width 100%

  &__fancybox-ico-wrapper
    display block
    position absolute
    bottom 20px
    right 20px
    width 48px
    height 48px
    border-radius 50%
    background $skin
    z-index 80

  &__fancybox-ico
    position absolute
    top 15px
    left 15px

  &__bottom-slider-container
    width 512px

  &__bottom-slide
    width 128px
    height 82px
    position relative
    cursor pointer
    display flex

    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background rgba(#212733, .6)
      transition opacity .5s

  &__bottom-slider-container
    margin 0
    user-select none

  &__bottom-slide:hover:after,
  &__bottom-slide._active:after
    opacity 0

  &__prev,
  &__next
    padding 12px 20px 8px
    display flex
    align-items center
    cursor pointer

  &__next
    padding 8px 20px 12px
    transform rotate(180deg)

  &__navigation
    right 0
    bottom 0
    width 198px
    height 76px
    position absolute
    display flex
    align-items center
    justify-content center
    z-index 2
    user-select none

  &__current
    font-size 19px
    font-weight bold
    color #171c26

  &__length
    font-size 12px
    font-weight bold
    color #96999f
