.header
  position relative
  min-width 1180px
  background $white
  box-shadow 5px -6px 32px 0px rgba(61,54,68,0.25)

  &__content
    display flex
    align-items center
    justify-content space-between
    padding 20px 28px 20px 40px

  &__left,
  &__right
    display flex
    align-items center

  &__menu
    margin-left 24px

  &__menu-item
    color $gray6
    font-family $fontHeader
    font-size 11px
    text-decoration none
    line-height 34px
    text-transform uppercase
    font-weight 700
    padding 0 12px
    border 1px solid $white
    border-radius 10000px
    display inline-block

    &:hover
      color $skin

    &._active
      border 1px solid $skin
      color $skin

  &__sign-up
    transition $AT
    margin-right 12px

  &__whatsapp,
  &__phone,
  &__personal
    text-decoration none !important

  &__whatsapp
    margin-left 42px

  &__wa-icon
    fill $green
    float left
    margin-top 4px

  &__phone
    margin-left 48px
    margin-top -5px

  &__phone-icon
    fill $gray10
    float left
    margin-top 5px

  &__phone-number,
  &__whatsapp-number
    font-size 15px
    color $black4
    font-family $fontHeader
    font-weight 700
    letter-spacing 0.02em
    line-height 15px
    margin-left 14px

  &__phone-callback,
  &__whatsapp-callback
    font-size 12px
    line-height 20px
    font-family $fontHeader
    position absolute
    margin-left 16px

  &__whatsapp-callback
    color $green

  &__phone-callback
    color $gray10

  &__personal
    margin-top 5px
    margin-left 36px

  &__personal-icon
    float left
    margin-right 15px

  &__personal-name
    text-align left
    text-transform uppercase
    font-size 11px
    font-family $fontHeader
    font-weight 600
    color $text
    display inline-block
    margin-top -5px
    letter-spacing 0.02em
