.index-gallery
  padding-bottom 80px
  font-family $fontBody
  position relative
  z-index 1

  &__content
    max-width 1180px
    margin 0 auto

  &__title
    font-size 32px
    font-weight bold
    color #212733
    margin-bottom 26px

  &__swiper-slide,
  &__small
    display flex
    flex-wrap wrap

  &__swiper-slide
    width 1180px

  &__small
    width 690px

  &__img-wrapper
    width 226px
    height 230px
    overflow hidden
    margin-right 4px
    margin-bottom 4px

    &._large
      width 486px
      height 464px
      position relative

  &__img
    height 100%

  &__controls
    display flex
    justify-content center
    padding-top 36px

  &__popups
    display none

  &__text
    position absolute
    left 0
    bottom 0
    padding 8px
    font-size 16px
    line-height 1
    color $text
    font-weight 500
    background rgba(255, 255, 255, .92)

    &._large
      font-size 20px
      padding 12px
