.index-portfolio-item
  display inline-block
  width 220px
  height 220px
  margin 0 20px 20px 0
  position relative

  &._studio-detail
    width 196px
    height 196px

  &__img-wrapper
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    overflow hidden

  &__img
    width 100%

  &__text
    position absolute
    left 0
    bottom 0
    padding 10px 10px 15px
    font-size 16px
    font-weight 500
    color $text
    z-index 1

  &__position
    font-size 10px
    font-weight 300
    margin-bottom 2px
