.index-controls
  display flex
  align-items center
  font-family $fontBody

  &__left,
  &__right
    display flex
    align-items center
    justify-content center
    height 20px
    width 45px
    cursor pointer

  &__left &__control-icon
    transform rotate(180deg)

  &__pagination
    width auto
    font-size 19px
    font-weight bold
    color #171c26
    margin 0 15px
