.index-portfolio-popup
  padding 0
  overflow hidden
  font-family $fontBody

  &__img-wrapper
    max-width 690px
    max-height 690px

  &__img
    max-width 100%

  &__text-block
    display flex
    align-items center
    justify-content space-between
    padding 30px 30px 20px

  &__position
    font-size 10px
    color #96999f

  &__name
    font-size 16px
    font-weight bold
    color #171c26

  &__button
    width 160px

  &__controls
    display flex
    justify-content center
    padding 0 30px 30px
