.index-portfolio
  font-family $fontBody
  z-index 1
  position relative
  padding-bottom 55px

  &__content
    display flex
    max-width 1180px
    margin 0 auto

  &__slider-wrapper
    width 720px
    min-width 720px
    margin-right 36px

  &__slide
    width 720px
    display flex
    flex-wrap wrap

  &__popups
    display none

  &__title
    font-size 32px
    font-weight bold
    color #212733
    margin-top -3px
    margin-bottom 22px

  &__text-block
    position relative

  &__controls
    position absolute
    left 5px
    bottom 35px

  &__description
    font-size 14px
    font-weight 300
    color #434447
    line-height 1.5
    padding-left 3px

    ul
      list-style none
      margin 0
      padding 0

      &._double
        columns 2
        width 300px

    a
      font-size 16px
      font-weight 500
      color $skin
      text-decoration none
