.index-subscribe
  padding-bottom 50px
  font-family $fontBody
  position relative
  z-index 1

  &__content
    max-width 1180px
    margin 0 auto

  &__top
    display flex
    align-items center

  &__title
    width 605px
    min-width 605px
    margin-right 10px
    font-size 28px
    font-weight bold
    color #212733

  &__form
    display flex

  &__input
    height 42px
    line-height 42px
    border-radius 21px
    border 1px solid #f1f2f3
    font-size 11px
    color #757880
    text-transform uppercase
    margin-right 20px
    width 384px
    padding 0 20px
    outline none

  &__button
    width 160px

  &__description
    padding-top 23px
    font-size 14px
    color #9c9fa6

    a
      color $skin
      text-decoration none

  &__success
    color $green
    display none
    font-size 28px
    font-weight bold
    text-align center
