.input
  font-family $fontBody

  &__control
    width 100%
    border 1px solid #ededed
    background rgba(#ededed, .3)
    outline none
    height 35px
    line-height 36px
    position relative
    border-radius 2px
    color #707070
    font-size 12px
    font-weight bold
    text-transform uppercase
    padding 0 20px

    +placeholder()
      opacity .7

  &._studios
    width 580px
    width auto

  &._studios &__control
    height 56px
    line-height 56px
    border-radius 0
    font-size 15px
    color #3d434d
    background #F
    text-transform none
    font-weight 300

  &._services &__control
    height 40px
    line-height 40px
    border-radius 20px
    font-size 13px
    color #3d434d
    background #F
    text-transform none
    font-weight 500
