.linked-services

  &__item
    border-top 1px solid $skin
    padding-top 44px
    display flex
    flex-direction row
    margin-bottom 45px

  &__img-wrapper
    height 260px
    text-decoration none

  &__img
    width 340px

  &__text-block
    margin-left 39px
    margin-top -7px
    width 100%

  &__title
    font-family $fontHeader
    font-weight bold
    font-size 30px
    line-height 40px
    color $black4

  &__properties
    position relative
    display flex
    align-items center
    justify-content space-between
    padding-top 13px
    margin-bottom 20px
    margin-left 4px
    padding-right 20px
    min-width 422px

  &__price
    font-family $fontBody
    font-size 24px
    font-weight bold
    color $skin
    margin-right 16px

    span
      font-size 24px

    sup
      position relative
      top -8px
      left -1px
      font-size 14px

  &__time
    position relative
    display flex
    align-items center
    color $gray17
    font-family $fontBody
    font-size 12px
    font-weight 600
    letter-spacing 0.04em

  &__icon
    width 16px
    height 16px
    fill $gray17
    margin-right 8px

  &__button
    margin-left 16px

  &__button:hover .service-detail__button-icon
    fill $violet

  &__text
    color $black4
    font-family $fontHeader
    font-size 14px
    line-height 22px
    font-weight 300
    padding-right 28px
