.main
  position relative
  flex-grow 1
  max-width 1440px
  min-width 1180px
  margin auto
  background-color #f9f9fa

  &._studio-detail
    background-color $white
    max-width none

  &._franchise
    background-color $white

  &._career
    background-color $white

  &__bg
    position absolute

    &._top
      top -($headerHeight)
      right 0
      left 0
      margin auto
      max-width 100%

  &__title
    font-size 40px
    font-family $fontHeader
    font-weight bold
    color $black4
    padding 34px 16px 16px
    position relative
    text-transform none
    text-align center
    margin 0
