.offer-prices
  display flex
  align-items center

  &__comparison
    font-size 14px
    font-family $fontHeader
    background $gray2
    color $white
    display flex
    align-items center
    justify-content center
    height 32px
    padding 0 12px 0 13px
    text-transform lowercase

  &__profit
    height 32px
    width 73px
    display flex
    flex-direction column
    align-items center
    text-align left
    justify-content center
    font-size 11px
    line-height 1.5
    color #a2a3a5

  &__old
    text-decoration line-through

  &__new

    sup
      position relative
      top -4px
