.page
  default-font()

  &,
  &__body
    height 100%

  &__body
    min-height 100vh

  &__inner
    position relative
    margin 0 auto
    min-width 1180px
    overflow hidden
    min-height 100%
    padding-bottom $footerHeight

  &__main
    position relative
    background-color $gray20
    margin-top $headerHeight

  &__footer
    position absolute
    bottom 0
    left 0
    right 0
    z-index 11
    background $white

  &__header
    position fixed
    z-index 1001
    top 0
    left 0
    right 0
    margin auto

    &._absolute
      position absolute
