.popular-services-popup

  & .title-popular-service__slider-wrapper
    margin-bottom 16px
    width 1180px

  & .title-popular-service-slide
    display inline-block
    vertical-align top

  &__button
    text-align center

    & .button
      width 160px
