.school
  &__content
    position relative
    min-width 1440px
    margin 0 auto
    height 566px

  &__img-container
    height 943px
    position relative

  &__img
    position absolute
    left 50%
    margin-left -720px

  &__bg
    background url('~../img/static/course-bg.png') no-repeat
    height 1554px
    position absolute
    width 1440px
    z-index 0
    left 50%
    margin-left -720px
    top 0

  &__inner
    position absolute
    top 140px
    padding-left 130px

  &__title
    color $black4
    font-family $fontHeader
    font-size 50px
    font-weight bold
    text-align left
    line-height 52px
    letter-spacing -0.008em
    width 622px
    text-transform initial

  &__text
    font-weight 500
    color #96999f
    font-size 16px
    line-height 22px
    width 400px
    letter-spacing 0.02em
    margin-top -24px
    padding-left 4px

  &__button
    margin-top 48px

  &__button-icon
    margin-right 10px
    fill $white

  &__button:hover &__button-icon
    fill $violet

  &__text-container
    position relative
    margin-left 434px
    margin-right 117px
    margin-bottom 118px

  &__slider
    position relative
    margin-bottom 104px
    margin-top 44px
    min-width 748px

    & .gallery-slider__upper-slider
      width 100%
      height 460px

    & .gallery-slider__upper-slide
      width 100%
      height 100%

    & .gallery-slider__img
      width 100%
      min-height 100%
      min-width 100%

    & .gallery-slider__fancybox-ico-wrapper
      bottom 22px
      right 18px

    & .gallery-slider__navigation
      width 210px
      height 87px

    &.gallery-slider__prev
      margin-top -24px
      margin-left -13px
      padding-right 16px

    &.gallery-slider__next
      margin-top -24px
