.seo
  margin 0 auto
  max-width 1180px
  padding-bottom 40px

  &__text-block
    margin-top 44px
    display flex
    flex-direction row

  &__title,
  h3, h2
    font-family $fontHeader
    font-size 18px
    color $text
    line-height 40px
    font-weight 600
    margin 0

    &._studio-detail
      margin-bottom -32px

  &__left
    width 480px
    min-height 200px
    border-right 1px solid $gray19
    flex-grow 1
    margin-bottom 25px

  &__main-text
    color $gray17
    font-family $fontHeader
    font-size 14px
    line-height 22px
    margin 0
    padding-top 18px
    padding-right 55px
    letter-spacing -0.01em

    &._studio-detail
      padding-right 0

  &__center-text
    color $gray17
    font-family $fontHeader
    font-size 14px
    line-height 22px
    text-align center
    margin 0
    padding-top 54px
    padding-right 55px
    letter-spacing -0.01em

  &__right
    min-width 400px
    padding-left 60px

  &__services-description
    font-family $fontHeader
    font-weight 400
    font-size 14px
    color $gray18
    line-height 22px
    letter-spacing 0.004em
    margin-top 5px

  &__services-column
    float left
    margin-top 10px
    min-width 155px

  ul
    list-style none
    margin 0
    padding 0

    &._double
      columns 2
      min-width 400px

    & li
      width 216px
      margin-right 16px

      & a
        line-height 22px
        padding-bottom 4px

  &__service,
  a
    font-family $fontHeader
    font-size 14px
    color $text
    line-height 28px
    text-decoration none
    display block
    font-weight 500
    letter-spacing -0.01em

  &__reasons
    border-top 1px solid $skin
    margin-top 18px
    padding-left 60px
    margin-right -58px
    padding-top 4px

  &__reason-container
    display inline-block
    width 435px
    padding 28px 0px 0px 0px
    margin-bottom 0px
    margin-right 22px

  &__reason-name
    font-family $fontHeader
    font-size 16px
    color $text
    font-weight 500
    line-height 28px
    position relative
    letter-spacing -0.01em

    &:before
      content ""
      display block
      position absolute
      left -60px
      top 16px
      height 1px
      width 40px
      background-color $skin

  &__reason
    font-size 13px
    font-family $fontHeader
    color $gray17
    line-height 18px
    padding-top 7px
    letter-spacing -0.006em
    padding-right 93px

  &__quote-container
    position relative
    text-align center
    margin-top 50px

    &._studio-detail
      margin-top 12px

  cite
    display block
    font-size 18px
    color $skin
    padding-top 17px
    padding-right 38px
    padding-left 60px
    position relative

    &._studio-detail
      padding-top 4px
      padding-right 0

    &:before
      content ""
      display block
      position absolute
      left 0
      top 26px
      height 1px
      width 40px
      background-color $skin

    &._studio-detail:before
      top 14px

  // Главная страница

  &._index &__right
    min-width 520px
    width 520px
    padding-left 60px

  &._index &__reasons
    border-top none
    display flex
    flex-wrap wrap
    width 1180px

  &._index &__reason-container
    width 357px

  &._index &__reason-container:nth-child(3n)
    margin-right 0

  &._index &__text-block
    margin-top 0

  &__quote
  blockquote
    display block
    font-family $fontBody
    font-size 18px
    font-weight 500
    font-style normal
    color $text
    line-height 28px
    padding-top 26px
    padding-bottom 31px
    margin 0
    letter-spacing 0.004em

    &:before,
    &:after
      width 250px
      background-color $skin
      height 1px
      content ""
      display block
      position absolute
      left 0
      right 0
      margin auto

    &:before
      top 0

    &:after
      bottom 0
