.service-children
  overflow hidden
  box-shadow 0px 10px 40px 0px rgba(0, 0, 0, .2)
  position relative
  background #f
  z-index 11

  &__content
    border-top 2px solid $skin
    padding 45px 70px 70px 60px

  &__exit
    position absolute
    top 15px
    right 15px
    cursor pointer
