.service

  &__container
    margin-top 17px
    display flex
    flex-wrap wrap
    margin-right -20px

  &__blackening
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#2a120e, .6)
    opacity 0
    transition opacity .33s

    &._active
      opacity 1

  &__item
    position relative
    width 280px
    display inline-block
    vertical-align top
    font-size 14px
    line-height 1.4em
    margin-right 20px
    margin-bottom 10px
    transition all .33s ease
    min-height 247px
    cursor pointer

  &__image-wrapper
    display block
    width 280px
    height 172px
    overflow hidden
    position relative
    text-decoration none

  &__image
    min-height 100%

  &__time
    color $white
    font-family $fontHeader
    font-size 12px
    line-height 28px
    position absolute
    right 11px
    top 147px
    text-transform initial

  &__price
    position absolute
    left 0
    top 156px
    display flex

  &__text-block
    transition opacity .2s
    padding-top 28px
    display flex
    align-items center
    justify-content space-between
    margin-bottom 27px

  &__name
    font-family $fontHeader
    font-size 16px
    font-weight 500
    line-height 20px
    color $black2
    text-decoration none
    max-width 280px
    text-transform initial

  &__children
    position absolute
    margin-top -35px
    left 0
    width 100%

  &__children-fin
    position absolute
    left 25px
    bottom 3px
    width 10px
    height 10px
    background #f
    border-top 2px solid $skin
    border-right 2px solid $skin
    z-index 12
    transform rotate(-45deg)

  &__circle
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 32px
    height 32px
    border-radius 50%
    border 2px solid $skin
    background $skin
    display flex
    align-items center
    justify-content center

  &._booking &__children
    margin-top -18px
