.services-menu
  width 220px

  &__wrapper
    float none
    margin 0
    width 220px
    position absolute

    &._fixed
      position fixed
      top 88px

  &__item
    color $gray6
    font-family $fontHeader
    text-transform uppercase
    font-weight 600
    font-size 12px
    position relative
    display block
    text-decoration none
    transition all .33s ease
    padding 6px 0 8px
    line-height 16px
    cursor pointer

    &:before
      content ""
      display block
      position absolute
      left -20px
      top 0
      height 100%
      width 2px
      background-color $skin
      opacity 0
      transition opacity .33s ease

    &._sub
      padding-left 20px

    &._active
      color $gray15

    &._active:before,
    &:hover:before
      opacity 1

  &._booking
    width 220px
    min-height 0

    &._fixed
      position fixed
      top 146px

    &._bottomed
      position absolute
      top auto
      bottom 0
      margin-bottom 360px

  &__amount
    font-size 12px
    font-weight bold
    color $skin
    padding-left 7px
