.services
  display flex
  flex-direction row
  width 1140px
  margin 0 auto
  position relative

  &__title
    font-family $fontHeader
    font-weight 500
    font-size 28px
    line-height 32px
    color $black4
    text-transform initial
    margin-bottom 34px
    text-align center
    margin-top 52px
    margin-bottom 24px
