.services-search
  position relative
  margin-bottom 22px
  margin-top 10px
  margin-right 34px

  &__input
    width 100%
    border 1px solid #e1e2e5
    border-radius 1024px
    padding 10px 20px
    font-family $fontHeader
    font-size 13px
    line-height 13px
    color $gray16
    letter-spacing 0.01em

  &__search-icon
    width 16px
    height 16px
    fill $skin
    position absolute
    right 18px
    top 50%
    margin-top -8px
    z-index 1
    cursor pointer
    transition all .33s ease
