.service-child
  position relative
  font-family $fontBody

  & + &
    margin-top 30px

  &__name
    font-size 17px
    font-weight bold
    color #212733
    padding-right 220px

  &__duration
    padding-top 6px
    font-size 12px
    color #a5a5a5
    display flex
    align-items center

  &__info-caller
    display inline-block
    position relative
    top 1px
    margin-left 8px
    cursor pointer

  &__info
    padding-top 15px
    font-size 13px
    color #757880
    line-height 1.4

  &__controls
    position absolute
    top 0
    right 0
    display flex
