.service-detail
  margin-top -160px

  &__content
    position relative
    min-width 1440px
    margin 0 auto
    height 566px

  &__img-container
    height 943px
    position relative

  &__img
    position absolute
    left 50%
    margin-left -720px
    top 76px

  &__bg
    background url('~../img/service-bg.png') no-repeat
    height 971px
    position absolute
    width 1440px
    z-index 0
    left 50%
    margin-left -720px
    top 52px

  &__inner
    position absolute
    top 210px
    padding-left 110px

  &__section
    font-family $fontHeader
    font-size 12px
    color $gray22
    text-transform uppercase
    font-weight bold
    letter-spacing 0.1em
    padding-bottom 10px

  &__title
    color $black4
    font-family $fontHeader
    font-size 50px
    font-weight bold
    text-align left
    line-height 54px
    letter-spacing -0.008em
    width 680px
    text-transform initial

  &__properties
    position relative
    padding-top 4px
    padding-left 2px
    display flex

  &__price
    font-family $fontHeader
    font-weight bold
    font-size 36px
    color $skin
    line-height 38px
    margin-right 34px
    letter-spacing -0.01em

    & sup
      position relative
      top -14px
      font-size 18px
      left -5px
      letter-spacing 0.06em

  &__time
    position relative
    display flex
    color $gray23
    font-size 18px
    font-family $fontHeader
    font-weight 600
    margin-top 7px
    letter-spacing -0.01em

  &__icon
    fill $gray17
    margin-right 8px

  &__button
    margin-top 24px

  &__button-icon
    margin-right 10px
    fill $white

  &__button:hover &__button-icon
    fill $violet

  &__text-container
    position relative
    margin-left 468px
    margin-right 117px
    padding-bottom 4px

  &__text
    margin-bottom 95px
    font-family $fontHeader
    color $black4
    font-size 14px
    font-weight 300
    line-height 22px
    margin-top -19px
    padding-bottom 64px
    padding-right 76px
    padding-left 60px

    & p
      padding-bottom 2px

  p + &__reasons
    margin-top -40px

  &__reason-container
    display inline-block
    width 384px
    padding 32px 0 0 64px
    vertical-align top

  &__reason-name
    font-family $fontHeader
    font-size 20px
    color $text
    font-weight 500
    line-height 28px
    position relative

    &:before
      content ""
      display block
      position absolute
      left -60px
      top 16px
      height 1px
      width 40px
      background-color $skin

  &__reason
    font-size 13px
    font-family $fontHeader
    color $gray24
    line-height 20px
    padding-top 8px
    padding-bottom 40px

  &__detail-text
    font-size 15px
    line-height 25px
    font-family $fontHeader
    font-weight 300
    color $text
    padding-left 5px
    margin-top 23px
    padding-right 13px
    position relative

    &._first
      margin-top 0

    & h2
      border-bottom 1px solid $skin
      color $text
      font-family $fontHeader
      font-size 30px
      font-weight 600
      line-height 1.3
      margin-top 80px
      margin-bottom 24px
      padding-bottom 20px

    &._first h2
      margin-top 0

    & p
      margin 16px 0 40px

      & + ul
        margin-top -32px

    & ol, & ul
      margin-bottom 40px

    & dl
      columns 2
      padding-top 25px
      width 827px
      padding-bottom 4px

      & dt
        font-family $fontHeader
        font-size 20px
        color $black4
        font-weight 500
        line-height 28px
        padding-left 60px
        position relative

        &:before
          content ""
          display block
          position absolute
          left 1px
          top 14px
          height 1px
          width 40px
          background-color $skin

      & dd
        font-size 13px
        font-family $fontHeader
        color $gray24
        line-height 20px
        padding-top 5px
        padding-left 22px
        letter-spacing -0.01em
        padding-bottom 33px

    & table
      font-size 13px
      line-height 20px
      font-family $fontHeader
      border-collapse collapse
      margin-top 15px
      margin-left -2px
      margin-bottom 25px

      & thead
        border-bottom 1px solid $gray25

      & th
        padding-right 65px
        padding-bottom 4px
        font-weight 500

      & td
        padding-right 40px
        padding-top 11px
        padding-bottom 10px

    & .callout
      box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.1)
      background-color $white
      text-align center
      margin-top -16px
      margin-bottom 36px

      & p
        font-weight 500
        font-family $fontHeader
        font-size 20px
        line-height 28px
        color $gray21
        padding 48px 100px

      & img
        padding-top 62px
        margin-bottom -48px

      & ol
        font-family $fontHeader
        font-size 13px
        line-height 20px
        text-align left
        color $gray26
        margin-top -43px
        padding-left 160px
        padding-bottom 40px

        & li
          padding-right 113px
          padding-bottom 10px
