.services-list
  min-height 500px
  height auto
  width 912px

  &__title
    font-family $fontHeader
    font-weight 600
    font-size 14px
    line-height 1.25
    margin-bottom 16px
    text-transform uppercase

  &__container
    display flex
    flex-wrap wrap
    margin-top 20px
    margin-right -20px
    position relative

  &__not-found
    color $gray6
    font-size 24px
    font-family $fontHeader
    font-weight 500
    line-height 1.5
    margin 80px 0
    text-align center
