.service-detail-menu

  &__wrapper
    width 280px
    box-shadow 5px 0 30px #d2d1d3
    margin-left 108px
    margin-right 40px
    position absolute
    background-color #fff

    &._fixed
      position fixed
      z-index 1001
      top 102px
      left auto
      background-color #fff

  &__container
    margin 0
    padding 14px 0
    margin-left 22px

  &__item
    color $text
    font-family $fontHeader
    text-transform uppercase
    font-weight 600
    line-height 15px
    text-decoration none
    padding 11px 0
    position relative
    display block

    &._sub-item
      padding-left 14px

    &:before
      content ""
      display block
      position absolute
      left -22px
      top 0
      height 100%
      width 2px
      background-color $skin
      opacity 0
      transition opacity .33s ease

    &._active,
    &:hover
      color $gray12

    &._active:before,
    &:hover:before
      opacity 1

  &__link
    text-decoration none
    color $text


