.step-details
  font-family $fontBody
  min-height 67px
  padding-bottom 20px
  background $white

  &._services
    padding-left 10px
    margin-left -20px
    z-index 1

  &._active
    cursor pointer

    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1

  &._services
    background transparent

  &._services &__content
    background $white
    padding-left 10px

  &__metro
    display flex

  &__studio-name
    display flex
    align-items center
    margin-bottom 7px

    span
      margin-right 5px

  &__metro-icon
    margin-right 4px

  &__action
    position absolute
    left 63px
    bottom 21px
    text-transform uppercase
    font-size 11px
    font-weight bold
    color $skin
    display flex
    align-items center
    cursor pointer

  &__action-icon
    margin-right 5px
    cursor pointer

  &__service + &__service
    margin-top 2px

  &__service-price
    color #96999f

  &__services
    background #f

  &__service:nth-child(n + 2)
    display none

  &__services-announce
    position absolute
    bottom 21px
    right 20px
    font-size 14px
    color $skin
    opacity 1
    transition opacity .2s

  &:hover &__services-announce
    opacity 0

  &:hover &__action._hoverable
    margin-top 12px
    padding-top 4px
    position static

  &:hover &__service:nth-child(n + 2)
    display block

  &__null
    font-size 13px
    white-space nowrap

    b
      font-size 14px
      color $skin

    p
      margin 0

    &._small
      font-size 11px

  &__null-container
    border 1px solid $skin
    border-radius 5px
    padding 15px 20px
    line-height 20px
    width 550px
    margin-left -25px

  &__master-date
    margin-bottom 5px

    span:last-child
      color #898989

  &__interval

    span + span
      margin-left 5px

    span:nth-child(2)
      color $skin

    span:last-child
      color #898989

  &._fixed,
  &._fixed &__null
    font-size 11px

  &._fixed &__action-icon
    margin-right 0
    margin-left 5px

  &._fixed &__services
    display flex
    align-items center
