.studios-index-tab-head
  opacity 0.5
  transition opacity .2s
  position relative
  padding 20px 22px 0
  width 100%
  cursor pointer

  &:hover,
  &._active
    opacity 1

  &._active
    cursor auto

  &__img-wrapper
    width 160px
    height 90px
    overflow hidden
    margin-bottom 11px

  &__img
    min-height 100%
    max-width 100%

  &__title
    font-size 12px
    font-weight bold
    color #262c38
    margin-bottom 4px

  &__distance
    position absolute
    top 90px
    left 22px
    background #262c38
    font-size 11px
    color #f
    height 20px
    line-height 20px
    padding 0 7px
    transition background .2s

  &:hover &__distance,
  &._active &__distance
    background $skin

  &__metro
    display flex
    align-items center

  &__metro-icon
    margin-right 5px

  &__metro-title
    font-size 11px
    color #262c38
