.studio-detail-portfolio
  text-align center
  width 1140px
  position relative
  margin 0 auto

  &__title
    font-family $fontHeader
    font-weight 500
    font-size 28px
    line-height 32px
    color $black4
    text-transform initial
    margin-bottom 34px

  &__slider-wrapper
    width 1100px
    margin-left 38px

  &__slide
    text-align left

  &__left
    position absolute
    top 55%
    left -18px
    transform rotate(180deg)
    fill $skin
    cursor pointer

  &__right
    position absolute
    top 55%
    right -20px
    fill $skin
    cursor pointer
