.studio-detail-address
  position relative
  text-align center

  &__title
    font-family $fontHeader
    font-weight 500
    font-size 28px
    line-height 32px
    color $black4

  &__contacts
    font-family $fontHeader
    font-size 16px
    line-height 26px
    color $text
    margin-top 30px
    margin-bottom 24px

  &__metro
    font-family $fontHeader
    margin-top 8px
    margin-bottom 8px

  &__metro-wrapper
    width 32px
    height 32px
    border-radius 50%
    border 2px solid $red2
    display inline-block
    background-color $white
    margin-right 8px

  &__metro-icon
    fill $red2

  &__phone,
  &__email
    text-decoration none
    font-weight bold

  &__phone
    color $text

  &__phone-icon
    margin-right 4px

  &__email-icon
    margin-right 8px

  &__email
    color $skin
    margin-left 16px

  &__button
    margin-bottom -30px
    z-index 1
    position relative


