.studios
  position relative
  min-width 1440px
  margin 0 auto
  margin-bottom -470px

  &__img-container
    height 913px
    overflow hidden
    position relative
    top -28px

  &__img
    position absolute
    left 50%
    margin-left: -720px
    top -52px

  &__bg
    background url(../img/studios-bg.png) no-repeat
    height 971px
    position absolute
    width 1440px
    z-index 0
    left 50%
    margin-left -720px
    top -58px

  &__inner
    position absolute
    top 92px
    padding-left 128px

  &__title
    color #171c26
    font-family $fontHeader
    font-size 40px
    font-weight bold
    text-align left
    line-height 54px
    letter-spacing -0.008em
    width 480px
    text-transform initial

  &__description
    position relative
    font-family $fontHeader
    color #171c26
    font-size 14px
    line-height 22px
    letter-spacing -0.005em
    width 480px
    margin-top -12px

  &__button
    margin-top 32px
