.studios-index
  position relative
  z-index 1
  font-family $fontBody
  padding-bottom 132px

  &__content
    max-width 1180px
    margin auto
    padding-left 6px
    display flex

  &__left
    background #f
    width 224px
    min-width 220px
    height 530px
    box-shadow 0px 10px 23.75px 1.25px rgba(188, 107, 94, .15)

  &__right
    position relative
    width 1084px
    height 530px
    flex-grow 1

  &__tab-photos
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  &__tab-photo-wrapper
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 1080px
    overflow hidden
    opacity 0
    transition opacity 1s ease .15s

    &._active
      opacity 1

  &__tab-photo
    min-height 100%
    min-width 100%

  &__links
    padding 20px 22px

  &__link
    display block
    font-size 11px
    font-weight bold
    color $skin
    text-transform uppercase
    text-decoration none
    padding-left 17px
    position relative

    & + &
      margin-top 10px

    &:after
      content ''
      position absolute
      top 6px
      left 0
      width 11px
      height 1px
      background $skin

    &:before
      content ''
      position absolute
      top 1px
      left 5px
      width 1px
      height 11px
      background $skin

  &__tab-descriptions-bg
    position absolute
    top 0
    left 0
    width 1082px
    height 531px
    background-image url('../img/index-studios-bg.png')
    background-size cover
    opacity .92
    z-index 1
