.studio-detail-nearest-studios
  position relative
  text-align center
  margin-top 52px

  &__title
    font-family $fontHeader
    font-weight 500
    font-size 28px
    line-height 32px
    color $black4
    margin-bottom 42px

  &__container
    display flex
    justify-content center
    margin-bottom 104px

  &__item
    width 340px
    position relative
    margin 0 10px

  &__img-wrapper
    overflow hidden
    height 200px

  &__metro
    width 48px
    height 48px
    background #fff
    border-radius 100%
    position absolute
    left 50%
    margin-left -24px
    margin-top -24px
    padding-top 11px

  &__metro-icon.blue
    fill #1583c4

  &__metro-icon.yellow
    fill #ffcb31

  &__metro-icon.brown
    fill #996633
