.studio-detail-nearest-studios-info
  position relative
  margin-top 8px

  &__metro
    font-weight 500
    font-family $fontHeader
    font-size 11px
    color $gray22
    line-height 14px
    text-transform uppercase
    margin-bottom 4px
    letter-spacing 0.06em

  &__name
    font-weight bold
    font-size 16px
    color $black4
    line-height 21px
    text-decoration none

  &__masters
    font-weight 500
    font-family $fontHeader
    font-size 12px
    line-height 13px
    color $text
    margin-top 12px
    margin-bottom 16px


