.studio-detail-nav
  text-align center
  padding 20px 0px
  margin-bottom 24px

  &__fixed
    padding 20px 0px
    margin-bottom 24px
    display block
    top 0
    position fixed
    min-height 56px
    left 0
    right 0
    z-index 90
    background rgba(0,0,0,.6)
    transition top .33s linear

    &._fixed
      position fixed

      & .studio-detail-nav__item._active .studio-detail-nav__link
        color $white

  &__content
    width 1140px
    margin 0 auto
    padding-top 4px

  &__fixed-content
    width 1140px
    margin 0 auto
    padding-top 4px
    display flex
    justify-content space-between
    align-items center

  &__metro
    font-family 'AvenirNextCyr'
    color #fff
    font-size 14px
    align-items center
    display flex

  &__metro-wrapper
    width 32px
    height 32px
    border-radius 50%
    border 2px solid $red2
    background-color $white
    display flex
    justify-content center
    align-items center
    margin-right 4px

  &__metro-icon
    fill $red2

  &__button
    display flex

  &__list
    list-style none
    margin 0
    padding 0

  &__item
    display inline-block

    &._active .studio-detail-nav__link
      color $gray22

  &__link
    display inline-block
    text-decoration none
    font-family $fontHeader
    font-weight bold
    font-size 14px
    text-transform uppercase
    font-weight 700
    color $skin
    padding 0px 12px
