.studio-detail
  margin -84px auto 0
  position relative

  &__bg
    min-height 560px
    height auto
    background-repeat no-repeat
    background-position top center

  &__image-layer
    background #171c26
    min-height 560px
    width 100%
    opacity .3
    position absolute
    z-index 1
    top 0

  &__container
    width 1140px

  &__metro
    font-family $fontHeader
    color $white
    font-size 12px
    text-transform uppercase
    line-height 20px
    position absolute
    top 36px
    left 0
    right 0
    text-align center
    z-index 1
    letter-spacing 0.1em

  &__metro-icon-wrapper
    width 32px
    height 32px
    border-radius 50%
    border 2px solid $red2
    display flex
    align-items center
    justify-content center
    margin 0 auto
    background-color $white
    margin-bottom 10px

  &__metro-icon
    fill $red2

  &__panorama
    font-family $fontHeader
    font-size 11px
    font-weight 500
    color $gray21
    line-height 17px
    text-transform uppercase
    border-radius 1024px
    padding 8px 20px
    background #fff
    position absolute
    z-index 1
    top 53px
    right 100px
    align-items center
    display flex

  &__panorama-icon
    margin-right 5px

  &__content
    position absolute
    top 182px
    left 0
    right 0
    text-align center
    z-index 2

  &__title
    font-family $fontHeader
    font-size 50px
    color $white
    font-weight 600
    line-height 58px
    text-transform initial
    letter-spacing -0.01em

  &__address-wrapper
    background rgba(23,28,38,.56)
    width 100%
    position absolute
    bottom 0
    text-align center
    z-index 2

  &__address
    font-family $fontHeader
    font-size 14px
    font-weight 300
    color $white
    line-height 24px
    padding 28px 0
    letter-spacing -0.01em

    & a
      color $skin
      text-decoration none
      padding 16px 4px

  &__services
    margin-bottom -54px

  &__seo
    background #f7f5fa

  &__seo-container
    max-width 1180px
    margin 0 auto
    padding-top 42px

    & .seo__left
      padding-right 20px



