.studios-index-tab-description
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 2
  opacity 0
  visibility hidden
  width 1082px
  height 530px

  &__content
    position absolute
    top 0
    left 0
    z-index 1
    max-width 470px
    padding 64px 0 0 78px

  &._active
    opacity 1
    visibility visible

  &__closest
    font-size 32px
    color #212733
    font-weight bold
    margin-bottom 37px

  &__metro
    display flex
    align-items center
    margin-bottom 11px

  &__metro-icon
    margin-right 10px

  &__metro-title
    font-size 11px
    font-weight 500
    text-transform uppercase
    color #96999f

  &__title
    font-size 18px
    font-weight bold
    color #171c26
    display block
    line-height 1.3
    margin-bottom 7px
    text-decoration none

  &__masters
    font-size 12px
    font-weight 500
    color #212733
    margin-bottom 10px
    margin-left -2px

  &__address
    font-size 14px
    font-weight 500
    color #757880
    margin-bottom 40px
    line-height 1.4

  &__phone
    display inline-block
    font-size 14px
    font-weight 500
    color #212733
    text-decoration none
    margin-bottom 24px
    margin-left -2px

  &__button
    width 182px
