.studio-detail-interior
  text-align center
  background #f7f5fa
  position relative

  &__title
    font-family $fontHeader
    font-weight 500
    font-size 28px
    line-height 32px
    color $black4
    text-transform initial
    position relative
    padding-top 80px
    margin-bottom 24px

  &__text-block
    font-size 13px
    font-family $fontHeader
    color $gray17
    text-transform initial
    line-height 20px
    position relative
    margin-bottom 36px

  &__img
    position absolute
    left 50%
    margin-left -740px

  &__slider
    position relative
    left 50%
    margin-left -409px
    margin-bottom 104px

    & .gallery-slider__upper-slider
      width 818px
      height 462px

    & .gallery-slider__upper-slide
      width 818px
      height 462px

    & .gallery-slider__navigation
      right 50%
      margin-right 96px

    & .gallery-slider__bottom-slider-container
      margin-top 4px
