.title-popular-service-slide
  padding 0 15px 20px
  width 380px
  height 355px

  &__content
    box-shadow 0 10px 23.75px 1.25px rgba(188, 107, 94, .15)
    background #f
    width 370px
    height 335px
    position relative
    font-family $fontBody

  &__img-wrapper
    height 190px
    overflow hidden

  &__price
    position absolute
    top 172px
    left 30px
    background $gray2
    height 32px
    line-height 32px
    font-size 14px
    color #f
    padding 0 12px

  &__old-price
    text-decoration line-through

  &__text
    line-height 1.4
    padding 24px 30px

  &__title
    font-size 16px
    color #29333e
    margin-bottom 8px
    text-decoration none

  &__description
    font-size 13px
    color #535558

  &__controls
    position absolute
    left 30px
    right 30px
    bottom 29px
    display flex
    align-items center
    justify-content space-between

  &__button
    width 159px

  &__time
    font-size 12px
    color #87888b
