.title-block
  height 902px
  position relative
  padding-top 365px

  &__bg-wrapper
    position absolute
    top 0
    left 0
    right 0

  &__bg
    position relative
    z-index 1
    height 622px

  &__triangles
    position absolute
    top -76px
    left 0
    right 0
    height 4048px
    background url('../img/title-background-new.png')
    z-index 1

  &__slash
    position absolute
    top 70px
    left 608px
    width 492px
    height 396px
    background url('../img/slash5.png')
    z-index 2


  &__content
    height 100%
