.title-action-block
  position absolute
  top 76px
  left 729px
  font-family $fontBody
  z-index 2

  &__title
    font-size 16px
    color #2a2c2f
    position absolute
    top -8px
    left 148px
    white-space nowrap

  &__price
    font-size 30px
    font-weight bold
    margin-left 10px

    sup
      font-size 21px

  &__description
    font-size 16px
    color #2a2c2f
    margin-top -21px
    max-width 365px
    margin-bottom 40px
    line-height 1.3

  &__controls
    width 180px
