.title-popular-services
  position relative
  z-index 2
  max-width 1210px
  margin 0 auto 25px
  font-family $fontBody

  &__content
    padding-left 10px

  &__top,
  &__controls
    display flex
    justify-content space-between
    align-items center

  &__top
    max-width 1178px
    margin-bottom 26px
    margin-left 6px

  &__title,
  &__link
    font-size 16px
    color #45484d
    font-weight bold
    text-transform uppercase

  &__title
    padding-left 6px

  &__link
    color $skin
    margin-right 44px
    text-decoration none

  &__left,
  &__right
    width 40px
    height 40px
    border 2px solid $skin
    border-radius 50%
    display flex
    align-items center
    justify-content center
    cursor pointer

  &__right
    transform rotate(180deg)
    margin-left 12px

  &__left svg,
  &__right svg
    position relative

  &__left svg
    left -1px

  &__right svg
    right 1px
