.tooltip
  display: block !important;
  z-index 10000
  font-family $fontBody

  .tooltip-inner
    background #f
    font-size 14px
    color $skin
    border-radius 16px
    padding 5px 10px 4px
    box-shadow 0 2px 5px 0px rgba(27, 33, 58, 0.25)
