.studio
  margin-bottom 32px

  &__image
    width 100%
    max-height 340px

    &-container
      font-size 0
      position relative

  &__phone-link
    background-color $skin
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    height 40px
    position absolute
    right 20px
    top 0
    width 40px

    &-icon
      fill #fff
      height 16px
      left 12px
      position absolute
      top 12px
      width 16px

  &__booking-link
    border-radius 16px
    bottom 16px
    font-size 12px
    height 36px
    position absolute
    right 20px
    width 120px

  &__info
    display flex
    justify-content space-between
    font-family $fontHeader

    &-masters
      padding 13px 17px 0 0
      text-align right
      font-size 14px
      line-height 20px
      span
        font-weight bold

  &__title
    display inline-block
    font-size 14px
    font-weight 700
    line-height 1
    margin 16px 0 5px 20px
    & a
      color inherit
      text-decoration none

  &__metro
    margin 0 0 0 20px
