.metro-map
  margin-top -536px
  position relative
  width 1150px
  &__map
   width 100%
  &__link
    color inherit
    font-family Arial
    position absolute
    font-size 11px
    font-weight 700
    text-decoration none
