.studios-search
  position relative

  &__input
    border none
    border-top 1px solid #c2c2c2
    box-sizing border-box
    display block
    font-family $fontBody
    font-size 12px
    height 35px
    line-height 1
    padding 12px 0 12px 38px
    width 100%
    &:after
      background-color #ededed
      opacity 0.3

    &::placeholder
      opacity 0.7
      color #707070
      font-family $fontBody
      font-size 12px
      font-weight 400
      line-height 1
      text-transform uppercase
  &__icon
    height 12px
    left 16px
    position absolute
    top 12px
    width 12px
