.studios-tabs
  &__header
    margin 0 16px 16px
  &__tab
    color #f59282
    font-family $fontBody
    font-size 12px
    font-weight 700
    padding-left 20px
    position relative
    text-decoration none
    text-transform uppercase
    &._nearest
      margin-right 20px
    &._active
      color #707070

  &__list
    display none
    &._active
      display block

  &__metro
    border-bottom 1px solid #c2c2c2
    border-top 1px solid #c2c2c2
    display none
    height 335px
    margin-bottom 100px
    position relative
    overflow hidden
    -webkit-user-drag none

    &._active
      display block

  &__nearest-icon
    height 14px
    left 0
    opacity 0.5
    position absolute
    width 14px

  &__metro-icon
    height 14px
    left 0
    position absolute
    width 14px
