mixin career-form
  .career-form#career-form
    form.career-form__form.js-career-form
      .career-form__title.career-text__title Оставить заявку
      .career-form__container
        .career-form__field
          label.career-form__input-group
            .career-form__input-title
              sup *
              span Ваше имя
            input(name="name" type="text" required).career-form__input.js-name-required
        .career-form__field
          label.career-form__input-group
            .career-form__input-title
              sup *
              span Номер телефона
            input(name="tel" type="tel" required).career-form__input.js-phone-required
      .career-form__controls
        .career-form__agreement
          label.checkbox.career-form__input-title._contacts(type="checkbox", id="agree")
            input(type="checkbox", checked="checked").checkbox__control.js-agree-required
            .checkbox__fake
              +icon('ok').icon.checkbox__icon(width=11 height=9 fill="#fff")
          label(for="agree").career-form__checkbox-label
            | Даю согласие на обработку персональных данных
        .career-form__submit
          button.button._career-form._call-to-action.js-submit-button(type="submit")
            span Отправить
