mixin career-title
  .career.js-career-scroll-page
    .career__content
      .career__img-container
        +img('career.jpg')(alt='image').career__img
      .career__bg
      .career__inner
        h1.career__title
          | Хотите построить
          br
          | карьеру с нами?
        .career__text
          | Мастерская маникюра – самая крупная и инновационная
          br
          | BEAUTY-сеть в Европе
        .career__button
          a.button._career.js-scroll-to-career-form(href=$.JSV) Оставить заявку
