mixin career-text
  .career-text
    #vacancy.career-text__container
      p
        strong Мы – ManiQu.
        |  Супер модная сеть студий маникюра нового поколения, в которой работают настоящие фанаты своего дела. Мы бесконечно влюблены в маникюр и все, что с ним связано! Для нас нет большего удовольствия, чем выискивать последние новинки и скорее нести их своим любимым клиентам. В нашу команду профессионалов нужен мастер ногтевого сервиса. Если ноготочки и все, что с ними связано - это ваш главный интерес в жизни, то скорее звоните нам! Мы обещаем супер дружный и увлеченный коллектив и, конечно, самые высокие зарплаты в отрасли.
      h2#master Мастер ногтевого сервиса
      .career__text-block._not-equal
        .career__left
          p У нас имеются все необходимые расходные материалы для работы и стерилизации инструментов, а также палитра из многочисленных оттенков гель-лаков
          p Рабочее место оснащено по новейшим технологиям и дизайну, так же мы полностью обеспечиваем мастеров всеми расходными материалами для выполнения услуг.
          p Опыт работы мастером ногтевого сервиса не требуется, но приветствуется.
          p Сменный график работы (2/2)
        .career__right
          .career__sub-title Личные качества:
          ul
            li Любит маникюр
            li Любить клиентов/гостей студии
        p Ждем вас на тестирование (выполнение классического маникюра) в любой будний день в 10:00 по адресу: Москва, 1 Кожевнический пер., д.4, корп. Е
        p Так же можно уточнить все интересующие вас вопросы по телефону:
          a.link-tel(href='tel: 89637767291')  8 963 776 72 91
      .career-text__title#manager
        h2 Управляющий студией маникюра
        .career-text__region Москва и область
      .career__text-block
        .career__sub-title Требования
        .career__left
          ul
            li Образование: не ниже ср.специального
            li Опыт работы: менеджером/управляющим от 6 месяцев (опыт управления персоналом)
            li Уверенный пользователь ПК
            li Грамотная речь
        .career__right
          ul
            li Владение техникой продаж
            li Ведение телефонных переговоров
            li Работа с денежными средствами, кассовым аппаратом, терминалом по безналичному расчету
        p Оставьте заявку, наш менеджер свяжется с Вами и пригласит на собеседование.  Либо вы можете записаться на собеседование по телефону:
          a.link-tel(href='tel: 89637767291')  8 963 776 72 91

