mixin career-menu
  .career-menu
    .career-menu__wrapper.js-career-menu
      ul.career-menu__container
        each item in $['desktop-career-menu']
          if !item.sub
            li.career-menu__item(class=item.class)
              a(href=item.link).career-menu__link= item.content
          else
            ul.career-menu__item.js-one-page-nav
              a(href='#' class=item.class).external.career-menu__link= item.content
              each subItem in item.sub
                li.career-menu__item._sub-item(class=subItem.class)
                  a(href=subItem.link).career-menu__link= subItem.content
