mixin course-detail-menu
  .course-detail-menu
    .course-detail-menu__wrapper
      ul.course-detail-menu__container
        li.course-detail-menu__item
          a(href="#about").course-detail-menu__link о курсе
        li.course-detail-menu__item._active
          a(href="#enroll").course-detail-menu__link записаться
