mixin course-detail-text
  .course-detail-text
    #about.course-detail-text__container
      p Однодневная программа по самому популярному лечебному уходу на основе швейцарских препаратов Mavala. Актуальна для тех, кто уже владеет базовыми техниками и хочет двигаться дальше.
      p
        b О процедуре
      p Маникюр и комплексный уход, направленный на  лечение и восстановление  правильного роста ногтей. В комплекс входят осветляющая скраб-маска для ногтей и кутикулы, крем для кутикулы, увлажняющая сыворотка Mava-Flex, крем для лечения корня ногтя Nailactan, укрепляющая сыворотка для кончиков ногтей Scientifique, лечебный лак с кератином и кальцием.
      p
        | Продолжительность курса: один день.
        br
        | Количество учебных часов: 4 часа.
      p
        b Что Вы будете знать:
      ul
        li о видах аппаратов и сменных насадок к ним;
        li про способы дезинфекции насадок;
        li про этапы аппаратного маникюра.
      h2 Записаться на курс
