mixin course-detail
  .course-detail
    .course-detail__content
      .course-detail__img-container
        +img('course.jpg')(alt='image').course-detail__img
      .course-detail__bg
      .course-detail__inner
        h1.course-detail__title Курс «Лечебный маникюр Mavala»
        .course-detail__text Лучшие курсы по маникюру и наращиванию ногтей в Москве
        .course-detail__properties
          .course-detail__price
            b 4 249
            | &nbsp;
            sup руб.
          .course-detail__time
            +icon('time').course-detail__icon(width=24 height=24)
            .course-detail__time-amount 1 неделя
        .course-detail__button
          a(href=$.JSV).button._course-detail
            +icon('plus').course-detail__button-icon(width=15 height=15)
            | записаться
