mixin courses-menu
  .courses-menu
    .courses-menu__wrapper
      ul.courses-menu__container
        each item in $['desktop-courses-menu']
          li.courses-menu__item(class=item.class)
            a(href=item.link).courses-menu__link= item.content
