mixin course-enroll-form
  .course-enroll-form
    form.course-enroll-form__form.js-course-enroll-form
      .course-enroll-form__fields
        .course-enroll-form__inputs-container
          .course-enroll-form__row
            label.course-enroll-form__input-group
              .course-enroll-form__input-title
                sup *
                span Ваше имя
              input.course-enroll-form__input
          .course-enroll-form__row
            label.course-enroll-form__input-group
              .course-enroll-form__input-title
                sup *
                span Номер телефона
              input.course-enroll-form__input
          .course-enroll-form__row
            label.course-enroll-form__input-group
              .course-enroll-form__input-title
                sup *
                span Электронная почта
              input.course-enroll-form__input
        .course-enroll-form__textarea-container
          .course-enroll-form__row
            label.course-enroll-form__input-group
              .course-enroll-form__input-title Ваш комментарий (необязательно)
              textarea.course-enroll-form__textarea
      .course-enroll-form__controls
        .course-enroll-form__agreement
          label.checkbox.course-enroll-form__input-title._contacts(type="checkbox", id="agree")
            input(type="checkbox").checkbox__control
            .checkbox__fake
              +icon('ok').icon.checkbox__icon(width=11 height=9 fill="#fff")
          label(for="agree").course-enroll-form__checkbox-label Даю согласие на обработку персональных данных
        .course-enroll-form__submit
          button.button._course-enroll(type="submit")
            span Записаться
