mixin franchise-text
  .franchise-text
    #whom.franchise-text__container
      p Франшиза MQ (Мастерская Маникюра) – сервисная франшиза полного цикла
      p
        b Для кого франшиза MQ?
      ul
        each item in $['franchise-benefits']
          li=item.content
      .franchise__reasons
        .franchise__reason-title В чем наша сила?
        .franchise__reason-container
          .franchise__reason-name Опыт
        .franchise__reason-container
          .franchise__reason-name Маркетинговая и рекламная поддержка
        .franchise__reason-container
          .franchise__reason-name Техническая база
        .franchise__reason-container
          .franchise__reason-name Оперативные консультации экспертов
        .franchise__reason-container
          .franchise__reason-name Разработанные стандарты качества сервиса
        .franchise__reason-container
          .franchise__reason-name Обучение и аттестация сотрудников
      h2 Мы готовы прямо сейчас
      .franchise__text-block
        .franchise__left
          ul
            li Помочь в подборе помещения под будущий салон.
            li Провести переговоры с арендодателем.
            li Разработать Архитектурный проект студии.
            li Порекомендовать подрядчиков для строительства студии «без головной боли».
            li Подобрать квалифицированный персонал.
            li Дать доступ к CRM-системе, бизнес-процессам и инструкциям для эффективного управления бизнесом, для ведения всей организационной деятельности, финансового и складского учета. 
            li Обучить и аттестовать сотрудников в нашем учебном центре «Мастерская Маникюра» качеству выполняемых услуг. 
        .franchise__right
          ul
            li Подключить к уникальной клубной системе лояльности.
            li Оказать полноценную поддержку франшизы  в текущей операционной деятельности.
            li Подключить к Call-центру, системе On-line записи клиентов и аккаунту Инстаграмм, для получения клиентского трафика с 1-го дня работы Нового Салона Сети.
            li Обеспечить рекламными макетами для брендированного оформления салона
            li Оказать консультативную помощь по работе салона с учетом требований Роспотребнадзора
            li Поможем найти компанию по Бухгалтерскому сопровождению.
      .franchise-cost
        h2 Ваши затраты
        .franchise-cost__container
          p Объем инвестиций
          p от&nbsp;
            span 3 000 000
          p зависит от площади студии
        .franchise-cost__container
          p Паушальный взнос
          p от&nbsp;
            span 300 000
          p зависит от региона
        .franchise-cost__container
          p Целевая ставка Роялти
          p
            span 3,5%
          p
            | при выходе на целевые
            br
            | показатели
        .franchise-cost__text Все дополнительные услуги по обслуживанию студий по договору франшизы оказываются по договору оказания услуг и оплачиваются отдельно.
      .franchise__sub-title По договору Франшизы
      ul
        li Подберем помещение.
        li Окажем помощь в проведении переговоров с арендодателем для согласования экономически выгодной ставки по аренде.
        li Передадим макеты для производства рекламных материалов и брендированного оформления студии.
        li Подберем персонал к открытию студии.
        li Обучим Администратора к открытию студии.
        li Проведем обучение и стажировку директора к открытию студии.
        li Подключим к сайту.
        li Подключим к CRM-системе.
        li Подключим к Call-центру, системе On-line записи клиентов.
        li Подключим к корпоративному тарифу Услуг Связи.
        li Обеспечим ИТ поддержку .
        li Обеспечим поддержку программного обеспечения.
        li Обеспечим снабжение студии поставщиками с учетом корпоративной скидки Сети.
        li 1 раз в месяц проведем комплексную проверку работы студии (соблюдение стандартов качества обслуживания, соблюдение единого стандарта стерилизации инструментов и соблюдение требований СанПина и Роспотребнадзора).
        li Окажем поддержку в Управлении студии при форс-мажорных обстоятельствах (отпуск собственника, увольнение директора, отсутствие Управляющего в студии).
        li Проведем стажировку в собственной студии Управляющего персонала.
      .franchise__sub-title По договору оказания услуг
      ul
        li Подключим нашего технолога к процессу обучения и повышения качества оказания услуг на студии.
        li Окажем услуги обучения персонала в Учебном Центре Сети.
        li Проведем аттестацию и обучение Управляющего персонала.
        li Окажем услуги по подбору персонала.
        li Проведем проверку студии по чек-листу «Готовность к проверке Роспотребнадзора»
        li Подключим студии к видеоконтролю специальной Службой Контроля Качества.
        li Проведем плановые проверки по выполнению персоналом студии утвержденных регламентов.
        li Окажем собственникам-партнерам консультативные услуги по операционному управлению бизнесом.
        li Разработаем макеты для рекламных кампаний студии.
        li Проведем комплексную инвентаризацию материалов.
        li Составим отчет по работе директора студии.
        li Разработаем систему мотивации линейного и управляющего персонала.



