mixin franchise-menu
  .franchise-menu
    .franchise-menu__wrapper
      ul.franchise-menu__container
        each item in $['desktop-franchise-menu']
          li.franchise-menu__item(class=item.class)
            a(href=item.link).franchise-menu__link= item.content
