mixin franchise-title
  .franchise.js-franchise-scroll-page
    .franchise__content
      .franchise__img-container
        +img('franchise.jpg')(alt='image').franchise__img
      .franchise__bg
      .franchise__inner
        h1.franchise__title
          | Франшиза
          br
          | Мастерской Маникюра
        .franchise__text
          | Присоединиться к успешной компании с известным именем.
          br
          | Выбирая нас - выбираете успех!
        .franchise__button
          a(href=$.JSV).button._franchise Оставить заявку
