mixin franchise-form
  .franchise-form
    form.franchise-form__form.js-franchise-form
      .franchise-form__title Оставить заявку на франшизу
      .franchise-form__field._triple
        label.franchise-form__input-group
          .franchise-form__input-title
            sup *
            span Ваше имя
          input.franchise-form__input
      .franchise-form__field._triple
        label.franchise-form__input-group
          .franchise-form__input-title
            sup *
            span Контактный email
          input.franchise-form__input.error
          label.error
            | Email указан не корректно или
            br
            | используются недопустимые символы.
          span.franchise-form__input-error-ico
      .franchise-form__field._triple
        label.franchise-form__input-group
          .franchise-form__input-title
            sup *
            span Ваш телефон
          input.franchise-form__input
      h3.franchise-form__sub-title Где вы планируете открыть студию маникюра?
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            sup *
            span Субъект РФ
          input.franchise-form__input
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            span Город
            sup *
          input.franchise-form__input
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            span Есть ли опыт личного бизнеса? (какой)
          textarea.franchise-form__textarea(placeholder="Опишите ваш предыдущий опыт бизнеса")
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            span Есть ли действующий бизнес? (какой)
          textarea.franchise-form__textarea(placeholder="Опишите ваш действующий бизнес")
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            span Сколько планируете инвестировать:
          input.franchise-form__input
          label.franchise-form__rub руб.
      .franchise-form__field._double
        label.franchise-form__input-group
          .franchise-form__input-title
            span Предполагаемое количество студий:
          input.franchise-form__input
      .franchise-form__field._one
        label.franchise-form__input-group
          .franchise-form__input-title
            span Когда планируете открытие:
          input.franchise-form__input(placeholder="Месяц и год")
      .franchise-form__controls
        .franchise-form__agreement
          label.checkbox.franchise-form__input-title._contacts(type="checkbox", id="agree")
            input(type="checkbox", checked="checked").checkbox__control
            .checkbox__fake
              +icon('ok').icon.checkbox__icon(width=11 height=9 fill="#fff")
          label(for="agree").franchise-form__checkbox-label
            | Нажимая кнопку «Отправить» вы соглашаетесь с
            a(href=$.JSV)  условиями использования сервиса
            | .
        .franchise-form__submit
          button.button._franchise-form._call-to-action(type="submit")
            span Отправить
