mixin school-text
  .school-text
    #about.school-text__container
      p Хотите получить профессию, которая востребована во все времена? Приходите на лучшие в Москве курсы маникюра и наращивания ногтей. Школа маникюра Ленины Лениной ждёт талантливых и амбициозных студентов!
      p
        b Только у нас:
      ul
        each item in $['school-benefits']
          li=item.content
      .school__slider
        .gallery-slider
          .gallery-slider__upper-slider
            each item, index in $['school-slides']
              a.gallery-slider__upper-slide(
                href="`#school-popups-${index}`",
                class=(index === 0 ? '_active' : ''),
                data-fancybox="school-popups",
                data-src=item.image
              )
                +img(item.image)(alt='image').gallery-slider__img
                .gallery-slider__fancybox-ico-wrapper
                  .gallery-slider__fancybox-ico
                    +icon('zoom').gallery-slider__zoom-icon(width=18 height=18)
          .gallery-slider__navigation
            .gallery-slider__prev
              +icon('prev').gallery-slider__prev-icon(width=40 height=7)
            .gallery-slider__values
              span.gallery-slider__current 01 /
              span.gallery-slider__length 12
            .gallery-slider__next
              +icon('prev').gallery-slider__next-icon(width=40 height=7)
          .gallery-slider__bottom-slider-container.swiper-container(
            ref="swiper"
            data-type="gallery-slider"
          )
            .gallery-slider__bottom-slider-wrapper.swiper-wrapper
              each item, index in $['school-slides']
                .gallery-slider__bottom-slide.swiper-slide(
                  class=(index === 0 ? '_active' : '')
                )
                  +img(item.preview)(alt='image').gallery-slider__img._bottom
