mixin school-address
  .school-address
    .school-address__contacts
      span г. Москва, Большой Овчинниковский переулок д.16,
      .school-address__metro
        .school-address__metro-wrapper
          +icon('metro-d').school-address__metro-icon(width=16 height=11)
        | Новокузнецкая,  ТЦ "Аркадия", 1-й этаж
      a.school-address__phone(href=$.JSV)
        +icon('phone').school-address__phone-icon(width=16 height=16)
        | +7 (968) 461-37-39
      a.school-address__email(href=$.JSV)
        +icon('email').school-address__email-icon(width=16 height=12)
        | info@llmanikur.ru
