mixin school-title
  .school.js-school-scroll-page
    .school__content
      .school__img-container
        +img('course.jpg')(alt='image').school__img
      .school__bg
      .school__inner
        h1.school__title Школа мастерской маникюра
        .school__text Лучшие курсы по маникюру и наращиванию ногтей в Москве
        .school__button
          a(href=$.JSV).button._school
            +icon('plus').school__button-icon(width=15 height=15)
            | Выбрать курсы
