include /desktop/mixins/section/reasons

mixin seo
  .seo__text-block
    .seo__left
      .seo__title Услуги студий «Мастерская маникюра»
      .seo__main-text Сеть салонов «Мастерская маникюра» предоставляет услуги профессиональных мастеров нейл-арта. Посетив любую из наших студий, вы можете решить сразу несколько важных проблем: уход за ногтями, коррекция бровей и ресниц, макияж и так далее.
    .seo__right
      .seo__services-description
        | Популярные услуги индустрии красоты
        br
        | в наших салонах:
      .seo__services-column
        each item in $['seo-services-menu-1']
          a(href=$.JSV).seo__service=item.content
      .seo__services-column
        each item in $['seo-services-menu-2']
          a(href=$.JSV).seo__service=item.content
  .seo__title 3 причины посетить наши салоны
  .seo__reasons: +reasons
  .seo__quote-container
    .seo__quote Доверьтесь профессионалам, записывайтесь на комплекс услуг<br>студии нейл-арта «Мастерская маникюра»
