include /desktop/mixins/service-item
include /desktop/mixins/section/seo

mixin services-list
    .services-list
      .services-search
        input.services-search__input(
        type="text",
        maxlength="200",
        placeholder="Искать по 550 услугам из 23 категорий")
        +icon('search').services-search__search-icon(width=16 height=16)
      .services-list__title Ресницы и брови
        .service__container
          each item in $['services-list-1']
            +service-item(item)
      .services-list__title Укладка и визаж
        .service__container
          each item in $['services-list-2']
            +service-item(item)
      +seo
