include /mobile/mixins/advantageous-offer

mixin advantageous-offers
  .advantageous-offers
    .section__title Выгодные предложения
    .advantageous-offers__content
      .advantageous-offers__slider-wrapper.swiper-container.js-swiper(data-type="offers")
        .advantageous-offers__slider.swiper-wrapper
          .advantageous-offers__slide.swiper-slide
            +advantageous-offer
          .advantageous-offers__slide.swiper-slide
            +advantageous-offer
          .advantageous-offers__slide.swiper-slide
            +advantageous-offer
        .bullets.js-slider-pagination
