mixin career-form
  .career-form#career-form
    form.career-form__form.js-career-form
      .career-form__title Оставить заявку
      .career-form__field
        input.career-form__input.js-name-required(placeholder='Ваше имя' required name='name' type='text')
      .career-form__field
        input.career-form__input.js-phone-required(placeholder='Телефон' required name='tel' type='tel')
      .career-form__controls
        .career-form__submit
          button.button._career-form._call-to-action.js-submit-button(type='submit')
            span Отправить заявку
