include /mobile/mixins/category-service

mixin category-list
  .category-list
    .category-list__container
      each item in $['category']
        +category-service(item)
    .category-list__button
      a(href=$.JSV).button._white вернуться в каталог
