
mixin placesItemMetro(item)
   li.places__item.places__item-metro
    +icon('metro').places__item-icon
    .places__item-text
      .places__item-label
        span= item.label
      .places__item-address
        each address in item.addresses
          p= address
mixin placesItem(item)
  li.places__item
    .places__item-label
      span= item.label
    .places__item-address
      each address in item.addresses
        p= address
