mixin franchise-form
  .franchise-form
    form.franchise-form__form.js-franchise-form
      .franchise-form__title Оставить заявку на франшизу
      .franchise-form__field
        input.franchise-form__input(placeholder='Ваше имя')
      .franchise-form__field
        input.franchise-form__input(placeholder='E-mail')
      .franchise-form__field
        input.franchise-form__input(placeholder='Телефон')
      h3.franchise-form__sub-title Где вы планируете открыть студию маникюра?
      .franchise-form__field
        input.franchise-form__input(placeholder='Субъект РФ')
      .franchise-form__field
        input.franchise-form__input(placeholder='Город')
      .franchise-form__field
        textarea.franchise-form__textarea(placeholder='Опишите ваш предыдущий опыт бизнеса')
      .franchise-form__field
        textarea.franchise-form__textarea(placeholder='Есть ли действующий бизнес?')
      .franchise-form__field
        input.franchise-form__input(placeholder='Сколько планируете инвестировать?')
      .franchise-form__field
        input.franchise-form__input(placeholder='Предполагаемое количество студий')
      .franchise-form__field
        input.franchise-form__input(placeholder='Когда планируете открытие')
      .franchise-form__controls
        .franchise-form__submit
          button.button._franchise-form._call-to-action(type='submit')
            span Отправить заявку
