mixin gallery
  .gallery
    .section__title Наша жизнь
    .gallery__swiper-container.swiper-container.js-swiper(data-type="index-gallery")
      .gallery__swiper-wrapper.swiper-wrapper
        .gallery__swiper-slide.swiper-slide
          .gallery__img-wrapper
            +img('gallery-img-1.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-2.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-3.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-4.jpg')(alt='image').gallery__img
        .gallery__swiper-slide.swiper-slide
          .gallery__img-wrapper
            +img('gallery-img-1.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-2.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-3.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-4.jpg')(alt='image').gallery__img
        .gallery__swiper-slide.swiper-slide
          .gallery__img-wrapper
            +img('gallery-img-1.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-2.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-3.jpg')(alt='image').gallery__img
          .gallery__img-wrapper
            +img('gallery-img-4.jpg')(alt='image').gallery__img
      .bullets.js-slider-pagination
