mixin nearest-studio
  .nearest-studio
    .section__title Ближайшая к вам студия:
    .nearest-studio__content
      .nearest-studio__container
        .nearest-studio__item
          .nearest-studio__image-wrapper
            +img('nearest.jpg')(alt='image').nearest-studio__image
          .nearest-studio__text-block
            .nearest-studio__title ТЦ «Галерея Аэропорт»
            .nearest-studio__metro
              +icon('metro').nearest-studio__metro-icon(style="fill: #029a55;")
              .nearest-studio__metro-name Аэропорт
            a(href="tel:+79684613739").nearest-studio__phone
              +icon('phone').nearest-studio__phone-icon
              span.nearest-studio__phone-number +7 (968) 461-37-39
      .nearest-studio__button
        a(href=$.JSV).button._white показать Все студии
