include /mobile/mixins/popular-service

mixin popular-services
  .popular-services
    .section__title Популярные услуги
    .popular-services__content
      .popular-services__slider-wrapper.swiper-container.js-swiper(data-type="popular")
        .popular-services__slider.swiper-wrapper
          .popular-services__slide.swiper-slide
            +popular-service
          .popular-services__slide.swiper-slide
            +popular-service
          .popular-services__slide.swiper-slide
            +popular-service
        .bullets.js-slider-pagination
    .popular-services__links
      a(href=$.JSV).popular-services__all-link показать весь список услуг
