mixin portfolio
  .portfolio.works
    .section__title Работы наших мастеров
    .portfolio__description
      p Студии «Мастерская маникюра» – это не только возможность сделать свои ногти здоровыми и красивыми: здесь собираются люди с хорошим вкусом и творческим подходом к жизни.
      p Выберите дизайн в одной из этих групп:
      ul._double
        li
          a(href="https://instagram.com/nm_risunok", target="_blank", rel="nofollow") @nm_risunok
        li
          a(href="https://instagram.com/nm_minimalizm", target="_blank", rel="nofollow") @nm_minimalizm
        li
          a(href="https://instagram.com/nm_geometry", target="_blank", rel="nofollow") @nm_geometry
        li
          a(href="https://instagram.com/nm_colors", target="_blank", rel="nofollow") @nm_colors
        li
          a(href="https://instagram.com/nm_french", target="_blank", rel="nofollow") @nm_french
        li
          a(href="https://instagram.com/nm_effekts", target="_blank", rel="nofollow") @nm_effekts
      p и мы его с удовольствием вам сделаем в одной из наших студий. Мы ежедневно публикуем самые трендовые дизайны.
    .works__content
      .works__slider-wrapper.swiper-container.js-swiper(data-type="popular")
        .works__slider.swiper-wrapper
          .works__slide.swiper-slide
            .work
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-1").work__image-wrapper
                +img('portfolio-mobile.jpg')(alt='image').work__image._index
              .work__master
                | Мастер
                .work__master-name Валентина Р.
              .work__controls
                a(href=$.JSV).button Записаться в студию
          .works__slide.swiper-slide
            .work
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-2").work__image-wrapper
                +img('portfolio-mobile.jpg')(alt='image').work__image._index
              .work__master
                | Мастер
                .work__master-name Валентина Р.
              .work__controls
                a(href=$.JSV).button Записаться в студию
          .works__slide.swiper-slide
            .work
              a(href=$.JSV, data-fancybox="portfolio-popups", data-src="#portfolio-popup-3").work__image-wrapper
                +img('portfolio-mobile.jpg')(alt='image').work__image._index
              .work__master
                | Мастер
                .work__master-name Валентина Р.
              .work__controls
                a(href=$.JSV).button Записаться в студию
        .bullets.js-slider-pagination
      .work__popups
        .index-portfolio-popup(id="portfolio-popup-1")
          .index-portfolio-popup__img-wrapper
            +img('portfolio-mobile.jpg')(alt='image').index-portfolio-popup__img
          .index-portfolio-popup__text-block
            .index-portfolio-popup__title
              .index-portfolio-popup__position Мастер
              .index-portfolio-popup__name Аида
            .index-portfolio-popup__button
              a(href=$.JSV).button Записаться
        .index-portfolio-popup(id="portfolio-popup-2")
          .index-portfolio-popup__img-wrapper
            +img('portfolio-mobile.jpg')(alt='image').index-portfolio-popup__img
          .index-portfolio-popup__text-block
            .index-portfolio-popup__title
              .index-portfolio-popup__position Мастер
              .index-portfolio-popup__name Зинаида
            .index-portfolio-popup__button
              a(href=$.JSV).button Записаться
        .index-portfolio-popup(id="portfolio-popup-3")
          .index-portfolio-popup__img-wrapper
            +img('portfolio-mobile.jpg')(alt='image').index-portfolio-popup__img
          .index-portfolio-popup__text-block
            .index-portfolio-popup__title
              .index-portfolio-popup__position Мастер
              .index-portfolio-popup__name Аида
            .index-portfolio-popup__button
              a(href=$.JSV).button Записаться
