mixin seo
  .seo
    .seo__text-block
      .seo__left
        h3 «Мастерская маникюра» – клуб ценителей совершенства
        .seo__main-text Студии «Мастерская маникюра» – это не только возможность сделать свои ногти здоровыми и красивыми: здесь собираются люди с хорошим вкусом и творческим подходом к жизни.
        cite Качество услуг – наше обязательство
        .seo__main-text «Мастерская маникюра» – это новая философия красоты. От набора услуг до мельчайших деталей интерьера здесь всё предназначено для вашего комфорта!
      .seo__right
        .seo__services-description Выбирайте и записывайтесь на «проверенную классику» и инновационные услуги beauty-сети «Мастерская маникюра»!
        .seo__services-column
          ul._double
            li
              a(href=$.JSV) Маникюр и педикюр
            li
              a(href=$.JSV) Наращивание
            li
              a(href=$.JSV) Спа-программы
            li
              a(href=$.JSV) Покрытия и дизайны
            li
              a(href=$.JSV) Брови и ресницы
            li
              a(href=$.JSV) Дополнительные услуги
    .seo__reasons
      .seo__reason-container
        .seo__reason-name Более 100 услуг
        .seo__reason В салонах «Мастерская маникюра» работают опытные мастера, которые подходят к делу творчески и следят за последними новинками индустрии красоты.
      .seo__reason-container
        .seo__reason-name СПА-уход
        .seo__reason У нас замечательные варианты СПА-ухода по инновационным методикам.
      .seo__reason-container
        .seo__reason-name Лучшие мастера
        .seo__reason У нас работают дипломированные мастера маникюра и педикюра, призёры многочисленных творческих конкурсов.
      .seo__reason-container
        .seo__reason-name Система лояльности
        .seo__reason Отличные цены, скидки, акции, бонусные программы и подарки.
      .seo__reason-container
        .seo__reason-name Огромная палитра
        .seo__reason В салонах «Мастерская маникюра» самый большой набор оттенков декоративных лаков
      .seo__quote-container
        blockquote Запись на процедуры возможна через «Личный кабинет» и по телефону. Если же вы ещё не выбрали своего мастера, можете приходить лично – вас примет любой свободный профессионал.
