mixin service-detail
  .service-detail
    .service-detail__content
      +img('service-bg-1.jpg')(alt='image').service-detail__bg._top
      +img('service-bg-2.png')(alt='image').service-detail__bg._bottom
      .service-detail__inner
        .service-detail__properties
          .service-detail__time
            +icon('clocks').service-detail__icon
            .service-detail__time-amount 30 мин.
          .service-detail__price
            span 2 300&nbsp;
            sup руб.
        h1.service-detail__title Классический / Европейский с покрытием
        .service-detail__text
          p
            | Классический обрезной
            | маникюр — комфортный вариант
            | ухода для людей, которые стремятся следить за своими руками,ногтями
            | и поддерживать их в идеальном состоянии. Данный маникюр подходит для
            | любой длины ногтей, как для коротких так и для длинных.
            | Наши мастера сделают Вам самый красивый маникюр.
        .service-detail__button
          a(href=$.JSV).button Записаться сейчас
        .service-detail__text
          h3
            | Суть процедуры классического маникюра
          p
            | Мастер использует средства и инструменты, которые позволяют
            | мягко удалить кутикулу аккуратно и
            | нежно, обрезая лишнюю ткань.
            | Классический маникюр лучше всего
            | делать раз в 10-12 дней.
          h3
            | Это важно знать про классический маникюр
          p
            | Используются для классического
            | маникюра наиболее острые
            | инструменты, позволяющие сделать
            | ваши руки и ногти аккуратными и
            | ухоженными. При этом кутикула
            | значительно замедляет свой рост.
            | Затем возможно нанесение любого
            | покрытия с разными дизайнами
            | (лечебное покрытие, френч,
            | долговременное покрытие гель лак,
            | классический лак).
