mixin service-testimonials-list
  .service-testimonials-list
    h2.section__title.service-testimonials-list__title Отзывы клиентов об услуге
    .service-testimonials-list__slider-wrapper.swiper-container.js-swiper(data-type="service-testimonials")
      .service-testimonials-list__slider.swiper-wrapper
        each item, index in $['service-testimonials']
          .service-testimonials-list__slide.swiper-slide
            .service-testimonials-list__top
              .service-testimonials-list__image-wrapper
                +img(item.img).service-testimonials-list__image
              .service-testimonials-list__properties
                .service-testimonials-list__date=item.date
                .service-testimonials-list__name=item.name
            .service-testimonials-list__text=item.text
      .bullets.js-slider-pagination
