mixin service-testimonials-form
  .service-testimonials-form
    .service-testimonials-form__content
      h2.section__title.service-testimonials-form__title оставьте ваш отзыв
      .service-testimonials-form__info
        a(href=$.JSV) Авторизуйтесь
        span &nbsp;или оставьте свое фото и имя
      form.service-testimonials-form__form
        .service-testimonials-form__row._top
          .service-testimonials-form__avatar-wrapper
            .service-testimonials-form__avatar Добавить аватар
          .service-testimonials-form__contacts
            .service-testimonials-form__input-wrapper
              input(placeholder="Ваше имя").service-testimonials-form__input
            .service-testimonials-form__input-wrapper
              input(placeholder="Email или телефон").service-testimonials-form__input
        .service-testimonials-form__row
          .service-testimonials-form__image-upload добавьте фото услуги
        .service-testimonials-form__row
          textarea(placeholder="Ваш отзыв").service-testimonials-form__textarea
        .service-testimonials-form__controls
          button.button.service-testimonials-form__submit отправить отзыв
