mixin service-steps
  .service-steps
    h2.service-steps__title Этапы проведения процедуры
    .service-steps__slider-wrapper.swiper-container.js-swiper(data-type="service-step")
      .service-steps__slider.swiper-wrapper
        each item, index in $['service-steps']
          .service-steps__slide.swiper-slide
            .service-steps__image-wrapper
              +img(item.img).service-steps__image
            .service-steps__text-block
              .service-steps__index=(index + 1)
              .service-steps__text=item.text
      .bullets.js-slider-pagination
