mixin services-menu
  .services-menu
    each item in $['services-menu']
      a(href=$.JSV).services-menu__item
        span.services-menu__item-text= item.content
    .services-menu__button
      a(href=$.JSV).button._white вернуться на главную
