mixin subscribe
  .subscribe
    .section__title Узнай первой про скидки, акции и подарки:
    form.subscribe__form
      input(type="email", placeholder="Ваша электронная почта").subscribe__input
      .subscribe__button
        button.button Подписаться
      .subscribe__notify
        | Нажимая кнопку «Отправить» вы соглашаетесь с&nbsp;
        a(href=$.JSV, target="_blank") политикой конфиденциальности
        | &nbsp;и&nbsp;
        a(href=$.JSV, target="_blank") политикой обработки данных
        | .
