mixin title-block-alt()
  .title-block._banner
    .title-block__content
      +img('index-bg-1a.jpg')(alt='image').title-block__bg
      .title-block__menu
        a.title-block__phone(href=$.JSV)
          +icon('banner-link').title-block__phone-icon
