mixin title-block_all-once()
  .title-block._banner
    .title-block__content
      +img('index-bg_all-once.png')(alt='image').title-block__bg
      .title-block__menu._top
        span.title-block__price Всего за <strong> 2 200 </strong>
        span.title-block__price-currency руб.
        +img('index-alt_all-once-text.png')(alt='image').title-block__img-text
        span.title-block__work Маникюр + педикюр
          |<br> + покрытие гель-лак на
          |<br> руках и ногах
        a.button._long Записаться
