mixin title-block()
  .title-block
    .title-block__content
      +img('main-bg.png')(alt='image').title-block__bg
      .title-block__menu
        each item in $['title-menu']
          a.title-block__link(
            href=item.link ? item.link: $.JSV
          )
            span.title-block__link-text=item.content
        a.title-block__phone(href=$.JSV)
          +icon('phone').title-block__phone-icon
