<template lang="pug">
  .booking-calendar
    .booking-calendar__title Выберите дату
    .booking-calendar__slider-container.swiper-container(
      ref="swiper"
      data-type="calendar"
    )
      .booking-calendar__slider-wrapper.swiper-wrapper
        .booking-calendar__item.swiper-slide(
          v-for="day, index in days"
          :key="day.dateString"
          :class="getClassNames(day)"
          @click="handleDayClick(day)"
        )
          .booking-calendar__number {{ day.number }}
          .booking-calendar__item-title {{ day.title }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import getMonth from 'Js/helpers/getMonth';
import Swiper from 'Js/mobile/widget/Swiper';

export default {
  data() {
    return {
      days: [],
      swiper: {},
    };
  },

  computed: {
    ...mapGetters(['dateObject']),

    activeDayString() {
      return this.dateObject ? this.dateObject.toDateString() : '';
    },
  },

  created() {
    this.getMonthData();

    if (!this.dateObject) {
      this.SELECT_DATE(new Date());
    }

    this.FETCH_MASTERS(this.dateObject);
  },

  mounted() {
    this.initSwiper();
  },

  methods: {
    ...mapActions(['FETCH_MASTERS', 'SELECT_DATE']),

    initSwiper() {
      this.swiper = new Swiper(this.$refs.swiper);

      if (this.activeDayString.length) {
        this.days.forEach((day, index) => {
          if (day.dateString === this.activeDayString) {
            this.swiper.swiper.slideTo(index, 300);
          }
        });
      }
    },

    getMonthData() {
      const now = new Date();

      this.days = getMonth(now);

      if (now.getMonth() === 11) {
        this.days = [
          ...this.days,
          ...getMonth(new Date(now.getFullYear() + 1, 0, 1))
        ];
      } else {
        this.days = [
          ...this.days,
          ...getMonth(new Date(now.getFullYear(), now.getMonth() + 1, 1))
        ];
      }

      this.days = this.days.filter(day => day.isAvailable);
    },

    getClassNames(day) {
      return [
        ...day.isDayOff ? ['_day-off'] : [],
        ...day.dateString === this.activeDayString ? ['_active'] : [],
      ];
    },

    handleDayClick(day) {
      this.SELECT_DATE(day.date);
      this.FETCH_MASTERS(day.date);
    },
  },
};
</script>
