<template lang="pug">
  .booking-categories
    ServiceModal(
      @click="setCoversCategory"
    )
    .booking-order__step-title Выберите услуги
    .booking-order__breadcrumbs
      span.booking-order__breadcrumbs-item все услуги
    .booking-order__search
      Search(
        :placeholder="'Поиск услуги'"
        @change="handleSearchSubmit"
      )
    template(v-if="view === 'categories'")
      .booking-categories__list
        .booking-categories__item(
          v-for="category in listedCategories"
          :key="category.id"
          :class="{'_active': category.isActive}"
          @click="handleNextClick('Services', category)"
        ) {{ category.name }}
          .booking-categories__circle(v-if="category.isActive")
            Icon.nearest-studio__circle-icon(
              :name="'ok'"
              :fill="'#e8e9ee'"
              width="8"
              height="6"
            )
    template(v-else)
      .booking-categories__not-found(v-if="isNotFound && !isServicesFetching")
        span По запросу «{{ this.query }}» ничего не найдено
        br
        span Попробуйте изменить запрос
      ServicesList(
        listMode="search"
      )
    Next._services(
      @click="handleNextClick('Masters')"
    )
      .booking-next__price(v-if="price.raw")
        .booking-next__price-title Всего:
        .booking-next__price-amount {{ price.formatted }}
          span.booking-next__duration  / {{ duration.formatted }}
      .booking-next__price(v-else)
        | Вы оформляете запись без выбора услуг. Для вас будет зарезервирован 1 час.
      .booking-next__right
        .booking-next__text Продолжить
          Icon.booking-next__icon(
            :name="'next'"
            :fill="'#ffffff'"
            width="21"
            height="9"
          )
        .booking-next__description Выбрать дату и мастера
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import ServicesList from 'Js/mobile/vue/booking/ServicesList';
import ServiceModal from 'Js/mobile/vue/booking/ServiceModal';
import Search from 'Js/mobile/vue/booking/Search';
import Next from 'Js/mobile/vue/booking/Next';
import Icon from 'Js/mobile/vue/general/Icon';

export default {
  components: {
    ServicesList,
    ServiceModal,
    Search,
    Next,
    Icon,
   },

  data() {
    return {
      isNotFound: false,
      view: 'categories',
    };
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
      currentStudio: state => state.order.currentStudio.data,
      currentCategory: state => state.booking.currentCategory,
      currentService: state => state.booking.currentService,
      isServicesFetching: state => state.booking.currentServices.isFetching,
    }),
    ...mapGetters([
      'duration',
      'listedCategories',
      'orderServices',
      'price',
    ]),
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  created() {
    this.FETCH_CATEGORIES();
    this.SET_SELECTED_CATEGORY({});

    this.SET_QUERY({
      type: 'services',
      value: '',
    });

    this.FETCH_SERVICES_DICTIONARY({
      'params[studioId]': this.currentStudio.id,
      view: 'desktop',
    }).then(() => {
      if (window.App.dataset.service) {
        this.DELETE_SELECTED_SERVICE(window.App.dataset.service.toString());
        this.ADD_SELECTED_SERVICE(window.App.dataset.service.toString());
      }
    });

    if (window.history.state === null || window.history.state.step != 'Categories') {
      window.history.pushState({
        step: 'Categories',
      }, 'Booking', './');
    }
  },

  methods: {
    ...mapMutations([
      'SET_SELECTED_CATEGORY',
      'SET_CURRENT_SERVICE',
      'SET_QUERY',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
    ]),
    ...mapActions([
      'FETCH_CATEGORIES',
      'FETCH_SERVICE',
      'SET_CURRENT_STEP',
      'FETCH_SERVICES_DICTIONARY',
      'SEARCH_SERVICES',
    ]),

    handleNextClick(step, category) {
      this.SET_QUERY({
        type: 'services',
        value: '',
      });
      if (step === 'Masters') {
        if (!this.checkRequired()) {
          this.$modal.show('service-modal', { view: 'covers' });
        } else {
          this.SET_CURRENT_STEP('Masters');
        }
      } else {
        this.SET_SELECTED_CATEGORY(category);
        this.SET_CURRENT_STEP('Services');
      }
    },

    checkRequired() {
      let servicesWithDependancies = [];

      this.orderServices.forEach((caller) => {
        if (caller.requiredOneOf.length) {
          servicesWithDependancies.push(caller.id)
          this.orderServices.forEach((callee) => {
            if (caller.requiredOneOf.indexOf(callee.id) != -1) {
              servicesWithDependancies =
                servicesWithDependancies.filter((serviceId) => serviceId != caller.id);
            }
          });
        }
      });

      return !servicesWithDependancies.length;
    },

    setCoversCategory() {
      this.$modal.hide('service-modal');
      this.SET_CURRENT_SERVICE({});
      this.SET_SELECTED_CATEGORY({
        id: '3',
        name: 'Покрытия',
      });
      this.SET_CURRENT_STEP('Services');
    },

    backToCategories() {
      this.SET_SELECTED_CATEGORY({});
      this.SET_CURRENT_SERVICE({});
    },

    backToServices() {
      this.SET_CURRENT_SERVICE({});
      this.SET_CURRENT_STEP('Services');
    },

    handleSearchSubmit(query) {
      const params = {
        view: 'mobile',
        'params[studioId]': this.currentStudio.id,
        'params[page]': 'booking',
      };
      this.SET_SELECTED_CATEGORY({});

      if (query.length > 0) {
        this.view = 'services';

        params['params[q]'] = query;
        this.SEARCH_SERVICES(params).then((response) => {
          this.isNotFound = !response.length;
        });
      } else {
        this.view = 'categories';
      }
    },
  },
};
</script>
