<template lang="pug">
  form.booking-contacts(@submit.prevent="send")
    ServiceModal(
      @send="send"
      @back="backToMasters"
    )
    .booking-contacts__title Оформление заказа
    .booking-contacts__form
      .booking-contacts__row
        input.booking-contacts__input(
          :class="{'_error': errors.name }"
          v-model="name"
          type="text"
          name="name"
          placeholder="Ваше имя"
          required=""
          @input="validName"
          @keypress="checkValue"
        )
        .booking-contacts__error(v-if="errors.name") {{ errors.name }}
      .booking-contacts__row
        input.booking-contacts__input(
          :class="{'_error': errors.phone }"
          v-model="phone"
          type="tel"
          name="phone"
          placeholder="Телефон"
          required=""
          @input="handlePhoneInput"
        )
        .booking-contacts__error(v-if="errors.phone") {{ errors.phone }}
      .booking-contacts__row
        input.booking-contacts__input(
          :class="{'_error': errors.email }"
          v-model="email"
          type="email"
          name="email"
          placeholder="Email"
          required=""
          @input="validEmail"
        )
        .booking-contacts__error(v-if="errors.email") {{ errors.email }}
      .booking-contacts__additional-services Опции заказа
      .booking-contacts__row
        .booking-contacts__tea-coffee
          a(
            @click="selectDrink('TEA')"
            :class="{'_active': this.drink == 'TEA'}"
          ).booking-contacts__radio._tea
            Icon.booking-contacts__radio-icon(
                :name="'tea'"
                :fill="'#ff504a'"
                width="11"
                height="11"
              )
            span чай
          a(
            @click="selectDrink('COFFEE')"
            :class="{'_active': this.drink == 'COFFEE'}"
          ).booking-contacts__radio._coffee
            Icon.booking-contacts__radio-icon(
                :name="'coffee'"
                :fill="'#ff504a'"
                width="11"
                height="11"
              )
            span кофе
        a(
            @click="selectNotTalk('NOT_TALK')"
            :class="{'_active': this.notTalk == 'NOT_TALK'}"
          ).booking-contacts__radio._not-talk
            Icon.booking-contacts__radio-icon(
                :name="'saliens'"
                :fill="'#ff504a'"
                width="11"
                height="11"
              )
            span молчаливый мастер
      .booking-contacts__row._agreement
        input.booking-contacts__checkbox(
          id="agree"
          type="checkbox"
          name="agree"
          :checked="checked"
          @change="checked = !checked"
        )
        label.booking-contacts__checkbox-label(for="agree") Даю согласие на обработку персональных данных
    .booking-contacts__title._place Место записи
    .booking-contacts__details
      .booking-contacts__studio {{ currentStudio.name }}
      .booking-contacts__studio-info(v-html="currentStudio.address.raw")
      .booking-contacts__metro(v-if="currentStudio.metro")
        Icon(
          :name="'metro'"
          :fill="`#${currentStudio.metro.color}`"
          width="16"
          height="16"
        ).booking-contacts__metro-icon
        .booking-contacts__metro-name {{ currentStudio.metro.name }}
      a(:href="`tel:+${currentStudio.phone.canonical}`").booking-contacts__phone
            Icon.booking-contacts__phone-icon(
              :name="'phone'"
              width="11"
              height="11"
            )
            span.booking-contacts__phone-number {{ currentStudio.phone.formatted }}
    .booking-contacts__title Ваш заказ
    .booking-contacts__content(v-if="orderServices.length")
      .booking-contacts__services(v-for="service in orderServices")
        .booking-contacts__service {{ service.fullName }}
        .booking-contacts__price {{ service.price }}&nbsp;руб.
      .booking-contacts__services(v-if="extra")
         .booking-contacts__top-master Топ-мастер
         .booking-contacts__extra + {{ extra }}&nbsp;руб.
      .booking-contacts__result
        .booking-contacts__result-title Итого:
        .booking-contacts__price-amount {{ price.raw }} руб.
      .booking-contacts__top-master-notification(v-if="master.name === 'Любой мастер'")
        Icon.booking-contacts__note-icon(
                :name="'attention'"
                width="16"
                height="16"
              )
        span.booking-contacts__note
          | Обратите внимание, что цена может отличаться,
          | если будет выбран ТОП- мастер. Вы можете&nbsp;
          a.booking-contacts__back-to-masters(@click="backToMasters") выбрать мастера
          | &nbsp;сами.
    .booking-contacts__content(v-else)
      b Вы оформляете запись без выбора услуг.
      div Для вас будет зарезервирован 1 час. Конкретную услугу вы выберете в студии.
    .booking-contacts__title._master Время и мастер
    .booking-contacts__time {{ dateFormatted }}
    .booking-contacts__master Мастер: {{ master.name }}
    Next(v-if="checked")
      .booking-next__text Записаться
        Icon.booking-next__icon(
          :name="'next'"
          :fill="'#ffffff'"
          width="21"
          height="9"
        )
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import ServiceModal from 'Js/mobile/vue/booking/ServiceModal';
import Icon from 'Js/mobile/vue/general/Icon';
import Next from 'Js/mobile/vue/booking/Next';
import Input from 'Js/mobile/vue/general/Input';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';
import PhoneMasker from 'Js/helpers/PhoneMasker';

export default {
  components: {
    ServiceModal,
    Icon,
    Next,
    Input,
  },

  data() {
    return {
      name: '',
      phone: '',
      email: '',
      drink: 'NOT_IMPORTANT',
      notTalk: 'NOT_IMPORTANT',
      checked: true,
      errors: {
        name: null,
        phone: null,
        email: null,
      },
    };
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      master: state => state.order.master,
      timestamp: state => state.order.timestamp,
      response: state => state.order.data,
      contacts: state => state.order.contacts,
    }),
    ...mapGetters(['price', 'orderServices']),

    dateFormatted() {
      const currentDate = new Date(this.timestamp * 1000);
      const options = {
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      };
      return currentDate.toLocaleString('ru', options).replace(', ', ' в ');
    },

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.master.level) {
            extra += service.prices[this.master.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  created() {
    yaMetricsSendEvent('booking-master-done');
    gaSendEvent('booking-master-done');
    if (window.history.state === null || window.history.state.step != 'Contacts') {
      window.history.pushState({
        step: 'Contacts',
      }, 'Booking', './');
    }
  },

  mounted() {
    this.setDefaultValues();
  },

  methods: {
    ...mapMutations(['SET_DRINK_ANSWER', 'SET_NOT_TALK', 'SAVE_CONTACTS']),

    ...mapActions(['SET_CURRENT_STEP', 'SEND_ORDER']),

    setDefaultValues() {
      this.name = this.contacts.name ? this.contacts.name : '';
      this.phone = this.contacts.phone ? this.contacts.phone : '';
      this.email = this.contacts.name ? this.contacts.email : '';
    },

    selectDrink(type) {
      const drinkValue = 'NOT_IMPORTANT';
      if (this.drink !== drinkValue) { // Если раньше был выбран чай или кофе
        if (type === this.drink) { // Если выбор совпадает с раннее выбранным
          this.drink = drinkValue; // отключаем все опции
        } else {
          this.drink = type; // переключаем одну опцию на другую
        }
      } else { // Если раньше ничего не выбрано
        this.drink = type;
      }
      this.SET_DRINK_ANSWER(this.drink);
    },

    selectNotTalk(value) {
      this.notTalk = (this.notTalk !== 'NOT_IMPORTANT') ? 'NOT_IMPORTANT' : value;
      this.SET_NOT_TALK(this.notTalk);
    },

    checkValue(e) {
      if (!/^[ЁёА-яa-zA-Z\s-]+$/gm.test(e.key)) {
        e.preventDefault();
      }
    },

    validName() {
      this.errors.name = null;
      const condition = this.name.length > 0;

      if (!condition) {
        this.errors.name = 'Поле "Имя" не может быть пустым!';
      }

      return condition;
    },

    handlePhoneInput(e) {
      this.phone = PhoneMasker.maskElement(e.target);
      this.validPhone();
    },

    validPhone() {
      this.errors.phone = null;
      const condition = this.phone.length > 0;

      if (!condition) {
        this.errors.phone = 'Поле "Телефон" не может быть пустым!';
      }

      return condition;
    },

    validEmail() {
      this.errors.email = null;
      const condition = this.email.length > 0;

      if (!condition) {
        this.errors.email = 'Поле "Email" не может быть пустым!';
      }

      return condition;
    },

    backToMasters() {
      this.SET_CURRENT_STEP('Masters');
    },

    handleSubmit() {
      this.$refs.form.submit();
    },

    send() {
      const validations = this.validName() && this.validPhone() && this.validEmail();

      if (validations) {
        const contacts = {
          name: this.name,
          phone: this.phone,
          email: this.email
        };
        this.SAVE_CONTACTS(contacts);
        this.SEND_ORDER(this);
      }
    },
  },
};
</script>
