<template lang="pug">
  .booking-masters-list
    .booking-masters-list__title Выберите мастера и время
    .booking-masters-list__content(v-if="!masters.isFetching && listingMasters == false")
      .booking-masters-list__not-found К сожалению, в этот день все мастера заняты. Просим Вас выбрать другой день.
    .booking-masters-list__content(v-else)
      MasterItem(
        v-for="item in listingMasters"
        :key="item.id"
        :info="item"
      )
</template>

<script>
import { mapState } from 'vuex';
import MasterItem from 'Js/mobile/vue/booking/MasterItem';

export default {
  components: { MasterItem },

  computed: {
    ...mapState({
      masters: state => state.booking.masters,
    }),

    listingMasters() {
      if (this.masters.data.length) {
        return this.masters.data.reduce((arr, item) => {
          if (item.active) {
            arr.push(item);
          }
          return arr;
        }, []);
      }

      return false;
    }
  },
};
</script>
