<template lang="pug">
  .booking-master(
    :class="{'_active': info.id === master.id}"
    @click="handleMasterClick()"
  )
    .booking-master__content
      .booking-master__info
        .booking-master__name {{ info.name }}
        .booking-master__label(v-html="info.label")
      .booking-master__right(v-if="extra")
        span + {{ extra }}
        | &nbsp;р.
        .booking-master__extra-label Топ-мастер
    .booking-master__schedule(v-if="info.id === master.id")
      components(
        v-if="scheduleType"
        :is="`ScheduleType${scheduleType}`"
      )
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';
import ScheduleType0 from 'Js/mobile/vue/booking/Schedules/ScheduleType0';
import ScheduleType1 from 'Js/mobile/vue/booking/Schedules/ScheduleType1';
import ScheduleType2 from 'Js/mobile/vue/booking/Schedules/ScheduleType2';
import ScheduleType3 from 'Js/mobile/vue/booking/Schedules/ScheduleType3';

const scheduleType = window.yaParams && window.yaParams.mobileTimeSlotsAB ?
  window.yaParams.mobileTimeSlotsAB : '0';

export default {
  components: {
    ScheduleType0,
    ScheduleType1,
    ScheduleType2,
    ScheduleType3,
  },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      scheduleType,
    };
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
    }),
    ...mapGetters(['orderServices']),

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.info.level) {
            extra += service.prices[this.info.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  methods: {
    ...mapMutations(['SET_MASTER']),

    handleMasterClick() {
      if (this.master.id !== this.info.id) {
        this.SET_MASTER(this.info);
      }
    },
  },
};
</script>
