<template lang="pug">
  .booking-masters
    .booking-masters__calendar
      Calendar
    .booking-masters__list
      MastersList
    Next._services(
      v-if="timestamp"
      @click="handleNextClick"
    )
      .booking-next__price(v-if="price.raw")
        .booking-next__price-title Всего:
        .booking-next__price-amount {{ price.formatted }}
          span.booking-next__duration  / {{ duration.formatted }}
      .booking-next__price(v-else)
        | Вы оформляете запись без выбора услуг. Для вас будет зарезервирован 1 час.
      .booking-next__right
        .booking-next__text Оформить заказ
          Icon.booking-next__icon(
            :name="'next'"
            :fill="'#ffffff'"
            width="21"
            height="9"
          )
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import Calendar from 'Js/mobile/vue/booking/Calendar';
import MastersList from 'Js/mobile/vue/booking/MastersList';
import Next from 'Js/mobile/vue/booking/Next';
import Icon from 'Js/mobile/vue/general/Icon';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    Calendar,
    MastersList,
    Next,
    Icon,
  },

  computed: {
    ...mapState({
      timestamp: state => state.order.timestamp,
    }),
    ...mapGetters(['duration', 'listedServices', 'price']),
  },

  created() {
    yaMetricsSendEvent('booking-services-done');
    gaSendEvent('booking-services-done');
    if (window.history.state === null || window.history.state.step != 'Masters') {
      window.history.pushState({
        step: 'Masters',
      }, 'Booking', './');
    }
  },

  methods: {
    ...mapActions(['SET_CURRENT_STEP']),

    handleNextClick() {
      this.SET_CURRENT_STEP('Contacts');
    },
  },
};
</script>
