<template lang="pug">
  .nearest-studio._booking
    .nearest-studio__top
      .nearest-studio__title {{ currentStudio.name }}
      a(href="#", @click="handleChange").nearest-studio__change-link сменить
    .nearest-studio__metro(v-if="currentStudio.metro")
      span.nearest-studio__metro-icon
        Icon(
          :name="'metro'"
          :fill="`#${currentStudio.metro.color}`"
          width="16"
          height="16"
        )
      span.nearest-studio__metro-name {{ currentStudio.metro.name }}
    a(:href="`tel:+${canonical}`").nearest-studio__phone
      Icon.nearest-studio__phone-icon(
        :name="'new-phone'"
        width="18"
        height="18"
      )
      span.nearest-studio__phone-number {{ formatted }}
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Icon from 'Js/mobile/vue/general/Icon';

export default {
  components: { Icon },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
    }),

    canonical() {
      if (this.currentStudio.phone) {
        return this.currentStudio.phone.canonical;
      }
      return '';
    },

    formatted() {
      if (this.currentStudio.phone) {
        return this.currentStudio.phone.formatted;
      }
      return '';
    }
  },

  methods: {
    ...mapMutations(['SET_CURRENT_STATE']),

    handleChange() {
      this.SET_CURRENT_STATE('Studios');
    },
  },
};
</script>
