<template lang="pug">
  .booking-next(ref="wrapper")
    button.booking-next__button(
      :class="{'_fixed': !isVisible}"
      @click="$emit('click')"
    )
      slot
</template>

<script>
import { mapState } from 'vuex';
export default {
  data() {
    return {
      isVisible: true,
    };
  },

  computed: {
    ...mapState({
      currentService: state => state.booking.currentService,
    }),
  },

  watch: {
    currentService() {
      this.toggleFixation();
    },
  },

  mounted() {
    this.toggleFixation();
    document.addEventListener('scroll', this.toggleFixation);
  },

  destroyed() {
    document.removeEventListener('scroll', this.toggleFixation);
  },

  methods: {
    toggleFixation() {
      const rect = this.$refs.wrapper.getBoundingClientRect();
      const elemTop = rect.top;
      const elemBottom = rect.bottom;
      const buffer = this.$refs.wrapper.offsetHeight;

      this.isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    },
  },
};
</script>
