<template lang="pug">
  .booking-order
    template(v-if="currentStepView !== 'Success'")
      .booking-order__title: span Записаться в Мастерскую маникюра
      .booking-order__nearest-studio
        NearestStudio
      .booking-order__steps
        Steps
    .booking-order__steps-content(:class="{'_success': currentStepView === 'Success'}")
      components(
        :is="currentStepView"
      )
</template>

<script>
import { mapState } from 'vuex';
import NearestStudio from 'Js/mobile/vue/booking/NearestStudio';
import Steps from 'Js/mobile/vue/booking/Steps';
import Categories from 'Js/mobile/vue/booking/Categories';
import Services from 'Js/mobile/vue/booking/Services';
import Masters from 'Js/mobile/vue/booking/Masters';
import Contacts from 'Js/mobile/vue/booking/Contacts';
import Success from 'Js/mobile/vue/booking/Success';

export default {
  components: {
    NearestStudio,
    Steps,
    Categories,
    Services,
    Masters,
    Contacts,
    Success,
  },

  computed: {
    ...mapState({
      currentStepView: state => state.booking.currentStep.view,
    }),
  },
};
</script>
