<template lang="pug">
  .booking-page
    Loader
    ErrorModal
    components(
      :is="currentState"
    )
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import Order from 'Js/mobile/vue/booking/Order';
import Studios from 'Js/mobile/vue/booking/Studios';
import Loader from 'Js/desktop/vue/booking/Loader';
import ErrorModal from 'Js/mobile/vue/general/ErrorModal';

export default {
  components: {
    Order,
    Studios,
    Loader,
    ErrorModal,
  },

  computed: {
    ...mapState({
      currentState: state => state.booking.currentState,
      currentStudioId: state => state.order.currentStudio.data.id,
      currentStepView: state => state.booking.currentStep.view,
    }),
  },

  created() {
    if (this.currentStepView === 'Success') {
      this.CLEAR_STORE();
    }
    this.SET_TYPE('mobile');

    if (window.App.dataset.service) {
      this.checkDatasetService(window.App.dataset.service.toString());
    }

    if (window.App.dataset.studio) {
      this.SELECT_STUDIO({ id: window.App.dataset.studio.toString() });
      this.FETCH_DATASET_STUDIO({
        'params[id]': window.App.dataset.studio.toString(),
      });
      this.SET_CURRENT_STATE('Order');
    } else if (this.currentStudioId) {
      this.SET_CURRENT_STATE('Order');
    } else {
      this.SET_CURRENT_STATE('Studios');
    }

    // Кнопка назад браузера
    window.addEventListener('popstate', this.handlePopstate);
  },

  beforeDestroy() {
    // Кнопка назад браузера
    window.removeEventListener('popstate', this.handlePopstate);
  },

  methods: {
    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_TYPE',
      'SET_DATASET_STATUS',
      'SET_AVAILABILITY_POPUP',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
      'SET_CURRENT_SERVICE',
    ]),
    ...mapActions([
      'FETCH_DATASET_STUDIO',
      'FETCH_SERVICE',
      'CLEAR_STORE',
      'SELECT_STUDIO',
      'FETCH_SERVICES_DICTIONARY',
      'SET_CURRENT_STEP',
    ]),

    checkDatasetService(id) {
      if (this.currentStudioId) {
        this.FETCH_SERVICES_DICTIONARY({
          'params[studioId]': this.currentStudioId,
        }).then((response) => {
          let shouldRedirect = response.reduce((shouldRedirect, service) => {
            if (service.id === id) {
              shouldRedirect = false;
            }

            return shouldRedirect;
          }, true);

          if (shouldRedirect) {
            this.SET_CURRENT_STATE('Studios');
          }

          this.SET_AVAILABILITY_POPUP(shouldRedirect);
        });
      }
    },

    handlePopstate(e) {
      switch (e.state && e.state.step) {
        case 'Categories':
          this.SET_CURRENT_STEP(e.state.step);
          break;

        case 'Services':
          this.SET_CURRENT_STEP('Services');
          this.SET_CURRENT_SERVICE({});
          break;

        case 'ServiceItem':
          this.SET_CURRENT_STEP('Services');
          this.SET_CURRENT_SERVICE(e.state.service);
          break;

        case 'Masters':
          this.SET_CURRENT_STEP('Masters');
          break;
      }
    },
  },
};
</script>
