<template lang="pug">
  .booking-search
    Input._search(
      :placeholder="placeholder"
      v-model="query"
    )
    .booking-search__icon
      Icon(
        :name="'search'"
        :fill="'#b1b1b1'"
        width="13"
        height="13"
      )
</template>

<script>
import debounce from 'lodash/debounce';
import Input from 'Js/mobile/vue/general/Input';
import Icon from 'Js/mobile/vue/general/Icon';

export default {
  components: {
    Input,
    Icon
  },
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    queryType: {
      type: String,
      default: 'services',
    },
  },
  computed: {
    query: {
      get() {
        return this.$store.state.booking.queries[this.queryType];
      },
      set: debounce(function set(value) {
        this.$store.commit('SET_QUERY', {
          type: this.queryType,
          value,
        });
      }, 600),
    }
  },
};
</script>
