<template lang="pug">
  .booking-services__list(id="booking-services__list")
    template(v-if="Object.keys(groupedServices).length")
      .booking-services__group(
        v-for="group, key in groupedServices"
      )
        .booking-services__group-title(
          :id="`${key}-section`"
        ) {{ group.title }}
        .booking-services__group-container
          ServiceItem(
            v-for="service in group.items"
            :key="service.id"
            :info="service"
          )
    template(v-else)
      .booking-services__group-container
        ServiceItem(
          v-for="service in listedServices"
          :key="service.id"
          :info="service"
        )
</template>

<script>
import { mapGetters } from 'vuex';
import ServiceItem from 'Js/mobile/vue/booking/ServiceItem';

export default {
  components: { ServiceItem },

  props: {
    listMode: {
      type: String,
      default: 'list',
    }
  },

  computed: {
    ...mapGetters(['listedServices']),

    groupedServices() {
      if (this.listedServices.length) {
        return this.listedServices.reduce((obj, item) => {
          if (this.listMode === 'list') {
            if (item.subCategory) {
              if (!obj[item.subCategory.code]) {
                obj[item.subCategory.code] = {};
                obj[item.subCategory.code].title = item.subCategory.name;
                obj[item.subCategory.code].items = [];
              }

              obj[item.subCategory.code].items.push(item);
            }

            return obj;
          } else if (this.listMode === 'search') {
            if (!obj[item.category.code]) {
              obj[item.category.code] = {};
              obj[item.category.code].title = item.category.name;
              obj[item.category.code].items = [];
            }

            obj[item.category.code].items.push(item);

            return obj;
          }
        }, {});
      }

      return [];
    },
  },
};
</script>
