<template lang="pug">
  .booking-services
    ServiceModal(
      @click="setCoversCategory"
    )
    .booking-order__step-title Выберите услуги
    .booking-order__breadcrumbs
      span.booking-order__breadcrumbs-item._back(
        @click="backToCategories"
      ) все услуги
      template(v-if="currentService.name")
        span.booking-order__breadcrumbs-item._back(
          @click="backToServices"
        ) {{ currentCategory.name }}
        span.booking-order__breadcrumbs-item {{ currentService.name }}
      template(v-else)
        span.booking-order__breadcrumbs-item {{ currentCategory.name }}
    ServicesList(
      :listMode="listMode"
    )
    Next._services(
      @click="handleNextClick"
    )
      .booking-next__price(v-if="price.raw")
        .booking-next__price-title Всего:
        .booking-next__price-amount {{ price.formatted }}
          span.booking-next__duration  / {{ duration.formatted }}
      .booking-next__price(v-else)
        | Вы оформляете запись без выбора услуг. Для вас будет зарезервирован 1 час.
      .booking-next__right
        .booking-next__text Продолжить
          Icon.booking-next__icon(
            :name="'next'"
            :fill="'#ffffff'"
            width="21"
            height="9"
          )
        .booking-next__description Выбрать дату и мастера
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
import ServiceModal from 'Js/mobile/vue/booking/ServiceModal';
import ServicesList from 'Js/mobile/vue/booking/ServicesList';
import Next from 'Js/mobile/vue/booking/Next';
import Icon from 'Js/mobile/vue/general/Icon';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    ServiceModal,
    ServicesList,
    Next,
    Icon,
  },
  data: () => ({
    listMode: 'list',
  }),

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
      currentCategory: state => state.booking.currentCategory,
      currentStudio: state => state.order.currentStudio.data,
      currentService: state => state.booking.currentService,
    }),
    ...mapGetters(['duration', 'price', 'orderServices']),
  },

  created() {
    if (window.history.state === null ||
        (window.history.state.step != 'Services' &&
        window.history.state.step != 'ServiceItem')) {
      this.SET_CURRENT_SERVICE({});
      window.history.pushState({
        step: 'Services',
      }, 'Booking', './');
    }

    this.FETCH_SERVICES({
      'params[studioId]': this.currentStudio.id,
      'params[sectionId]': this.currentCategory.id,
    });

    this.SET_QUERY({
      type: 'services',
      value: '',
    });

    yaMetricsSendEvent('booking-studio-done');
    gaSendEvent('booking-studio-done');
  },

  methods: {
    ...mapMutations([
      'SET_CURRENT_SERVICE',
      'SET_SELECTED_CATEGORY',
      'SET_CURRENT_SERVICE',
      'SET_QUERY',
    ]),
    ...mapActions([
      'FETCH_CATEGORIES',
      'FETCH_SERVICES',
      'SET_CURRENT_STEP',
      'FETCH_SERVICES_STATISTICS',
      'FETCH_DATASET_STUDIO',
    ]),

    backToCategories() {
      this.SET_CURRENT_SERVICE({});
      this.SET_CURRENT_STEP('Categories');
    },

    backToServices() {
      this.SET_CURRENT_SERVICE({});
    },

    handleNextClick() {
      if (!this.checkRequired()) {
        this.$modal.show('service-modal', { view: 'covers' });
      } else {
        this.SET_CURRENT_STEP('Masters');
      }
    },

    checkRequired() {
      let servicesWithDependancies = [];

      this.orderServices.forEach((caller) => {
        if (caller.requiredOneOf.length) {
          servicesWithDependancies.push(caller.id)
          this.orderServices.forEach((callee) => {
            if (caller.requiredOneOf.indexOf(callee.id) != -1) {
              servicesWithDependancies =
                servicesWithDependancies.filter((serviceId) => serviceId != caller.id);
            }
          });
        }
      });

      return !servicesWithDependancies.length;
    },

    setCoversCategory() {
      this.$modal.hide('service-modal');
      this.SET_CURRENT_SERVICE({});
      this.SET_SELECTED_CATEGORY({
        id: '3',
        name: 'Покрытия',
      });
      this.FETCH_SERVICES({
        'params[studioId]': this.currentStudio.id,
        'params[sectionId]': this.currentCategory.id,
      });
    },
  },
};
</script>
