<template lang="pug">
  modal(
    height="auto"
    width="300px"
    :adaptive="true"
    :name="'service-modal'"
    @before-open="beforeOpen"
  )
    .service-modal
      .service-modal__content(v-if="view === 'covers'")
        .service-modal__title Не выбрано покрытие
        .service-modal__text Данная услуга невозможна без выбора покрытия
        .service-modal__link(@click="$emit('click')") Выбрать покрытие
      .service-modal__content(v-if="view === 'too-much'")
        .service-modal__title Уже выбрано 6 услуг.
        .service-modal__text Нельзя выбрать больше 6 услуг за сеанс.
        .service-modal__link(@click="$modal.hide('service-modal')") Понятно
      .service-modal__content(v-if="view === 'too-long'")
        .service-modal__title Уже выбрано услуг на {{ duration.formatted }}
        .service-modal__text Нельзя выбрать услуг больше, чем на 4ч. 30 мин.
        .service-modal__link(@click="$modal.hide('service-modal')") Понятно
      .service-modal__content(v-if="view === 'errors'")
        .service-modal__title Ошибка записи
        .service-modal__text
        .service-modal__link(@click="$emit('back')") Изменить условия записи
        .service-modal__link(@click="$emit('send')") Попробовать еще раз
      .service-modal__content(v-if="view === 'cancel'")
        .service-modal__title Отмена заказа
        .service-modal__text(v-if="cancel.error && cancel.error.code !== -14303") К сожалению, не удалось отменить запись.
        .service-modal__text(v-if="cancel.error && cancel.error.code === -14303") {{ cancel.error.message }}
        .service-modal__text(v-if="!cancel.error") Вы уверены, что хотите отменить запись?
        .service-modal__link(
          v-if="cancel.error && cancel.error.code !== -14303"
          @click="$emit('confirm')"
        ) Попробовать еще раз
        .service-modal__link(
          v-if="cancel.error && cancel.error.code === -14303"
          @click="$emit('close')"
        ) Понятно
        .service-modal__link._half._gray(
          v-if="!cancel.error"
          @click="$emit('confirm')"
        ) Да
        .service-modal__link._half(
          v-if="!cancel.error"
          @click="$emit('close')"
        ) Нет
      .service-modal__content(v-if="view === 'some-studios'")
        .service-modal__title Вы выбираете другую студию
        .service-modal__text Некоторые или все ранее выбранные услуги в этой студии будут недоступны
        .service-modal__link._half._gray(
          @click="$emit('click', studio)"
        ) Понятно
        .service-modal__link._half(
          @click="$modal.hide('service-modal')"
        ) Отменить
      .service-modal__content(v-if="view === 'not-available-service'")
        .service-modal__title Услуга недоступна
        .service-modal__text В текущей студии доступны не все выбранные услуги
        .service-modal__link(
          @click="$modal.hide('service-modal')"
        ) Понятно
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  data() {
    return {
      view: '',
    };
  },

  computed: {
    ...mapState({
      cancel: state => state.order.cancel,
    }),
    ...mapGetters(['duration']),
  },

  methods: {
    beforeOpen(event) {
      this.view = event.params.view;
      this.studio = event.params.studio ? event.params.studio : {};
    },
  },
};
</script>
