<template lang="pug">
  .booking-services__item(
    :class="getClassNames"
    @click="handleMainClick"
  )
    .booking-services__item-content
      .booking-services__item-main
        .booking-services__item-title(@click="e => handleTitleClick(e)") {{ info.name }}
        .booking-services__item-price(v-if="priceFromatted")
          span(v-if="info.children") от&nbsp;
          b {{ priceFromatted }}
          span &nbsp;р.
    .booking-services__item-info(v-if="info.description", v-html="info.description")
    .booking-services__item-circle
      Icon.nearest-studio__circle-icon(
        :name="'ok'"
        :fill="'#e8e9ee'"
        width="8"
        height="6"
      )
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';
import Icon from 'Js/mobile/vue/general/Icon';

export default {
  components: { Icon },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      isOpen: false,
    };
  },

  computed: {
    ...mapState({
      master: state => state.order.master,
    }),

    ...mapGetters(['duration', 'orderServices']),

    priceFromatted() {
      if (this.info.price === 0 || this.info.price) {
        if (this.master.id) {
          if (this.info.prices) {
            return this.info.prices[this.master.level].toLocaleString('RU-ru');
          } else if (this.info.children) {
            return this.info.children.reduce((prev, child) => {
              const price = child.prices[this.master.level];

              return prev < price ? prev : price;
            }, Number.POSITIVE_INFINITY);
          } else {
            return this.info.price.toLocaleString('RU-ru');
          }
        }

        return this.info.price.toLocaleString('RU-ru');
      }

      return '';
    },

    getClassNames() {
      return [
        ...this.info.isActive ? ['_active'] : [],
        ...this.info.description ? ['_with-description'] : [],
        ...this.info.children ? ['_with-children'] : [],
        ...this.isOpen ? ['_open'] : [],
      ];
    },
  },

  methods: {
    ...mapMutations([
      'SET_SELECTED_CATEGORY',
      'SET_CURRENT_SERVICE',
      'ADD_SELECTED_SERVICE',
      'DELETE_SELECTED_SERVICE',
      'SET_QUERY',
    ]),
    ...mapActions([
      'SET_CURRENT_STEP',
    ]),

    handleMainClick() {
      if (this.info.children) {
        this.SET_SELECTED_CATEGORY(this.info.category);
        this.SET_CURRENT_SERVICE(this.info);
        // Добавляем отслеживание шагов в History API
        window.history.pushState({
          step: 'ServiceItem',
          service: this.info,
        }, 'Booking', './');
      } else if (this.info.isActive) {
        this.DELETE_SELECTED_SERVICE(this.info.id);
      } else if (this.orderServices.length > 5) {
        this.$modal.show('service-modal', { view: 'too-much' });
      } else if ((this.duration.raw + this.info.duration) > 270) {
        this.$modal.show('service-modal', { view: 'too-long' });
      } else {
        this.ADD_SELECTED_SERVICE(this.info.id);
        this.SET_QUERY({
          type: 'services',
          value: '',
        });
        if (!this.info.disabledRedirect) {
          this.SET_CURRENT_STEP('Categories');
        }
      }
    },

    handleTitleClick(e) {
      if (this.info.description) {
        this.isOpen = !this.isOpen;
        e.stopPropagation();
      }
    },
  },
};
</script>
