<template lang="pug">
  .steps
    .steps__container
      .steps__item(
        :class="[{'_active': currentStepIndex === 1}, {'_complete': currentStepIndex > 1}]"
        @click="handleStepChange('Categories')"
      )
        .steps__index 1
        .steps__title Выбор услуги
      .steps__item(
        :class="[{'_active': currentStepIndex === 2}, {'_complete': currentStepIndex > 2}]"
        @click="handleStepChange('Masters')"
      )
        .steps__index 2
        .steps__title Дата и мастер
      .steps__item(
        :class="[{'_active': currentStepIndex === 3}, {'_complete': currentStepIndex > 3}]"
        @click="handleStepChange('Contacts')"
      )
        .steps__index 3
        .steps__title Оформление
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapState({
      currentStepIndex: state => state.booking.currentStep.index,
      currentStepView: state => state.booking.currentStep.view,
    }),
  },

  methods: {
    ...mapMutations(['SET_CURRENT_STEP_VIEW']),

    handleStepChange(step) {
      if (this.currentStepView !== step) {
        switch (step) {
          case 'Masters':
            if (this.currentStepIndex > 1) {
              this.SET_CURRENT_STEP_VIEW(step);
            }
            break;

          case 'Contacts':
            if (this.currentStepIndex > 2) {
              this.SET_CURRENT_STEP_VIEW(step);
            }
            break;

          case 'Success':
            if (this.currentStepIndex > 3) {
              this.SET_CURRENT_STEP_VIEW(step);
            }
            break;

          case 'Cancel':
            if (this.currentStepIndex > 4) {
              this.SET_CURRENT_STEP_VIEW(step);
            }
            break;

          default:
            this.SET_CURRENT_STEP_VIEW(step);
        }
      }
    },
  },
};
</script>
