<template lang="pug">
  .nearest-studio._studio-item(
    :class="{'_active': isActive}"
    @click="$emit('change', info)"
  )
    .nearest-studio__content
      .nearest-studio__item
        .nearest-studio__image-wrapper
          img(
            :src="info.images['1x']"
            :srcset="`${info.images['2x']} 2x`"
            :alt="info.name"
          ).nearest-studio__image
        .nearest-studio__text-block
          .nearest-studio__title {{ info.name }}
          .nearest-studio__metro(v-if="info.metro")
            Icon(
              :name="'metro'"
              :fill="`#${info.metro.color}`"
              width="16"
              height="16"
            ).nearest-studio__metro-icon
            .nearest-studio__metro-name {{ info.metro.name }}
          a(:href="`tel:+${info.phone.canonical}`").nearest-studio__phone
            Icon.nearest-studio__phone-icon(
              :name="'phone'"
              width="11"
              height="11"
            )
            span.nearest-studio__phone-number {{ info.phone.formatted }}
      .nearest-studio__circle
        Icon.nearest-studio__circle-icon(
          :name="'ok'"
          :fill="'#e8e9ee'"
          width="9"
          height="7"
        )
    .nearest-studio__info(v-show="isActive")
      p(v-if="info.address.raw") {{ info.address.raw }}
      p(v-if="info.workTime") Время работы: {{ info.workTime }}
      p(v-if="info.availableMasters"): b Сейчас в смене {{ info.availableMasters }} {{ masters }}
      p(v-else): b Сейчас в смене нет свободных мастеров
</template>

<script>
import morphHelper from 'Js/helpers/morphHelper';
import Icon from 'Js/mobile/vue/general/Icon';

export default {
  components: {
    Icon,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    masters() {
      return morphHelper('мастер', 'мастера', 'мастеров', this.info.availableMasters);
    }
  },
};
</script>
