<template lang="pug">
  .booking-studios
    ServiceModal(
      @click="handleStudioSelect"
    )
    .booking-studios__title: span Записаться в Мастерскую маникюра
    .booking-studios__search
      Search(
        :placeholder="'Поиск студии'"
        @change="handleSearchSubmit"
      )
    template(v-if="!studiosSome || !studiosSome.length")
      .booking-studios__list(v-if="studiosAll")
        StudioItem(
          v-for="studio in studiosAll"
          :key="studio.id"
          :info="studio"
          :is-active="currentStudioId === studio.id"
          @change="handleStudioSelect"
        )
    template(v-else)
      .booking-studios__subtitle(v-if="studiosAll") Студии, в которых оказываются все выбранные услуги:
      .booking-studios__list(v-if="studiosAll")
        StudioItem(
          v-for="studio in studiosAll"
          :key="studio.id"
          :info="studio"
          :is-active="currentStudioId === studio.id"
          @change="handleStudioSelect"
        )
      .booking-studios__subtitle(v-if="studiosSome") Студии, в которых оказываются не все выбранные услуги:
      .booking-studios__list(v-if="studiosSome")
        StudioItem(
          v-for="studio in studiosSome"
          :key="studio.id"
          :info="studio"
          :is-active="currentStudioId === studio.id"
          @change="callSomeStudiosModal(studio)"
        )
    .booking-studios__not-found(v-if="showNotFound") К сожалению, ничего не найдено
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import Search from 'Js/mobile/vue/booking/Search';
import StudioItem from 'Js/mobile/vue/booking/StudioItem';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';
import ServiceModal from 'Js/mobile/vue/booking/ServiceModal';

export default {
  components: {
    Search,
    StudioItem,
    ServiceModal,
  },

  data() {
    return {
      showNotFound: false,
    };
  },

  computed: {
    ...mapState({
      query: state => state.booking.queries.services,
      studiosAll: state => state.booking.studios.data.supplyAllServices,
      studiosSome: state => state.booking.studios.data.supplySomeServices,
      currentStudioId: state => state.order.currentStudio.data.id,
      showAvailabilityPopup: state => state.booking.showAvailabilityPopup,
    }),
  },

  watch: {
    query(value) {
      this.handleSearchSubmit(value);
    }
  },

  created() {
    this.getStudios();

    if (this.showAvailabilityPopup) {
      this.$nextTick(() => {
        this.$modal.show('service-modal', { view: 'not-available-service' });
        this.SET_AVAILABILITY_POPUP(false);
      });
    }
  },

  methods: {
    ...mapActions(['FETCH_STUDIOS', 'SELECT_STUDIO']),

    ...mapMutations([
      'SET_CURRENT_STATE',
      'SET_CURRENT_SERVICE',
      'SET_AVAILABILITY_POPUP',
    ]),

    handleStudioSelect(studio) {
      this.SET_CURRENT_SERVICE({});
      this.SELECT_STUDIO(studio);
      this.SET_CURRENT_STATE('Order');

      yaMetricsSendEvent('studios-list-booking-click');
      gaSendEvent('studios-list-booking-click');
    },

    getStudios(params) {
      this.FETCH_STUDIOS(params).then((res) => {
        if (!res.supplyAllServices.length && !res.supplySomeServices.length) {
          this.showNotFound = true;
        } else {
          this.showNotFound = false;
        }
      });
    },

    callSomeStudiosModal(studio) {
      this.$modal.show('service-modal', {
        view: 'some-studios',
        studio
      });
    },

    handleNextClick() {
      this.SET_CURRENT_STATE('Order');
    },

    handleSearchSubmit(query) {
      const params = {};

      if (query.length > 0) {
        params['params[q]'] = query;
      }

      this.getStudios(params);

      yaMetricsSendEvent('studios-search');
      gaSendEvent('studios-search');
    }
  },
};
</script>
