<template lang="pug">
  .booking-success
    ServiceModal(
      @confirm="cancelOrder"
      @close="closeModal"
    )
    .booking-success__content
      .booking-success__title: span Поздравляем
      .booking-success__announce Вы успешно записались на
        .booking-success__date {{ dateFormatted }}

      .booking-success__details
        .booking-success__studio {{ currentStudio.name }}
        .booking-success__studio-info {{ currentStudio.address.raw }}
        .booking-success__metro(v-if="currentStudio.metro")
          Icon(
            :name="'metro'"
            :fill="`#${currentStudio.metro.color}`"
            width="16"
            height="16"
          ).booking-success__metro-icon
          .booking-success__metro-name {{ currentStudio.metro.name }}
        a(:href="`tel:+${currentStudio.phone.canonical}`").booking-success__phone
          Icon.booking-success__phone-icon(
            :name="'phone'"
            width="18"
            height="18"
            fill="#bfbfbf"
          )
          span.booking-success__phone-number {{ currentStudio.phone.formatted }}
      .booking-success__subtitle Ваш заказ
      .booking-success__services(v-if="orderServices.length")
        .booking-success__service(v-for="service in orderServices")
          .booking-success__service-name {{ service.fullName }}
          .booking-success__service-price {{ service.price }}&nbsp;руб.
        .booking-contacts__services(v-if="extra")
         .booking-contacts__top-master Топ-мастер
         .booking-contacts__extra + {{ extra }}&nbsp;руб.
      .booking-success__services(v-else)
        b Вы оформлили запись без выбора услуг.
        div Для вас зарезервирован 1 час. Конкретную услугу вы выберете в студии.
      .booking-success__result
        .booking-success__master
          .booking-success__result-title Мастер:
          .booking-success__master {{ master.name }}
        .booking-success__values(v-if="orderServices.length")
          .booking-success__price {{ price.raw }} руб.
          .booking-success__duration {{ duration.formatted }}
      .booking-success__top-master-notification(v-if="master.name === 'Любой мастер' && response.isTopMasterSelected")
        Icon.booking-success__note-icon(
          :name="'attention'"
          width="16"
          height="16"
        )
        span.booking-success__note
          | Обратите внимание, что был выбран ТОП-мастер,
          | поэтому цена изменилась.
      template(v-if="cancel")
        .booking-success__cancel-notification
          span.booking-success__cancel-note
            | Ваш заказ отменен
      template(v-else)
        .booking-success__cancel-notification
          span.booking-success__cancel-note
            | Если вы ошиблись в данных, можете
            | отменить запись, нажав на кнопку ниже.

        a.booking-success__cancel-order.button._white(@click="cancelOrderConfirm"): span Отменить запись
    Next(
      @click="backToMain"
    )
      .booking-next__text Вернуться на главную
        Icon.booking-next__icon(
          :name="'next'"
          :fill="'#ffffff'"
          width="21"
          height="9"
        )
</template>
<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import ServiceModal from 'Js/mobile/vue/booking/ServiceModal';
import Icon from 'Js/mobile/vue/general/Icon';
import Next from 'Js/mobile/vue/booking/Next';
import yaMetricsSendEvent from 'Js/helpers/yaMetricsSendEvent';
import gaSendEvent from 'Js/helpers/gaSendEvent';

export default {
  components: {
    ServiceModal,
    Next,
    Icon,
  },

  computed: {
    ...mapState({
      currentStudio: state => state.order.currentStudio.data,
      master: state => state.order.master,
      response: state => state.order.response.data,
      currentStepView: state => state.booking.currentStep.view,
      cancel: state => state.order.cancel,
    }),
    ...mapGetters(['duration', 'price', 'orderServices']),

    dateFormatted() {
      const currentDate = new Date(this.response.timestamp * 1000);
      const options = {
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      };
      return currentDate.toLocaleString('ru', options).replace(', ', ' в ');
    },

    extra() {
      let extra = 0;

      this.orderServices.forEach((service) => {
        if (service.prices && service.price) {
          if (this.master.level) {
            extra += service.prices[this.master.level] - service.price;
          }
        }
      });

      if (extra > 0)
        return extra.toLocaleString();
    },
  },

  created() {
    yaMetricsSendEvent('booking-success');
    gaSendEvent('booking-success', {event_category: 'booking'});
  },

  methods: {
    ...mapActions(['CANCEL_ORDER', 'SET_CURRENT_STEP']),

    cancelOrderConfirm() {
      this.$modal.show('service-modal', { view: 'cancel' });

      yaMetricsSendEvent('booking-cancel-click');
      gaSendEvent('booking-cancel-click');
    },

    cancelOrder() {
      this.CANCEL_ORDER({
        params: {
          id: this.response.id
        }
      }).then(() => {
        this.$modal.hide('service-modal');
      });
    },

    closeModal() {
      this.$modal.hide('service-modal');
    },

    backToMain() {
      window.location.href = '/';
    },
  },
};
</script>
