<template lang="pug">
  a(href="/booking/").booking-next__link
    Next._services
      .booking-next__price(v-if="price.raw")
        .booking-next__price-title Всего:
        .booking-next__price-amount {{ price.formatted }}
          span.booking-next__duration  / {{ duration.formatted }}
      .booking-next__price(v-else)
        | Вы оформляете запись без выбора услуг. Для вас будет зарезервирован 1 час.
      .booking-next__right
        .booking-next__text Продолжить запись
          Icon.booking-next__icon(
            :name="'next'"
            :fill="'#ffffff'"
            width="21"
            height="9"
          )
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import Next from 'Js/mobile/vue/booking/Next';
  import Icon from 'Js/mobile/vue/general/Icon';

  export default {
    components: {
      Next,
      Icon,
    },

    computed: {
      ...mapState({
        timestamp: state => state.order.timestamp
      }),
      ...mapGetters(['duration', 'price']),
    },
  };
</script>
